.content-block {
    $this: &;

    @include mobile-only {
        overflow: hidden;
        background-color: $color-white;
        border-radius: 8px;
        box-shadow: 0 100px 80px rgba(0, 0, 0, 0.00562291),
            0 41.7776px 33.4221px rgba(0, 0, 0, 0.00807786),
            0 22.3363px 17.869px rgba(0, 0, 0, 0.01), 0 12.5216px 10.0172px rgba(0, 0, 0, 0.0119221),
            0 6.6501px 5.32008px rgba(0, 0, 0, 0.0143771), 0 2.76726px 2.21381px rgba(0, 0, 0, 0.02);
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 22px 18px 22px 24px;
        color: $color-blue;
        font-size: 16px;
        line-height: 1.5;
        cursor: pointer;

        @include tablet {
            padding: 0;
            font-size: 28px;
            line-height: 1.28;
            cursor: default;
        }
    }

    &__icon {
        position: relative;
        flex-shrink: 0;
        margin-left: 25px;

        &--plus {
            color: $color-blue;

            @include tablet {
                display: none;
            }

            #{$this}.is-active & {
                display: none;
            }
        }

        &--minus {
            display: none;
            color: $color-red;

            #{$this}.is-active & {
                @include mobile-only {
                    display: inline;
                }
            }
        }
    }

    &__content {
        @include mobile-only {
            padding: 0 24px 24px;
        }
    }

    &__text {
        position: relative;
        font-weight: 700;
        line-height: 1.5;

        @include richtext {
            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p,
            ul,
            ol,
            table,
            iframe,
            hr {
                margin: 15px 0;
                padding: 0;
                font-style: normal;

                &:first-child {
                    margin-top: 0;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }

            h1 {
                @include h1();
            }

            h2 {
                @include h2();
            }

            h3 {
                @include h3();
            }

            h4 {
                @include h4();
            }

            h5 {
                @include h5();
            }

            h6 {
                @include h6();
            }

            h3,
            h4,
            h5,
            h6 {
                margin-bottom: 15px;

                @include tablet {
                    margin-bottom: 20px;
                }
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                margin-top: 40px;
            }

            p {
                margin-top: 0;
                margin-bottom: 20px;
                color: inherit;
                font-weight: 500;
                line-height: 1.5;

                @include tablet {
                    margin-bottom: 30px;
                    font-size: 20px;
                    line-height: 1.6;
                }
            }

            hr {
                height: 1px;
                background: $color-grey-4;
                border: 0;
            }

            a {
                color: $color-blue;
            }
        }
    }

    &--stock,
    &--type-2 {
        #{$this}__header {
            @include tablet {
                font-size: 64px;
                font-weight: 600;
                letter-spacing: -0.6px;
                line-height: 1.125;
            }
        }

        #{$this}__text {
            font-weight: 600;

            @include richtext {
                color: rgba(46, 35, 35, 0.88);
                font-size: 20px;
                font-weight: 600;

                p {
                    margin-bottom: 0;
                    font-weight: 600;

                    @include tablet {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    &--type-2 {
        #{$this}__text {
            @include desktop {
                max-width: 776px;
            }
        }
    }
}
