.vacancy-notification {
    $this: &;

    display: flex;
    align-items: center;
    max-width: 600px;

    &__icon {
        margin-right: 20px;
        color: $color-blue;
    }

    &__message {
        color: $color-blue;
        font-weight: 700;
        line-height: 1.5;
    }
}
