.tab-item {
    $this: &;

    &__inner {
        padding: 16px;
    }

    &__head {
        padding: 6px 0;
        border-bottom: 1px solid rgba($color-black, 0.08);
    }

    &__title {
        color: $color-blue;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.4;

        @include tablet {
            font-size: 20px;
        }
    }

    &__text {
        margin-top: 14px;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.6;

        @include tablet {
            font-size: 20px;
        }

        @include richtext {
            p {
                font-size: 16px;
                font-weight: 500;
                line-height: 1.6;

                @include tablet {
                    font-size: 20px;
                }
            }

            p + p {
                margin-top: 20px;
            }
        }
    }
}
