.tabs {
    $this: &;

    &__controls-wrapper {
        @include until-desktop {
            margin-right: -12px;
            margin-left: -12px;
            padding: 19px 16px 22px 16px;
            background: $color-white;
            box-shadow: 0 100px 80px rgba(0, 0, 0, 0.00562291),
                0 41.7776px 33.4221px rgba(0, 0, 0, 0.00807786),
                0 22.3363px 17.869px rgba(0, 0, 0, 0.01),
                0 12.5216px 10.0172px rgba(0, 0, 0, 0.0119221),
                0 6.6501px 5.32008px rgba(0, 0, 0, 0.0143771),
                0 2.76726px 2.21381px rgba(0, 0, 0, 0.02);
        }
    }

    &__controls {
        position: relative;
        overflow-x: auto;
        display: flex;
        -webkit-overflow-scrolling: touch;
    }

    &__controls-label {
        margin-bottom: 16px;
        color: $color-grey;
        font-weight: 700;

        @include desktop {
            display: none;
        }
    }

    &__tab {
        @include reset-button;

        position: relative;
        min-width: 168px;
        padding: 14px 18px;
        background: $color-white;
        border: 1px solid rgba(0, 78, 183, 0.16);
        color: $color-grey;
        font-family: $ff-sf-pro-text;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        white-space: nowrap;
        cursor: pointer;
        transition: background $transition-default, color $transition-default;

        @include objectFitImageParent() {
            right: 0;
            bottom: 0;
            display: none;
            max-width: 120px;
            margin: auto;
            object-fit: contain;

            @include desktop {
                display: block;
            }
        }

        & + & {
            border-left: 0;
        }

        &:first-child {
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
        }

        &:last-child {
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
        }

        @include hover-focus {
            background: rgba(0, 78, 183, 0.08);
            color: $color-blue;

            #{$this}__tab-highlighted-text {
                color: $color-grey;
            }
        }

        &.is-active {
            background: rgba(0, 78, 183, 0.08);
            color: $color-blue;

            #{$this}__tab-highlighted-text {
                @include tablet {
                    color: $color-grey;
                }
            }
        }
    }

    &__tab-highlighted-text {
        @include tablet {
            margin-left: 3px;
            color: $color-blue;
            transition: color $transition-default;
        }
    }

    &__tab-radio-btn {
        position: absolute;
        top: 12px;
        left: 12px;
        overflow: hidden;
        display: none;
        width: 16px;
        height: 16px;
        border: 1px solid rgba($color-black, 0.24);
        border-radius: 50%;
        transition: border-color $transition-default;

        @include desktop {
            display: block;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            overflow: hidden;
            transform: scale(0);
            width: 10px;
            height: 10px;
            margin: auto;
            background-color: $color-blue;
            border-radius: 50%;
            transition: transform $transition-motion;
        }
    }

    &__content {
        position: relative;
        z-index: 0;
        grid-template-areas: 'a';
        grid-template-columns: 100%;
        display: grid;
    }

    &__panel {
        grid-area: a;
        display: none;
        padding: 20px 0 0;

        @include tablet {
            padding: 40px 0 0;
        }

        &--no-vertical-padding {
            padding-top: 0;
            padding-bottom: 0;
        }

        &.is-active {
            display: block;
        }
    }

    &--calculator {
        #{$this}__controls {
            overflow-x: visible;
        }

        #{$this}__panel {
            padding-top: 12px;

            @include tablet {
                padding-top: 24px;
            }
        }

        #{$this}__tab {
            @include tablet {
                flex-grow: 1;
                padding: 19px 18px;
            }

            @include mobile-only {
                display: none;
                width: 100%;
                padding: 11px 12px;
                background-color: $color-grey-4;
                border: 1px solid rgba($color-black, 0.08);
                border-radius: 8px;
                color: $color-black;
                font-family: $ff-sf-pro-text;
                font-size: 16px;
                font-weight: 400;
                letter-spacing: -0.32px;
                line-height: 1.25;
                text-transform: none;
                cursor: pointer;

                .icon {
                    margin-left: 12px;
                    color: $color-blue;
                }

                &.is-active {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }
        }
    }

    &--tab-image {
        #{$this}__controls {
            overflow-x: visible;
        }

        #{$this}__panel {
            padding-top: 12px;

            @include desktop {
                padding-top: 24px;
            }
        }

        #{$this}__tab-title {
            @include desktop {
                display: none;
            }
        }

        #{$this}__tab {
            @include desktop {
                width: 160px;
                height: 108px;
                padding: 12px;
                background-color: transparent;
                border: 1px solid rgba(0, 0, 0, 0.08);
            }

            @include until-desktop {
                display: none;
                width: 100%;
                padding: 11px 12px;
                background-color: $color-grey-4;
                border: 1px solid rgba($color-black, 0.08);
                border-radius: 8px;
                color: $color-black;
                font-family: $ff-sf-pro-text;
                font-size: 16px;
                font-weight: 400;
                letter-spacing: -0.32px;
                line-height: 1.25;
                text-transform: none;
                cursor: pointer;

                .icon {
                    margin-left: 12px;
                    color: $color-blue;
                }

                &.is-active {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }

            @include hover-focus {
                background: transparent;
            }

            &.is-active {
                @include desktop {
                    background-color: transparent;
                    box-shadow: 0 100px 80px rgba(0, 0, 0, 0.00562291),
                        0 41.7776px 33.4221px rgba(0, 0, 0, 0.00807786),
                        0 22.3363px 17.869px rgba(0, 0, 0, 0.01),
                        0 12.5216px 10.0172px rgba(0, 0, 0, 0.0119221),
                        0 6.6501px 5.32008px rgba(0, 0, 0, 0.0143771),
                        0 2.76726px 2.21381px rgba(0, 0, 0, 0.02);

                    #{$this}__tab-radio-btn {
                        border-color: $color-blue;

                        &::after {
                            transform: scale(1);
                        }
                    }
                }
            }

            + #{$this}__tab {
                @include desktop {
                    border-left: none;
                }
            }
        }
    }
}
