.form-select {
    $this: &;

    position: relative;
    display: inline-flex;
    align-items: center;
    font-family: $ff-sf-pro-text;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: -0.24px;
    line-height: 1.33;

    &__label {
        margin-right: 2px;
        appearance: none;
    }

    &__btn {
        @include reset-button();

        display: inline-flex;
        align-items: center;
        color: $color-blue;
        font-family: $ff-sf-pro-text;
        font-weight: 500;
        cursor: pointer;

        .icon {
            margin-left: 12px;
        }
    }

    &__list {
        opacity: 0;
        visibility: hidden;
    }

    &.is-active {
        #{$this}__list {
            opacity: 1;
            visibility: visible;
        }
    }
}
