.search-form {
    $this: &;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    text-align: center;

    &__row {
        display: none;

        @include desktop {
            display: flex;
            justify-content: space-between;
        }
    }

    &__item {
        width: percentage(1/3);
        color: $color-white;

        & + & {
            margin-left: 16px;
        }
    }

    &__item-title {
        display: block;
        margin-top: 24px;
        font-weight: 700;
        text-decoration: none;
    }

    &__close-btn {
        align-self: center;
    }
}
