.filter-buttons {
    $this: &;

    position: sticky;
    bottom: 16px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 16px;
    padding: 16px 25px 17px;
    background: $color-grey-4;
    border-radius: 8px;
    box-shadow: 0 109px 80px rgba(0, 0, 0, 0.07), 0 39.7868px 29.2013px rgba(0, 0, 0, 0.0482987),
        0 19.3158px 14.1767px rgba(0, 0, 0, 0.0389404),
        0 9.46894px 6.94968px rgba(0, 0, 0, 0.0310596),
        0 3.74403px 2.74791px rgba(0, 0, 0, 0.0217013);
}
