.order-phone-form {
    $this: &;

    text-align: center;

    &__title {
        color: $color-white;
        font-size: 28px;
        font-weight: 700;
        line-height: 1.28;
    }

    &__description {
        opacity: 0.32;
        color: $color-white;
        color: rgba($color-white, 0.72);
        font-size: 12px;
        font-weight: 600;
        line-height: 1.33;
    }
}
