$color-white: #ffffff;
$color-black: #000000;
$color-grey: #99a2ad;
$color-grey-2: #272c3e;
$color-grey-3: #363d55;
$color-grey-4: #fbfbfb;
$color-blue: #004eb7;
$color-blue-2: #2b5876;
$color-blue-3: #3f4d77;
$color-blue-4: #363795;
$color-blue-5: #00214e;
$color-purple: #4e4376;
$color-lightblue: #7999C4;
$color-red: #e40321;
$color-green: #66b700;
$color-lightest-grey: #e5e5e5;
$color-border-grey: rgba($color-black, 0.08);
$color-black-24: rgba($color-black, 0.24);
$color-lightblue: #7999c4;
