/* Typography */

@mixin h1 {
    font-size: 36px;
    font-weight: normal;
    letter-spacing: -0.002em;
    line-height: 1.6;
}

@mixin h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;

    @include tablet {
        font-size: 28px;
        line-height: 1.28;
    }
}

@mixin h3 {
    font-size: 20px;
    line-height: 1.4;
}

@mixin h4 {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
}

@mixin h5 {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.43;
}

@mixin h6 {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 1.67;
}

@mixin paragraph-intro {
    font-size: 16px;
    line-height: 1.5;
}

@mixin paragraph {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.6;
}

@mixin button-link {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.408px;
    line-height: 1.29;
    text-decoration: none;
}

@mixin text-link-large {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;

    @include tablet {
        text-decoration: none;
    }
}

@mixin text-link-small {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;

    @include tablet {
        line-height: 1.28;
        text-decoration: none;
    }
}
