$grid-columns: 12;
$grid-gutter: 16px;
$grid-gutter-mobile: 16px;

$transition-default: 0.3s linear;
$motion-easing: cubic-bezier(0.4, 0.47, 0.17, 0.98);
$transition-motion: 0.3s $motion-easing;

$default-border-width: 1px;

$container-max-width: 1040px;
$container-small-max-width: 765px;
$container-medium-max-width: 964px;

$layer-filter-trigger: 50;
$layer-calculate-price: 60;
$layer-element-spinner: 100;
$layer-cookie-bar: 200;
$layer-overlay: 300;
$layer-menu: 500;
$layer-header: 600;
$layer-modal: 700;
$layer-page-spinner: 1000;
