.bank-info-list {
    $this: &;

    &__li {
        display: flex;
        align-items: center;
        font-weight: 700;
        line-height: 1.5;

        & + & {
            margin-top: 15px;

            @include desktop {
                margin-top: 12px;
            }
        }
    }

    &__title {
        flex: 1 0 calc(50% - 20px);
        max-width: 170px;
        color: $color-grey;
    }

    &__value {
        flex: 1 0 50%;
        margin-left: 20px;
        color: $color-blue;

        @include desktop {
            margin-left: 44px;
        }
    }
}
