.text-block {
    $this: &;

    @include richtext {
        p {
            color: $color-black;
            font-size: 16px;
            font-weight: 700;
            line-height: 1.5;

            @include tablet {
                color: $color-blue;
                font-size: 32px;
                line-height: 1.375;
            }
        }

        p + p {
            margin-top: 35px;

            @include tablet {
                margin-top: 45px;
            }
        }

        mark {
            background-color: transparent;
            color: $color-red;
        }
    }

    &--general {
        @include richtext {
            p {
                color: $color-black;
                font-size: 16px;
                font-weight: 500;
                line-height: 1.5;

                @include tablet {
                    color: $color-black;
                    font-size: 20px;
                    line-height: 1.6;
                }
            }

            a {
                color: $color-blue;
                text-decoration: none;
            }

            p + p {
                margin-top: 35px;

                @include tablet {
                    margin-top: 35px;
                }
            }
        }
    }

    &--two-columns {
        @include desktop {
            column-gap: 20px;
            column-count: 2;
        }
    }
}
