.nav {
    $this: &;

    color: inherit;

    &__list {
        display: flex;
        align-items: center;
    }

    &__item {
        & + & {
            @include tablet {
                margin-left: 30px;
            }
        }
    }

    &__link {
        @include reset-button();

        position: relative;
        display: flex;
        align-items: center;
        padding: 22px 0 26px 0;
        color: inherit;
        font-weight: 700;
        text-decoration: none;
        cursor: pointer;
        transition: color $transition-default;

        .icon {
            margin-left: 11px;
            transition: transform $transition-default;
        }

        @include hover-focus {
            color: $color-blue;
        }

        &.is-active {
            color: $color-blue;

            .icon {
                transform: rotate(-180deg);
            }
        }

        &.is-current {
            color: $color-blue;
        }
    }

    &__submenu {
        position: absolute;
        top: 100%;
        left: 0;
        opacity: 0;
        visibility: hidden;
        min-width: 375px;

        #{$this}.is-active & {
            opacity: 1;
            visibility: visible;
        }
    }

    &__icon {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

    html.is-scrolled & {
        color: $color-black;
    }
}
