<head>
    <meta charset="UTF-8">
    <title>Мечтаево</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no" />
    <link rel="preload" href="./dist/fonts/Manrope-Bold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="./dist/fonts/Manrope-ExtraBold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="./dist/fonts/Manrope-Light.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="./dist/fonts/Manrope-Medium.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="./dist/fonts/Manrope-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="./dist/fonts/Manrope-Semibold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="./dist/fonts/SFUIText-Medium.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="./dist/fonts/SFUIText-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="shortcut icon" href="./dist/favicons/favicon.ico">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=&lang=ru_RU" type="text/javascript">
    </script>
</head>
