.breadcrumb {
    $this: &;

    @include reset-list();

    display: none;

    @include desktop {
        display: flex;
        align-items: center;
    }

    &__item {
        color: $color-blue;

        & + & {
            &::before {
                content: '-';
                padding-left: 2px;
                color: inherit;
            }
        }

        &:last-child {
            color: $color-black;
        }
    }

    &__link {
        font-size: 12px;
        font-weight: 600;
        line-height: 1.33;
    }
}
