.tags {
    $this: &;

    &__list {
        @include reset-list();

        overflow-x: auto;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        margin: -6px;

        @include tablet {
            overflow-x: auto;
            overflow-y: hidden;
            flex-wrap: wrap;
        }
    }

    &__item {
        display: inline-flex;
        padding: 6px;
        white-space: nowrap;

        @include tablet {
            white-space: normal;
        }

        &:last-child {
            margin-left: auto;
        }

        &.is-hidden {
            display: none;
        }
    }

    &__link {
        display: inline-flex;
        align-items: center;
        padding: 7px 14px;
        background-color: $color-grey-4;
        border: 1px solid rgba($color-black, 0.08);
        border-radius: 10px;
        color: $color-grey;
        font-family: $ff-sf-pro-text;
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
        cursor: pointer;
        transition: color $transition-default, border-color $transition-default;

        .icon {
            margin-right: 8px;
        }

        @include hover-focus {
            &:not(#{$this}__link--action) {
                border: 1px solid rgba(0, 78, 183, 0.16);
                color: $color-blue;
            }
        }

        &--action {
            border: 1px solid $color-blue;
            color: $color-blue;
        }

        &.is-active {
            border: 1px solid rgba(0, 78, 183, 0.16);
            color: $color-blue;
        }
    }

    &--rubricator {
        #{$this}__list {
            margin: -8px -4px;
        }
        #{$this}__item {
            padding: 8px 4px;

            &:last-child {
                margin-left: 0;
            }
        }

        #{$this}__link {
            padding: 5px 11px;
            background-color: $color-white;
            color: $color-black;
            font-size: 14px;

            &.is-active {
                color: $color-blue;
            }
        }
    }
}
