.price-block {
    $this: &;

    @include mobile-only {
        position: fixed;
        right: 12px;
        bottom: 14px;
        left: 12px;
        z-index: $layer-calculate-price;
        padding: 16px;
        background-color: $color-grey-4;
        transition: 0.3s;
        border-radius: 8px;
        box-shadow: 0 100px 87px rgba(0, 0, 0, 0.0177816),
            0 50.0488px 43.5425px rgba(0, 0, 0, 0.0230613),
            0 30.1471px 26.228px rgba(0, 0, 0, 0.0257099),
            0 19.3198px 16.8082px rgba(0, 0, 0, 0.0273485),
            0 12.5216px 10.8938px rgba(0, 0, 0, 0.028439),
            0 7.88218px 6.85749px rgba(0, 0, 0, 0.0291811),
            0 4.5288px 3.94006px rgba(0, 0, 0, 0.0296804), 0 1.99324px 1.73412px rgba(0, 0, 0, 0.03);
    }

    &__head {
        display: flex;
        align-items: baseline;
    }

    &__label {
        position: relative;
        display: inline-flex;
        align-items: center;
        color: $color-grey;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;

        @include tablet {
            font-size: 20px;
            line-height: 1.4;
        }

        &::after {
            content: '';
            display: inline-block;
            width: 1px;
            height: 28px;
            margin: 0 17px;
            background-color: rgba($color-black, 0.08);

            @include mobile-only {
                content: none;
            }
        }
    }

    &__value {
        color: $color-black;
        font-size: 32px;
        font-weight: 700;
        line-height: 1.125;

        @include tablet {
            font-size: 64px;
            font-weight: normal;
        }
    }

    &__info {
        color: $color-blue;
        font-weight: 600;
        line-height: 1.5;
        text-decoration: none;

        @include mobile-only {
            display: block;
        }
    }

    &__btn {
        &--favorites {
            padding: 10px;
            color: rgba($color-black, 0.24);
        }
    }
}
