.form-range {
    $this: &;

    position: relative;

    &__container {
        padding: 10px 0;

        .noUi-horizontal {
            height: 4px;
            padding: 0;
            background-color: rgba(0, 78, 183, 0.16);
            border: none;
            border-radius: 10px;
            box-shadow: none;

            .noUi-handle {
                top: -10px;
                right: -12px;
                width: 24px;
                height: 24px;
                background-color: $color-white;
                border: 4px solid $color-blue;
                border-radius: 50%;

                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 6px;
                    display: block;
                    transform: translateY(-50%);
                    width: 1px;
                    height: 6px;
                    background-color: $color-blue;
                }

                &::after {
                    left: 9px;
                }
            }

            .noUi-connect {
                background-color: $color-blue;
            }
        }
    }

    &__inputs {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 24px;

        @include tablet {
            margin-bottom: 6px;
        }
    }

    &__input {
        padding: 7px 12px;
        background-color: rgba(0, 78, 183, 0.04);
        border: 1px solid rgba(0, 78, 183, 0.16);
        border-radius: 10px;
        color: $color-blue;
        font-family: $ff-sf-pro-text;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: -0.154px;

        & + & {
            margin-left: 10px;
        }

        &:first-child {
            background-color: $color-grey-4;
            border: 1px solid rgba(0, 0, 0, 0.08);
            color: $color-grey;
        }
    }
}
