.form-select-trigger {
$this: &;

@include reset-button();

display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
padding: 11px 12px;
background-color: $color-grey-4;
border: 1px solid rgba($color-black, 0.08);
border-radius: 8px;
font-family: $ff-sf-pro-text;
font-size: 16px;
font-weight: 400;
letter-spacing: -0.32px;
line-height: 1.25;
cursor: pointer;

.icon {
margin-left: 12px;
color: $color-blue;
}
}
