.form-radio {
    $this: &;

    display: inline-flex;

    &__label {
        position: relative;
        display: inline-flex;
        align-items: center;
        padding: 7px 12px;
        background: rgba(0, 78, 183, 0.08);
        border: 1px solid rgba(0, 78, 183, 0.16);
        border-radius: 10px;
        color: $color-blue;
        transition: color $transition-default, background-color $transition-default;
    }

    &__text {
        font-family: $ff-sf-pro-text;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
    }

    &__control {
        @include visually-hidden();

        &:checked {
            & ~ #{$this}__label {
                background-color: $color-blue;
                color: $color-white;
                #{$this}__tick {
                    border-width: 5px;
                }
            }
        }
    }
}
