.form-textarea {
    $this: &;

    position: relative;
    display: block;

    &__control {
        resize: none;
        width: 100%;
        padding: 11px 12px;
        border: 1px solid rgba($color-black, 0.08);
        border-radius: 10px;
        color: #000;
        font-family: $ff-sf-pro-text;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: -0.32px;
        line-height: 1.25;
        appearance: none;
        min-height: 164px;

        @include placeholder {
            color: $color-grey;
        }
    }

    &--full-height {
        height: 100%;

        #{$this}__control {
            height: 100%;
        }
    }

    &--big {
        #{$this}__control {
            min-height: 181px;
        }
    }
}
