.form-input {
    $this: &;

    position: relative;
    display: block;

    &__control {
        background-color: #fff;
        width: 100%;
        padding: 11px 12px;
        border: 1px solid rgba($color-black, 0.08);
        border-radius: 10px;
        color: #000;
        font-family: $ff-sf-pro-text;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: -0.32px;
        line-height: 1.25;
        appearance: none;

        @include placeholder {
            color: $color-grey;
        }

        .is-invalid & {
            border-color: $color-red;
        }

        .is-invalid &,
        .is-valid & {
            padding-right: 50px;
        }

        &.error {
            border-color: red;
        }
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 22px;
        transform: translateY(-50%);
        color: $color-red;
    }

    &__symbol {
        position: absolute;
        top: 50%;
        left: 16px;
        transform: translateY(-50%);
        padding-right: 17px;
        font-weight: normal;
        letter-spacing: -0.32px;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            width: 1px;
            height: 24px;
            background: rgba($color-black, 0.24);
        }
    }

    &--phone {
        #{$this}__control {
            padding-left: 60px;
        }
    }

    &--search {
        #{$this}__control {
            padding: 29px 60px 29px 30px;
            border-radius: 16px;
            box-shadow: 0 109px 80px rgba(0, 0, 0, 0.07),
                0 39.7868px 29.2013px rgba(0, 0, 0, 0.0482987),
                0 19.3158px 14.1767px rgba(0, 0, 0, 0.0389404),
                0 9.46894px 6.94968px rgba(0, 0, 0, 0.0310596),
                0 3.74403px 2.74791px rgba(0, 0, 0, 0.0217013);
            color: $color-blue;
            font-family: $ff-manrope;
            font-weight: 700;

            @include placeholder() {
                color: $color-black;
            }
        }

        #{$this}__icon {
            right: 32px;
            left: auto;
            color: $color-blue;
            cursor: pointer;
        }
    }

    &--transparent-bg {
        #{$this}__control {
            background-color: transparent;
        }
    }
}
