.form-notification {
    $this: &;

    display: flex;

    &__icon {
        margin-top: 6px;
        margin-right: 14px;
        color: $color-blue;
    }

    &__message {
        color: $color-blue;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.43;
    }
}
