.form-checkbox {
    $this: &;

    &__label {
        position: relative;
        display: flex;
        align-items: center;
        color: $color-grey;
        font-size: 14px;
        font-weight: 600;
        transition: color $transition-default;
    }

    &__tick {
        display: flex;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        width: 16px;
        height: 16px;
        background-color: $color-white;
        border: 1.5px solid rgba($color-black, 0.24);
        border-radius: 4px;
        cursor: pointer;
        transition: background-color $transition-default;

        svg {
            display: none;
            width: 10px;
            height: 10px;
        }
    }

    &__text {
        margin-left: 12px;
        cursor: pointer;
    }

    &__control {
        @include visually-hidden();

        &:checked {
            & ~ #{$this}__label {
                color: $color-blue;

                #{$this}__tick {
                    background-color: $color-blue;

                    svg {
                        display: block;
                        fill: $color-white;
                    }
                }
            }
        }
    }

    & + & {
        margin-top: 14px;
    }
}
