.chevron-list {
    $this: &;

    &__li {
        display: flex;
        align-items: center;
        font-weight: 700;

        .icon {
            margin-right: 10px;
            color: $color-blue;
        }

        & + & {
            margin-top: 20px;

            @include desktop {
                margin-top: 12px;
            }
        }
    }
}
