.page-spinner {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $layer-page-spinner;
    display: none;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s linear, visibility 0.2s linear;
    }

    &.is-visible {
        display: block;

        &::after {
            content: '';
            box-sizing: border-box;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: ($layer-page-spinner + 1);
            width: 60px;
            height: 60px;
            margin-top: -15px;
            margin-left: -15px;
            border-top-color: transparent !important;
            border-radius: 50%;
            animation: page-spinner 0.6s linear infinite;
        }
    }

    &.has-fade.is-visible {
        &::before {
            opacity: 1;
            visibility: visible;
        }

        &::after {
            border-color: $color-black;
            border-top-color: transparent;
        }
    }
}

@keyframes page-spinner {
    to {
        transform: rotate(360deg);
    }
}
