@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner {
    $this: &;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $layer-element-spinner;
    display: none;

    &.is-visible {
        display: block;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 30px;
            height: 30px;
            margin-top: -15px;
            margin-left: -15px;
            border-radius: 50%;
            animation: spinner 0.6s linear infinite;
        }
    }

    &.is-visible.is-faded {
        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba($color-white, 0.6);
            transition: opacity 0.2s linear, visibility 0.2s linear;
        }
    }
}
