<section class="section">
    <div class="section__head">
        <div class="container">
            <div class="section__row">
                <h2 class="section__title title-type-2">О компании</h2>
                <div class="show-if-tablet">
                    <a class="btn-primary btn-primary--blue-outlined btn-primary--with-icon" href="/fix-me">
                        <svg class="icon" width="20" height="20" focusable="false">
                            <use xlink:href="#icon-info" />
                        </svg>
                        Подробнее о нас
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="section__content">
        <div class="container">
            <div class="accordion is-active hide-if-tablet" data-component="accordion">
                <button class="accordion__header" type="button" data-accordion-ref="trigger">

                    <span class="accordion__title title-type-4">О нашей компании </br>
                        Узнай больше о Мечтаево</span>
                    <svg class="accordion__icon accordion__icon--plus icon" width="23" height="23" focusable="false">
                        <use xlink:href="#icon-plus-outlined" />
                    </svg>
                    <svg class="accordion__icon accordion__icon--minus icon" width="23" height="23" focusable="false">
                        <use xlink:href="#icon-minus-outlined" />
                    </svg>
                </button>
                <div class="accordion__body" data-accordion-ref="content">
                    <div class="accordion__content">
                        <div class="text-block">
                            <div class="richtext">
                                <p>Были ли у нас ошибки? Конечно! В самом начале нашего пути мы набили немало шишек.</p>
                                <p>
                                    Но мы
                                    всегда извлекали из них уроки.
                                    Поэтому сегодня, и вот уже много лет – мы получаемот заказчиков только слова
                                    благодарности
                                    и признательности.И мы
                                    очень дорожим своей репутацией.
                                </p>
                                <p>
                                    Четкая организация работы с клиентами, жесткая координация
                                    деятельности на объектах –
                                    от снабжения до контроля качества монтажа. Все это приносит свои плоды: люди
                                    рекомендуют
                                    нас
                                    своим знакомым, соседям,
                                    родным.
                                </p>
                                <p>В 2008 г. мы открыли собственную выставочную площадку. Для удобства клиентов она
                                    расположена
                                    не где-то на окраине, а в
                                    центре Москвы – недалеко от станции метро Курская.</p>
                                <p>Здесь же расположен офис обслуживания
                                    заказчиков.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-block show-if-tablet initial-mb-0 tablet-mb-50">
                <div class="richtext">
                    <p>Были ли у нас ошибки? Конечно! В самом начале нашего пути мы набили немало шишек.</p>
                    <p>
                        Но мы
                        всегда извлекали из них уроки.
                        Поэтому сегодня, и вот уже много лет – мы получаемот заказчиков только слова
                        благодарности
                        и признательности.И мы
                        очень дорожим своей репутацией.
                    </p>
                    <p>
                        Четкая организация работы с клиентами, жесткая координация
                        деятельности на объектах –
                        от снабжения до контроля качества монтажа. Все это приносит свои плоды: люди рекомендуют
                        нас
                        своим знакомым, соседям,
                        родным.
                    </p>
                    <p>В 2008 г. мы открыли собственную выставочную площадку. Для удобства клиентов она
                        расположена
                        не где-то на окраине, а в
                        центре Москвы – недалеко от станции метро Курская.</p>
                    <p>Здесь же расположен офис обслуживания
                        заказчиков.</p>
                </div>
            </div>
            <div class="section__button">
                <a class="btn-primary btn-primary--blue-outlined btn-primary--with-icon hide-if-tablet" href="/fix-me">
                    <svg class="icon" width="20" height="20" focusable="false">
                        <use xlink:href="#icon-info" />
                    </svg>
                    Подробнее о нас
                </a>
            </div>
        </div>
    </div>
</section>
