<div class="banner">
    <div class="banner__inner">
        <div class="banner__col">
            <p class="banner__text">
                Подпишитесь на рассылку!
            </p>
            <p class="banner__text">
                и получаейте только <span class="banner__text--white">важные
                    и свежие новости</span>
            </p>
            <form action="/fix-me" class="banner__form initial-mt-45">
                <div class="banner__form-field">
                    <div class="form-input">
                        <label for="email">
                            <input class="form-input__control" name="email" id="email" type="text"
                                placeholder="email адрес">
                        </label>
                    </div>
                </div>
                <button class="banner__form-submit btn-primary btn-primary--green btn-primary--with-icon" type="submit">
                    <svg class="icon" width="17" height="17" focusable="false">
                        <use xlink:href="#icon-plus" />
                    </svg>
                    Подписаться
                </button>
            </form>
        </div>
        <div class="banner__col">
            <p class="banner__text">
                Подписывайся на наши социальные
                сети, чтобы узнать много чего <span class="banner__text--white">интересного
                    связанного со строительством дома</span>
            </p>
            <div class="banner__social initial-mt-35 tablet-mt-50">
                <ul class="social-share social-share--within-banner">
                    <li class="social-share__item">
                        <a class="social-share__link" href="/fix-me">
                            <svg class="icon" width="18" height="15" focusable="false">
                                <use xlink:href="#icon-telegram" />
                            </svg>
                        </a>
                    </li>
                    <li class="social-share__item">
                        <a class="social-share__link" href="/fix-me">
                            <svg class="icon" width="19" height="19" focusable="false">
                                <use xlink:href="#icon-whats-up" />
                            </svg>
                        </a>
                    </li>
                    <li class="social-share__item">
                        <a class="social-share__link social-share__link--square" href="/fix-me">
                            <svg class="icon" width="21" height="12" focusable="false">
                                <use xlink:href="#icon-vk" />
                            </svg>
                        </a>
                    </li>
                    <li class="social-share__item">
                        <a class="social-share__link" href="/fix-me">
                            <svg class="icon" width="14" height="26" focusable="false">
                                <use xlink:href="#icon-facebook" />
                            </svg>
                        </a>
                    </li>
                    <li class="social-share__item">
                        <a class="social-share__link" href="/fix-me">
                            <svg class="icon" width="17" height="12" focusable="false">
                                <use xlink:href="#icon-youtube" />
                            </svg>
                        </a>
                    </li>
                    <li class="social-share__item">
                        <a class="social-share__link" href="/fix-me">
                            <svg class="icon" width="14" height="14" focusable="false">
                                <use xlink:href="#icon-instagram" />
                            </svg>
                        </a>
                    </li>
                    <li class="social-share__item">
                        <a class="social-share__link" href="/fix-me">
                            <svg class="icon" width="12" height="20" focusable="false">
                                <use xlink:href="#icon-zen" />
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
