<section class="section section--grey">
    <div class="section__head">
        <div class="container">
            <div class="section__row">
                <h2 class="section__title title-type-2">Мы гордимся тем, что нас с вами объединяет</h2>
            </div>
        </div>
    </div>
    <div class="section__content slider-wrapper">
        <div class="container">
            <div class="row row--tiles" data-component="slider">
                <div class="col-12">
                    <a class="image-card image-card--horizontal image-card--type-1" href="/fix-me">
                        <div class="image-card__media">
                            <img class="lazyload" data-src="images/builder.jpg" alt="Строители с опытом работы">
                        </div>
                        <div class="image-card__content">
                            <h3 class="image-card__title initial-mb-8">
                                Строители с опытом работы
                            </h3>
                            <span class="image-card__value">
                                >15 лет
                            </span>
                            <span class="image-card__link btn-primary btn-primary--blue-outlined btn-primary--with-icon initial-mt-35">
                                <svg class="icon" width="15" height="14" focusable="false">
                                    <use xlink:href="#icon-arrow-right" />
                                </svg>
                                Узнать подробнее
                            </span>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-tablet-4">
                    <a class="image-card image-card--vertical image-card--type-2" href="/fix-me">
                        <div class="image-card__media">
                            <img class="lazyload" data-src="images/manager.jpg"
                                alt=" Персональный менеджер ведущий проект">
                        </div>
                        <div class="image-card__content">
                            <h3 class="image-card__title initial-mb-35 tablet-mb-65">
                                Персональный менеджер ведущий проект
                            </h3>
                            <span class="image-card__link btn-primary btn-primary--with-icon">
                                <svg class="icon" width="15" height="14" focusable="false">
                                    <use xlink:href="#icon-arrow-right" />
                                </svg>
                                Наша команда
                            </span>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-tablet-4">
                    <a class="image-card image-card--vertical image-card--type-3" href="/fix-me">
                        <div class="image-card__media">
                            <img class="lazyload" data-src="images/credit.jpg" alt="Рассрочка, кредит
                                    и материнский капитал">
                        </div>
                        <div class="image-card__content">
                            <h3 class="image-card__title initial-mb-35 tablet-mb-65">
                                Рассрочка, кредит
                                и материнский капитал
                            </h3>
                            <span class="image-card__link btn-primary btn-primary--with-icon">
                                <svg class="icon" width="15" height="14" focusable="false">
                                    <use xlink:href="#icon-arrow-right" />
                                </svg>
                                Узнать подробнее
                            </span>
                        </div>
                    </a>
                </div>

                <div class="col-12 col-tablet-4">
                    <a class="image-card image-card--type-4" href="/fix-me">
                        <div class="image-card__content">
                            <span class="image-card__value">
                                1700
                            </span>
                            <p class="image-card__text initial-mb-35 tablet-mb-40">
                                Построенных домов
                                с 2002 года
                            </p>
                            <span class="image-card__link btn-primary btn-primary--with-icon">
                                <svg class="icon" width="15" height="14" focusable="false">
                                    <use xlink:href="#icon-arrow-right" />
                                </svg>
                                Смотреть проекты
                            </span>
                        </div>
                    </a>
                    <a class="image-card image-card--type-5 show-if-tablet" href="/fix-me">
                        <div class="image-card__media">
                            <img class="lazyload" data-src="images/cup.png" alt="Наградыи сертификаты">
                        </div>
                        <div class="image-card__content">
                            <span class="image-card__title">Награды </br>и сертификаты</span>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-tablet-4 hide-if-tablet">
                    <a class="image-card image-card--type-5" href="/fix-me">
                        <div class="image-card__media">
                            <img class="lazyload" data-src="images/cup.png" alt="Наградыи сертификаты">
                        </div>
                        <div class="image-card__content">
                            <span class="image-card__title">Награды </br>и сертификаты</span>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-tablet-8">
                    <a class="image-card image-card--horizontal image-card--type-6" href="/fix-me">
                        <div class="image-card__media">
                            <img class="lazyload" data-src="images/service.jpg" alt="Строители с опытом работы">
                        </div>
                        <div class="image-card__content">
                            <h3 class="image-card__title initial-mb-35 tablet-mb-65">
                                У нас собственное производство
                                и архитектурный отдел
                            </h3>
                            <span class="image-card__link btn-primary btn-primary--with-icon">
                                <svg class="icon" width="15" height="14" focusable="false">
                                    <use xlink:href="#icon-arrow-right" />
                                </svg>
                                Узнать подробнее
                            </span>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-tablet-4">
                    <a class="image-card image-card--type-7" href="/fix-me">
                        <div class="image-card__media">
                            <img class="lazyload" data-src="images/20.png" alt="Гарантия
                                    от 20 лет">
                        </div>
                        <div class="image-card__content">
                            <h3 class="image-card__title initial-mb-30">
                                Гарантия
                                от 20 лет
                            </h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
