<section class="section section--grey section--narrow-head">
    <div class="section__head">
        <div class="container">
            <div class="section__row">
                <div class="section__heading">
                    <ul class="breadcrumb">
                        <li class="breadcrumb__item">
                            <a class="breadcrumb__link" href="/fix-me">Главная</a>
                        </li>
                        <li class="breadcrumb__item">
                            <a class="breadcrumb__link" href="/blog.html">Блог</a>
                        </li>
                        <li class="breadcrumb__item">
                            <a class="breadcrumb__link" href="/fix-me">Дизайн и стиль</a>
                        </li>
                        <li class="breadcrumb__item">
                            <span class="breadcrumb__link">Строительство дома</span>
                        </li>
                    </ul>
                    <h1 class="section__title title-type-2 initial-mt-0 desktop-mt-10">Строительство дома</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="section__content">
        <div class="container">
            <div class="row row--with-sticky-col gutter-16">
                <div class="row__sticky-col col-12 col-tablet-4 show-if-tablet">
                    <div class="form-control form-control--accordion is-active" data-component="accordion">
                        <div class="form-control__header" data-accordion-ref="trigger">
                            <div class="form-control__label">
                                Рубрикатор
                            </div>
                            <svg class="form-control__icon icon" width="10" height="5" focusable="false">
                                <use xlink:href="#icon-chevron-down" />
                            </svg>
                        </div>
                        <div class="form-control__body" data-accordion-ref="content">
                            <div class="form-control__content">
                                <div class="tags tags--rubricator">
                                    <ul class="tags__list">
                                        <li class="tags__item" data-tags-ref="item">
                                            <a class="tags__link is-active" href="/fix-me">Внешняя отделка</a>
                                        </li>
                                        <li class="tags__item" data-tags-ref="item">
                                            <a class="tags__link" href="/fix-me">Другое</a>
                                        </li>
                                        <li class="tags__item" data-tags-ref="item">
                                            <a class="tags__link" href="/fix-me">Жизнь компании</a>
                                        </li>
                                        <li class="tags__item" data-tags-ref="item">
                                            <a class="tags__link" href="/fix-me">Идеи для дома</a>
                                        </li>
                                        <li class="tags__item" data-tags-ref="item">
                                            <a class="tags__link" href="/fix-me">Внутренняя отделка</a>
                                        </li>
                                        <li class="tags__item" data-tags-ref="item">
                                            <a class="tags__link" href="/fix-me">Инженерные коммуникации</a>
                                        </li>
                                        <li class="tags__item" data-tags-ref="item">
                                            <a class="tags__link" href="/fix-me">Каменные дома</a>
                                        </li>
                                        <li class="tags__item" data-tags-ref="item">
                                            <a class="tags__link" href="/fix-me">Каркасные дома</a>
                                        </li>
                                        <li class="tags__item" data-tags-ref="item">
                                            <a class="tags__link" href="/fix-me">Крыша, окна, двери</a>
                                        </li>
                                        <li class="tags__item" data-tags-ref="item">
                                            <a class="tags__link" href="/fix-me">Наука строительства</a>
                                        </li>
                                        <li class="tags__item" data-tags-ref="item">
                                            <a class="tags__link" href="/fix-me">Отзывы заказчиков</a>
                                        </li>
                                        <li class="tags__item" data-tags-ref="item">
                                            <a class="tags__link" href="/fix-me">Фундаменты</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-control form-control--accordion is-active" data-component="accordion">
                        <div class="form-control__header" data-accordion-ref="trigger">
                            <div class="form-control__label">
                                Рекомендуем к прочтению
                            </div>
                            <svg class="form-control__icon icon" width="10" height="5" focusable="false">
                                <use xlink:href="#icon-chevron-down" />
                            </svg>
                        </div>
                        <div class="form-control__body" data-accordion-ref="content">
                            <div class="form-control__content">
                                <div class="reference">
                                    <a class="reference__title title-type-5" href="/fix-me">Что выгоднее: строительство
                                        или реконструкция.</a>
                                    <p class="reference__text">
                                        Какие бы причины не приводили к этомувопросу, из двух вариантов
                                        придётся выбрать один. Предлагаем…
                                    </p>
                                </div>
                                <div class="reference">
                                    <a class="reference__title title-type-5" href="/fix-me">Разрешение на строительство
                                        отменили? Разбираемся!</a>
                                    <p class="reference__text">
                                        Законопроект №340 от 04.08.2018 об ИЖС (индивидуальное жилищное строительство)
                                        вызвал очень много вопросов у
                                        общественности…
                                </div>
                                <div class="reference">
                                    <a class="reference__title title-type-5" href="/fix-me">Как новые технологии меняют
                                        традиционное строительство.</a>
                                    <p class="reference__text">
                                        Кирпичи становятся прозрачными, цемент делают из неожиданных ингредиентов, а
                                        некоторые дома и вовсе печатают на…
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-tablet-8">
                    <div class="content-block is-active" data-component="accordion" data-options='{"mobileOnly": true}'>
                        <h2 class="content-block__header title-type-2" data-accordion-ref="trigger">
                            <span class="content-block__title">Строительство дома</span>
                            <svg class="content-block__icon content-block__icon--plus icon" width="23" height="23"
                                focusable="false">
                                <use xlink:href="#icon-plus-outlined" />
                            </svg>
                            <svg class="content-block__icon content-block__icon--minus icon" width="23" height="23"
                                focusable="false">
                                <use xlink:href="#icon-minus-outlined" />
                            </svg>
                        </h2>
                        <div class="content-block__body initial-mt-0 tablet-mt-10" data-accordion-ref="content">
                            <div class="content-block__content">
                                <div class="content-block__divider hr initial-mb-15 hide-if-tablet"></div>
                                <div class="content-block__text">
                                    <div class="richtext">
                                        <p>Строительство дома – сложная и ответственная задача, в которой недопустимы
                                            ошибки.
                                            Делая
                                            всё правильно, их можно
                                            избежать.В надежности здания одинаково заинтересованы как будущие жильцы,
                                            так и
                                            строительная компания. Поэтому будущим
                                            хозяину или хозяйке важно представлять этапы возведения, технологии
                                            строительства и
                                            ценообразование, чтобы сделать
                                            процесс прогнозируемым и конечным, не затягивая его на годы.
                                        </p>

                                        <p>
                                            Экспертом в выборе технологии должна быть СтроительнаяКомпания, а заказчик
                                            должен
                                            получить больше, чем планировал.
                                        </p>
                                        <p>
                                            Мы предлагаем вам познакомиться с «правильным подходомк строительству дома
                                            от СК
                                            Мечтаево». Рассмотрим все подробности
                                            и нюансы, среди которых будут следующие:
                                        </p>
                                        <h2>Этапы и последовательность строительства дома и коттеджа</h2>
                                        <p>
                                            Строительство дома – сложная и ответственная задача, в которой недопустимы
                                            ошибки.
                                            Делая
                                            всё правильно, их можно
                                            избежать.В надежности здания одинаково заинтересованы как будущие жильцы,
                                            так и
                                            строительная компания. Поэтому будущим
                                            хозяину или хозяйке важно представлять этапы возведения, технологии
                                            строительства и
                                            ценообразование, чтобы сделать
                                            процесс прогнозируемым и конечным, не затягивая его на годы.
                                        </p>
                                        <p>
                                            Экспертом в выборе технологии должна быть <a href="/fix-me">Строительная
                                                Компания, а
                                                заказчик должен
                                                получить больше, чем планировал.</a>
                                        </p>
                                        <p>
                                            Мы предлагаем вам познакомиться с «правильным подходомк строительству дома
                                            от СК
                                            Мечтаево». Рассмотрим все подробности
                                            и нюансы, среди которых будут следующие:
                                        </p>

                                        <h2>Геологические изыскания</h2>
                                        <p>
                                            Главная цель инженерно-геологических изысканий – выявить
                                            физико-математические
                                            свойства
                                            грунта (состав, несущую
                                            способность, степень пучинистости и др.), физико-химические качества почвы и
                                            гидрологический режим территории (особенно
                                            важна информация об уровне грунтовых вод). Это позволяет понять, какие типы
                                            фундаментов
                                            подходят на конкретной
                                            местности, а какие абсолютно не подходят.
                                        </p>
                                        <p>
                                            В случае недостатка или отсутствия информации о геологических изысканиях
                                            вероятны
                                            ошибки
                                            и недочёты в архитектурном
                                            решении. Избыточная прочность конструкции приведетк значительной потере
                                            денежных
                                            средств, а погрешность в любом из
                                            последующих этапов завершится преждевременным разрушением объекта, или, как
                                            минимум,
                                            его
                                            быстрой деформацией.
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row row--tiles initial-mt-16 tablet-mt-35">
                        <div class="col-tablet-5">
                            <a class="card card--with-overlay card--blog-image" href="/fix-me">
                                <div class="card__media">
                                    <img class="lazyload" data-src="images/home-1.jpg" alt="">
                                    <div class="card__media-overlay">
                                        <div class="card__action">
                                            <svg class="icon" width="20" height="20" focusable="false">
                                                <use xlink:href="#icon-play" />
                                            </svg>
                                            Смотреть отзыв
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-tablet-7">
                            <a class="card card--blog-image" href="/fix-me">
                                <div class="card__media">
                                    <img class="lazyload" data-src="images/home-2.jpg" alt="">
                                </div>
                            </a>
                        </div>
                        <div class="col-tablet-12">
                            <a class="card card--with-overlay card--video" data-fslightbox="video"
                                href="https://www.youtube.com/watch?v=MUuBxT8FooM?fs=1&autoplay=1">
                                <div class="card__media">
                                    <img class="lazyload" data-src="images/home-3.jpg" alt="">
                                    <div class="card__media-overlay">
                                        <div class="card__action">
                                            <svg class="icon" width="20" height="20" focusable="false">
                                                <use xlink:href="#icon-play" />
                                            </svg>
                                            Смотреть отзыв
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
