<section class="section section--grey">
    <div class="section__head">
        <div class="container">
            <div class="section__row">
                <h2 class="section__title title-type-2">Популярные статьи</h2>
            </div>
        </div>
    </div>
    <div class="section__content slider-wrapper">
        <div class="container">
            <div class="row" data-component="slider" data-options='{"type": "full","controls": true}'>
                <div class="col-12 col-tablet-4">
                    <div class="card">
                        <div class="card__media">
                            <a class="card__badge" href="/fix-me">
                                Строительство
                            </a>
                            <img class="lazyload" data-src="images/home-1.jpg" alt="Каркасный дом">
                        </div>
                        <div class="card__content">
                            <h3 class="card__title card__title--blue title-type-3 initial-mb-8">
                                <a class="card__link" href="/fix-me">С чего начать
                                    строительство дома и на что обращать основное внимание и что делать?</a>
                            </h3>
                            <p class="card__text">
                                Процесс изготовления газосиликата достаточно прост и выверен.Сначала делается
                                смесь из всех ...
                            </p>
                            <a class="btn-primary btn-primary--red-outlined btn-primary--with-icon initial-mt-35"
                                href="/fix-me">
                                <svg class="icon" width="20" height="20" focusable="false">
                                    <use xlink:href="#icon-play" />
                                </svg>
                                Смотреть видео
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-tablet-4">
                    <div class="card">
                        <div class="card__media">
                            <a class="card__badge" href="/fix-me">
                                Дизайн
                            </a>
                            <img class="lazyload"
                                data-src="https://images.unsplash.com/photo-1540882082344-a56ecd70ba96?ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80"
                                alt="Каркасный дом">
                        </div>
                        <div class="card__content">
                            <h3 class="card__title card__title--blue title-type-3 initial-mb-8">
                                <a class="card__link" href="/fix-me">Вебинар: Мудрый заказчик. Как работать с
                                    фрилансерами и удаленными сотрудниками</a>
                            </h3>
                            <p class="card__text">
                                в это время происходит химическая реакция. Затем заготовки для газобетона помещаются
                                ...
                            </p>
                            <a class="btn-primary btn-primary--red-outlined btn-primary--with-icon initial-mt-35"
                                href="/fix-me">
                                <svg class="icon" width="20" height="20" focusable="false">
                                    <use xlink:href="#icon-play" />
                                </svg>
                                Смотреть видео
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-tablet-4">
                    <div class="card">
                        <div class="card__media">
                            <a class="card__badge" href="/fix-me">
                                Производство
                            </a>
                            <img class="lazyload"
                                data-src="https://images.unsplash.com/photo-1540882082344-a56ecd70ba96?ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80"
                                alt="Каркасный дом">
                        </div>
                        <div class="card__content">
                            <h3 class="card__title card__title--blue title-type-3 initial-mb-8">
                                <a class="card__link" href="/fix-me">С чего начать
                                    строительство дома и на что обращать основное внимание и что делать?</a>
                            </h3>
                            <p class="card__text">
                                Процесс изготовления газосиликата достаточно прост и выверен.Сначала делается
                                смесь из всех ...
                            </p>
                            <a class="btn-primary btn-primary--blue-outlined btn-primary--with-icon initial-mt-35"
                                href="/fix-me">
                                <svg class="icon" width="19" height="16" focusable="false">
                                    <use xlink:href="#icon-read" />
                                </svg>
                                Читать в блоге
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-tablet-4">
                    <div class="card">
                        <div class="card__media">
                            <a class="card__badge" href="/fix-me">
                                Дома
                            </a>
                            <img class="lazyload"
                                data-src="https://images.unsplash.com/photo-1540882082344-a56ecd70ba96?ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80"
                                alt="Каркасный дом">
                        </div>
                        <div class="card__content">
                            <h3 class="card__title card__title--blue title-type-3 initial-mb-8">
                                <a class="card__link" href="/fix-me">Что выгоднее: строительство или реконструкция.
                                    Выясняем вместе</a>
                            </h3>
                            <p class="card__text">
                                Какие бы причины не приводили к этому вопросу, из двух вариантов придётся выбрать
                                один ...
                            </p>
                            <a class="btn-primary btn-primary--blue-outlined btn-primary--with-icon initial-mt-35"
                                href="/fix-me">
                                <svg class="icon" width="19" height="16" focusable="false">
                                    <use xlink:href="#icon-read" />
                                </svg>
                                Читать в блоге
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-tablet-4">
                    <div class="card">
                        <div class="card__media">
                            <a class="card__badge" href="/fix-me">
                                Технологии
                            </a>
                            <img class="lazyload"
                                data-src="https://images.unsplash.com/photo-1540882082344-a56ecd70ba96?ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80"
                                alt="Каркасный дом">
                        </div>
                        <div class="card__content">
                            <h3 class="card__title card__title--blue title-type-3 initial-mb-8">
                                <a class="card__link" href="/fix-me">Как новые технологии меняют традиционное
                                    строительство</a>
                            </h3>
                            <p class="card__text">
                                Кирпичи становятся прозрачными, цемент делают из неожиданных ингредиентов, а
                                некоторые дома ...
                            </p>
                            <a class="btn-primary btn-primary--blue-outlined btn-primary--with-icon initial-mt-35"
                                href="/fix-me">
                                <svg class="icon" width="19" height="16" focusable="false">
                                    <use xlink:href="#icon-read" />
                                </svg>
                                Читать в блоге
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-tablet-4">
                    <div class="card">
                        <div class="card__media">
                            <a class="card__badge" href="/fix-me">
                                Сертификат
                            </a>
                            <img class="lazyload"
                                data-src="https://images.unsplash.com/photo-1540882082344-a56ecd70ba96?ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80"
                                alt="Каркасный дом">
                        </div>
                        <div class="card__content">
                            <h3 class="card__title card__title--blue title-type-3 initial-mb-8">
                                <a class="card__link" href="/fix-me">Разрешение на строитель- ство отменили?
                                    Разбираемся!
                                    читайет в блоге</a>
                            </h3>
                            <p class="card__text">
                                Законопроект №340 от 04.08.2018 об ИЖС (индивидуальное жилищное строительство)
                                Вызвал интерес ...
                            </p>
                            <a class="btn-primary btn-primary--blue-outlined btn-primary--with-icon initial-mt-35"
                                href="/fix-me">
                                <svg class="icon" width="19" height="16" focusable="false">
                                    <use xlink:href="#icon-read" />
                                </svg>
                                Читать в блоге
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
