<section class="section section--grey section--narrow-head section--blogs">
    <div class="section__head">
        <div class="container">
            <div class="section__row">
                <div class="section__heading">
                    <ul class="breadcrumb">
                        <li class="breadcrumb__item">
                            <a class="breadcrumb__link" href="/fix-me">Главная</a>
                        </li>
                        <li class="breadcrumb__item">
                            <a class="breadcrumb__link" href="/blog.html">Блог</a>
                        </li>
                        <li class="breadcrumb__item">
                            <span class="breadcrumb__link">Дизайн и стиль</span>
                        </li>
                    </ul>
                    <h1 class="section__title title-type-2 initial-mt-0 desktop-mt-10">Блоги и интересные статьи</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="section__content">
        <div class="container" data-component="load-more" data-options='{"visibleItems" : 4, "loadMoreAmount": 1}'>
            <div class="tags tags--rubricator initial-mt-4 initial-mb-20 hide-if-tablet">
                <ul class="tags__list">
                    <li class="tags__item" data-tags-ref="item">
                        <a class="tags__link is-active" href="/fix-me">Внешняя отделка</a>
                    </li>
                    <li class="tags__item" data-tags-ref="item">
                        <a class="tags__link" href="/fix-me">Другое</a>
                    </li>
                    <li class="tags__item" data-tags-ref="item">
                        <a class="tags__link" href="/fix-me">Жизнь компании</a>
                    </li>
                    <li class="tags__item" data-tags-ref="item">
                        <a class="tags__link" href="/fix-me">Идеи для дома</a>
                    </li>
                    <li class="tags__item" data-tags-ref="item">
                        <a class="tags__link" href="/fix-me">Внутренняя отделка</a>
                    </li>
                    <li class="tags__item" data-tags-ref="item">
                        <a class="tags__link" href="/fix-me">Инженерные коммуникации</a>
                    </li>
                    <li class="tags__item" data-tags-ref="item">
                        <a class="tags__link" href="/fix-me">Каменные дома</a>
                    </li>
                    <li class="tags__item" data-tags-ref="item">
                        <a class="tags__link" href="/fix-me">Каркасные дома</a>
                    </li>
                    <li class="tags__item" data-tags-ref="item">
                        <a class="tags__link" href="/fix-me">Крыша, окна, двери</a>
                    </li>
                    <li class="tags__item" data-tags-ref="item">
                        <a class="tags__link" href="/fix-me">Наука строительства</a>
                    </li>
                    <li class="tags__item" data-tags-ref="item">
                        <a class="tags__link" href="/fix-me">Отзывы заказчиков</a>
                    </li>
                    <li class="tags__item" data-tags-ref="item">
                        <a class="tags__link" href="/fix-me">Фундаменты</a>
                    </li>
                </ul>
            </div>
            <div class="row row--with-sticky-col gutter-16">
                <div class="row__sticky-col col-12 col-tablet-4 show-if-tablet">
                    <div class="form-control form-control--accordion is-active" data-component="accordion">
                        <div class="form-control__header" data-accordion-ref="trigger">
                            <div class="form-control__label">
                                Рубрикатор
                            </div>
                            <svg class="form-control__icon icon" width="10" height="5" focusable="false">
                                <use xlink:href="#icon-chevron-down" />
                            </svg>
                        </div>
                        <div class="form-control__body" data-accordion-ref="content">
                            <div class="form-control__content">
                                <div class="tags tags--rubricator">
                                    <ul class="tags__list">
                                        <li class="tags__item" data-tags-ref="item">
                                            <a class="tags__link is-active" href="/fix-me">Внешняя отделка</a>
                                        </li>
                                        <li class="tags__item" data-tags-ref="item">
                                            <a class="tags__link" href="/fix-me">Другое</a>
                                        </li>
                                        <li class="tags__item" data-tags-ref="item">
                                            <a class="tags__link" href="/fix-me">Жизнь компании</a>
                                        </li>
                                        <li class="tags__item" data-tags-ref="item">
                                            <a class="tags__link" href="/fix-me">Идеи для дома</a>
                                        </li>
                                        <li class="tags__item" data-tags-ref="item">
                                            <a class="tags__link" href="/fix-me">Внутренняя отделка</a>
                                        </li>
                                        <li class="tags__item" data-tags-ref="item">
                                            <a class="tags__link" href="/fix-me">Инженерные коммуникации</a>
                                        </li>
                                        <li class="tags__item" data-tags-ref="item">
                                            <a class="tags__link" href="/fix-me">Каменные дома</a>
                                        </li>
                                        <li class="tags__item" data-tags-ref="item">
                                            <a class="tags__link" href="/fix-me">Каркасные дома</a>
                                        </li>
                                        <li class="tags__item" data-tags-ref="item">
                                            <a class="tags__link" href="/fix-me">Крыша, окна, двери</a>
                                        </li>
                                        <li class="tags__item" data-tags-ref="item">
                                            <a class="tags__link" href="/fix-me">Наука строительства</a>
                                        </li>
                                        <li class="tags__item" data-tags-ref="item">
                                            <a class="tags__link" href="/fix-me">Отзывы заказчиков</a>
                                        </li>
                                        <li class="tags__item" data-tags-ref="item">
                                            <a class="tags__link" href="/fix-me">Фундаменты</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-control form-control--accordion is-active" data-component="accordion">
                        <div class="form-control__header" data-accordion-ref="trigger">
                            <div class="form-control__label">
                                Рекомендуем к прочтению
                            </div>
                            <svg class="form-control__icon icon" width="10" height="5" focusable="false">
                                <use xlink:href="#icon-chevron-down" />
                            </svg>
                        </div>
                        <div class="form-control__body" data-accordion-ref="content">
                            <div class="form-control__content">
                                <div class="reference">
                                    <a class="reference__title title-type-5" href="/fix-me">Что выгоднее: строительство
                                        или реконструкция.</a>
                                    <p class="reference__text">
                                        Какие бы причины не приводили к этомувопросу, из двух вариантов
                                        придётся выбрать один. Предлагаем…
                                    </p>
                                </div>
                                <div class="reference">
                                    <a class="reference__title title-type-5" href="/fix-me">Разрешение на строительство
                                        отменили? Разбираемся!</a>
                                    <p class="reference__text">
                                        Законопроект №340 от 04.08.2018 об ИЖС (индивидуальное жилищное строительство)
                                        вызвал очень много вопросов у
                                        общественности…
                                </div>
                                <div class="reference">
                                    <a class="reference__title title-type-5" href="/fix-me">Как новые технологии меняют
                                        традиционное строительство.</a>
                                    <p class="reference__text">
                                        Кирпичи становятся прозрачными, цемент делают из неожиданных ингредиентов, а
                                        некоторые дома и вовсе печатают на…
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-tablet-8">
                    <div class="row row--tiles">
                        <div class="col-12 col-tablet-12" data-load-more-ref="item">
                            <div class="card card--without-image card--accordion" data-component="accordion"
                                data-options='{"mobileOnly": true}'>
                                <div class="card__content">
                                    <h3 class="card__title card__title--blue title-type-3" data-accordion-ref="trigger">
                                        <a class="card__link" href="/fix-me">С чего начать
                                            Вебинар: Мудрый заказчик. Как работать
                                            с фрилансерами и удаленными
                                            сотрудниками</a>
                                        <svg class="card__icon card__icon--plus icon" width="23" height="23"
                                            focusable="false">
                                            <use xlink:href="#icon-plus-outlined" />
                                        </svg>
                                        <svg class="card__icon card__icon--minus icon" width="23" height="23"
                                            focusable="false">
                                            <use xlink:href="#icon-minus-outlined" />
                                        </svg>
                                    </h3>
                                    <div class="card__body initial-mt-8" data-accordion-ref="content">
                                        <div class="hr initial-m-15 hide-if-tablet"></div>
                                        <p class="card__text">
                                            Строительство дома – сложная и ответственная задача, в которой недопустимы
                                            ошибки. Делая всё правильно, их можно
                                            избежать. В надежности здания одинаково заинтересованы как будущие жильцы,
                                            так и
                                            строительная компания. Поэтому будущим
                                            хозяину или хозяйке важно ...
                                        </p>
                                        <a class="btn-primary btn-primary--blue-color btn-primary--with-icon initial-mt-35"
                                            href="/fix-me">
                                            <svg class="icon" width="19" height="16" focusable="false">
                                                <use xlink:href="#icon-read" />
                                            </svg>
                                            Читать в блоге
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-tablet-6" data-load-more-ref="item">
                            <div class="card card--accordion" data-component="accordion"
                                data-options='{"mobileOnly": true}'>
                                <div class="card__media">
                                    <a class="card__badge" href="/fix-me">
                                        Технологии
                                    </a>
                                    <img class="lazyload" data-src="images/home-1.jpg" alt="новые технологии">
                                </div>
                                <div class="card__content">
                                    <h3 class="card__title card__title--blue title-type-3" data-accordion-ref="trigger">
                                        <a class="card__link" href="/fix-me">Как новые технологии меняют традиционное
                                            строительство</a>
                                        <svg class="card__icon card__icon--plus icon" width="23" height="23"
                                            focusable="false">
                                            <use xlink:href="#icon-plus-outlined" />
                                        </svg>
                                        <svg class="card__icon card__icon--minus icon" width="23" height="23"
                                            focusable="false">
                                            <use xlink:href="#icon-minus-outlined" />
                                        </svg>
                                    </h3>
                                    <div class="card__body initial-mt-8" data-accordion-ref="content">
                                        <div class="hr initial-m-15 hide-if-tablet"></div>
                                        <p class="card__text">
                                            Кирпичи становятся прозрачными, цемент делают из неожиданных ингредиентов, а
                                            некоторые дома ...
                                        </p>
                                        <a class="btn-primary btn-primary--blue-color btn-primary--with-icon initial-mt-35"
                                            href="/fix-me">
                                            <svg class="icon" width="19" height="16" focusable="false">
                                                <use xlink:href="#icon-read" />
                                            </svg>
                                            Читать в блоге
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-tablet-6" data-load-more-ref="item">
                            <div class="card card--accordion card--without-image" data-component="accordion"
                                data-options='{"mobileOnly": true}'>
                                <div class="card__content">
                                    <h3 class="card__title card__title--blue title-type-3" data-accordion-ref="trigger">
                                        <a class="card__link" href="/fix-me">С чего начать
                                            Вебинар: Мудрый заказчик. Как работать
                                            с фрилансерами и удаленными
                                            сотрудниками</a>
                                        <svg class="card__icon card__icon--plus icon" width="23" height="23"
                                            focusable="false">
                                            <use xlink:href="#icon-plus-outlined" />
                                        </svg>
                                        <svg class="card__icon card__icon--minus icon" width="23" height="23"
                                            focusable="false">
                                            <use xlink:href="#icon-minus-outlined" />
                                        </svg>
                                    </h3>
                                    <div class="card__body initial-mt-8" data-accordion-ref="content">
                                        <div class="hr initial-m-15 hide-if-tablet"></div>
                                        <p class="card__text">
                                            Строительство дома – сложнаяи ответственная задача, в которой недопустимы
                                            ошибки. Делая всё правильно, их можно
                                            избежать.В надежности здания одинаково заинтересованы как будущие жильцы,
                                            так и
                                            строительная компания. В надежности
                                            здания одинаково заинтересованы как будущие жильцы, так и строительная
                                            компания
                                            ...
                                        </p>
                                        <a class="btn-primary btn-primary--blue-color btn-primary--with-icon initial-mt-35"
                                            href="/fix-me">
                                            <svg class="icon" width="19" height="16" focusable="false">
                                                <use xlink:href="#icon-read" />
                                            </svg>
                                            Читать в блоге
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-tablet-12" data-load-more-ref="item">
                            <div class="card card--accordion card--with-image-vertical" data-component="accordion"
                                data-options='{"mobileOnly": true}'>
                                <div class="card__media">
                                    <img class="lazyload" data-src="images/home-1.jpg" alt="новые технологии">
                                </div>
                                <div class="card__content">
                                    <h3 class="card__title card__title--blue title-type-3" data-accordion-ref="trigger">
                                        <a class="card__link" href="/fix-me">С чего начать
                                            Вебинар: Мудрый заказчик. Как работать
                                            с фрилансерами и удаленными
                                            сотрудниками</a>
                                        <svg class="card__icon card__icon--plus icon" width="23" height="23"
                                            focusable="false">
                                            <use xlink:href="#icon-plus-outlined" />
                                        </svg>
                                        <svg class="card__icon card__icon--minus icon" width="23" height="23"
                                            focusable="false">
                                            <use xlink:href="#icon-minus-outlined" />
                                        </svg>
                                    </h3>
                                    <div class="card__body initial-mt-8" data-accordion-ref="content">
                                        <div class="hr initial-m-15 hide-if-tablet"></div>
                                        <p class="card__text">
                                            Строительство дома – сложная и ответственная задача, в которой недопустимы
                                            ошибки. Делая всё правильно, их можно
                                            избежать. В надежности здания одинаково заинтересованы как будущие жильцы,
                                            так и
                                            строительная компания. Поэтому будущим
                                            хозяину или хозяйке важно ...
                                        </p>
                                        <a class="btn-primary btn-primary--blue-color btn-primary--with-icon initial-mt-35"
                                            href="/fix-me">
                                            <svg class="icon" width="19" height="16" focusable="false">
                                                <use xlink:href="#icon-read" />
                                            </svg>
                                            Читать в блоге
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-tablet-12" data-load-more-ref="item">
                            <div class="card card--accordion card--without-image" data-component="accordion"
                                data-options='{"mobileOnly": true}'>
                                <div class="card__content">
                                    <h3 class="card__title card__title--blue title-type-3" data-accordion-ref="trigger">
                                        <a class="card__link" href="/fix-me">С чего начать
                                            Вебинар: Мудрый заказчик. Как работать
                                            с фрилансерами и удаленными
                                            сотрудниками</a>
                                        <svg class="card__icon card__icon--plus icon" width="23" height="23"
                                            focusable="false">
                                            <use xlink:href="#icon-plus-outlined" />
                                        </svg>
                                        <svg class="card__icon card__icon--minus icon" width="23" height="23"
                                            focusable="false">
                                            <use xlink:href="#icon-minus-outlined" />
                                        </svg>
                                    </h3>
                                    <div class="card__body initial-mt-8" data-accordion-ref="content">
                                        <div class="hr initial-m-15 hide-if-tablet"></div>
                                        <p class="card__text">
                                            Строительство дома – сложная и ответственная задача, в которой недопустимы
                                            ошибки. Делая всё правильно, их можно
                                            избежать. В надежности здания одинаково заинтересованы как будущие жильцы,
                                            так и
                                            строительная компания. Поэтому будущим
                                            хозяину или хозяйке важно ...
                                        </p>
                                        <a class="btn-primary btn-primary--blue-color btn-primary--with-icon initial-mt-35"
                                            href="/fix-me">
                                            <svg class="icon" width="19" height="16" focusable="false">
                                                <use xlink:href="#icon-read" />
                                            </svg>
                                            Читать в блоге
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-tablet-12" data-load-more-ref="item">
                            <div class="card card--without-image card--accordion" data-component="accordion"
                                data-options='{"mobileOnly": true}'>
                                <div class="card__content">
                                    <h3 class="card__title card__title--blue title-type-3" data-accordion-ref="trigger">
                                        <a class="card__link" href="/fix-me">С чего начать
                                            Вебинар: Мудрый заказчик. Как работать
                                            с фрилансерами и удаленными
                                            сотрудниками</a>
                                        <svg class="card__icon card__icon--plus icon" width="23" height="23"
                                            focusable="false">
                                            <use xlink:href="#icon-plus-outlined" />
                                        </svg>
                                        <svg class="card__icon card__icon--minus icon" width="23" height="23"
                                            focusable="false">
                                            <use xlink:href="#icon-minus-outlined" />
                                        </svg>
                                    </h3>
                                    <div class="card__body initial-mt-8" data-accordion-ref="content">
                                        <div class="hr initial-m-15 hide-if-tablet"></div>
                                        <p class="card__text">
                                            Строительство дома – сложная и ответственная задача, в которой недопустимы
                                            ошибки. Делая всё правильно, их можно
                                            избежать. В надежности здания одинаково заинтересованы как будущие жильцы,
                                            так и
                                            строительная компания. Поэтому будущим
                                            хозяину или хозяйке важно ...
                                        </p>
                                        <a class="btn-primary btn-primary--blue-color btn-primary--with-icon initial-mt-35"
                                            href="/fix-me">
                                            <svg class="icon" width="19" height="16" focusable="false">
                                                <use xlink:href="#icon-read" />
                                            </svg>
                                            Читать в блоге
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-tablet-6" data-load-more-ref="item">
                            <div class="card card--accordion" data-component="accordion"
                                data-options='{"mobileOnly": true}'>
                                <div class="card__media">
                                    <a class="card__badge" href="/fix-me">
                                        Технологии
                                    </a>
                                    <img class="lazyload" data-src="images/home-1.jpg" alt="новые технологии">
                                </div>
                                <div class="card__content">
                                    <h3 class="card__title card__title--blue title-type-3" data-accordion-ref="trigger">
                                        <a class="card__link" href="/fix-me">Как новые технологии меняют традиционное
                                            строительство</a>
                                        <svg class="card__icon card__icon--plus icon" width="23" height="23"
                                            focusable="false">
                                            <use xlink:href="#icon-plus-outlined" />
                                        </svg>
                                        <svg class="card__icon card__icon--minus icon" width="23" height="23"
                                            focusable="false">
                                            <use xlink:href="#icon-minus-outlined" />
                                        </svg>
                                    </h3>
                                    <div class="card__body initial-mt-8" data-accordion-ref="content">
                                        <div class="hr initial-m-15 hide-if-tablet"></div>
                                        <p class="card__text">
                                            Кирпичи становятся прозрачными, цемент делают из неожиданных ингредиентов, а
                                            некоторые дома ...
                                        </p>
                                        <a class="btn-primary btn-primary--blue-color btn-primary--with-icon initial-mt-35"
                                            href="/fix-me">
                                            <svg class="icon" width="19" height="16" focusable="false">
                                                <use xlink:href="#icon-read" />
                                            </svg>
                                            Читать в блоге
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section__button" data-load-more-ref="showMoreContainer">
                <button class="btn-primary btn-primary--blue-outlined btn-primary--with-icon" type="button"
                    data-load-more-ref="showMore">
                    <svg class="icon" width="17" height="17" focusable="false">
                        <use xlink:href="#icon-plus" />
                    </svg>
                    Показать еще
                </button>
            </div>
        </div>
    </div>
</section>
