<div class="hidden" hidden>
<ul class="submenu" id="calculator-modal">
<li class="submenu__item">
<button class="submenu__link" type="button" data-tab-trigger data-target="tab-id-1">Внести параметры</button>
</li>
<li class="submenu__item">
<button class="submenu__link" type="button" data-tab-trigger data-target="tab-id-2">Вставить URL</button>
</li>
</ul>
</div>
