<section class="section section--grey-head  section--no-head--border">
    <div class="section__head">
        <div class="container">
            <div class="section__row">
                <div class="section__heading">
                    <ul class="breadcrumb">
                        <li class="breadcrumb__item">
                            <a class="breadcrumb__link" href="/fix-me">Главная</a>
                        </li>
                        <li class="breadcrumb__item">
                            <span class="breadcrumb__link">Калькулятор</span>
                        </li>
                    </ul>
                    <h1 class="section__title title-type-2 initial-mt-0 desktop-mt-10">Калькулятор</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="section__content">
        <div class="container">
            <div class="row row--stacked-mobile-16">
                <div class="col-tablet-4">
                    <div class="image-card image-card--type-13">
                        <div class="image-card__media">
                            <img class="lazyload" data-src="images/calc.jpg" alt="Строители с опытом работы">
                        </div>
                        <div class="image-card__content">
                            <h3 class="image-card__title">
                                Посчитаем всё за вас!
                            </h3>
                            <span class="image-card__link">
                                Просто заполните необходимые данные
                                <svg class="icon show-if-tablet" width="26" height="23" focusable="false">
                                    <use xlink:href="#icon-arrow-right" />
                                </svg>
                                <svg class="icon hide-if-tablet" width="26" height="23" focusable="false">
                                    <use xlink:href="#icon-arrow-down-2" />
                                </svg>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-tablet-8">
                    <div class="tabs tabs--calculator" data-component="tabs"
                        data-options='{"selectMode": true, "untilBreakpoint": "tablet", "target": "#calculator-modal","bemList": ["filters"], "title": "Рассчитать по"}'>
                        <div class="tabs__controls" role="tablist">
                            <button class="tabs__tab btn is-active" type="button" data-tabs-ref="trigger"
                                data-target="tab-id-1" role="tab">
                                <span class="tabs__tab-title">По параметрам</span>
                                <svg class="icon hide-if-tablet" width="14" height="7" focusable="false">
                                    <use xlink:href="#icon-chevron-down" />
                                </svg>
                            </button>
                            <button class="tabs__tab btn" type="button" data-tabs-ref="trigger" data-target="tab-id-2"
                                role="tab">
                                <span class="tabs__tab-title">
                                    Проект из каталога <span class="tabs__tab-highlighted-text">URL</span>
                                </span>
                                <svg class="icon hide-if-tablet" width="14" height="7" focusable="false">
                                    <use xlink:href="#icon-chevron-down" />
                                </svg>
                            </button>
                        </div>
                        <div class="tabs__content">
                            <div class="tabs__panel is-active" data-tabs-ref="content" data-id="tab-id-1">
                                <form action="/fix-me">
                                    <div class="row row--tiles">
                                        <div class="col-12 col-tablet-6">
                                            <div class="form-control">
                                                <div class="form-control__header">
                                                    <div class="form-control__label">
                                                        Технология строительства
                                                    </div>
                                                </div>
                                                <div class="form-control__body">
                                                    <div class="form-control__content">
                                                        <div class="form-checkbox">
                                                            <input class="form-checkbox__control" type="checkbox"
                                                                id="unique-1" value="frame" name="frame">
                                                            <label class="form-checkbox__label" for="unique-1">
                                                                <span class="form-checkbox__tick">
                                                                    <svg class="icon" width="10" height="10"
                                                                        focusable="false" aria-hidden="true">
                                                                        <use xlink:href="#icon-tick"></use>
                                                                    </svg>
                                                                </span>
                                                                <span class="form-checkbox__text">Каркасный</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-checkbox">
                                                            <input class="form-checkbox__control" type="checkbox"
                                                                id="unique-2" value="stone" name="stone">
                                                            <label class="form-checkbox__label" for="unique-2">
                                                                <span class="form-checkbox__tick">
                                                                    <svg class="icon" width="10" height="10"
                                                                        focusable="false" aria-hidden="true">
                                                                        <use xlink:href="#icon-tick"></use>
                                                                    </svg>
                                                                </span>
                                                                <span class="form-checkbox__text">Каменный</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-checkbox">
                                                            <input class="form-checkbox__control" type="checkbox"
                                                                id="unique-3" value="combo" name="combo">
                                                            <label class="form-checkbox__label" for="unique-3">
                                                                <span class="form-checkbox__tick">
                                                                    <svg class="icon" width="10" height="10"
                                                                        focusable="false" aria-hidden="true">
                                                                        <use xlink:href="#icon-tick"></use>
                                                                    </svg>
                                                                </span>
                                                                <span class="form-checkbox__text">Комбинированный</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-tablet-6">
                                            <div class="form-control form-control--radio">
                                                <div class="form-control__header">
                                                    <div class="form-control__label">
                                                        Этажность
                                                    </div>
                                                </div>
                                                <div class="form-control__body">
                                                    <div class="form-control__content">
                                                        <div class="form-radio">
                                                            <input class="form-radio__control" type="radio"
                                                                id="radioButton-1" value="all" name="floors" checked>
                                                            <label class="form-radio__label" for="radioButton-1">
                                                                <span class="form-radio__text">Все</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-radio">
                                                            <input class="form-radio__control" type="radio"
                                                                id="radioButton-2" value="1-floors" name="floors">
                                                            <label class="form-radio__label" for="radioButton-2">
                                                                <span class="form-radio__text">1 этаж</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-radio">
                                                            <input class="form-radio__control" type="radio"
                                                                id="radioButton-3" value="2-floors" name="floors">
                                                            <label class="form-radio__label" for="radioButton-3">
                                                                <span class="form-radio__text">2 этажа</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-radio">
                                                            <input class="form-radio__control" type="radio"
                                                                id="radioButton-4" value="mandsard" name="floors">
                                                            <label class="form-radio__label" for="radioButton-4">
                                                                <span class="form-radio__text">С мандсардой</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-tablet-6">
                                            <div class="form-control form-control--radio">
                                                <div class="form-control__header">
                                                    <div class="form-control__label">
                                                        Количество комнат
                                                    </div>
                                                </div>
                                                <div class="form-control__body">
                                                    <div class="form-control__content">
                                                        <div class="form-radio">
                                                            <input class="form-radio__control" type="radio"
                                                                id="radioButton-5" value="no-matter" name="roomCount"
                                                                checked>
                                                            <label class="form-radio__label" for="radioButton-5">
                                                                <span class="form-radio__text">Не важно</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-radio">
                                                            <input class="form-radio__control" type="radio"
                                                                id="radioButton-6" value="2-flat" name="roomCount">
                                                            <label class="form-radio__label" for="radioButton-6">
                                                                <span class="form-radio__text">2 комнаты</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-radio">
                                                            <input class="form-radio__control" type="radio"
                                                                id="radioButton-7" value="3-flat" name="roomCount">
                                                            <label class="form-radio__label" for="radioButton-7">
                                                                <span class="form-radio__text">3 комнаты</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-radio">
                                                            <input class="form-radio__control" type="radio"
                                                                id="radioButton-8" value="4-flat" name="roomCount">
                                                            <label class="form-radio__label" for="radioButton-8">
                                                                <span class="form-radio__text">4 комнаты</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-radio">
                                                            <input class="form-radio__control" type="radio"
                                                                id="radioButton-9" value="5-flat" name="roomCount">
                                                            <label class="form-radio__label" for="radioButton-9">
                                                                <span class="form-radio__text">5 комнат</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-tablet-6">
                                            <div class="form-control form-control--radio">
                                                <div class="form-control__header">
                                                    <div class="form-control__label">
                                                        Назначение
                                                    </div>
                                                </div>
                                                <div class="form-control__body">
                                                    <div class="form-control__content">
                                                        <div class="form-radio">
                                                            <input class="form-radio__control" type="radio"
                                                                id="radioButton-10" value="narrow" name="purpose"
                                                                checked>
                                                            <label class="form-radio__label" for="radioButton-10">
                                                                <span class="form-radio__text">Для узких участков</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-radio">
                                                            <input class="form-radio__control" type="radio"
                                                                id="radioButton-11" value="2-flat" name="purpose">
                                                            <label class="form-radio__label" for="radioButton-11">
                                                                <span class="form-radio__text">Для 1 семьи</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-radio">
                                                            <input class="form-radio__control" type="radio"
                                                                id="radioButton-12" value="3-flat" name="purpose">
                                                            <label class="form-radio__label" for="radioButton-12">
                                                                <span class="form-radio__text">Для 2 и более
                                                                    семей</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-radio">
                                                            <input class="form-radio__control" type="radio"
                                                                id="radioButton-13" value="4-flat" name="purpose">
                                                            <label class="form-radio__label" for="radioButton-13">
                                                                <span class="form-radio__text">Классический</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row--reverse-on-mobile row--vstart row--tiles initial-mt-16">
                                        <div class="col-12 col-tablet-6">
                                            <div class="simple-form simple-form--outside-left">
                                                <div class="simple-form__body">
                                                    <div class="simple-form__title title-type-3">
                                                        Личные данные
                                                    </div>
                                                    <div class="row row--stacked-mobile-16 initial-mt-16">
                                                        <div class="col-tablet-6">
                                                            <div class="form-input">
                                                                <label>
                                                                    <input class="form-input__control" type="text"
                                                                        placeholder="Как к Вам обращаться?" name="name">
                                                                </label>
                                                            </div>
                                                            <div class="form-input form-input--phone initial-mt-12">
                                                                <label for="phone-unique-id-1">
                                                                    <input class="form-input__control" name="phone"
                                                                        id="phone-unique-id-1" type="tel"
                                                                        placeholder="Номер телефона">
                                                                    <span class="form-input__symbol">+7</span>
                                                                </label>
                                                            </div>
                                                            <div class="form-input initial-mt-12">
                                                                <label>
                                                                    <input class="form-input__control" type="email"
                                                                        placeholder="Email адрес" name="email">
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-tablet-6">
                                                            <div class="form-textarea form-textarea--full-height">
                                                                <textarea class="form-textarea__control" name="textarea"
                                                                    placeholder="Комментарий"
                                                                    id="textarea-id"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="btn-group btn-group--column hide-if-tablet initial-mt-16">
                                                        <button
                                                            class="btn-primary btn-primary--red btn-primary--with-icon"
                                                            type="submit">
                                                            <svg class="icon" width="20" height="19" focusable="false">
                                                                <use xlink:href="#icon-calc" />
                                                            </svg>
                                                            Получить расчет
                                                        </button>
                                                        <button
                                                            class="btn-primary btn-primary--red-color btn-primary--with-icon initial-mt-16"
                                                            type="button">
                                                            <svg class="icon" width="14" height="14" focusable="false">
                                                                <use xlink:href="#icon-cross" />
                                                            </svg>
                                                            Очистить все
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="initial-mt-16 show-if-tablet">
                                                    <div class="btn-group btn-group--space-between">
                                                        <button
                                                            class="btn-primary btn-primary--red btn-primary--with-icon"
                                                            type="submit">
                                                            <svg class="icon" width="20" height="19" focusable="false">
                                                                <use xlink:href="#icon-calc" />
                                                            </svg>
                                                            Получить расчет
                                                        </button>
                                                        <button
                                                            class="btn-primary btn-primary--red-color btn-primary--with-icon"
                                                            type="button">
                                                            <svg class="icon" width="14" height="14" focusable="false">
                                                                <use xlink:href="#icon-cross" />
                                                            </svg>
                                                            Очистить все
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-tablet-6">
                                            <div class="form-control">
                                                <div class="form-control__header">
                                                    <div class="form-control__label">
                                                        Площадь
                                                    </div>
                                                </div>
                                                <div class="form-control__body">
                                                    <div class="form-control__content">
                                                        <div class="form-range" data-component="range"
                                                            data-options='{"start":[80,400],"range":{"min": 0, "max": 800}}'>
                                                            <div class="form-range__container">
                                                                <div class="form-range__range" data-range-ref="range">
                                                                </div>
                                                            </div>
                                                            <div class="form-range__inputs">
                                                                <div class="form-range__input">
                                                                    <span class="form-range__input-value"
                                                                        data-range-ref="range-min">80</span>
                                                                    м2
                                                                </div>
                                                                <div class="form-range__input">
                                                                    <span class="form-range__input-value"
                                                                        data-range-ref="range-max">400</span>
                                                                    м2
                                                                </div>
                                                                <input type="hidden" name="square"
                                                                    data-range-ref="input">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tabs__panel" data-tabs-ref="content" data-id="tab-id-2">
                                <form action="/fix-me">
                                    <div class="simple-form simple-form--medium">
                                        <div class="simple-form__body">
                                            <div class="simple-form__title title-type-3">
                                                Ссылка на проект
                                            </div>
                                            <div class="row row--stacked-mobile-16 initial-mt-20">
                                                <div class="col-tablet-6">
                                                    <div class="form-input">
                                                        <label>
                                                            <input class="form-input__control" type="text"
                                                                placeholder="Ссылка на проект" name="link">
                                                        </label>
                                                    </div>
                                                    <div class="form-textarea form-textarea--big initial-mt-12">
                                                        <textarea class="form-textarea__control" name="textarea-2"
                                                            placeholder="Комментарий" id="textarea-id-2"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-tablet-6 show-if-tablet">
                                                    <div class="form-notification">
                                                        <svg class="form-notification__icon icon" width="28" height="28"
                                                            focusable="false">
                                                            <use xlink:href="#icon-info" />
                                                        </svg>
                                                        <p class="form-notification__message">
                                                            Скопируйте URL ссылку на проект из каталога, с помощью
                                                            вашего браузера и вставьте в полне для ссылки на проект
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="simple-form">
                                        <div class="simple-form__body">
                                            <div class="simple-form__title title-type-3">
                                                Личные данные
                                            </div>
                                            <div class="row row--stacked-mobile-16 initial-mt-16">
                                                <div class="col-tablet-6">
                                                    <div class="form-input">
                                                        <label>
                                                            <input class="form-input__control" type="text"
                                                                placeholder="Как к Вам обращаться?" name="name">
                                                        </label>
                                                    </div>
                                                    <div class="form-input form-input--phone initial-mt-12">
                                                        <label for="phone-unique-id-2">
                                                            <input class="form-input__control" name="phone"
                                                                id="phone-unique-id-2" type="tel"
                                                                placeholder="Номер телефона">
                                                            <span class="form-input__symbol">+7</span>
                                                        </label>
                                                    </div>
                                                    <div class="form-input initial-mt-12">
                                                        <label>
                                                            <input class="form-input__control" type="email"
                                                                placeholder="Email адрес" name="email">
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-tablet-6">
                                                    <div class="form-textarea form-textarea--full-height">
                                                        <textarea class="form-textarea__control" name="textarea-3"
                                                            placeholder="Комментарий" id="textarea-id-3"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="btn-group btn-group--column hide-if-tablet initial-mt-16">
                                                <button class="btn-primary btn-primary--red btn-primary--with-icon"
                                                    type="submit">
                                                    <svg class="icon" width="20" height="19" focusable="false">
                                                        <use xlink:href="#icon-calc" />
                                                    </svg>
                                                    Получить расчет
                                                </button>
                                                <button
                                                    class="btn-primary btn-primary--red-color btn-primary--with-icon initial-mt-16"
                                                    type="button">
                                                    <svg class="icon" width="14" height="14" focusable="false">
                                                        <use xlink:href="#icon-cross" />
                                                    </svg>
                                                    Очистить все
                                                </button>
                                            </div>
                                        </div>
                                        <div class="initial-mt-16 show-if-tablet">
                                            <div class="btn-group btn-group--space-between ">
                                                <button class="btn-primary btn-primary--red btn-primary--with-icon"
                                                    type="submit">
                                                    <svg class="icon" width="20" height="19" focusable="false">
                                                        <use xlink:href="#icon-calc" />
                                                    </svg>
                                                    Получить расчет
                                                </button>
                                                <button
                                                    class="btn-primary btn-primary--red-color btn-primary--with-icon"
                                                    type="button">
                                                    <svg class="icon" width="14" height="14" focusable="false">
                                                        <use xlink:href="#icon-cross" />
                                                    </svg>
                                                    Очистить все
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
