<section class="section section--grey section--filters-and-listing">
    <div class="section__head">
        <div class="container">
            <div class="section__row">
                <div class="section__heading">
                    <ul class="breadcrumb">
                        <li class="breadcrumb__item">
                            <a class="breadcrumb__link" href="/fix-me">Строительство домов</a>
                        </li>
                        <li class="breadcrumb__item">
                            <span class="breadcrumb__link">Проекты домов</span>
                        </li>
                    </ul>
                    <h1 class="section__title title-type-2 initial-mt-0 desktop-mt-10">Каталог проектов</h1>
                </div>
                <div class="show-if-tablet">
                    <div class="section__info">
                        <div class="section__info-value">
                            > 700
                        </div>
                        Проектов домов
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section__content">
        <div class="container">
            <div class="row">
                <div class="col-tablet-4 show-if-tablet">
                    <div class="form-control form-control--accordion is-active" data-component="accordion">
                        <div class="form-control__header" data-accordion-ref="trigger">
                            <div class="form-control__label">
                                Технология строительства
                            </div>
                            <svg class="form-control__icon icon" width="10" height="5" focusable="false">
                                <use xlink:href="#icon-chevron-down" />
                            </svg>
                        </div>
                        <div class="form-control__body" data-accordion-ref="content">
                            <div class="form-control__content">
                                <div class="form-checkbox">
                                    <input class="form-checkbox__control" type="checkbox" id="unique-id-catalog-1"
                                        value="frame" name="frame">
                                    <label class="form-checkbox__label" for="unique-id-catalog-1">
                                        <span class="form-checkbox__tick">
                                            <svg class="icon" width="10" height="10" focusable="false"
                                                aria-hidden="true">
                                                <use xlink:href="#icon-tick"></use>
                                            </svg>
                                        </span>
                                        <span class="form-checkbox__text">Каркасный</span>
                                    </label>
                                </div>
                                <div class="form-checkbox">
                                    <input class="form-checkbox__control" type="checkbox" id="unique-id-catalog-2"
                                        value="stone" name="stone">
                                    <label class="form-checkbox__label" for="unique-id-catalog-2">
                                        <span class="form-checkbox__tick">
                                            <svg class="icon" width="10" height="10" focusable="false"
                                                aria-hidden="true">
                                                <use xlink:href="#icon-tick"></use>
                                            </svg>
                                        </span>
                                        <span class="form-checkbox__text">Каменный</span>
                                    </label>
                                </div>
                                <div class="form-checkbox">
                                    <input class="form-checkbox__control" type="checkbox" id="unique-id-catalog-3"
                                        value="combo" name="combo">
                                    <label class="form-checkbox__label" for="unique-id-catalog-3">
                                        <span class="form-checkbox__tick">
                                            <svg class="icon" width="10" height="10" focusable="false"
                                                aria-hidden="true">
                                                <use xlink:href="#icon-tick"></use>
                                            </svg>
                                        </span>
                                        <span class="form-checkbox__text">Комбинированный</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-control form-control--radio form-control--accordion is-active"
                        data-component="accordion">
                        <div class="form-control__header" data-accordion-ref="trigger">
                            <div class="form-control__label">
                                Этажность
                            </div>
                            <svg class="form-control__icon icon" width="10" height="5" focusable="false">
                                <use xlink:href="#icon-chevron-down" />
                            </svg>
                        </div>
                        <div class="form-control__body" data-accordion-ref="content">
                            <div class="form-control__content">
                                <div class="form-radio">
                                    <input class="form-radio__control" type="radio" id="radioButton-unique-id-catalog-1"
                                        value="all" name="floors" checked>
                                    <label class="form-radio__label" for="radioButton-unique-id-catalog-1">
                                        <span class="form-radio__text">Все</span>
                                    </label>
                                </div>
                                <div class="form-radio">
                                    <input class="form-radio__control" type="radio" id="radioButton-unique-id-catalog-2"
                                        value="1-floors" name="floors">
                                    <label class="form-radio__label" for="radioButton-unique-id-catalog-2">
                                        <span class="form-radio__text">1 этаж</span>
                                    </label>
                                </div>
                                <div class="form-radio">
                                    <input class="form-radio__control" type="radio" id="radioButton-unique-id-catalog-3"
                                        value="2-floors" name="floors">
                                    <label class="form-radio__label" for="radioButton-unique-id-catalog-3">
                                        <span class="form-radio__text">2 этажа</span>
                                    </label>
                                </div>
                                <div class="form-radio">
                                    <input class="form-radio__control" type="radio" id="radioButton-unique-id-catalog-4"
                                        value="mandsard" name="floors">
                                    <label class="form-radio__label" for="radioButton-unique-id-catalog-4">
                                        <span class="form-radio__text">С мандсардой</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-control form-control--radio form-control--accordion is-active"
                        data-component="accordion">
                        <div class="form-control__header" data-accordion-ref="trigger">
                            <div class="form-control__label">
                                Количество комнат
                            </div>
                            <svg class="form-control__icon icon" width="10" height="5" focusable="false">
                                <use xlink:href="#icon-chevron-down" />
                            </svg>
                        </div>
                        <div class="form-control__body" data-accordion-ref="content">
                            <div class="form-control__content">
                                <div class="form-radio">
                                    <input class="form-radio__control" type="radio" id="radioButton-unique-id-catalog-5"
                                        value="no-matter" name="roomCount" checked>
                                    <label class="form-radio__label" for="radioButton-unique-id-catalog-5">
                                        <span class="form-radio__text">Не важно</span>
                                    </label>
                                </div>
                                <div class="form-radio">
                                    <input class="form-radio__control" type="radio" id="radioButton-unique-id-catalog-6"
                                        value="2-flat" name="roomCount">
                                    <label class="form-radio__label" for="radioButton-unique-id-catalog-6">
                                        <span class="form-radio__text">2 комнаты</span>
                                    </label>
                                </div>
                                <div class="form-radio">
                                    <input class="form-radio__control" type="radio" id="radioButton-unique-id-catalog-7"
                                        value="3-flat" name="roomCount">
                                    <label class="form-radio__label" for="radioButton-unique-id-catalog-7">
                                        <span class="form-radio__text">3 комнаты</span>
                                    </label>
                                </div>
                                <div class="form-radio">
                                    <input class="form-radio__control" type="radio" id="radioButton-unique-id-catalog-8"
                                        value="4-flat" name="roomCount">
                                    <label class="form-radio__label" for="radioButton-unique-id-catalog-8">
                                        <span class="form-radio__text">4 комнаты</span>
                                    </label>
                                </div>
                                <div class="form-radio">
                                    <input class="form-radio__control" type="radio" id="radioButton-unique-id-catalog-9"
                                        value="5-flat" name="roomCount">
                                    <label class="form-radio__label" for="radioButton-unique-id-catalog-9">
                                        <span class="form-radio__text">5 комнат</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-control form-control--radio form-control--accordion is-active"
                        data-component="accordion">
                        <div class="form-control__header" data-accordion-ref="trigger">
                            <div class="form-control__label">
                                Назначение
                            </div>
                            <svg class="form-control__icon icon" width="10" height="5" focusable="false">
                                <use xlink:href="#icon-chevron-down" />
                            </svg>
                        </div>
                        <div class="form-control__body" data-accordion-ref="content">
                            <div class="form-control__content">
                                <div class="form-radio">
                                    <input class="form-radio__control" type="radio"
                                        id="radioButton-unique-id-catalog-10" value="narrow" name="purpose" checked>
                                    <label class="form-radio__label" for="radioButton-unique-id-catalog-10">
                                        <span class="form-radio__text">Для узких участков</span>
                                    </label>
                                </div>
                                <div class="form-radio">
                                    <input class="form-radio__control" type="radio"
                                        id="radioButton-unique-id-catalog-11" value="2-flat" name="purpose">
                                    <label class="form-radio__label" for="radioButton-unique-id-catalog-11">
                                        <span class="form-radio__text">Для 1 семьи</span>
                                    </label>
                                </div>
                                <div class="form-radio">
                                    <input class="form-radio__control" type="radio"
                                        id="radioButton-unique-id-catalog-12" value="3-flat" name="purpose">
                                    <label class="form-radio__label" for="radioButton-unique-id-catalog-12">
                                        <span class="form-radio__text">Для 2 и более семей</span>
                                    </label>
                                </div>
                                <div class="form-radio">
                                    <input class="form-radio__control" type="radio"
                                        id="radioButton-unique-id-catalog-13" value="4-flat" name="purpose">
                                    <label class="form-radio__label" for="radioButton-unique-id-catalog-13">
                                        <span class="form-radio__text">Классический</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-control form-control--two-columns form-control--accordion is-active"
                        data-component="accordion">
                        <div class="form-control__header" data-accordion-ref="trigger">
                            <div class="form-control__label">
                                Крыша
                            </div>
                            <svg class="form-control__icon icon" width="10" height="5" focusable="false">
                                <use xlink:href="#icon-chevron-down" />
                            </svg>
                        </div>
                        <div class="form-control__body" data-accordion-ref="content">
                            <div class="form-control__content">
                                <div class="form-checkbox">
                                    <input class="form-checkbox__control" type="checkbox" id="unique-id-catalog-4"
                                        value="1" name="roof-1">
                                    <label class="form-checkbox__label" for="unique-id-catalog-4">
                                        <span class="form-checkbox__tick">
                                            <svg class="icon" width="10" height="10" focusable="false"
                                                aria-hidden="true">
                                                <use xlink:href="#icon-tick"></use>
                                            </svg>
                                        </span>
                                        <span class="form-checkbox__text">Односкатная</span>
                                    </label>
                                </div>
                                <div class="form-checkbox">
                                    <input class="form-checkbox__control" type="checkbox" id="unique-id-catalog-5"
                                        value="2" name="roof-2">
                                    <label class="form-checkbox__label" for="unique-id-catalog-5">
                                        <span class="form-checkbox__tick">
                                            <svg class="icon" width="10" height="10" focusable="false"
                                                aria-hidden="true">
                                                <use xlink:href="#icon-tick"></use>
                                            </svg>
                                        </span>
                                        <span class="form-checkbox__text">Двухскатная</span>
                                    </label>
                                </div>
                                <div class="form-checkbox">
                                    <input class="form-checkbox__control" type="checkbox" id="unique-id-catalog-6"
                                        value="4" name="roof-4">
                                    <label class="form-checkbox__label" for="unique-id-catalog-6">
                                        <span class="form-checkbox__tick">
                                            <svg class="icon" width="10" height="10" focusable="false"
                                                aria-hidden="true">
                                                <use xlink:href="#icon-tick"></use>
                                            </svg>
                                        </span>
                                        <span class="form-checkbox__text">Четырехскатная</span>
                                    </label>
                                </div>
                                <div class="form-checkbox">
                                    <input class="form-checkbox__control" type="checkbox" id="unique-id-catalog-7"
                                        value="complex" name="complex">
                                    <label class="form-checkbox__label" for="unique-id-catalog-7">
                                        <span class="form-checkbox__tick">
                                            <svg class="icon" width="10" height="10" focusable="false"
                                                aria-hidden="true">
                                                <use xlink:href="#icon-tick"></use>
                                            </svg>
                                        </span>
                                        <span class="form-checkbox__text">Сложная</span>
                                    </label>
                                </div>
                                <div class="form-checkbox">
                                    <input class="form-checkbox__control" type="checkbox" id="unique-id-catalog-8"
                                        value="plane" name="plane">
                                    <label class="form-checkbox__label" for="unique-id-catalog-8">
                                        <span class="form-checkbox__tick">
                                            <svg class="icon" width="10" height="10" focusable="false"
                                                aria-hidden="true">
                                                <use xlink:href="#icon-tick"></use>
                                            </svg>
                                        </span>
                                        <span class="form-checkbox__text">Плоская</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-control form-control--accordion is-active" data-component="accordion">
                        <div class="form-control__header" data-accordion-ref="trigger">
                            <div class="form-control__label">
                                Ценовой диапазон
                            </div>
                            <svg class="form-control__icon icon" width="10" height="5" focusable="false">
                                <use xlink:href="#icon-chevron-down" />
                            </svg>
                        </div>
                        <div class="form-control__body" data-accordion-ref="content">
                            <div class="form-control__content">
                                <div class="form-range" data-component="range"
                                    data-options='{"start":[4000000,6000000],"range":{"min": 0, "max": 10000000}, "step": 100000, "margin": 100000}'>
                                    <div class="form-range__container">
                                        <div class="form-range__range" data-range-ref="range"></div>
                                    </div>
                                    <div class="form-range__inputs">
                                        <div class="form-range__input">
                                            <span class="form-range__input-value"
                                                data-range-ref="range-min">1000000</span>
                                            ₽
                                        </div>
                                        <div class="form-range__input">
                                            <span class="form-range__input-value"
                                                data-range-ref="range-max">6000000</span>
                                            ₽
                                        </div>
                                        <input type="hidden" name="price" data-range-ref="input">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-control form-control--accordion is-active" data-component="accordion">
                        <div class="form-control__header" data-accordion-ref="trigger">
                            <div class="form-control__label">
                                Площадь
                            </div>
                            <svg class="form-control__icon icon" width="10" height="5" focusable="false">
                                <use xlink:href="#icon-chevron-down" />
                            </svg>
                        </div>
                        <div class="form-control__body" data-accordion-ref="content">
                            <div class="form-control__content">
                                <div class="form-range" data-component="range"
                                    data-options='{"start":[80,400],"range":{"min": 0, "max": 800}}'>
                                    <div class="form-range__container">
                                        <div class="form-range__range" data-range-ref="range"></div>
                                    </div>
                                    <div class="form-range__inputs">
                                        <div class="form-range__input">
                                            <span class="form-range__input-value" data-range-ref="range-min">80</span>
                                            м2
                                        </div>
                                        <div class="form-range__input">
                                            <span class="form-range__input-value" data-range-ref="range-max">400</span>
                                            м2
                                        </div>
                                        <input type="hidden" name="square" data-range-ref="input">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-control form-control--two-columns form-control--accordion is-active"
                        data-component="accordion">
                        <div class="form-control__header" data-accordion-ref="trigger">
                            <div class="form-control__label">
                                Архитектурный стиль
                            </div>
                            <svg class="form-control__icon icon" width="10" height="5" focusable="false">
                                <use xlink:href="#icon-chevron-down" />
                            </svg>
                        </div>
                        <div class="form-control__body" data-accordion-ref="content">
                            <div class="form-control__content">
                                <div class="form-checkbox">
                                    <input class="form-checkbox__control" type="checkbox" id="unique-id-catalog-9"
                                        value="1" name="style-1">
                                    <label class="form-checkbox__label" for="unique-id-catalog-9">
                                        <span class="form-checkbox__tick">
                                            <svg class="icon" width="10" height="10" focusable="false"
                                                aria-hidden="true">
                                                <use xlink:href="#icon-tick"></use>
                                            </svg>
                                        </span>
                                        <span class="form-checkbox__text">Шале</span>
                                    </label>
                                </div>
                                <div class="form-checkbox">
                                    <input class="form-checkbox__control" type="checkbox" id="unique-id-catalog-10"
                                        value="2" name="style-2">
                                    <label class="form-checkbox__label" for="unique-id-catalog-10">
                                        <span class="form-checkbox__tick">
                                            <svg class="icon" width="10" height="10" focusable="false"
                                                aria-hidden="true">
                                                <use xlink:href="#icon-tick"></use>
                                            </svg>
                                        </span>
                                        <span class="form-checkbox__text">Современный</span>
                                    </label>
                                </div>
                                <div class="form-checkbox">
                                    <input class="form-checkbox__control" type="checkbox" id="unique-id-catalog-11"
                                        value="3" name="style-3">
                                    <label class="form-checkbox__label" for="unique-id-catalog-11">
                                        <span class="form-checkbox__tick">
                                            <svg class="icon" width="10" height="10" focusable="false"
                                                aria-hidden="true">
                                                <use xlink:href="#icon-tick"></use>
                                            </svg>
                                        </span>
                                        <span class="form-checkbox__text">Хай-тек</span>
                                    </label>
                                </div>
                                <div class="form-checkbox">
                                    <input class="form-checkbox__control" type="checkbox" id="unique-id-catalog-12"
                                        value="4" name="style-4">
                                    <label class="form-checkbox__label" for="unique-id-catalog-12">
                                        <span class="form-checkbox__tick">
                                            <svg class="icon" width="10" height="10" focusable="false"
                                                aria-hidden="true">
                                                <use xlink:href="#icon-tick"></use>
                                            </svg>
                                        </span>
                                        <span class="form-checkbox__text">Лофт</span>
                                    </label>
                                </div>
                                <div class="form-checkbox">
                                    <input class="form-checkbox__control" type="checkbox" id="unique-id-catalog-13"
                                        value="5" name="style-5">
                                    <label class="form-checkbox__label" for="unique-id-catalog-13">
                                        <span class="form-checkbox__tick">
                                            <svg class="icon" width="10" height="10" focusable="false"
                                                aria-hidden="true">
                                                <use xlink:href="#icon-tick"></use>
                                            </svg>
                                        </span>
                                        <span class="form-checkbox__text">Прованс</span>
                                    </label>
                                </div>
                                <div class="form-checkbox">
                                    <input class="form-checkbox__control" type="checkbox" id="unique-id-catalog-14"
                                        value="6" name="style-6">
                                    <label class="form-checkbox__label" for="unique-id-catalog-14">
                                        <span class="form-checkbox__tick">
                                            <svg class="icon" width="10" height="10" focusable="false"
                                                aria-hidden="true">
                                                <use xlink:href="#icon-tick"></use>
                                            </svg>
                                        </span>
                                        <span class="form-checkbox__text">Минимализм</span>
                                    </label>
                                </div>
                                <div class="form-checkbox">
                                    <input class="form-checkbox__control" type="checkbox" id="unique-id-catalog-15"
                                        value="7" name="style-7">
                                    <label class="form-checkbox__label" for="unique-id-catalog-15">
                                        <span class="form-checkbox__tick">
                                            <svg class="icon" width="10" height="10" focusable="false"
                                                aria-hidden="true">
                                                <use xlink:href="#icon-tick"></use>
                                            </svg>
                                        </span>
                                        <span class="form-checkbox__text">Классический</span>
                                    </label>
                                </div>
                                <div class="form-checkbox">
                                    <input class="form-checkbox__control" type="checkbox" id="unique-id-catalog-16"
                                        value="8" name="style-8">
                                    <label class="form-checkbox__label" for="unique-id-catalog-16">
                                        <span class="form-checkbox__tick">
                                            <svg class="icon" width="10" height="10" focusable="false"
                                                aria-hidden="true">
                                                <use xlink:href="#icon-tick"></use>
                                            </svg>
                                        </span>
                                        <span class="form-checkbox__text">Барнхаус</span>
                                    </label>
                                </div>
                                <div class="form-checkbox">
                                    <input class="form-checkbox__control" type="checkbox" id="unique-id-catalog-17"
                                        value="9" name="style-9">
                                    <label class="form-checkbox__label" for="unique-id-catalog-17">
                                        <span class="form-checkbox__tick">
                                            <svg class="icon" width="10" height="10" focusable="false"
                                                aria-hidden="true">
                                                <use xlink:href="#icon-tick"></use>
                                            </svg>
                                        </span>
                                        <span class="form-checkbox__text">Немецкий</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="filter-buttons initial-mt-16">
                        <button class="btn-primary btn-primary--red btn-primary--with-icon" type="submit">
                            <svg class="icon" width="15" height="14" focusable="false">
                                <use xlink:href="#icon-arrow-right" />
                            </svg>
                            Показать проекты 234 шт.
                        </button>
                        <button class="btn-primary btn-primary--red-color btn-primary--with-icon initial-mt-15"
                            type="button">
                            <svg class="icon" width="14" height="14" focusable="false">
                                <use xlink:href="#icon-cross" />
                            </svg>
                            Сбросить фильтры
                        </button>
                    </div>
                    <a class="image-card image-card--small image-card--type-8 image-card--sticky-top initial-mt-16"
                        href="/fix-me">
                        <div class="image-card__media">
                            <img class="lazyload" data-src="images/calculator.jpg"
                                alt="Посчитаем, сколько будет стоить ваш дом!">
                        </div>
                        <div class="image-card__content">
                            <h3 class="image-card__title image-card__title initial-mb-65">
                                Посчитаем, сколько будет стоить ваш дом!
                            </h3>
                            <div class="image-card__link btn-primary btn-primary--with-icon">
                                <svg class="icon" width="15" height="14" focusable="false">
                                    <use xlink:href="#icon-arrow-right" />
                                </svg>
                                Калькулятор
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-tablet-8">
                    <div class="tags initial-mb-16 tablet-mb-30" data-component="tags">
                        <ul class="tags__list">
                            <li class="tags__item" data-tags-ref="item">
                                <a class="tags__link is-active" href="/fix-me">Каркасные дома 12х12</a>
                            </li>
                            <li class="tags__item" data-tags-ref="item">
                                <a class="tags__link" href="/fix-me">Каркасные дома 12х12</a>
                            </li>
                            <li class="tags__item" data-tags-ref="item">
                                <a class="tags__link" href="/fix-me">Кирпичные дома</a>
                            </li>
                            <li class="tags__item" data-tags-ref="item">
                                <a class="tags__link" href="/fix-me">Дома 13х13</a>
                            </li>
                            <li class="tags__item" data-tags-ref="item">
                                <a class="tags__link" href="/fix-me">Кипрпичные дом 20х20</a>
                            </li>
                            <li class="tags__item" data-tags-ref="item">
                                <a class="tags__link" href="/fix-me">Дома &#x3c; 300 м2</a>
                            </li>
                            <li class="tags__item is-hidden" data-tags-ref="item">
                                <a class="tags__link" href="/fix-me">5x4</a>
                            </li>
                            <li class="tags__item is-hidden" data-tags-ref="item">
                                <a class="tags__link" href="/fix-me">4x4</a>
                            </li>
                            <li class="tags__item is-hidden" data-tags-ref="item">
                                <a class="tags__link" href="/fix-me">4x5</a>
                            </li>
                            <li class="tags__item is-hidden" data-tags-ref="item">
                                <a class="tags__link" href="/fix-me">5x5</a>
                            </li>
                            <li class="tags__item is-hidden" data-tags-ref="item">
                                <a class="tags__link" href="/fix-me">4x6</a>
                            </li>
                            <li class="tags__item is-hidden" data-tags-ref="item">
                                <a class="tags__link" href="/fix-me">4x7</a>
                            </li>
                            <li class="tags__item is-hidden" data-tags-ref="item">
                                <a class="tags__link" href="/fix-me">4x8</a>
                            </li>
                            <li class="tags__item is-hidden" data-tags-ref="item">
                                <a class="tags__link" href="/fix-me">5x6</a>
                            </li>
                            <li class="tags__item is-hidden" data-tags-ref="item">
                                <a class="tags__link" href="/fix-me">6x6</a>
                            </li>
                            <li class="tags__item is-hidden" data-tags-ref="item">
                                <a class="tags__link" href="/fix-me">5x8</a>
                            </li>
                            <li class="tags__item is-hidden" data-tags-ref="item">
                                <a class="tags__link" href="/fix-me">5x8</a>
                            </li>
                            <li class="tags__item is-hidden" data-tags-ref="item">
                                <a class="tags__link" href="/fix-me">5x10</a>
                            </li>
                            <li class="tags__item is-hidden" data-tags-ref="item">
                                <a class="tags__link" href="/fix-me">6x5</a>
                            </li>
                            <li class="tags__item" data-tags-ref="show-all">
                                <button class="tags__link tags__link--action" type="button">
                                    <svg class="icon" width="19" height="19" focusable="false">
                                        <use xlink:href="#icon-plus-outlined" />
                                    </svg>
                                    Показать все
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="show-if-tablet">
                        <div class="form-select-row initial-mb-20">
                            <div class="form-select-row__item">
                                <div class="form-select" data-component="select">
                                    <div class="form-select__label">Показывать по: </div>
                                    <button class="form-select__btn" type="button" data-select-ref="selectBtn">
                                        <span data-select-ref="selectValue">60</span>

                                        <svg class="icon" width="10" height="5" focusable="false">
                                            <use xlink:href="#icon-chevron-down" />
                                        </svg>
                                    </button>
                                    <div class="form-select__list" data-select-ref="selectList">
                                        <ul class="submenu">
                                            <li class="submenu__item">
                                                <span class="submenu__link submenu__link--grey">Показывать по:</span>
                                            </li>
                                            <li class="submenu__item">
                                                <button class="submenu__link" type="button" data-select-ref="optionBtn"
                                                    data-value="60">По
                                                    60</button>
                                            </li>
                                            <li class="submenu__item">
                                                <button class="submenu__link" type="button" data-select-ref="optionBtn"
                                                    data-value="80">По
                                                    80</button>
                                            </li>
                                            <li class="submenu__item">
                                                <button class="submenu__link" type="button" data-select-ref="optionBtn"
                                                    data-value="100">По
                                                    100</button>
                                            </li>
                                            <li class="submenu__item">
                                                <button class="submenu__link" type="button" data-select-ref="optionBtn"
                                                    data-value="120">По
                                                    120</button>
                                            </li>
                                            <li class="submenu__item">
                                                <button class="submenu__link" type="button" data-select-ref="optionBtn"
                                                    data-value="Показывать все">Показывать все</button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-select-row__item">
                                <div class="form-select" data-component="select">
                                    <div class="form-select__label">Сортировать по:</div>
                                    <button class="form-select__btn" type="button" data-select-ref="selectBtn">
                                        <span data-select-ref="selectValue">Убыванию цены</span>

                                        <svg class="icon" width="10" height="5" focusable="false">
                                            <use xlink:href="#icon-chevron-down" />
                                        </svg>
                                    </button>
                                    <div class="form-select__list" data-select-ref="selectList">
                                        <ul class="submenu">
                                            <li class="submenu__item">
                                                <span class="submenu__link submenu__link--grey">Сортировать по:</span>
                                            </li>
                                            <li class="submenu__item">
                                                <button class="submenu__link" type="button" data-select-ref="optionBtn"
                                                    data-value="Убыванию цены">Убыванию цены</button>
                                            </li>
                                            <li class="submenu__item">
                                                <button class="submenu__link" type="button" data-select-ref="optionBtn"
                                                    data-value="Возрастанию цены">Возрастанию цены</button>
                                            </li>
                                            <li class="submenu__item">
                                                <button class="submenu__link" type="button" data-select-ref="optionBtn"
                                                    data-value="По площади Мин.">По
                                                    площади Мин.</button>
                                            </li>
                                            <li class="submenu__item">
                                                <button class="submenu__link" type="button" data-select-ref="optionBtn"
                                                    data-value="По площади Макс.">По
                                                    площади Макс.</button>
                                            </li>
                                            <li class="submenu__item">
                                                <button class="submenu__link" type="button" data-select-ref="optionBtn"
                                                    data-value="По популярности">По
                                                    популярности</button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hr initial-mb-16"></div>
                    </div>
                    <div class="row row--tiles">
                        <div class="col-12 col-tablet-6">
                            <div class="card card--popular">
                                <a class="card__media" href="/fix-me">
                                    <span class="card__badge">
                                        <svg class="icon" width="16" height="16" focusable="false">
                                            <use xlink:href="#icon-tick-in-circle" />
                                        </svg>
                                        Топ проект
                                    </span>
                                    <img class="lazyload" data-src="images/home-1.jpg" alt="Импала">
                                </a>
                                <div class="card__content">
                                    <h3 class="card__title title-type-3 initial-mb-8">
                                        <a class="card__link" href="/fix-me">Импала</a>
                                    </h3>
                                    <ul class="card__info key-info">
                                        <li class="key-info__item">Дом под ключ: <span class="key-info__item-value">8,3
                                                х
                                                8,8
                                                м2.</span></li>
                                        <li class="key-info__item">Общая площадь: <span class="key-info__item-value">322
                                                м2</span>
                                        </li>
                                    </ul>
                                    <div class="hr initial-m-15"></div>
                                    <div class="card__price">
                                        <span class="card__price-label">Стоимость от:</span>
                                        <span class="card__price-value">2 000 000 ₽</span>
                                        <span class="card__price-label">Возможна индивидуальная планировка</span>
                                    </div>
                                    <div class="card__btn-group initial-mt-35">
                                        <a class="card__btn btn-primary btn-primary--with-icon" href="/fix-me">
                                            <svg class="icon" width="15" height="14" focusable="false">
                                                <use xlink:href="#icon-arrow-right" />
                                            </svg>
                                            Посмотреть проект
                                        </a>
                                        <button class="card__btn-favorites btn" type="button">
                                            <svg class="icon" width="23" height="19" focusable="false">
                                                <use xlink:href="#icon-heart" />
                                            </svg>
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-tablet-6">
                            <div class="card card--popular">
                                <a class="card__media" href="/fix-me">
                                    <span class="card__badge">
                                        <svg class="icon" width="16" height="16" focusable="false">
                                            <use xlink:href="#icon-tick-in-circle" />
                                        </svg>
                                        Топ проект
                                    </span>
                                    <img class="lazyload" data-src="images/home-2.jpg" alt="Импала">
                                </a>
                                <div class="card__content">
                                    <h3 class="card__title title-type-3 initial-mb-8">
                                        <a class="card__link" href="/fix-me">Воудлер</a>
                                    </h3>
                                    <ul class="card__info key-info">
                                        <li class="key-info__item">Дом под ключ: <span class="key-info__item-value">8,3
                                                х
                                                8,8
                                                м2.</span></li>
                                        <li class="key-info__item">Общая площадь: <span class="key-info__item-value">322
                                                м2</span>
                                        </li>
                                    </ul>
                                    <div class="hr initial-m-15"></div>
                                    <div class="card__price">
                                        <span class="card__price-label">Стоимость от:</span>
                                        <span class="card__price-value">2 170 000 ₽</span>
                                        <span class="card__price-label">Возможна индивидуальная планировка</span>
                                    </div>
                                    <div class="card__btn-group initial-mt-35">
                                        <a class="card__btn btn-primary btn-primary--with-icon" href="/fix-me">
                                            <svg class="icon" width="15" height="14" focusable="false">
                                                <use xlink:href="#icon-arrow-right" />
                                            </svg>
                                            Посмотреть проект
                                        </a>
                                        <button class="card__btn-favorites btn" type="button">
                                            <svg class="icon" width="23" height="19" focusable="false">
                                                <use xlink:href="#icon-heart" />
                                            </svg>
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-tablet-6">
                            <div class="card card--popular">
                                <a class="card__media" href="/fix-me">
                                    <span class="card__badge">
                                        <svg class="icon" width="16" height="16" focusable="false">
                                            <use xlink:href="#icon-tick-in-circle" />
                                        </svg>
                                        Топ проект
                                    </span>
                                    <img class="lazyload" data-src="images/home-3.jpg" alt="Импала">
                                </a>
                                <div class="card__content">
                                    <h3 class="card__title title-type-3 initial-mb-8">
                                        <a class="card__link" href="/fix-me">Валенсия</a>
                                    </h3>
                                    <ul class="card__info key-info">
                                        <li class="key-info__item">Дом под ключ: <span class="key-info__item-value">8,3
                                                х
                                                8,8
                                                м2.</span></li>
                                        <li class="key-info__item">Общая площадь: <span class="key-info__item-value">322
                                                м2</span>
                                        </li>
                                    </ul>
                                    <div class="hr initial-m-15"></div>
                                    <div class="card__price">
                                        <span class="card__price-label">Стоимость от:</span>
                                        <span class="card__price-value">3 200 000 ₽</span>
                                        <span class="card__price-label">Возможна индивидуальная планировка</span>
                                    </div>
                                    <div class="card__btn-group initial-mt-35">
                                        <a class="card__btn btn-primary btn-primary--with-icon" href="/fix-me">
                                            <svg class="icon" width="15" height="14" focusable="false">
                                                <use xlink:href="#icon-arrow-right" />
                                            </svg>
                                            Посмотреть проект
                                        </a>
                                        <button class="card__btn-favorites btn" type="button">
                                            <svg class="icon" width="23" height="19" focusable="false">
                                                <use xlink:href="#icon-heart" />
                                            </svg>
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-tablet-6">
                            <div class="card card--popular">
                                <a class="card__media" href="/fix-me">
                                    <span class="card__badge">
                                        <svg class="icon" width="16" height="16" focusable="false">
                                            <use xlink:href="#icon-tick-in-circle" />
                                        </svg>
                                        Топ проект
                                    </span>
                                    <img class="lazyload" data-src="images/home-1.jpg" alt="Импала">
                                </a>
                                <div class="card__content">
                                    <h3 class="card__title title-type-3 initial-mb-8">
                                        <a class="card__link" href="/fix-me">Импала</a>
                                    </h3>
                                    <ul class="card__info key-info">
                                        <li class="key-info__item">Дом под ключ: <span class="key-info__item-value">8,3
                                                х
                                                8,8
                                                м2.</span></li>
                                        <li class="key-info__item">Общая площадь: <span class="key-info__item-value">322
                                                м2</span>
                                        </li>
                                    </ul>
                                    <div class="hr initial-m-15"></div>
                                    <div class="card__price">
                                        <span class="card__price-label">Стоимость от:</span>
                                        <span class="card__price-value">2 000 000 ₽</span>
                                        <span class="card__price-label">Возможна индивидуальная планировка</span>
                                    </div>
                                    <div class="card__btn-group initial-mt-35">
                                        <a class="card__btn btn-primary btn-primary--with-icon" href="/fix-me">
                                            <svg class="icon" width="15" height="14" focusable="false">
                                                <use xlink:href="#icon-arrow-right" />
                                            </svg>
                                            Посмотреть проект
                                        </a>
                                        <button class="card__btn-favorites btn" type="button">
                                            <svg class="icon" width="23" height="19" focusable="false">
                                                <use xlink:href="#icon-heart" />
                                            </svg>
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-tablet-6">
                            <div class="card card--popular">
                                <a class="card__media" href="/fix-me">
                                    <span class="card__badge">
                                        <svg class="icon" width="16" height="16" focusable="false">
                                            <use xlink:href="#icon-tick-in-circle" />
                                        </svg>
                                        Топ проект
                                    </span>
                                    <img class="lazyload" data-src="images/home-2.jpg" alt="Импала">
                                </a>
                                <div class="card__content">
                                    <h3 class="card__title title-type-3 initial-mb-8">
                                        <a class="card__link" href="/fix-me">Воудлер</a>
                                    </h3>
                                    <ul class="card__info key-info">
                                        <li class="key-info__item">Дом под ключ: <span class="key-info__item-value">8,3
                                                х
                                                8,8
                                                м2.</span></li>
                                        <li class="key-info__item">Общая площадь: <span class="key-info__item-value">322
                                                м2</span>
                                        </li>
                                    </ul>
                                    <div class="hr initial-m-15"></div>
                                    <div class="card__price">
                                        <span class="card__price-label">Стоимость от:</span>
                                        <span class="card__price-value">2 170 000 ₽</span>
                                        <span class="card__price-label">Возможна индивидуальная планировка</span>
                                    </div>
                                    <div class="card__btn-group initial-mt-35">
                                        <a class="card__btn btn-primary btn-primary--with-icon" href="/fix-me">
                                            <svg class="icon" width="15" height="14" focusable="false">
                                                <use xlink:href="#icon-arrow-right" />
                                            </svg>
                                            Посмотреть проект
                                        </a>
                                        <button class="card__btn-favorites btn" type="button">
                                            <svg class="icon" width="23" height="19" focusable="false">
                                                <use xlink:href="#icon-heart" />
                                            </svg>
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-tablet-6">
                            <div class="card card--popular">
                                <a class="card__media" href="/fix-me">
                                    <span class="card__badge">
                                        <svg class="icon" width="16" height="16" focusable="false">
                                            <use xlink:href="#icon-tick-in-circle" />
                                        </svg>
                                        Топ проект
                                    </span>
                                    <img class="lazyload" data-src="images/home-3.jpg" alt="Импала">
                                </a>
                                <div class="card__content">
                                    <h3 class="card__title title-type-3 initial-mb-8">
                                        <a class="card__link" href="/fix-me">Валенсия</a>
                                    </h3>
                                    <ul class="card__info key-info">
                                        <li class="key-info__item">Дом под ключ: <span class="key-info__item-value">8,3
                                                х
                                                8,8
                                                м2.</span></li>
                                        <li class="key-info__item">Общая площадь: <span class="key-info__item-value">322
                                                м2</span>
                                        </li>
                                    </ul>
                                    <div class="hr initial-m-15"></div>
                                    <div class="card__price">
                                        <span class="card__price-label">Стоимость от:</span>
                                        <span class="card__price-value">3 200 000 ₽</span>
                                        <span class="card__price-label">Возможна индивидуальная планировка</span>
                                    </div>
                                    <div class="card__btn-group initial-mt-35">
                                        <a class="card__btn btn-primary btn-primary--with-icon" href="/fix-me">
                                            <svg class="icon" width="15" height="14" focusable="false">
                                                <use xlink:href="#icon-arrow-right" />
                                            </svg>
                                            Посмотреть проект
                                        </a>
                                        <button class="card__btn-favorites btn" type="button">
                                            <svg class="icon" width="23" height="19" focusable="false">
                                                <use xlink:href="#icon-heart" />
                                            </svg>
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-tablet-6">
                            <div class="card card--popular">
                                <a class="card__media" href="/fix-me">
                                    <span class="card__badge">
                                        <svg class="icon" width="16" height="16" focusable="false">
                                            <use xlink:href="#icon-tick-in-circle" />
                                        </svg>
                                        Топ проект
                                    </span>
                                    <img class="lazyload" data-src="images/home-1.jpg" alt="Импала">
                                </a>
                                <div class="card__content">
                                    <h3 class="card__title title-type-3 initial-mb-8">
                                        <a class="card__link" href="/fix-me">Импала</a>
                                    </h3>
                                    <ul class="card__info key-info">
                                        <li class="key-info__item">Дом под ключ: <span class="key-info__item-value">8,3
                                                х
                                                8,8
                                                м2.</span></li>
                                        <li class="key-info__item">Общая площадь: <span class="key-info__item-value">322
                                                м2</span>
                                        </li>
                                    </ul>
                                    <div class="hr initial-m-15"></div>
                                    <div class="card__price">
                                        <span class="card__price-label">Стоимость от:</span>
                                        <span class="card__price-value">2 000 000 ₽</span>
                                        <span class="card__price-label">Возможна индивидуальная планировка</span>
                                    </div>
                                    <div class="card__btn-group initial-mt-35">
                                        <a class="card__btn btn-primary btn-primary--with-icon" href="/fix-me">
                                            <svg class="icon" width="15" height="14" focusable="false">
                                                <use xlink:href="#icon-arrow-right" />
                                            </svg>
                                            Посмотреть проект
                                        </a>
                                        <button class="card__btn-favorites btn" type="button">
                                            <svg class="icon" width="23" height="19" focusable="false">
                                                <use xlink:href="#icon-heart" />
                                            </svg>
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-tablet-6">
                            <div class="card card--popular">
                                <a class="card__media" href="/fix-me">
                                    <span class="card__badge">
                                        <svg class="icon" width="16" height="16" focusable="false">
                                            <use xlink:href="#icon-tick-in-circle" />
                                        </svg>
                                        Топ проект
                                    </span>
                                    <img class="lazyload" data-src="images/home-2.jpg" alt="Импала">
                                </a>
                                <div class="card__content">
                                    <h3 class="card__title title-type-3 initial-mb-8">
                                        <a class="card__link" href="/fix-me">Воудлер</a>
                                    </h3>
                                    <ul class="card__info key-info">
                                        <li class="key-info__item">Дом под ключ: <span class="key-info__item-value">8,3
                                                х
                                                8,8
                                                м2.</span></li>
                                        <li class="key-info__item">Общая площадь: <span class="key-info__item-value">322
                                                м2</span>
                                        </li>
                                    </ul>
                                    <div class="hr initial-m-15"></div>
                                    <div class="card__price">
                                        <span class="card__price-label">Стоимость от:</span>
                                        <span class="card__price-value">2 170 000 ₽</span>
                                        <span class="card__price-label">Возможна индивидуальная планировка</span>
                                    </div>
                                    <div class="card__btn-group initial-mt-35">
                                        <a class="card__btn btn-primary btn-primary--with-icon" href="/fix-me">
                                            <svg class="icon" width="15" height="14" focusable="false">
                                                <use xlink:href="#icon-arrow-right" />
                                            </svg>
                                            Посмотреть проект
                                        </a>
                                        <button class="card__btn-favorites btn" type="button">
                                            <svg class="icon" width="23" height="19" focusable="false">
                                                <use xlink:href="#icon-heart" />
                                            </svg>
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pagination initial-mt-25 tablet-mt-40">
                        <ul class="pagination__list">
                            <li class="pagination__item">
                                <button class="pagination__link btn" type="button">
                                    1
                                </button>
                            </li>
                            <li class="pagination__item">
                                <button class="pagination__link btn" type="button">
                                    2
                                </button>
                            </li>
                            <li class="pagination__item">
                                <button class="pagination__link btn is-active" type="button">
                                    3
                                </button>
                            </li>
                            <li class="pagination__item">
                                <button class="pagination__link pagination__link--divider btn" type="button">
                                    ...
                                </button>
                            </li>
                            <li class="pagination__item">
                                <button class="pagination__link btn" type="button">
                                    На последнюю
                                </button>
                            </li>
                        </ul>
                        <div class="pagination__counts">
                            <strong class="pagination__counts-value">5</strong> из 72
                        </div>
                    </div>

                    <a class="image-card image-card--small image-card--type-8 initial-mt-25 hide-if-tablet"
                        href="/fix-me">
                        <div class="image-card__media">
                            <img class="lazyload" data-src="images/calculator.jpg"
                                alt="Посчитаем, сколько будет стоить ваш дом">
                        </div>
                        <div class="image-card__content">
                            <h3 class="image-card__title image-card__title initial-mb-65">
                                Посчитаем, сколько будет стоить ваш дом!
                            </h3>
                            <div class="image-card__link btn-primary btn-primary--with-icon">
                                <svg class="icon" width="15" height="14" focusable="false">
                                    <use xlink:href="#icon-arrow-right" />
                                </svg>
                                Калькулятор
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
