<section class="section section--overview">
    <div class="section__content slider-wrapper">
        <div class="container">
            <div class="row" data-component="slider">
                <div class="col-12 col-tablet-4">
                    <div class="image-card image-card--medium image-card--type-3">
                        <div class="image-card__media">
                            <img class="lazyload" data-src="images/house-4.jpg" alt="Строители с опытом работы">
                        </div>
                        <div class="image-card__content">
                            <h3 class="image-card__title initial-mb-25">
                                <a class="image-card__title-link" href="/fix-me">
                                    Каменные </br>дома
                                </a>
                            </h3>
                            <ul class="image-card__list">
                                <li class="image-card__list-li">
                                    <a class="image-card__list-link" href="/fix-me">– Дома из газобетона</a>
                                </li>
                                <li class="image-card__list-li">
                                    <a class="image-card__list-link" href="/fix-me">– Дома из пенобетона</a>
                                </li>
                                <li class="image-card__list-li">
                                    <a class="image-card__list-link" href="/fix-me">– Кирпичные дома</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-tablet-4">
                    <div class="image-card image-card--medium image-card--type-2">
                        <div class="image-card__media">
                            <img class="lazyload" data-src="images/house-5.jpg" alt="Строители с опытом работы">
                        </div>
                        <div class="image-card__content">
                            <h3 class="image-card__title initial-mb-25">
                                <a class="image-card__title-link" href="/fix-me">
                                    Каркасные </br>
                                    дома
                                </a>
                            </h3>
                            <ul class="image-card__list">
                                <li class="image-card__list-li">
                                    <a class="image-card__list-link" href="/fix-me">– Дома из газобетона</a>
                                </li>
                                <li class="image-card__list-li">
                                    <a class="image-card__list-link" href="/fix-me">– Дома из пенобетона</a>
                                </li>
                                <li class="image-card__list-li">
                                    <a class="image-card__list-link" href="/fix-me">– Кирпичные дома</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-tablet-4">
                    <div class="image-card image-card--medium image-card--type-3">
                        <div class="image-card__media">
                            <img class="lazyload" data-src="images/house-6.jpg" alt="Строители с опытом работы">
                        </div>
                        <div class="image-card__content">
                            <h3 class="image-card__title initial-mb-25">
                                <a class="image-card__title-link" href="/fix-me">
                                    Комбинирова-</br>нные дома
                                </a>
                            </h3>
                            <ul class="image-card__list">
                                <li class="image-card__list-li">
                                    <a class="image-card__list-link" href="/fix-me">– Дома из газобетона</a>
                                </li>
                                <li class="image-card__list-li">
                                    <a class="image-card__list-link" href="/fix-me">– Дома из пенобетона</a>
                                </li>
                                <li class="image-card__list-li">
                                    <a class="image-card__list-link" href="/fix-me">– Кирпичные дома</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section__button">
                <a class="btn-primary btn-primary--blue-outlined btn-primary--with-icon" href="/fix-me">
                    <svg class="icon" width="17" height="18" focusable="false">
                        <use xlink:href="#icon-plus" />
                    </svg>
                    Смотреть все проекты
                </a>
            </div>
        </div>
    </div>
</section>
