<section class="section section--narrow-head">
    <div class="section__head">
        <div class="container">
            <div class="section__row">
                <h2 class="section__title title-type-2">Параметры</h2>
            </div>
        </div>
    </div>
    <div class="section__content">
        <div class="container">
            <div class="row row--stacked-mobile-16">
                <div class="col-tablet-4">
                    <ul class="key-info key-info--medium">
                        <li class="key-info__item">Дом под ключ: <span class="key-info__item-value">8,3 х
                                8,8
                                м2.</span></li>
                        <li class="key-info__item">Общая площадь: <span class="key-info__item-value">322
                                м2</span>
                        </li>
                        <li class="key-info__item">Кол-во комнат: <span class="key-info__item-value">5
                                Шт.</span>
                        </li>
                    </ul>
                </div>
                <div class="col-tablet-4">
                    <ul class="key-info key-info--medium">
                        <li class="key-info__item">Количество этажей:
                            <span class="key-info__item-value">
                                2 этажа
                            </span>
                        </li>
                        <li class="key-info__item">Срок строительcтва:
                            <span class="key-info__item-value">
                                от 45 дней
                            </span>
                        </li>
                        <li class="key-info__item">Стиль:
                            <span class="key-info__item-value">
                                Шале, Современный
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="col-tablet-4">
                    <ul class="key-info key-info--medium">
                        <li class="key-info__item">
                            <span class="hide-if-tablet">Технология</span>
                            <a class="key-info__item-value key-info__item-value--green" href="/fix-me">
                                Каркасный дом
                                <svg class="icon" width="19" height="19" focusable="false">
                                    <use xlink:href="#icon-tick-in-square" />
                                </svg>
                            </a>
                        </li>
                        <li class="key-info__item show-if-tablet">
                            <a class="key-info__item-value" href="/fix-me">
                                Каменный дом
                            </a>
                        </li>
                        <li class="key-info__item show-if-tablet">
                            <a class="key-info__item-value" href="/fix-me">
                                Комбинированный дом
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
