<section class="section section--grey section--map">
    <div class="map initial-mt-16 tablet-mt-0" data-component="construction-map" data-options='{"center": [55.76, 37.64]}'>
        <div class="map__container" data-construction-map-ref="container"></div>
        <span class="map__badge">
            <svg class="icon" width="24" height="24" focusable="false">
                <use xlink:href="#icon-tick-in-circle" />
            </svg>
            Обновлено: 7 октября 2020
        </span>
        <div class="map__banner">
            <div class="map-banner">
                <div class="map-banner__text">
                    <div class="richtext">
                        <p>Хотите такой же дом? &nbsp;
                            оставьте заявку и наш менеджер свяжется с вами</p>
                    </div>
                </div>
                <div class="map-banner__form-wrapper">
                    <form class="map-banner__form" action="/fix-me">
                        <div class="map-banner__phone-input form-input form-input--phone">
                            <label for="phone-banner-field">
                                <input class="form-input__control" name="email" id="phone-banner-field" type="tel"
                                    placeholder="Номер телефона">
                                <span class="form-input__symbol">+7</span>
                            </label>
                        </div>
                        <button class="map-banner__submit-btn btn-primary btn-primary--red btn-primary--with-icon"
                            type="submit">
                            <svg class="icon" width="19" height="16" focusable="false">
                                <use xlink:href="#icon-speaker" />
                            </svg>
                            Записаться
                        </button>
                    </form>
                    <div class="map-banner__angle"></div>
                </div>
            </div>
        </div>
    </div>
</section>
