<section class="section section--grey-head section--no-head--border">
    <div class="section__head">
        <div class="container">
            <div class="section__row">
                <div class="section__heading">
                    <ul class="breadcrumb">
                        <li class="breadcrumb__item">
                            <a class="breadcrumb__link" href="/fix-me">Главная</a>
                        </li>
                        <li class="breadcrumb__item">
                            <span class="breadcrumb__link">Строим каменный дом</span>
                        </li>
                    </ul>
                    <h1 class="section__title title-type-2 initial-mt-0 desktop-mt-10">Строим каменный дом 10 х 10 в г.
                        Талдом</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="section__content">
        <div class="container">
            <div class="construction-grid">
                <div class="construction-grid__inner slider-wrapper">
                    <div class="construction-grid__item construction-grid__item--first">
                        <img class="lazyload" data-src="images/home-1.jpg" alt="">
                    </div>
                    <div class="construction-grid__item construction-grid__item--second">
                        <a class="card card--with-overlay card--video-2" data-fslightbox="video"
                            href="https://www.youtube.com/watch?v=MUuBxT8FooM?fs=1&autoplay=1">
                            <div class="card__media">
                                <img class="lazyload" data-src="images/home-3.jpg" alt="">
                                <div class="card__media-overlay">
                                    <div class="card__action card__action--flex">
                                        <svg class="icon" width="41" height="41" focusable="false">
                                            <use xlink:href="#icon-play" />
                                        </svg>
                                        Наблюдать за ходом
                                        строительства
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="construction-grid__item construction-grid__item--third">
                        <div class="construction-grid__slider" data-component="slider">
                            <a class="construction-grid__slider-item floor-card" data-fslightbox="plan"
                                href="https://images.unsplash.com/photo-1529824249987-7537c3e8606b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1782&q=80">
                                <div class="floor-card__media">
                                    <img class="lazyload" data-src="images/floor-plan.png" alt="floor">
                                    <div class="floor-card__overlay">
                                        <button class="floor-card__button btn" type="button">
                                            <svg class="icon" width="17" height="17" focusable="false">
                                                <use xlink:href="#icon-search" />
                                            </svg>
                                            Увеличить
                                        </button>
                                    </div>
                                </div>
                                <div class="floor-card__title initial-mt-25">
                                    План первого этажа
                                </div>
                            </a>
                            <a class="construction-grid__slider-item floor-card" data-fslightbox="plan"
                                href="https://images.unsplash.com/photo-1529824249987-7537c3e8606b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1782&q=80">
                                <div class="floor-card__media">
                                    <img class="lazyload" data-src="images/floor-plan.png" alt="floor">
                                    <div class="floor-card__overlay">
                                        <button class="floor-card__button btn" type="button">
                                            <svg class="icon" width="17" height="17" focusable="false">
                                                <use xlink:href="#icon-search" />
                                            </svg>
                                            Увеличить
                                        </button>
                                    </div>
                                </div>
                                <div class="floor-card__title initial-mt-25">
                                    План второго этажа
                                </div>
                            </a>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
