<section class="sectionsection--grey section--map">
<div class="section__head">
<div class="container">
<div class="section__row">
<div class="section__heading">
<ul class="breadcrumb">
<li class="breadcrumb__item">
<a class="breadcrumb__link" href="/fix-me">Главная</a>
</li>
<li class="breadcrumb__item">
          <span class="breadcrumb__link">Контакты</span>
                        </li>
                    </ul>
                    <h1 class="section__title title-type-2 initial-mt-0 desktop-mt-10">Контакты</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="contacts-map initial-mt-16 tablet-mt-0" data-component="contacts-map"
        data-options='{"center": [55.758179, 37.665551]}'>
        <div class="contacts-map__container" data-contacts-map-ref="container"></div>
        <div class="contacts-map__banner initial-mt-40 desktop-mt-0">
            <div class="contacts-banner">
                <div class="contacts-banner__inner">
                    <div class="contacts-banner__title">
                        Контакты
                    </div>
                    <ul class="contacts-banner__list">
                        <li class="contacts-banner__item">
                            <div class="contacts-banner__item-title">Адрес</div>
                            <div class="contacts-banner__item-value contacts-banner__item-value--address">Москва, Нижний
                                Сусальный переулок, дом 5 строение
                                36, ст.м. Курская, Бизнес цент «АРМА», дом «Мечтаево»</div>
                        </li>
                        <li class="contacts-banner__item">
                            <div class="contacts-banner__item-title">Телефон</div>
                            <div class="contacts-banner__item-value"><a href="tel:84956608334">8 (495) 660-83-34</a>
                            </div>
                        </li>
                        <li class="contacts-banner__item">
                            <div class="contacts-banner__item-title">E-mail адрес</div>
                            <div class="contacts-banner__item-value"><a
                                    href="mailto:dom@mechtaevo.ru">dom@mechtaevo.ru</a></div>
                        </li>
                        <li class="contacts-banner__item">
                            <div class="contacts-banner__item-title">Режим работы</div>
                            <div class="contacts-banner__item-value">Пн-Вс: с 9:00 до 20:00</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
