<section class="section">
    <div class="section__content slider-wrapper">
        <div class="container">
            <div class="row" data-component="slider" data-options='{"type": "full","controls": true, "responsive": { "1024" : {"items": 4}}}'>
                <div class="col-12 col-tablet-3">
                    <a class="card card--with-overlay" data-fslightbox="contact-image-card"
                       href="https://images.unsplash.com/photo-1580587771525-78b9dba3b914?ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80">
                        <div class="card__media">
                            <img class="lazyload" data-src="images/home-1.jpg" alt="">
                            <div class="card__media-overlay">
                                <div class="card__action">
                                    <svg class="icon" width="17" height="17" focusable="false">
                                        <use xlink:href="#icon-search" />
                                    </svg>
                                    Увеличить
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-tablet-3">
                    <a class="card card--with-overlay" data-fslightbox="contact-image-card"
                       href="https://images.unsplash.com/photo-1582268611958-ebfd161ef9cf?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80">
                        <div class="card__media">
                            <img class="lazyload" data-src="images/home-2.jpg" alt="">
                            <div class="card__media-overlay">
                                <div class="card__action">
                                    <svg class="icon" width="17" height="17" focusable="false">
                                        <use xlink:href="#icon-search" />
                                    </svg>
                                    Увеличить
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-tablet-3">
                    <a class="card card--with-overlay" data-fslightbox="contact-image-card"
                       href="https://images.unsplash.com/photo-1576941089067-2de3c901e126?ixlib=rb-1.2.1&auto=format&fit=crop&w=1686&q=80">
                        <div class="card__media">
                            <img class="lazyload" data-src="images/home-3.jpg" alt="">
                            <div class="card__media-overlay">
                                <div class="card__action">
                                    <svg class="icon" width="17" height="17" focusable="false">
                                        <use xlink:href="#icon-search" />
                                    </svg>
                                    Увеличить
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-tablet-3">
                    <a class="card card--with-overlay" data-fslightbox="contact-image-card"
                       href="https://images.unsplash.com/photo-1570129477492-45c003edd2be?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80">
                        <div class="card__media">
                            <img class="lazyload" data-src="images/home-1.jpg" alt="">
                            <div class="card__media-overlay">
                                <div class="card__action">
                                    <svg class="icon" width="17" height="17" focusable="false">
                                        <use xlink:href="#icon-search" />
                                    </svg>
                                    Увеличить
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-tablet-3">
                    <a class="card card--with-overlay" data-fslightbox="contact-image-card"
                       href="https://images.unsplash.com/photo-1518780664697-55e3ad937233?ixlib=rb-1.2.1&auto=format&fit=crop&w=802&q=80">
                        <div class="card__media">
                            <img class="lazyload" data-src="images/home-2.jpg" alt="">
                            <div class="card__media-overlay">
                                <div class="card__action">
                                    <svg class="icon" width="17" height="17" focusable="false">
                                        <use xlink:href="#icon-search" />
                                    </svg>
                                    Увеличить
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
