<section class="section  section--requisites">
    <div class="section__head">
        <div class="container">
            <div class="section__row">
                <h2 class="section__title title-type-2">Реквизиты</h2>
                <div class="show-if-tablet">
                    <a class="btn-primary btn-primary--red-outlined btn-primary--with-icon"
                       href="/fix-me">
                        Мы на сайте За честный бизнес
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="section__content">
        <div class="requisites">
            <div class="requisites__container container">
                <table class="requisites__table">
                    <thead>
                    <tr>
                        <th scope="col">Компания</th>
                        <th scope="col">ИНН</th>
                        <th scope="col">КПП</th>
                        <th scope="col">ОГРН</th>
                        <th scope="col">Юридический адрес</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td data-label="ООО «Мечтаево»">ООО «Мечтаево»</td>
                        <td data-label="ИНН"><span>7727851825</span></td>
                        <td data-label="КПП"><span>770901001</span></td>
                        <td data-label="ОГРН"><span>1117746118302</span></td>
                        <td data-label="Юр. адрес"><span>105064, Москва, Нижний Сусальный пер., д.5, стр. 3А</span></td>
                    </tr>
                    <tr>
                        <td scope="row" data-label="ООО «Мечтаево Монтаж»">ООО «Мечтаево Монтаж»</td>
                        <td data-label="ИНН"><span>7727851825</span></td>
                        <td data-label="КПП"><span>770901001</span></td>
                        <td data-label="ОГРН"><span>1147748016272</span></td>
                        <td data-label="Юр. адрес"><span>105064, Москва, Нижний Сусальный пер., д.9, строение 4А, этаж 3, пом.I, комн.5</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="section__button">
            <a class="btn-primary btn-primary--red-outlined hide-if-desktop" href="/fix-me">
                Мы на сайте За честный бизнес
            </a>
        </div>
    </div>
</section>
