<section class="section section--grey">
    <div class="section__head">
        <div class="container">
            <div class="section__row">
                <h2 class="section__title title-type-2">Схемы проезда</h2>
                <div class="show-if-tablet">
                    <a class="btn-primary btn-primary--blue-outlined btn-primary--with-icon" href="/fix-me">
                        <svg class="icon" width="19" height="19" focusable="false">
                            <use xlink:href="#icon-image" />
                        </svg>
                        Фотоинструкция для пешехода
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="section__content">
        <div class="container">
            <div class="accordion" data-component="accordion">
                <button class="accordion__header" type="button" data-accordion-ref="trigger">

                    <span class="accordion__title title-type-4">Описание проезда для пешеходов</span>
                    <svg class="accordion__icon accordion__icon--plus icon" width="23" height="23" focusable="false">
                        <use xlink:href="#icon-plus-outlined" />
                    </svg>
                    <svg class="accordion__icon accordion__icon--minus icon" width="23" height="23" focusable="false">
                        <use xlink:href="#icon-minus-outlined" />
                    </svg>
                </button>
                <div class="accordion__body" data-accordion-ref="content">
                    <div class="accordion__content">
                        <div class="richtext">
                            <p>Двигаясь по внешней стороне Садового кольца повернуть направо на ул. Верхнюю
                                Сыромятническую, через 400 метров повернуть налево в сторону 4-го Сыромятнического
                                переулка. После пешеходной зоны и после моста повернуть сразу налево на Мрузовский
                                переулок. Дорога виляет направо-налево, и перед вторым поворотом направо следует въехать
                                в переулок с вывеской Завод «Арма». Далее прямо по переулку до проходной, для ориентира
                                справа будет АЗС «Татнефть».
                            </p>
                            <p>
                                На въезде под шлагбаум взять парковочную карту, проехать на территорию. Из проходной –
                                прямо 200 м.
                                С внутренней стороны Садового кольца в районе м. Красные ворота по стрелке светофора
                                необходимо повернуть налево на ул. Новая Басманная, далее - поворот направо на ул.
                                Доброслободская, в конце улицы - поворот направо на ул. Радио до Токмакова переулка,
                                далее налево на ул. Казакова. На Т-образном перекрестке проехать прямо на Нижний
                                Сусальный переулок (в конце - тупик). В конце переулка слева расположена проходная
                                территории завода «Арма» и шлагбаум.
                            </p>
                            <p> На въезде под шлагбаум взять парковочную карту, проехать на территорию. Из проходной –
                                прямо 200 м, затем после круглой башни – направо.Двигаясь по набережной Академика
                                Туполева (в сторону Садового кольца) повернуть направо на Мрузовский переулок, через 300
                                метров справа будет АЗС «Татнефть». Сразу за АЗС следует повернуть направо в переулок с
                                вывеской Завод «Арма», и далее до проходной.
                                На въезде под шлагбаум взять парковочную карту, проехать на территорию. Из проходной –
                                прямо 200 м.</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="accordion" data-component="accordion">

                <button class="accordion__header" type="button" data-accordion-ref="trigger">

                    <span class="accordion__title title-type-4">Описание проезда для автомобилистов</span>
                    <svg class="accordion__icon accordion__icon--plus icon" width="23" height="23" focusable="false">
                        <use xlink:href="#icon-plus-outlined" />
                    </svg>
                    <svg class="accordion__icon accordion__icon--minus icon" width="23" height="23" focusable="false">
                        <use xlink:href="#icon-minus-outlined" />
                    </svg>
                </button>
                <div class="accordion__body" data-accordion-ref="content">
                    <div class="accordion__content">
                        <div class="richtext">
                            <p>Двигаясь по внешней стороне Садового кольца повернуть направо на ул. Верхнюю
                                Сыромятническую, через 400 метров повернуть налево в сторону 4-го Сыромятнического
                                переулка. После пешеходной зоны и после моста повернуть сразу налево на Мрузовский
                                переулок. Дорога виляет направо-налево, и перед вторым поворотом направо следует въехать
                                в переулок с вывеской Завод «Арма». Далее прямо по переулку до проходной, для ориентира
                                справа будет АЗС «Татнефть».
                                На въезде под шлагбаум взять парковочную карту, проехать на территорию. Из проходной –
                                прямо 200 м.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section__button">
            <a class="btn-primary btn-primary--blue-outlined btn-primary--with-icon" href="/fix-me">
                <svg class="icon" width="19" height="19" focusable="false">
                    <use xlink:href="#icon-image" />
                </svg>
                Фотоинструкция для пешехода
            </a>
        </div>
    </div>
</section>
