<div class="cookie-bar is-hidden" data-component="cookie-bar">
    <div class="cookie-bar__inner">
        <div class="cookie-bar__text">
            <div class="richtext">
                <p>Мечтаево использует файлы cookie. Подробная информация в правилах по обработке персональных
                    данных.</p>
                <p>Вы можете запретить сохранение cookie в <a href="/fix-me">настройках своего браузера.</a></p>
            </div>
        </div>
        <div class="cookie-bar__btn-group">
            <button class="cookie-bar__btn btn-primary btn-primary--blue-outlined" type="button"
                data-cookie-bar-ref="accept">
                Продолжить работу
            </button>
            <button class="cookie-bar__btn btn" type="button" data-cookie-bar-ref="close">
                <svg class="icon" width="14" height="14" focusable="false">
                    <use xlink:href="#icon-cross" />
                </svg>
            </button>
        </div>
    </div>
</div>
