<div class="hidden" hidden>
<form class="initial-mt-30" action="/fix-me" id="credit-order-modal">
<div class="form-input form-input--phone">
<label for="phone-unique--mobile-id-1">
<input class="form-input__control" name="phone"
 id="phone-unique--mobile-id-1" type="tel"
 placeholder="Номер телефона">
<span class="form-input__symbol">+7</span>
</label>
</div>
<button
class="btn-primary btn-primary--red btn-primary--full-width initial-mt-16"
type="submit">
Оставить заявку на кредит
</button>
</form>
</div>
