<section class="section section--grey section--narrow-head section--credit" data-component="tabs"
    data-options='{"selectMode": true, "untilBreakpoint": "desktop", "target": "#credit-modal","bemList": ["filters"], "title": "Выберите банк"}'>
    <div class="section__head">
        <div class="container">
            <div class="section__row">
                <div class="section__heading">
                    <ul class="breadcrumb">
                        <li class="breadcrumb__item">
                            <a class="breadcrumb__link" href="/fix-me">Главная</a>
                        </li>
                        <li class="breadcrumb__item">
                            <span class="breadcrumb__link">Дом в кредит</span>
                        </li>
                    </ul>
                    <h1 class="section__title title-type-2 initial-mt-0 desktop-mt-10">Дома в кредит</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="section__content">
        <div class="container">
            <div class="tabs tabs--tab-image">
                <div class="tabs__controls-wrapper">
                    <div class="tabs__controls-label">Выберите банк:</div>
                    <div class="tabs__controls" role="tablist">
                        <button class="tabs__tab btn is-active" type="button" data-tabs-ref="trigger"
                            data-target="tab-id-1" role="tab">
                            <span class="tabs__tab-radio-btn"></span>
                            <img class="tabs__tab-image lazyload" data-src="images/sb.png" alt="Сбербанк">
                            <span class="tabs__tab-title">Сбербанк</span>
                            <svg class="icon hide-if-desktop" width="14" height="7" focusable="false">
                                <use xlink:href="#icon-chevron-down" />
                            </svg>
                        </button>
                        <button class="tabs__tab btn" type="button" data-tabs-ref="trigger" data-target="tab-id-2"
                            role="tab">
                            <span class="tabs__tab-radio-btn"></span>
                            <img class="tabs__tab-image lazyload" data-src="images/lb.png" alt="ЛокоБанк">
                            <span class="tabs__tab-title">ЛокоБанк</span>
                            <svg class="icon hide-if-desktop" width="14" height="7" focusable="false">
                                <use xlink:href="#icon-chevron-down" />
                            </svg>
                        </button>
                        <button class="tabs__tab btn" type="button" data-tabs-ref="trigger" data-target="tab-id-3"
                            role="tab">
                            <span class="tabs__tab-radio-btn"></span>
                            <img class="tabs__tab-image lazyload" data-src="images/ab.png" alt="АльфаБанк">
                            <span class="tabs__tab-title">АльфаБанк</span>
                            <svg class="icon hide-if-desktop" width="14" height="7" focusable="false">
                                <use xlink:href="#icon-chevron-down" />
                            </svg>
                        </button>
                        <button class="tabs__tab btn" type="button" data-tabs-ref="trigger" data-target="tab-id-4"
                            role="tab">
                            <span class="tabs__tab-radio-btn"></span>
                            <img class="tabs__tab-image lazyload" data-src="images/ceb.png" alt="CreditEuropeBank">
                            <span class="tabs__tab-title">CreditEuropeBank</span>
                            <svg class="icon hide-if-desktop" width="14" height="7" focusable="false">
                                <use xlink:href="#icon-chevron-down" />
                            </svg>
                        </button>
                        <button class="tabs__tab btn" type="button" data-tabs-ref="trigger" data-target="tab-id-5"
                            role="tab">
                            <span class="tabs__tab-radio-btn"></span>
                            <img class="tabs__tab-image lazyload" data-src="images/tkb.png" alt="Тинькофф">
                            <span class="tabs__tab-title">Тинькофф</span>
                            <svg class="icon hide-if-desktop" width="14" height="7" focusable="false">
                                <use xlink:href="#icon-chevron-down" />
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="tabs__content">
                    <div class="tabs__panel is-active" data-tabs-ref="content" data-id="tab-id-1">
                        <table class="credit-table">
                            <thead>
                                <tr>
                                    <th scope="col">Банк</th>
                                    <th scope="col">Сумма кредита</th>
                                    <th scope="col">Ставка</th>
                                    <th scope="col">Срок</th>
                                    <th scope="col">Первый взнос</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><img class="lazyload" data-src="images/sb.png" width="79" height="21"
                                            alt="Сбербанк"></td>
                                    <td data-label="Сумма кредита:"><span>2 000 000 ₽</span></td>
                                    <td data-label="Ставка:"><span>от 6.5%</span></td>
                                    <td data-label="Срок кредита:"><span>6 – 60 Мес.</span></td>
                                    <td data-label="Первый взнос:"><span>10%</span></td>
                                </tr>
                                <tr>
                                    <td><span>Код продукта:</span></td>
                                    <td data-label="Код продукта:"><span>ILH2</span></td>
                                </tr>
                                <tr>
                                    <td><span>Наименование кредитного предложения:</span></td>
                                    <td data-label="Наименование:"><span>Удачный лайт</span></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="show-if-desktop">
                            <div class="hr initial-mt-20 initial-mb-35"></div>
                            <form class="btn-group" action="/fix-me">
                                <div class="form-input form-input--phone">
                                    <label for="phone-unique-id-1">
                                        <input class="form-input__control" name="phone" id="phone-unique-id-1"
                                            type="tel" placeholder="Номер телефона">
                                        <span class="form-input__symbol">+7</span>
                                    </label>
                                </div>
                                <button class="btn-primary btn-primary--red" type="submit">
                                    Оставить заявку на кредит
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="tabs__panel" data-tabs-ref="content" data-id="tab-id-2">
                        <table class="credit-table">
                            <thead>
                                <tr>
                                    <th scope="col">Банк</th>
                                    <th scope="col">Сумма кредита</th>
                                    <th scope="col">Ставка</th>
                                    <th scope="col">Срок</th>
                                    <th scope="col">Первый взнос</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><img class="lazyload" data-src="images/lb.png" width="120" height="63"
                                            alt="ЛокоБанк"></td>
                                    <td data-label="Сумма кредита:"><span>2 000 000 ₽</span></td>
                                    <td data-label="Ставка:"><span>от 6.5%</span></td>
                                    <td data-label="Срок кредита:"><span>6 – 60 Мес.</span></td>
                                    <td data-label="Первый взнос:"><span>10%</span></td>
                                </tr>
                                <tr>
                                    <td><span>Код продукта:</span></td>
                                    <td data-label="Код продукта:"><span>ILH2</span></td>
                                </tr>
                                <tr>
                                    <td><span>Наименование кредитного предложения:</span></td>
                                    <td data-label="Наименование:"><span>Удачный лайт</span></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="show-if-desktop">
                            <div class="hr initial-mt-20 initial-mb-35"></div>
                            <form class="btn-group" action="/fix-me">
                                <div class="form-input form-input--phone">
                                    <label for="phone-unique-id-2">
                                        <input class="form-input__control" name="phone" id="phone-unique-id-2"
                                            type="tel" placeholder="Номер телефона">
                                        <span class="form-input__symbol">+7</span>
                                    </label>
                                </div>
                                <button class="btn-primary btn-primary--red" type="submit">
                                    Оставить заявку на кредит
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="tabs__panel" data-tabs-ref="content" data-id="tab-id-3">
                        <table class="credit-table">
                            <thead>
                                <tr>
                                    <th scope="col">Банк</th>
                                    <th scope="col">Сумма кредита</th>
                                    <th scope="col">Ставка</th>
                                    <th scope="col">Срок</th>
                                    <th scope="col">Первый взнос</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><img class="lazyload" data-src="images/ab.png" width="84" height="83"
                                            alt="Альфабанк"></td>
                                    <td data-label="Сумма кредита:"><span>2 000 000 ₽</span></td>
                                    <td data-label="Ставка:"><span>от 6.5%</span></td>
                                    <td data-label="Срок кредита:"><span>6 – 60 Мес.</span></td>
                                    <td data-label="Первый взнос:"><span>10%</span></td>
                                </tr>
                                <tr>
                                    <td><span>Код продукта:</span></td>
                                    <td data-label="Код продукта:"><span>ILH2</span></td>
                                </tr>
                                <tr>
                                    <td><span>Наименование кредитного предложения:</span></td>
                                    <td data-label="Наименование:"><span>Удачный лайт</span></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="show-if-desktop">
                            <div class="hr initial-mt-20 initial-mb-35"></div>
                            <form class="btn-group" action="/fix-me">
                                <div class="form-input form-input--phone">
                                    <label for="phone-unique-id-3">
                                        <input class="form-input__control" name="phone" id="phone-unique-id-3"
                                            type="tel" placeholder="Номер телефона">
                                        <span class="form-input__symbol">+7</span>
                                    </label>
                                </div>
                                <button class="btn-primary btn-primary--red" type="submit">
                                    Оставить заявку на кредит
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="tabs__panel" data-tabs-ref="content" data-id="tab-id-4">
                        <table class="credit-table">
                            <thead>
                                <tr>
                                    <th scope="col">Банк</th>
                                    <th scope="col">Сумма кредита</th>
                                    <th scope="col">Ставка</th>
                                    <th scope="col">Срок</th>
                                    <th scope="col">Первый взнос</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><img class="lazyload" data-src="images/ceb.png" width="120" height="66"
                                            alt="credit bank"></td>
                                    <td data-label="Сумма кредита:"><span>2 000 000 ₽</span></td>
                                    <td data-label="Ставка:"><span>от 6.5%</span></td>
                                    <td data-label="Срок кредита:"><span>6 – 60 Мес.</span></td>
                                    <td data-label="Первый взнос:"><span>10%</span></td>
                                </tr>
                                <tr>
                                    <td><span>Код продукта:</span></td>
                                    <td data-label="Код продукта:"><span>ILH2</span></td>
                                </tr>
                                <tr>
                                    <td><span>Наименование кредитного предложения:</span></td>
                                    <td data-label="Наименование:"><span>Удачный лайт</span></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="show-if-desktop">
                            <div class="hr initial-mt-20 initial-mb-35"></div>
                            <form class="btn-group" action="/fix-me">
                                <div class="form-input form-input--phone">
                                    <label for="phone-unique-id-4">
                                        <input class="form-input__control" name="phone" id="phone-unique-id-4"
                                            type="tel" placeholder="Номер телефона">
                                        <span class="form-input__symbol">+7</span>
                                    </label>
                                </div>
                                <button class="btn-primary btn-primary--red" type="submit">
                                    Оставить заявку на кредит
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="tabs__panel" data-tabs-ref="content" data-id="tab-id-5">
                        <table class="credit-table">
                            <thead>
                                <tr>
                                    <th scope="col">Банк</th>
                                    <th scope="col">Сумма кредита</th>
                                    <th scope="col">Ставка</th>
                                    <th scope="col">Срок</th>
                                    <th scope="col">Первый взнос</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><img class="lazyload" data-src="images/tkb.png" width="120" height="64"
                                            alt="Тинькофф"></td>
                                    <td data-label="Сумма кредита:"><span>2 000 000 ₽</span></td>
                                    <td data-label="Ставка:"><span>от 6.5%</span></td>
                                    <td data-label="Срок кредита:"><span>6 – 60 Мес.</span></td>
                                    <td data-label="Первый взнос:"><span>10%</span></td>
                                </tr>
                                <tr>
                                    <td><span>Код продукта:</span></td>
                                    <td data-label="Код продукта:"><span>ILH2</span></td>
                                </tr>
                                <tr>
                                    <td><span>Наименование кредитного предложения:</span></td>
                                    <td data-label="Наименование:"><span>Удачный лайт</span></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="show-if-desktop">
                            <div class="hr initial-mt-20 initial-mb-35"></div>
                            <form class="btn-group" action="/fix-me">
                                <div class="form-input form-input--phone">
                                    <label for="phone-unique-id-5">
                                        <input class="form-input__control" name="phone" id="phone-unique-id-5"
                                            type="tel" placeholder="Номер телефона">
                                        <span class="form-input__symbol">+7</span>
                                    </label>
                                </div>
                                <button class="btn-primary btn-primary--red" type="submit">
                                    Оставить заявку на кредит
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section__content section__content--white-bg section__content--no-vertical-padding">
        <div class="container">
            <div class="tabs__panel tabs__panel--no-vertical-padding is-active" data-tabs-ref="content"
                data-id="tab-id-1">
                <div class="credit-info">
                    <div class="credit-info__item">
                        <div class="credit-info__item-title">
                            Требования к заемщику:
                        </div>
                        <ul class="chevron-list initial-mt-20 desktop-mt-30">
                            <li class="chevron-list__li">
                                <svg class="icon" width="6" height="10" focusable="false">
                                    <use xlink:href="#icon-chevron-right" />
                                </svg>
                                Гражданство РФ;
                            </li>
                            <li class="chevron-list__li">
                                <svg class="icon" width="6" height="10" focusable="false">
                                    <use xlink:href="#icon-chevron-right" />
                                </svg>
                                Постоянная регистрация;
                            </li>
                            <li class="chevron-list__li">
                                <svg class="icon" width="6" height="10" focusable="false">
                                    <use xlink:href="#icon-chevron-right" />
                                </svg>
                                Возраст от 20 до 70 лет;
                            </li>
                            <li class="chevron-list__li">
                                <svg class="icon" width="6" height="10" focusable="false">
                                    <use xlink:href="#icon-chevron-right" />
                                </svg>
                                Постоянное место работы, стаж на котором составляет не менее 3-х месяцев.
                            </li>
                        </ul>
                    </div>
                    <div class="credit-info__item">
                        <div class="credit-info__item-title">
                            Обязательные документы:
                        </div>
                        <ul class="chevron-list initial-mt-20 desktop-mt-30">
                            <li class="chevron-list__li">
                                <svg class="icon" width="6" height="10" focusable="false">
                                    <use xlink:href="#icon-chevron-right" />
                                </svg>
                                Гражданство РФ;
                            </li>
                            <li class="chevron-list__li">
                                <svg class="icon" width="6" height="10" focusable="false">
                                    <use xlink:href="#icon-chevron-right" />
                                </svg>
                                Свидетельство о праве собственности на землю.
                            </li>
                        </ul>
                    </div>
                    <div class="credit-info__item">
                        <div class="credit-info__item-title">
                            Один из дополнительных документов:
                        </div>
                        <ul class="chevron-list initial-mt-20 desktop-mt-30">
                            <li class="chevron-list__li">
                                <svg class="icon" width="6" height="10" focusable="false">
                                    <use xlink:href="#icon-chevron-right" />
                                </svg>
                                ПТС/СТС на автотранспортное средство;
                            </li>
                            <li class="chevron-list__li">
                                <svg class="icon" width="6" height="10" focusable="false">
                                    <use xlink:href="#icon-chevron-right" />
                                </svg>
                                Справка по форме банка;
                            </li>
                            <li class="chevron-list__li">
                                <svg class="icon" width="6" height="10" focusable="false">
                                    <use xlink:href="#icon-chevron-right" />
                                </svg>
                                Заграничный паспорт;
                            </li>
                            <li class="chevron-list__li">
                                <svg class="icon" width="6" height="10" focusable="false">
                                    <use xlink:href="#icon-chevron-right" />
                                </svg>
                                Карта ДМС;
                            </li>
                            <li class="chevron-list__li">
                                <svg class="icon" width="6" height="10" focusable="false">
                                    <use xlink:href="#icon-chevron-right" />
                                </svg>
                                Пенсионное удостоверение или правка из ПФР;
                            </li>
                        </ul>
                    </div>
                    <div class="credit-info__item">
                        <div class="credit-info__item-title credit-info__item-title--black">
                            ПАО “Сбербанк”
                            <img class="show-if-desktop lazyload" data-src="images/sb.png" width="124" height="33"
                                alt="Сбербанк">
                        </div>
                        <ul class="bank-info-list initial-mt-15">
                            <li class="bank-info-list__li">
                                <div class="bank-info-list__title">
                                    Центральный офис:
                                </div>
                                <div class="bank-info-list__value">
                                    Россия, Москва, 107078, ул. Каланчевская, 27
                                </div>
                            </li>
                            <li class="bank-info-list__li">
                                <div class="bank-info-list__title">
                                    Телефон:
                                </div>
                                <div class="bank-info-list__value">
                                    +7 (495) 324-74-32
                                </div>
                            </li>
                            <li class="bank-info-list__li">
                                <div class="bank-info-list__title">
                                    Почта:
                                </div>
                                <div class="bank-info-list__value">
                                    sales@home-projects.ru
                                </div>
                            </li>
                            <li class="bank-info-list__li">
                                <div class="bank-info-list__title">
                                    Вебсайт:
                                </div>
                                <div class="bank-info-list__value">
                                    www.Sberbank.ru
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tabs__panel tabs__panel--no-vertical-padding" data-tabs-ref="content" data-id="tab-id-2">
                <div class="credit-info">
                    <div class="credit-info__item">
                        <div class="credit-info__item-title">
                            Требования к заемщику:
                        </div>
                        <ul class="chevron-list initial-mt-20 desktop-mt-30">
                            <li class="chevron-list__li">
                                <svg class="icon" width="6" height="10" focusable="false">
                                    <use xlink:href="#icon-chevron-right" />
                                </svg>
                                Гражданство РФ;
                            </li>
                            <li class="chevron-list__li">
                                <svg class="icon" width="6" height="10" focusable="false">
                                    <use xlink:href="#icon-chevron-right" />
                                </svg>
                                Постоянная регистрация;
                            </li>
                            <li class="chevron-list__li">
                                <svg class="icon" width="6" height="10" focusable="false">
                                    <use xlink:href="#icon-chevron-right" />
                                </svg>
                                Возраст от 20 до 70 лет;
                            </li>
                            <li class="chevron-list__li">
                                <svg class="icon" width="6" height="10" focusable="false">
                                    <use xlink:href="#icon-chevron-right" />
                                </svg>
                                Постоянное место работы, стаж на котором составляет не менее 3-х месяцев.
                            </li>
                        </ul>
                    </div>
                    <div class="credit-info__item">
                        <div class="credit-info__item-title">
                            Обязательные документы:
                        </div>
                        <ul class="chevron-list initial-mt-20 desktop-mt-30">
                            <li class="chevron-list__li">
                                <svg class="icon" width="6" height="10" focusable="false">
                                    <use xlink:href="#icon-chevron-right" />
                                </svg>
                                Гражданство РФ;
                            </li>
                            <li class="chevron-list__li">
                                <svg class="icon" width="6" height="10" focusable="false">
                                    <use xlink:href="#icon-chevron-right" />
                                </svg>
                                Свидетельство о праве собственности на землю.
                            </li>
                        </ul>
                    </div>
                    <div class="credit-info__item">
                        <div class="credit-info__item-title">
                            Один из дополнительных документов:
                        </div>
                        <ul class="chevron-list initial-mt-20 desktop-mt-30">
                            <li class="chevron-list__li">
                                <svg class="icon" width="6" height="10" focusable="false">
                                    <use xlink:href="#icon-chevron-right" />
                                </svg>
                                ПТС/СТС на автотранспортное средство;
                            </li>
                            <li class="chevron-list__li">
                                <svg class="icon" width="6" height="10" focusable="false">
                                    <use xlink:href="#icon-chevron-right" />
                                </svg>
                                Справка по форме банка;
                            </li>
                            <li class="chevron-list__li">
                                <svg class="icon" width="6" height="10" focusable="false">
                                    <use xlink:href="#icon-chevron-right" />
                                </svg>
                                Заграничный паспорт;
                            </li>
                            <li class="chevron-list__li">
                                <svg class="icon" width="6" height="10" focusable="false">
                                    <use xlink:href="#icon-chevron-right" />
                                </svg>
                                Карта ДМС;
                            </li>
                            <li class="chevron-list__li">
                                <svg class="icon" width="6" height="10" focusable="false">
                                    <use xlink:href="#icon-chevron-right" />
                                </svg>
                                Пенсионное удостоверение или правка из ПФР;
                            </li>
                        </ul>
                    </div>
                    <div class="credit-info__item">
                        <div class="credit-info__item-title credit-info__item-title--black">
                            ЛокоБанк
                            <img class="show-if-desktop lazyload" data-src="images/lb.png" width="120" height="63"
                                alt="ЛокоБанк">
                        </div>
                        <ul class="bank-info-list initial-mt-15">
                            <li class="bank-info-list__li">
                                <div class="bank-info-list__title">
                                    Центральный офис:
                                </div>
                                <div class="bank-info-list__value">
                                    Россия, Москва, 107078, ул. Каланчевская, 27
                                </div>
                            </li>
                            <li class="bank-info-list__li">
                                <div class="bank-info-list__title">
                                    Телефон:
                                </div>
                                <div class="bank-info-list__value">
                                    +7 (495) 324-74-32
                                </div>
                            </li>
                            <li class="bank-info-list__li">
                                <div class="bank-info-list__title">
                                    Почта:
                                </div>
                                <div class="bank-info-list__value">
                                    sales@lb.ru
                                </div>
                            </li>
                            <li class="bank-info-list__li">
                                <div class="bank-info-list__title">
                                    Вебсайт:
                                </div>
                                <div class="bank-info-list__value">
                                    www.lokobank.ru
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tabs__panel tabs__panel--no-vertical-padding" data-tabs-ref="content" data-id="tab-id-3">
                <div class="credit-info">
                    <div class="credit-info__item">
                        <div class="credit-info__item-title">
                            Требования к заемщику:
                        </div>
                        <ul class="chevron-list initial-mt-20 desktop-mt-30">
                            <li class="chevron-list__li">
                                <svg class="icon" width="6" height="10" focusable="false">
                                    <use xlink:href="#icon-chevron-right" />
                                </svg>
                                Гражданство РФ;
                            </li>
                            <li class="chevron-list__li">
                                <svg class="icon" width="6" height="10" focusable="false">
                                    <use xlink:href="#icon-chevron-right" />
                                </svg>
                                Постоянная регистрация;
                            </li>
                            <li class="chevron-list__li">
                                <svg class="icon" width="6" height="10" focusable="false">
                                    <use xlink:href="#icon-chevron-right" />
                                </svg>
                                Возраст от 20 до 70 лет;
                            </li>
                            <li class="chevron-list__li">
                                <svg class="icon" width="6" height="10" focusable="false">
                                    <use xlink:href="#icon-chevron-right" />
                                </svg>
                                Постоянное место работы, стаж на котором составляет не менее 3-х месяцев.
                            </li>
                        </ul>
                    </div>
                    <div class="credit-info__item">
                        <div class="credit-info__item-title">
                            Обязательные документы:
                        </div>
                        <ul class="chevron-list initial-mt-20 desktop-mt-30">
                            <li class="chevron-list__li">
                                <svg class="icon" width="6" height="10" focusable="false">
                                    <use xlink:href="#icon-chevron-right" />
                                </svg>
                                Гражданство РФ;
                            </li>
                            <li class="chevron-list__li">
                                <svg class="icon" width="6" height="10" focusable="false">
                                    <use xlink:href="#icon-chevron-right" />
                                </svg>
                                Свидетельство о праве собственности на землю.
                            </li>
                        </ul>
                    </div>
                    <div class="credit-info__item">
                        <div class="credit-info__item-title">
                            Один из дополнительных документов:
                        </div>
                        <ul class="chevron-list initial-mt-20 desktop-mt-30">
                            <li class="chevron-list__li">
                                <svg class="icon" width="6" height="10" focusable="false">
                                    <use xlink:href="#icon-chevron-right" />
                                </svg>
                                ПТС/СТС на автотранспортное средство;
                            </li>
                            <li class="chevron-list__li">
                                <svg class="icon" width="6" height="10" focusable="false">
                                    <use xlink:href="#icon-chevron-right" />
                                </svg>
                                Справка по форме банка;
                            </li>
                            <li class="chevron-list__li">
                                <svg class="icon" width="6" height="10" focusable="false">
                                    <use xlink:href="#icon-chevron-right" />
                                </svg>
                                Заграничный паспорт;
                            </li>
                            <li class="chevron-list__li">
                                <svg class="icon" width="6" height="10" focusable="false">
                                    <use xlink:href="#icon-chevron-right" />
                                </svg>
                                Карта ДМС;
                            </li>
                            <li class="chevron-list__li">
                                <svg class="icon" width="6" height="10" focusable="false">
                                    <use xlink:href="#icon-chevron-right" />
                                </svg>
                                Пенсионное удостоверение или правка из ПФР;
                            </li>
                        </ul>
                    </div>
                    <div class="credit-info__item">
                        <div class="credit-info__item-title credit-info__item-title--black">
                            Альфабанк
                            <img class="show-if-desktop lazyload" data-src="images/ab.png" width="84" height="83"
                                alt="Альфабанк">
                        </div>
                        <ul class="bank-info-list initial-mt-15">
                            <li class="bank-info-list__li">
                                <div class="bank-info-list__title">
                                    Центральный офис:
                                </div>
                                <div class="bank-info-list__value">
                                    Россия, Москва, 107078, ул. Каланчевская, 27
                                </div>
                            </li>
                            <li class="bank-info-list__li">
                                <div class="bank-info-list__title">
                                    Телефон:
                                </div>
                                <div class="bank-info-list__value">
                                    +7 (495) 324-74-32
                                </div>
                            </li>
                            <li class="bank-info-list__li">
                                <div class="bank-info-list__title">
                                    Почта:
                                </div>
                                <div class="bank-info-list__value">
                                    sales@home-projects.ru
                                </div>
                            </li>
                            <li class="bank-info-list__li">
                                <div class="bank-info-list__title">
                                    Вебсайт:
                                </div>
                                <div class="bank-info-list__value">
                                    www.Sberbank.ru
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tabs__panel tabs__panel--no-vertical-padding" data-tabs-ref="content" data-id="tab-id-4">
                <div class="credit-info">
                    <div class="credit-info__item">
                        <div class="credit-info__item-title">
                            Требования к заемщику:
                        </div>
                        <ul class="chevron-list initial-mt-20 desktop-mt-30">
                            <li class="chevron-list__li">
                                <svg class="icon" width="6" height="10" focusable="false">
                                    <use xlink:href="#icon-chevron-right" />
                                </svg>
                                Гражданство РФ;
                            </li>
                            <li class="chevron-list__li">
                                <svg class="icon" width="6" height="10" focusable="false">
                                    <use xlink:href="#icon-chevron-right" />
                                </svg>
                                Постоянная регистрация;
                            </li>
                            <li class="chevron-list__li">
                                <svg class="icon" width="6" height="10" focusable="false">
                                    <use xlink:href="#icon-chevron-right" />
                                </svg>
                                Возраст от 20 до 70 лет;
                            </li>
                            <li class="chevron-list__li">
                                <svg class="icon" width="6" height="10" focusable="false">
                                    <use xlink:href="#icon-chevron-right" />
                                </svg>
                                Постоянное место работы, стаж на котором составляет не менее 3-х месяцев.
                            </li>
                        </ul>
                    </div>
                    <div class="credit-info__item">
                        <div class="credit-info__item-title">
                            Обязательные документы:
                        </div>
                        <ul class="chevron-list initial-mt-20 desktop-mt-30">
                            <li class="chevron-list__li">
                                <svg class="icon" width="6" height="10" focusable="false">
                                    <use xlink:href="#icon-chevron-right" />
                                </svg>
                                Гражданство РФ;
                            </li>
                            <li class="chevron-list__li">
                                <svg class="icon" width="6" height="10" focusable="false">
                                    <use xlink:href="#icon-chevron-right" />
                                </svg>
                                Свидетельство о праве собственности на землю.
                            </li>
                        </ul>
                    </div>
                    <div class="credit-info__item">
                        <div class="credit-info__item-title">
                            Один из дополнительных документов:
                        </div>
                        <ul class="chevron-list initial-mt-20 desktop-mt-30">
                            <li class="chevron-list__li">
                                <svg class="icon" width="6" height="10" focusable="false">
                                    <use xlink:href="#icon-chevron-right" />
                                </svg>
                                ПТС/СТС на автотранспортное средство;
                            </li>
                            <li class="chevron-list__li">
                                <svg class="icon" width="6" height="10" focusable="false">
                                    <use xlink:href="#icon-chevron-right" />
                                </svg>
                                Справка по форме банка;
                            </li>
                            <li class="chevron-list__li">
                                <svg class="icon" width="6" height="10" focusable="false">
                                    <use xlink:href="#icon-chevron-right" />
                                </svg>
                                Заграничный паспорт;
                            </li>
                            <li class="chevron-list__li">
                                <svg class="icon" width="6" height="10" focusable="false">
                                    <use xlink:href="#icon-chevron-right" />
                                </svg>
                                Карта ДМС;
                            </li>
                            <li class="chevron-list__li">
                                <svg class="icon" width="6" height="10" focusable="false">
                                    <use xlink:href="#icon-chevron-right" />
                                </svg>
                                Пенсионное удостоверение или правка из ПФР;
                            </li>
                        </ul>
                    </div>
                    <div class="credit-info__item">
                        <div class="credit-info__item-title credit-info__item-title--black">
                            Credit Europe Bank
                            <img class="show-if-desktop lazyload" data-src="images/ceb.png" width="120" height="64"
                                alt=" Credit Europe Bank">
                        </div>
                        <ul class="bank-info-list initial-mt-15">
                            <li class="bank-info-list__li">
                                <div class="bank-info-list__title">
                                    Центральный офис:
                                </div>
                                <div class="bank-info-list__value">
                                    Россия, Москва, 107078, ул. Каланчевская, 27
                                </div>
                            </li>
                            <li class="bank-info-list__li">
                                <div class="bank-info-list__title">
                                    Телефон:
                                </div>
                                <div class="bank-info-list__value">
                                    +7 (495) 324-74-32
                                </div>
                            </li>
                            <li class="bank-info-list__li">
                                <div class="bank-info-list__title">
                                    Почта:
                                </div>
                                <div class="bank-info-list__value">
                                    sales@home-projects.ru
                                </div>
                            </li>
                            <li class="bank-info-list__li">
                                <div class="bank-info-list__title">
                                    Вебсайт:
                                </div>
                                <div class="bank-info-list__value">
                                    www.Sberbank.ru
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tabs__panel tabs__panel--no-vertical-padding" data-tabs-ref="content" data-id="tab-id-5">
                <div class="credit-info">
                    <div class="credit-info__item">
                        <div class="credit-info__item-title">
                            Требования к заемщику:
                        </div>
                        <ul class="chevron-list initial-mt-20 desktop-mt-30">
                            <li class="chevron-list__li">
                                <svg class="icon" width="6" height="10" focusable="false">
                                    <use xlink:href="#icon-chevron-right" />
                                </svg>
                                Гражданство РФ;
                            </li>
                            <li class="chevron-list__li">
                                <svg class="icon" width="6" height="10" focusable="false">
                                    <use xlink:href="#icon-chevron-right" />
                                </svg>
                                Постоянная регистрация;
                            </li>
                            <li class="chevron-list__li">
                                <svg class="icon" width="6" height="10" focusable="false">
                                    <use xlink:href="#icon-chevron-right" />
                                </svg>
                                Возраст от 20 до 70 лет;
                            </li>
                            <li class="chevron-list__li">
                                <svg class="icon" width="6" height="10" focusable="false">
                                    <use xlink:href="#icon-chevron-right" />
                                </svg>
                                Постоянное место работы, стаж на котором составляет не менее 3-х месяцев.
                            </li>
                        </ul>
                    </div>
                    <div class="credit-info__item">
                        <div class="credit-info__item-title">
                            Обязательные документы:
                        </div>
                        <ul class="chevron-list initial-mt-20 desktop-mt-30">
                            <li class="chevron-list__li">
                                <svg class="icon" width="6" height="10" focusable="false">
                                    <use xlink:href="#icon-chevron-right" />
                                </svg>
                                Гражданство РФ;
                            </li>
                            <li class="chevron-list__li">
                                <svg class="icon" width="6" height="10" focusable="false">
                                    <use xlink:href="#icon-chevron-right" />
                                </svg>
                                Свидетельство о праве собственности на землю.
                            </li>
                        </ul>
                    </div>
                    <div class="credit-info__item">
                        <div class="credit-info__item-title">
                            Один из дополнительных документов:
                        </div>
                        <ul class="chevron-list initial-mt-20 desktop-mt-30">
                            <li class="chevron-list__li">
                                <svg class="icon" width="6" height="10" focusable="false">
                                    <use xlink:href="#icon-chevron-right" />
                                </svg>
                                ПТС/СТС на автотранспортное средство;
                            </li>
                            <li class="chevron-list__li">
                                <svg class="icon" width="6" height="10" focusable="false">
                                    <use xlink:href="#icon-chevron-right" />
                                </svg>
                                Справка по форме банка;
                            </li>
                            <li class="chevron-list__li">
                                <svg class="icon" width="6" height="10" focusable="false">
                                    <use xlink:href="#icon-chevron-right" />
                                </svg>
                                Заграничный паспорт;
                            </li>
                            <li class="chevron-list__li">
                                <svg class="icon" width="6" height="10" focusable="false">
                                    <use xlink:href="#icon-chevron-right" />
                                </svg>
                                Карта ДМС;
                            </li>
                            <li class="chevron-list__li">
                                <svg class="icon" width="6" height="10" focusable="false">
                                    <use xlink:href="#icon-chevron-right" />
                                </svg>
                                Пенсионное удостоверение или правка из ПФР;
                            </li>
                        </ul>
                    </div>
                    <div class="credit-info__item">
                        <div class="credit-info__item-title credit-info__item-title--black">
                            Тинькофф
                            <img class="show-if-desktop lazyload" data-src="images/tkb.png" width="120" height="60"
                                alt="Тинькофф">
                        </div>
                        <ul class="bank-info-list initial-mt-15">
                            <li class="bank-info-list__li">
                                <div class="bank-info-list__title">
                                    Центральный офис:
                                </div>
                                <div class="bank-info-list__value">
                                    Россия, Москва, 107078, ул. Каланчевская, 27
                                </div>
                            </li>
                            <li class="bank-info-list__li">
                                <div class="bank-info-list__title">
                                    Телефон:
                                </div>
                                <div class="bank-info-list__value">
                                    +7 (495) 324-74-32
                                </div>
                            </li>
                            <li class="bank-info-list__li">
                                <div class="bank-info-list__title">
                                    Почта:
                                </div>
                                <div class="bank-info-list__value">
                                    sales@home-projects.ru
                                </div>
                            </li>
                            <li class="bank-info-list__li">
                                <div class="bank-info-list__title">
                                    Вебсайт:
                                </div>
                                <div class="bank-info-list__value">
                                    www.Sberbank.ru
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
