<div class="hidden" hidden>
    <ul class="submenu" id="credit-modal">
        <li class="submenu__item">
            <button class="submenu__link" type="button" data-tab-trigger data-target="tab-id-1">Сбербанк</button>
        </li>
        <li class="submenu__item">
            <button class="submenu__link" type="button" data-tab-trigger data-target="tab-id-2">ЛокоБанк</button>
        </li>
        <li class="submenu__item">
            <button class="submenu__link" type="button" data-tab-trigger data-target="tab-id-3">Альфабанк</button>
        </li>
        <li class="submenu__item">
            <button class="submenu__link" type="button" data-tab-trigger data-target="tab-id-4">Credit Europe
                Bank</button>
        </li>
        <li class="submenu__item">
            <button class="submenu__link" type="button" data-tab-trigger data-target="tab-id-5">Тинькофф</button>
        </li>
    </ul>
</div>
