<div class="hidden" hidden>
    <ul class="submenu" id="department-modal" data-component="department-scroller">
        <li class="submenu__item">
            <button class="submenu__link" type="button" data-department-scroller-ref="link" data-target="department-1"
                data-modal-close>Департамент продаж</button>
        </li>
        <li class="submenu__item">
            <button class="submenu__link" type="button" data-department-scroller-ref="link" data-target="department-2"
                data-modal-close>Архитектурный отдел</button>
        </li>
        <li class="submenu__item">
            <button class="submenu__link" type="button" data-department-scroller-ref="link" data-target="department-3"
                data-modal-close>Сметный отдел</button>
        </li>
        <li class="submenu__item">
            <button class="submenu__link" type="button" data-department-scroller-ref="link" data-target="department-4"
                data-modal-close>Производственный отдел</button>
        </li>
        <li class="submenu__item">
            <button class="submenu__link" type="button" data-department-scroller-ref="link" data-target="department-5"
                data-modal-close>Административный отдел</button>
        </li>
        <li class="submenu__item">
            <button class="submenu__link" type="button" data-department-scroller-ref="link" data-target="department-6"
                data-modal-close>Руководство</button>
        </li>
        <li class="submenu__item">
            <button class="submenu__link" type="button" data-department-scroller-ref="link" data-target="department-7"
                data-modal-close>Бригадиры</button>
        </li>
    </ul>
</div>
