<section class="section section--grey">
    <div class="section__head">
        <div class="container">
            <div class="section__row">
                <h2 class="section__title title-type-2">Дипломы и сертификаты</h2>
            </div>
        </div>
    </div>
    <div class="section__content slider-wrapper">
        <div class="container">
            <div class="row row--tiles-stacked-70" data-component="slider">
                <div class="col-tablet-3">
                    <a data-fslightbox="diploma-card" href="images/cert-1.jpg">
                        <img class="lazyload" data-src="https://www.mechtaevo.ru/images/scansert.jpg" alt="диплом">
                    </a>
                    <p class="paragraph-normal text-align-center initial-mt-16">
                        26-я выставка загородных домов, инженерных систем и отделочных материалов «Загородный дом 2017»
                    </p>
                </div>
                <div class="col-tablet-3">
                    <a data-fslightbox="diploma-card" href="images/cert-1.jpg">
                        <img class="lazyload" data-src="https://www.mechtaevo.ru/images/wooden-construction.jpg"
                            alt="диплом">
                    </a>
                    <p class="paragraph-normal text-align-center initial-mt-16">
                        23-я Международная выставка «Деревянное домостроение Holzhaus 2015».
                    </p>
                </div>
                <div class="col-tablet-3">
                    <a data-fslightbox="diploma-card" href="images/cert-1.jpg">
                        <img class="lazyload" data-src="https://www.mechtaevo.ru/images/mechtaevo_lr2015.jpg"
                            alt="диплом">
                    </a>
                    <p class="paragraph-normal text-align-center initial-mt-16">
                        Федеральный сертификат Лидер России 2015»
                    </p>
                </div>
                <div class="col-tablet-3">
                    <a data-fslightbox="diploma-card" href="images/cert-1.jpg">
                        <img class="lazyload" data-src="https://www.mechtaevo.ru/images/wooden_house_2014aut.jpg"
                            alt="диплом">
                    </a>
                    <p class="paragraph-normal text-align-center initial-mt-16">
                        21-я Международная выставка «Деревянное домостроение Holzhaus 2014».
                    </p>
                </div>
                <div class="col-tablet-3">
                    <a data-fslightbox="diploma-card" href="images/cert-1.jpg">
                        <img class="lazyload" data-src="https://www.mechtaevo.ru/images/holzhaus-20.jpg" alt="диплом">
                    </a>
                    <p class="paragraph-normal text-align-center initial-mt-16">
                        26-я выставка загородных домов, инженерных систем и отделочных материалов «Загородный дом 2017»
                    </p>
                </div>
                <div class="col-tablet-3">
                    <a data-fslightbox="diploma-card" href="images/cert-1.jpg">
                        <img class="lazyload" data-src="https://www.mechtaevo.ru/images/wooden_house_2014.jpg"
                            alt="диплом">
                    </a>
                    <p class="paragraph-normal text-align-center initial-mt-16">
                        Международная выставка «Деревянный дом 2014».
                    </p>
                </div>
                <div class="col-tablet-3">
                    <a data-fslightbox="diploma-card" href="images/cert-1.jpg">
                        <img class="lazyload" data-src="https://www.mechtaevo.ru/images/holzhaus-19.jpg" alt="диплом">
                    </a>
                    <p class="paragraph-normal text-align-center initial-mt-16">
                        Международная выставка «Деревянное домостроение Holzhaus 2013».
                    </p>
                </div>
                <div class="col-tablet-3">
                    <a data-fslightbox="diploma-card" href="images/cert-1.jpg">
                        <img class="lazyload" data-src="https://www.mechtaevo.ru/images/holzhaus-18.jpg" alt="диплом">
                    </a>
                    <p class="paragraph-normal text-align-center initial-mt-16">
                        Международная выставка «Деревянное Домостроение Holzhaus 2013».
                    </p>
                </div>
                <div class="col-tablet-3">
                    <a data-fslightbox="diploma-card" href="images/cert-1.jpg">
                        <img class="lazyload" data-src="https://www.mechtaevo.ru/images/wooden_house_2013.jpg"
                            alt="диплом">
                    </a>
                    <p class="paragraph-normal text-align-center initial-mt-16">
                        Международная выставка «Деревянный дом 2013».
                    </p>
                </div>
                <div class="col-tablet-3">
                    <a data-fslightbox="diploma-card" href="images/cert-1.jpg">
                        <img class="lazyload" data-src="https://www.mechtaevo.ru/images/krocus_2013.jpg" alt="диплом">
                    </a>
                    <p class="paragraph-normal text-align-center initial-mt-16">
                        «Российский архитектурный салон 2013».
                    </p>
                </div>
                <div class="col-tablet-3">
                    <a data-fslightbox="diploma-card" href="images/cert-1.jpg">
                        <img class="lazyload" data-src="https://www.mechtaevo.ru/images/wooden_house_2012.jpg"
                            alt="диплом">
                    </a>
                    <p class="paragraph-normal text-align-center initial-mt-16">
                        Сертификат. Международная выставка «ДЕРЕВЯННЫЙ ДОМ 2012».
                    </p>
                </div>
                <div class="col-tablet-3">
                    <a data-fslightbox="diploma-card" href="images/cert-1.jpg">
                        <img class="lazyload" data-src="https://www.mechtaevo.ru/images/domexpo_2012.jpg" alt="диплом">
                    </a>
                    <p class="paragraph-normal text-align-center initial-mt-16">
                        Диплом. Международная выставка недвижимости «Домэкспо 2012».
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
