<section class="section">
<div class="section__head">
<div class="container">
<div class="section__row">
<h2 class="section__title title-type-2">Часто задаваемые вопросы</h2>
<div class="show-if-tablet">
<a class="btn-primary btn-primary--blue-outlined btn-primary--with-icon"
href="/fix-me">
<svg class="icon" width="20" height="20" focusable="false">
<use xlink:href="#icon-question" />
</svg>
Все вопросы
</a>
</div>
</div>
</div>
</div>
<div class="section__content">
<div class="container">
<div class="accordion" data-component="accordion">

<button class="accordion__header" type="button" data-accordion-ref="trigger">

<span class="accordion__title title-type-4">Какую технологию строительства выбрать?</span>
<svg class="accordion__icon accordion__icon--plus icon" width="23" height="23" focusable="false">
<use xlink:href="#icon-plus-outlined" />
</svg>
<svg class="accordion__icon accordion__icon--minus icon" width="23" height="23" focusable="false">
<use xlink:href="#icon-minus-outlined" />
      </svg>
                </button>
                <div class="accordion__body" data-accordion-ref="content">
                    <div class="accordion__content">
                        <div class="richtext">
                            <p>Процесс изготовления газосиликата достаточно прост и выверен.
                                Сначала делается смесь из
                                всех ингредиентов, к которым в
                                последнюю очередь добавляется алюминиевая паста. Смесь выливаетсяв специальные формы
                                и
                                выстаивается – <a href="/fix-me">
                                    в это время
                                    происходит химическая реакция</a>. Затем заготовки для газобетона помещаются в
                                автоклавную
                                печь – специфический агрегат, в
                                котором под воздействием высокого давления до <strong>12 бар</strong> и температуры
                                <strong>до
                                    190 градусов</strong>
                                происходит вспенивание и
                                затвердевание газосиликатного материала.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="accordion" data-component="accordion">

                <button class="accordion__header" type="button" data-accordion-ref="trigger">

                    <span class="accordion__title title-type-4">Что такое виновые сваи и для чего они нужны?</span>
                    <svg class="accordion__icon accordion__icon--plus icon" width="23" height="23" focusable="false">
                        <use xlink:href="#icon-plus-outlined" />
                    </svg>
                    <svg class="accordion__icon accordion__icon--minus icon" width="23" height="23" focusable="false">
                        <use xlink:href="#icon-minus-outlined" />
                    </svg>
                </button>
                <div class="accordion__body" data-accordion-ref="content">
                    <div class="accordion__content">
                        <div class="richtext">
                            <p>Процесс изготовления газосиликата достаточно прост и выверен.
                                Сначала делается смесь из
                                всех ингредиентов, к которым в
                                последнюю очередь добавляется алюминиевая паста. Смесь выливаетсяв специальные формы
                                и
                                выстаивается – <a href="/fix-me">
                                    в это время
                                    происходит химическая реакция</a>. Затем заготовки для газобетона помещаются в
                                автоклавную
                                печь – специфический агрегат, в
                                котором под воздействием высокого давления до <strong>12 бар</strong> и температуры
                                <strong>до
                                    190 градусов</strong>
                                происходит вспенивание и
                                затвердевание газосиликатного материала.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="accordion" data-component="accordion">
                <button class="accordion__header" type="button" data-accordion-ref="trigger">

                    <span class="accordion__title title-type-4">Основные этапы и особенности возведения домов из
                        газобетонных блоков</span>
                    <svg class="accordion__icon accordion__icon--plus icon" width="23" height="23" focusable="false">
                        <use xlink:href="#icon-plus-outlined" />
                    </svg>
                    <svg class="accordion__icon accordion__icon--minus icon" width="23" height="23" focusable="false">
                        <use xlink:href="#icon-minus-outlined" />
                    </svg>
                </button>
                <div class="accordion__body" data-accordion-ref="content">
                    <div class="accordion__content">
                        <div class="richtext">
                            <p>Процесс изготовления газосиликата достаточно прост и выверен.
                                Сначала делается смесь из
                                всех ингредиентов, к которым в
                                последнюю очередь добавляется алюминиевая паста. Смесь выливаетсяв специальные формы
                                и
                                выстаивается – <a href="/fix-me">
                                    в это время
                                    происходит химическая реакция</a>. Затем заготовки для газобетона помещаются в
                                автоклавную
                                печь – специфический агрегат, в
                                котором под воздействием высокого давления до <strong>12 бар</strong> и температуры
                                <strong>до
                                    190 градусов</strong>
                                происходит вспенивание и
                                затвердевание газосиликатного материала.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
