<section class="section section--grey section--no-head--border">
    <div class="section__head">
        <div class="container">
            <div class="section__row">
                <div class="section__heading">
                    <ul class="breadcrumb">
                        <li class="breadcrumb__item">
                            <a class="breadcrumb__link" href="/fix-me">Строительство домов</a>
                        </li>
                        <li class="breadcrumb__item">
                            <span class="breadcrumb__link">Проекты домов</span>
                        </li>
                    </ul>
                    <h1 class="section__title title-type-2 initial-mt-0 desktop-mt-10">Избранное</h1>
                </div>
                <div class="show-if-tablet">
                    <div class="section__info">
                        <div class="section__info-value">
                            > 700
                        </div>
                        Проектов домов
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section__content">
        <div class="container">
            <div class="show-if-tablet">
                <div class="form-select-row form-select-row--justify-content-end initial-mb-20">
                    <div class="form-select-row__item">
                        <div class="form-select" data-component="select">
                            <div class="form-select__label">Показывать по:</div>
                            <button class="form-select__btn" type="button" data-select-ref="selectBtn">
                                <span data-select-ref="selectValue">60</span>

                                <svg class="icon" width="10" height="5" focusable="false">
                                    <use xlink:href="#icon-chevron-down" />
                                </svg>
                            </button>
                            <div class="form-select__list" data-select-ref="selectList">
                                <ul class="submenu">
                                    <li class="submenu__item">
                                        <span class="submenu__link submenu__link--grey">Показывать по:</span>
                                    </li>
                                    <li class="submenu__item">
                                        <button class="submenu__link" type="button" data-select-ref="optionBtn"
                                            data-value="60">По
                                            60
                                        </button>
                                    </li>
                                    <li class="submenu__item">
                                        <button class="submenu__link" type="button" data-select-ref="optionBtn"
                                            data-value="80">По
                                            80
                                        </button>
                                    </li>
                                    <li class="submenu__item">
                                        <button class="submenu__link" type="button" data-select-ref="optionBtn"
                                            data-value="100">По
                                            100
                                        </button>
                                    </li>
                                    <li class="submenu__item">
                                        <button class="submenu__link" type="button" data-select-ref="optionBtn"
                                            data-value="120">По
                                            120
                                        </button>
                                    </li>
                                    <li class="submenu__item">
                                        <button class="submenu__link" type="button" data-select-ref="optionBtn"
                                            data-value="Показывать все">Показывать все
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-select-row__item">
                        <div class="form-select" data-component="select">
                            <div class="form-select__label">Сортировать по:</div>
                            <button class="form-select__btn" type="button" data-select-ref="selectBtn">
                                <span data-select-ref="selectValue">Убыванию цены</span>

                                <svg class="icon" width="10" height="5" focusable="false">
                                    <use xlink:href="#icon-chevron-down" />
                                </svg>
                            </button>
                            <div class="form-select__list" data-select-ref="selectList">
                                <ul class="submenu">
                                    <li class="submenu__item">
                                        <span class="submenu__link submenu__link--grey">Сортировать по:</span>
                                    </li>
                                    <li class="submenu__item">
                                        <button class="submenu__link" type="button" data-select-ref="optionBtn"
                                            data-value="Убыванию цены">Убыванию цены
                                        </button>
                                    </li>
                                    <li class="submenu__item">
                                        <button class="submenu__link" type="button" data-select-ref="optionBtn"
                                            data-value="Возрастанию цены">Возрастанию цены
                                        </button>
                                    </li>
                                    <li class="submenu__item">
                                        <button class="submenu__link" type="button" data-select-ref="optionBtn"
                                            data-value="По площади Мин.">По
                                            площади Мин.
                                        </button>
                                    </li>
                                    <li class="submenu__item">
                                        <button class="submenu__link" type="button" data-select-ref="optionBtn"
                                            data-value="По площади Макс.">По
                                            площади Макс.
                                        </button>
                                    </li>
                                    <li class="submenu__item">
                                        <button class="submenu__link" type="button" data-select-ref="optionBtn"
                                            data-value="По популярности">По
                                            популярности
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hr initial-mb-25"></div>
            </div>
            <div class="row row--tiles">
                <div class="col-12 col-tablet-6 col-desktop-4">
                    <div class="card card--popular">
                        <a class="card__media" href="/fix-me">
                            <span class="card__badge">
                                <svg class="icon" width="16" height="16" focusable="false">
                                    <use xlink:href="#icon-tick-in-circle" />
                                </svg>
                                Топ проект
                            </span>
                            <img class="lazyload" data-src="images/home-1.jpg" alt="Импала">
                        </a>
                        <div class="card__content">
                            <h3 class="card__title title-type-3 initial-mb-8">
                                <a class="card__link" href="/fix-me">Импала</a>
                            </h3>
                            <ul class="card__info key-info">
                                <li class="key-info__item">Дом под ключ: <span class="key-info__item-value">8,3
                                        х
                                        8,8
                                        м2.</span></li>
                                <li class="key-info__item">Общая площадь: <span class="key-info__item-value">322
                                        м2</span>
                                </li>
                            </ul>
                            <div class="hr initial-m-15"></div>
                            <div class="card__price">
                                <span class="card__price-label">Стоимость от:</span>
                                <span class="card__price-value">2 000 000 ₽</span>
                                <span class="card__price-label">Возможна индивидуальная планировка</span>
                            </div>
                            <div class="card__btn-group initial-mt-35">
                                <a class="card__btn btn-primary btn-primary--with-icon" href="/fix-me">
                                    <svg class="icon" width="15" height="14" focusable="false">
                                        <use xlink:href="#icon-arrow-right" />
                                    </svg>
                                    Посмотреть проект
                                </a>
                                <button class="card__btn-favorites btn" type="button">
                                    <svg class="icon" width="23" height="19" focusable="false">
                                        <use xlink:href="#icon-heart" />
                                    </svg>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-tablet-6 col-desktop-4">
                    <div class="card card--popular">
                        <a class="card__media" href="/fix-me">
                            <span class="card__badge">
                                <svg class="icon" width="16" height="16" focusable="false">
                                    <use xlink:href="#icon-tick-in-circle" />
                                </svg>
                                Топ проект
                            </span>
                            <img class="lazyload" data-src="images/home-2.jpg" alt="Импала">
                        </a>
                        <div class="card__content">
                            <h3 class="card__title title-type-3 initial-mb-8">
                                <a class="card__link" href="/fix-me">Воудлер</a>
                            </h3>
                            <ul class="card__info key-info">
                                <li class="key-info__item">Дом под ключ: <span class="key-info__item-value">8,3
                                        х
                                        8,8
                                        м2.</span></li>
                                <li class="key-info__item">Общая площадь: <span class="key-info__item-value">322
                                        м2</span>
                                </li>
                            </ul>
                            <div class="hr initial-m-15"></div>
                            <div class="card__price">
                                <span class="card__price-label">Стоимость от:</span>
                                <span class="card__price-value">2 170 000 ₽</span>
                                <span class="card__price-label">Возможна индивидуальная планировка</span>
                            </div>
                            <div class="card__btn-group initial-mt-35">
                                <a class="card__btn btn-primary btn-primary--with-icon" href="/fix-me">
                                    <svg class="icon" width="15" height="14" focusable="false">
                                        <use xlink:href="#icon-arrow-right" />
                                    </svg>
                                    Посмотреть проект
                                </a>
                                <button class="card__btn-favorites btn" type="button">
                                    <svg class="icon" width="23" height="19" focusable="false">
                                        <use xlink:href="#icon-heart" />
                                    </svg>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-tablet-6 col-desktop-4">
                    <div class="card card--popular">
                        <a class="card__media" href="/fix-me">
                            <span class="card__badge">
                                <svg class="icon" width="16" height="16" focusable="false">
                                    <use xlink:href="#icon-tick-in-circle" />
                                </svg>
                                Топ проект
                            </span>
                            <img class="lazyload" data-src="images/home-3.jpg" alt="Импала">
                        </a>
                        <div class="card__content">
                            <h3 class="card__title title-type-3 initial-mb-8">
                                <a class="card__link" href="/fix-me">Валенсия</a>
                            </h3>
                            <ul class="card__info key-info">
                                <li class="key-info__item">Дом под ключ: <span class="key-info__item-value">8,3
                                        х
                                        8,8
                                        м2.</span></li>
                                <li class="key-info__item">Общая площадь: <span class="key-info__item-value">322
                                        м2</span>
                                </li>
                            </ul>
                            <div class="hr initial-m-15"></div>
                            <div class="card__price">
                                <span class="card__price-label">Стоимость от:</span>
                                <span class="card__price-value">3 200 000 ₽</span>
                                <span class="card__price-label">Возможна индивидуальная планировка</span>
                            </div>
                            <div class="card__btn-group initial-mt-35">
                                <a class="card__btn btn-primary btn-primary--with-icon" href="/fix-me">
                                    <svg class="icon" width="15" height="14" focusable="false">
                                        <use xlink:href="#icon-arrow-right" />
                                    </svg>
                                    Посмотреть проект
                                </a>
                                <button class="card__btn-favorites btn" type="button">
                                    <svg class="icon" width="23" height="19" focusable="false">
                                        <use xlink:href="#icon-heart" />
                                    </svg>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-tablet-6 col-desktop-4">
                    <div class="card card--popular">
                        <a class="card__media" href="/fix-me">
                            <span class="card__badge">
                                <svg class="icon" width="16" height="16" focusable="false">
                                    <use xlink:href="#icon-tick-in-circle" />
                                </svg>
                                Топ проект
                            </span>
                            <img class="lazyload" data-src="images/home-1.jpg" alt="Импала">
                        </a>
                        <div class="card__content">
                            <h3 class="card__title title-type-3 initial-mb-8">
                                <a class="card__link" href="/fix-me">Импала</a>
                            </h3>
                            <ul class="card__info key-info">
                                <li class="key-info__item">Дом под ключ: <span class="key-info__item-value">8,3
                                        х
                                        8,8
                                        м2.</span></li>
                                <li class="key-info__item">Общая площадь: <span class="key-info__item-value">322
                                        м2</span>
                                </li>
                            </ul>
                            <div class="hr initial-m-15"></div>
                            <div class="card__price">
                                <span class="card__price-label">Стоимость от:</span>
                                <span class="card__price-value">2 000 000 ₽</span>
                                <span class="card__price-label">Возможна индивидуальная планировка</span>
                            </div>
                            <div class="card__btn-group initial-mt-35">
                                <a class="card__btn btn-primary btn-primary--with-icon" href="/fix-me">
                                    <svg class="icon" width="15" height="14" focusable="false">
                                        <use xlink:href="#icon-arrow-right" />
                                    </svg>
                                    Посмотреть проект
                                </a>
                                <button class="card__btn-favorites btn" type="button">
                                    <svg class="icon" width="23" height="19" focusable="false">
                                        <use xlink:href="#icon-heart" />
                                    </svg>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-tablet-6 col-desktop-4">
                    <div class="card card--popular">
                        <a class="card__media" href="/fix-me">
                            <span class="card__badge">
                                <svg class="icon" width="16" height="16" focusable="false">
                                    <use xlink:href="#icon-tick-in-circle" />
                                </svg>
                                Топ проект
                            </span>
                            <img class="lazyload" data-src="images/home-2.jpg" alt="Импала">
                        </a>
                        <div class="card__content">
                            <h3 class="card__title title-type-3 initial-mb-8">
                                <a class="card__link" href="/fix-me">Воудлер</a>
                            </h3>
                            <ul class="card__info key-info">
                                <li class="key-info__item">Дом под ключ: <span class="key-info__item-value">8,3
                                        х
                                        8,8
                                        м2.</span></li>
                                <li class="key-info__item">Общая площадь: <span class="key-info__item-value">322
                                        м2</span>
                                </li>
                            </ul>
                            <div class="hr initial-m-15"></div>
                            <div class="card__price">
                                <span class="card__price-label">Стоимость от:</span>
                                <span class="card__price-value">2 170 000 ₽</span>
                                <span class="card__price-label">Возможна индивидуальная планировка</span>
                            </div>
                            <div class="card__btn-group initial-mt-35">
                                <a class="card__btn btn-primary btn-primary--with-icon" href="/fix-me">
                                    <svg class="icon" width="15" height="14" focusable="false">
                                        <use xlink:href="#icon-arrow-right" />
                                    </svg>
                                    Посмотреть проект
                                </a>
                                <button class="card__btn-favorites btn" type="button">
                                    <svg class="icon" width="23" height="19" focusable="false">
                                        <use xlink:href="#icon-heart" />
                                    </svg>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-tablet-6 col-desktop-4">
                    <div class="card card--popular">
                        <a class="card__media" href="/fix-me">
                            <span class="card__badge">
                                <svg class="icon" width="16" height="16" focusable="false">
                                    <use xlink:href="#icon-tick-in-circle" />
                                </svg>
                                Топ проект
                            </span>
                            <img class="lazyload" data-src="images/home-3.jpg" alt="Импала">
                        </a>
                        <div class="card__content">
                            <h3 class="card__title title-type-3 initial-mb-8">
                                <a class="card__link" href="/fix-me">Валенсия</a>
                            </h3>
                            <ul class="card__info key-info">
                                <li class="key-info__item">Дом под ключ: <span class="key-info__item-value">8,3
                                        х
                                        8,8
                                        м2.</span></li>
                                <li class="key-info__item">Общая площадь: <span class="key-info__item-value">322
                                        м2</span>
                                </li>
                            </ul>
                            <div class="hr initial-m-15"></div>
                            <div class="card__price">
                                <span class="card__price-label">Стоимость от:</span>
                                <span class="card__price-value">3 200 000 ₽</span>
                                <span class="card__price-label">Возможна индивидуальная планировка</span>
                            </div>
                            <div class="card__btn-group initial-mt-35">
                                <a class="card__btn btn-primary btn-primary--with-icon" href="/fix-me">
                                    <svg class="icon" width="15" height="14" focusable="false">
                                        <use xlink:href="#icon-arrow-right" />
                                    </svg>
                                    Посмотреть проект
                                </a>
                                <button class="card__btn-favorites btn" type="button">
                                    <svg class="icon" width="23" height="19" focusable="false">
                                        <use xlink:href="#icon-heart" />
                                    </svg>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-tablet-6 col-desktop-4">
                    <div class="card card--popular">
                        <a class="card__media" href="/fix-me">
                            <span class="card__badge">
                                <svg class="icon" width="16" height="16" focusable="false">
                                    <use xlink:href="#icon-tick-in-circle" />
                                </svg>
                                Топ проект
                            </span>
                            <img class="lazyload" data-src="images/home-1.jpg" alt="Импала">
                        </a>
                        <div class="card__content">
                            <h3 class="card__title title-type-3 initial-mb-8">
                                <a class="card__link" href="/fix-me">Импала</a>
                            </h3>
                            <ul class="card__info key-info">
                                <li class="key-info__item">Дом под ключ: <span class="key-info__item-value">8,3
                                        х
                                        8,8
                                        м2.</span></li>
                                <li class="key-info__item">Общая площадь: <span class="key-info__item-value">322
                                        м2</span>
                                </li>
                            </ul>
                            <div class="hr initial-m-15"></div>
                            <div class="card__price">
                                <span class="card__price-label">Стоимость от:</span>
                                <span class="card__price-value">2 000 000 ₽</span>
                                <span class="card__price-label">Возможна индивидуальная планировка</span>
                            </div>
                            <div class="card__btn-group initial-mt-35">
                                <a class="card__btn btn-primary btn-primary--with-icon" href="/fix-me">
                                    <svg class="icon" width="15" height="14" focusable="false">
                                        <use xlink:href="#icon-arrow-right" />
                                    </svg>
                                    Посмотреть проект
                                </a>
                                <button class="card__btn-favorites btn" type="button">
                                    <svg class="icon" width="23" height="19" focusable="false">
                                        <use xlink:href="#icon-heart" />
                                    </svg>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-tablet-6 col-desktop-4">
                    <div class="card card--popular">
                        <a class="card__media" href="/fix-me">
                            <span class="card__badge">
                                <svg class="icon" width="16" height="16" focusable="false">
                                    <use xlink:href="#icon-tick-in-circle" />
                                </svg>
                                Топ проект
                            </span>
                            <img class="lazyload" data-src="images/home-2.jpg" alt="Импала">
                        </a>
                        <div class="card__content">
                            <h3 class="card__title title-type-3 initial-mb-8">
                                <a class="card__link" href="/fix-me">Воудлер</a>
                            </h3>
                            <ul class="card__info key-info">
                                <li class="key-info__item">Дом под ключ: <span class="key-info__item-value">8,3
                                        х
                                        8,8
                                        м2.</span></li>
                                <li class="key-info__item">Общая площадь: <span class="key-info__item-value">322
                                        м2</span>
                                </li>
                            </ul>
                            <div class="hr initial-m-15"></div>
                            <div class="card__price">
                                <span class="card__price-label">Стоимость от:</span>
                                <span class="card__price-value">2 170 000 ₽</span>
                                <span class="card__price-label">Возможна индивидуальная планировка</span>
                            </div>
                            <div class="card__btn-group initial-mt-35">
                                <a class="card__btn btn-primary btn-primary--with-icon" href="/fix-me">
                                    <svg class="icon" width="15" height="14" focusable="false">
                                        <use xlink:href="#icon-arrow-right" />
                                    </svg>
                                    Посмотреть проект
                                </a>
                                <button class="card__btn-favorites btn" type="button">
                                    <svg class="icon" width="23" height="19" focusable="false">
                                        <use xlink:href="#icon-heart" />
                                    </svg>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-tablet-6 col-desktop-4">
                    <div class="card card--popular">
                        <a class="card__media" href="/fix-me">
                            <span class="card__badge">
                                <svg class="icon" width="16" height="16" focusable="false">
                                    <use xlink:href="#icon-tick-in-circle" />
                                </svg>
                                Топ проект
                            </span>
                            <img class="lazyload" data-src="images/home-1.jpg" alt="Импала">
                        </a>
                        <div class="card__content">
                            <h3 class="card__title title-type-3 initial-mb-8">
                                <a class="card__link" href="/fix-me">Импала</a>
                            </h3>
                            <ul class="card__info key-info">
                                <li class="key-info__item">Дом под ключ: <span class="key-info__item-value">8,3
                                        х
                                        8,8
                                        м2.</span></li>
                                <li class="key-info__item">Общая площадь: <span class="key-info__item-value">322
                                        м2</span>
                                </li>
                            </ul>
                            <div class="hr initial-m-15"></div>
                            <div class="card__price">
                                <span class="card__price-label">Стоимость от:</span>
                                <span class="card__price-value">2 000 000 ₽</span>
                                <span class="card__price-label">Возможна индивидуальная планировка</span>
                            </div>
                            <div class="card__btn-group initial-mt-35">
                                <a class="card__btn btn-primary btn-primary--with-icon" href="/fix-me">
                                    <svg class="icon" width="15" height="14" focusable="false">
                                        <use xlink:href="#icon-arrow-right" />
                                    </svg>
                                    Посмотреть проект
                                </a>
                                <button class="card__btn-favorites btn" type="button">
                                    <svg class="icon" width="23" height="19" focusable="false">
                                        <use xlink:href="#icon-heart" />
                                    </svg>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination pagination--push-to-right initial-mt-25 tablet-mt-40">
                <ul class="pagination__list">
                    <li class="pagination__item">
                        <button class="pagination__link btn" type="button">
                            1
                        </button>
                    </li>
                    <li class="pagination__item">
                        <button class="pagination__link btn" type="button">
                            2
                        </button>
                    </li>
                    <li class="pagination__item">
                        <button class="pagination__link btn is-active" type="button">
                            3
                        </button>
                    </li>
                    <li class="pagination__item">
                        <button class="pagination__link pagination__link--divider btn" type="button">
                            ...
                        </button>
                    </li>
                    <li class="pagination__item">
                        <button class="pagination__link btn" type="button">
                            На последнюю
                        </button>
                    </li>
                </ul>
                <div class="pagination__counts">
                    <strong class="pagination__counts-value">5</strong> из 72
                </div>
            </div>
        </div>
    </div>
</section>
