<div class="hidden" hidden>
    <div class="filters-modal" id="filters-mobile">
        <div class="filters-modal__inner">
            <form action="/fix-me">
                <div class="form-control">
                    <div class="form-control__header">
                        <div class="form-control__label">
                            Технология строительства
                        </div>
                    </div>
                    <div class="form-control__body">
                        <div class="form-control__content">
                            <div class="form-checkbox">
                                <input class="form-checkbox__control" type="checkbox" id="unique-mobile-id-1"
                                    value="frame" name="frame">
                                <label class="form-checkbox__label" for="unique-mobile-id-1">
                                    <span class="form-checkbox__tick">
                                        <svg class="icon" width="10" height="10" focusable="false" aria-hidden="true">
                                            <use xlink:href="#icon-tick"></use>
                                        </svg>
                                    </span>
                                    <span class="form-checkbox__text">Каркасный</span>
                                </label>
                            </div>
                            <div class="form-checkbox">
                                <input class="form-checkbox__control" type="checkbox" id="unique-mobile-id-2"
                                    value="stone" name="stone">
                                <label class="form-checkbox__label" for="unique-mobile-id-2">
                                    <span class="form-checkbox__tick">
                                        <svg class="icon" width="10" height="10" focusable="false" aria-hidden="true">
                                            <use xlink:href="#icon-tick"></use>
                                        </svg>
                                    </span>
                                    <span class="form-checkbox__text">Каменный</span>
                                </label>
                            </div>
                            <div class="form-checkbox">
                                <input class="form-checkbox__control" type="checkbox" id="unique-mobile-id-3"
                                    value="combo" name="combo">
                                <label class="form-checkbox__label" for="unique-mobile-id-3">
                                    <span class="form-checkbox__tick">
                                        <svg class="icon" width="10" height="10" focusable="false" aria-hidden="true">
                                            <use xlink:href="#icon-tick"></use>
                                        </svg>
                                    </span>
                                    <span class="form-checkbox__text">Комбинированный</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-control form-control--radio">
                    <div class="form-control__header">
                        <div class="form-control__label">
                            Этажность
                        </div>
                    </div>
                    <div class="form-control__body">
                        <div class="form-control__content">
                            <div class="form-radio">
                                <input class="form-radio__control" type="radio" id="radioButton-mobile-id-1" value="all"
                                    name="floors" checked>
                                <label class="form-radio__label" for="radioButton-mobile-id-1">
                                    <span class="form-radio__text">Все</span>
                                </label>
                            </div>
                            <div class="form-radio">
                                <input class="form-radio__control" type="radio" id="radioButton-mobile-id-2"
                                    value="1-floors" name="floors">
                                <label class="form-radio__label" for="radioButton-mobile-id-2">
                                    <span class="form-radio__text">1 этаж</span>
                                </label>
                            </div>
                            <div class="form-radio">
                                <input class="form-radio__control" type="radio" id="radioButton-mobile-id-3"
                                    value="2-floors" name="floors">
                                <label class="form-radio__label" for="radioButton-mobile-id-3">
                                    <span class="form-radio__text">2 этажа</span>
                                </label>
                            </div>
                            <div class="form-radio">
                                <input class="form-radio__control" type="radio" id="radioButton-mobile-id-4"
                                    value="mandsard" name="floors">
                                <label class="form-radio__label" for="radioButton-mobile-id-4">
                                    <span class="form-radio__text">С мандсардой</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-control form-control--radio">
                    <div class="form-control__header">
                        <div class="form-control__label">
                            Количество комнат
                        </div>
                    </div>
                    <div class="form-control__body">
                        <div class="form-control__content">
                            <div class="form-radio">
                                <input class="form-radio__control" type="radio" id="radioButton-mobile-id-5"
                                    value="no-matter" name="roomCount" checked>
                                <label class="form-radio__label" for="radioButton-mobile-id-5">
                                    <span class="form-radio__text">Не важно</span>
                                </label>
                            </div>
                            <div class="form-radio">
                                <input class="form-radio__control" type="radio" id="radioButton-mobile-id-6"
                                    value="2-flat" name="roomCount">
                                <label class="form-radio__label" for="radioButton-mobile-id-6">
                                    <span class="form-radio__text">2 комнаты</span>
                                </label>
                            </div>
                            <div class="form-radio">
                                <input class="form-radio__control" type="radio" id="radioButton-mobile-id-7"
                                    value="3-flat" name="roomCount">
                                <label class="form-radio__label" for="radioButton-mobile-id-7">
                                    <span class="form-radio__text">3 комнаты</span>
                                </label>
                            </div>
                            <div class="form-radio">
                                <input class="form-radio__control" type="radio" id="radioButton-mobile-id-8"
                                    value="4-flat" name="roomCount">
                                <label class="form-radio__label" for="radioButton-mobile-id-8">
                                    <span class="form-radio__text">4 комнаты</span>
                                </label>
                            </div>
                            <div class="form-radio">
                                <input class="form-radio__control" type="radio" id="radioButton-mobile-id-9"
                                    value="5-flat" name="roomCount">
                                <label class="form-radio__label" for="radioButton-mobile-id-9">
                                    <span class="form-radio__text">5 комнат</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-control form-control--radio">
                    <div class="form-control__header">
                        <div class="form-control__label">
                            Назначение
                        </div>
                    </div>
                    <div class="form-control__body">
                        <div class="form-control__content">
                            <div class="form-radio">
                                <input class="form-radio__control" type="radio" id="radioButton-mobile-id-10"
                                    value="narrow" name="purpose" checked>
                                <label class="form-radio__label" for="radioButton-mobile-id-10">
                                    <span class="form-radio__text">Для узких участков</span>
                                </label>
                            </div>
                            <div class="form-radio">
                                <input class="form-radio__control" type="radio" id="radioButton-mobile-id-11"
                                    value="2-flat" name="purpose">
                                <label class="form-radio__label" for="radioButton-mobile-id-11">
                                    <span class="form-radio__text">Для 1 семьи</span>
                                </label>
                            </div>
                            <div class="form-radio">
                                <input class="form-radio__control" type="radio" id="radioButton-mobile-id-12"
                                    value="3-flat" name="purpose">
                                <label class="form-radio__label" for="radioButton-mobile-id-12">
                                    <span class="form-radio__text">Для 2 и более семей</span>
                                </label>
                            </div>
                            <div class="form-radio">
                                <input class="form-radio__control" type="radio" id="radioButton-mobile-id-13"
                                    value="4-flat" name="purpose">
                                <label class="form-radio__label" for="radioButton-mobile-id-13">
                                    <span class="form-radio__text">Классический</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-control form-control--two-columns">
                    <div class="form-control__header">
                        <div class="form-control__label">
                            Крыша
                        </div>
                    </div>
                    <div class="form-control__body">
                        <div class="form-control__content">
                            <div class="form-checkbox">
                                <input class="form-checkbox__control" type="checkbox" id="unique-mobile-id-4" value="1"
                                    name="roof-1">
                                <label class="form-checkbox__label" for="unique-mobile-id-4">
                                    <span class="form-checkbox__tick">
                                        <svg class="icon" width="10" height="10" focusable="false" aria-hidden="true">
                                            <use xlink:href="#icon-tick"></use>
                                        </svg>
                                    </span>
                                    <span class="form-checkbox__text">Односкатная</span>
                                </label>
                            </div>
                            <div class="form-checkbox">
                                <input class="form-checkbox__control" type="checkbox" id="unique-mobile-id-5" value="2"
                                    name="roof-2">
                                <label class="form-checkbox__label" for="unique-mobile-id-5">
                                    <span class="form-checkbox__tick">
                                        <svg class="icon" width="10" height="10" focusable="false" aria-hidden="true">
                                            <use xlink:href="#icon-tick"></use>
                                        </svg>
                                    </span>
                                    <span class="form-checkbox__text">Двухскатная</span>
                                </label>
                            </div>
                            <div class="form-checkbox">
                                <input class="form-checkbox__control" type="checkbox" id="unique-mobile-id-6" value="4"
                                    name="roof-4">
                                <label class="form-checkbox__label" for="unique-mobile-id-6">
                                    <span class="form-checkbox__tick">
                                        <svg class="icon" width="10" height="10" focusable="false" aria-hidden="true">
                                            <use xlink:href="#icon-tick"></use>
                                        </svg>
                                    </span>
                                    <span class="form-checkbox__text">Четырехскатная</span>
                                </label>
                            </div>
                            <div class="form-checkbox">
                                <input class="form-checkbox__control" type="checkbox" id="unique-mobile-id-7"
                                    value="complex" name="complex">
                                <label class="form-checkbox__label" for="unique-mobile-id-7">
                                    <span class="form-checkbox__tick">
                                        <svg class="icon" width="10" height="10" focusable="false" aria-hidden="true">
                                            <use xlink:href="#icon-tick"></use>
                                        </svg>
                                    </span>
                                    <span class="form-checkbox__text">Сложная</span>
                                </label>
                            </div>
                            <div class="form-checkbox">
                                <input class="form-checkbox__control" type="checkbox" id="unique-mobile-id-8"
                                    value="plane" name="plane">
                                <label class="form-checkbox__label" for="unique-mobile-id-8">
                                    <span class="form-checkbox__tick">
                                        <svg class="icon" width="10" height="10" focusable="false" aria-hidden="true">
                                            <use xlink:href="#icon-tick"></use>
                                        </svg>
                                    </span>
                                    <span class="form-checkbox__text">Плоская</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-control">
                    <div class="form-control__header">
                        <div class="form-control__label">
                            Ценовой диапазон
                        </div>
                    </div>
                    <div class="form-control__body">
                        <div class="form-control__content">
                            <div class="form-range" data-component="range"
                                data-options='{"start":[4000000,6000000],"range":{"min": 0, "max": 10000000}, "step": 100000, "margin": 100000}'>
                                <div class="form-range__container">
                                    <div class="form-range__range" data-range-ref="range"></div>
                                </div>
                                <div class="form-range__inputs">
                                    <div class="form-range__input">
                                        <span class="form-range__input-value" data-range-ref="range-min">1000000</span>
                                        ₽
                                    </div>
                                    <div class="form-range__input">
                                        <span class="form-range__input-value" data-range-ref="range-max">6000000</span>
                                        ₽
                                    </div>
                                    <input type="hidden" name="price" data-range-ref="input">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-control">
                    <div class="form-control__header">
                        <div class="form-control__label">
                            Площадь
                        </div>
                    </div>
                    <div class="form-control__body">
                        <div class="form-control__content">
                            <div class="form-range" data-component="range"
                                data-options='{"start":[80,400],"range":{"min": 0, "max": 800}}'>
                                <div class="form-range__container">
                                    <div class="form-range__range" data-range-ref="range"></div>
                                </div>
                                <div class="form-range__inputs">
                                    <div class="form-range__input">
                                        <span class="form-range__input-value" data-range-ref="range-min">80</span>
                                        м2
                                    </div>
                                    <div class="form-range__input">
                                        <span class="form-range__input-value" data-range-ref="range-max">400</span>
                                        м2
                                    </div>
                                    <input type="hidden" name="square" data-range-ref="input">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-control form-control--three-columns">
                    <div class="form-control__header">
                        <div class="form-control__label">
                            Архитектурный стиль
                        </div>
                    </div>
                    <div class="form-control__body">
                        <div class="form-control__content">
                            <div class="form-checkbox">
                                <input class="form-checkbox__control" type="checkbox" id="unique-mobile-id-9" value="1"
                                    name="style-1">
                                <label class="form-checkbox__label" for="unique-mobile-id-9">
                                    <span class="form-checkbox__tick">
                                        <svg class="icon" width="10" height="10" focusable="false" aria-hidden="true">
                                            <use xlink:href="#icon-tick"></use>
                                        </svg>
                                    </span>
                                    <span class="form-checkbox__text">Шале</span>
                                </label>
                            </div>
                            <div class="form-checkbox">
                                <input class="form-checkbox__control" type="checkbox" id="unique-mobile-id-10" value="2"
                                    name="style-2">
                                <label class="form-checkbox__label" for="unique-mobile-id-10">
                                    <span class="form-checkbox__tick">
                                        <svg class="icon" width="10" height="10" focusable="false" aria-hidden="true">
                                            <use xlink:href="#icon-tick"></use>
                                        </svg>
                                    </span>
                                    <span class="form-checkbox__text">Современный</span>
                                </label>
                            </div>
                            <div class="form-checkbox">
                                <input class="form-checkbox__control" type="checkbox" id="unique-mobile-id-11" value="3"
                                    name="style-3">
                                <label class="form-checkbox__label" for="unique-mobile-id-11">
                                    <span class="form-checkbox__tick">
                                        <svg class="icon" width="10" height="10" focusable="false" aria-hidden="true">
                                            <use xlink:href="#icon-tick"></use>
                                        </svg>
                                    </span>
                                    <span class="form-checkbox__text">Хай-тек</span>
                                </label>
                            </div>
                            <div class="form-checkbox">
                                <input class="form-checkbox__control" type="checkbox" id="unique-mobile-id-12" value="4"
                                    name="style-4">
                                <label class="form-checkbox__label" for="unique-mobile-id-12">
                                    <span class="form-checkbox__tick">
                                        <svg class="icon" width="10" height="10" focusable="false" aria-hidden="true">
                                            <use xlink:href="#icon-tick"></use>
                                        </svg>
                                    </span>
                                    <span class="form-checkbox__text">Лофт</span>
                                </label>
                            </div>
                            <div class="form-checkbox">
                                <input class="form-checkbox__control" type="checkbox" id="unique-mobile-id-13" value="5"
                                    name="style-5">
                                <label class="form-checkbox__label" for="unique-mobile-id-13">
                                    <span class="form-checkbox__tick">
                                        <svg class="icon" width="10" height="10" focusable="false" aria-hidden="true">
                                            <use xlink:href="#icon-tick"></use>
                                        </svg>
                                    </span>
                                    <span class="form-checkbox__text">Прованс</span>
                                </label>
                            </div>
                            <div class="form-checkbox">
                                <input class="form-checkbox__control" type="checkbox" id="unique-mobile-id-14" value="6"
                                    name="style-6">
                                <label class="form-checkbox__label" for="unique-mobile-id-14">
                                    <span class="form-checkbox__tick">
                                        <svg class="icon" width="10" height="10" focusable="false" aria-hidden="true">
                                            <use xlink:href="#icon-tick"></use>
                                        </svg>
                                    </span>
                                    <span class="form-checkbox__text">Минимализм</span>
                                </label>
                            </div>
                            <div class="form-checkbox">
                                <input class="form-checkbox__control" type="checkbox" id="unique-mobile-id-15" value="7"
                                    name="style-7">
                                <label class="form-checkbox__label" for="unique-mobile-id-15">
                                    <span class="form-checkbox__tick">
                                        <svg class="icon" width="10" height="10" focusable="false" aria-hidden="true">
                                            <use xlink:href="#icon-tick"></use>
                                        </svg>
                                    </span>
                                    <span class="form-checkbox__text">Классический</span>
                                </label>
                            </div>
                            <div class="form-checkbox">
                                <input class="form-checkbox__control" type="checkbox" id="unique-mobile-id-16" value="8"
                                    name="style-8">
                                <label class="form-checkbox__label" for="unique-mobile-id-16">
                                    <span class="form-checkbox__tick">
                                        <svg class="icon" width="10" height="10" focusable="false" aria-hidden="true">
                                            <use xlink:href="#icon-tick"></use>
                                        </svg>
                                    </span>
                                    <span class="form-checkbox__text">Барнхаус</span>
                                </label>
                            </div>
                            <div class="form-checkbox">
                                <input class="form-checkbox__control" type="checkbox" id="unique-mobile-id-17" value="9"
                                    name="style-9">
                                <label class="form-checkbox__label" for="unique-mobile-id-17">
                                    <span class="form-checkbox__tick">
                                        <svg class="icon" width="10" height="10" focusable="false" aria-hidden="true">
                                            <use xlink:href="#icon-tick"></use>
                                        </svg>
                                    </span>
                                    <span class="form-checkbox__text">Немецкий</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="filters-modal__buttons">
                    <button class="btn-primary btn-primary--red btn-primary--with-icon" type="submit">
                        <svg class="icon" width="15" height="14" focusable="false">
                            <use xlink:href="#icon-arrow-right" />
                        </svg>
                        Показать проекты 234 шт.
                    </button>
                    <button class="btn-primary btn-primary--red-color btn-primary--with-icon initial-mt-15"
                        type="button">
                        <svg class="icon" width="14" height="14" focusable="false">
                            <use xlink:href="#icon-cross" />
                        </svg>
                        Сбросить фильтры
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
