<section class="section section--grey section--narrow-head">
    <div class="section__head">
        <div class="container">
            <div class="section__row">
                <h2 class="section__title title-type-2">Планировка</h2>
                <div class="show-if-tablet">
                    <div class="btn-group">
                        <a class="btn-primary btn-primary--grey-outlined" href="/fix-me">
                            2 этажа + крыша
                        </a>
                        <a class="btn-primary btn-primary--red-outlined btn-primary--with-icon" href="/fix-me">
                            <svg class="icon" width="19" height="14" focusable="false">
                                <use xlink:href="#icon-filter" />
                            </svg>
                            Хочу изменить планировку
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section__content slider-wrapper">
        <div class="container">
            <div class="row" data-component="slider">
                <div class="col-tablet-4">
                    <a class="floor-card" data-fslightbox="plan"
                        href="https://images.unsplash.com/photo-1529824249987-7537c3e8606b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1782&q=80">
                        <div class="floor-card__media">
                            <img class="lazyload" data-src="images/floor-plan.png" alt="floor">
                            <div class="floor-card__overlay">
                                <button class="floor-card__button btn" type="button">
                                    <svg class="icon" width="17" height="17" focusable="false">
                                        <use xlink:href="#icon-search" />
                                    </svg>
                                    Увеличить
                                </button>
                            </div>
                        </div>
                        <div class="floor-card__title initial-mt-25">
                            План первого этажа
                        </div>
                    </a>
                </div>
                <div class="col-tablet-4">
                    <a class="floor-card" data-fslightbox="plan"
                        href="https://images.unsplash.com/photo-1529824249987-7537c3e8606b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1782&q=80">
                        <div class="floor-card__media">
                            <img class="lazyload" data-src="images/floor-plan.png" alt="floor">
                            <div class="floor-card__overlay">
                                <button class="floor-card__button btn" type="button">
                                    <svg class="icon" width="17" height="17" focusable="false">
                                        <use xlink:href="#icon-search" />
                                    </svg>
                                    Увеличить
                                </button>
                            </div>
                        </div>
                        <div class="floor-card__title initial-mt-25">
                            План второго этажа
                        </div>
                    </a>
                </div>
                <div class="col-tablet-4">
                    <a class="floor-card" data-fslightbox="plan"
                        href="https://images.unsplash.com/photo-1529824249987-7537c3e8606b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1782&q=80">
                        <div class="floor-card__media">
                            <img class="lazyload" data-src="images/floor-plan.png" alt="floor">
                            <div class="floor-card__overlay">
                                <button class="floor-card__button btn" type="button">
                                    <svg class="icon" width="17" height="17" focusable="false">
                                        <use xlink:href="#icon-search" />
                                    </svg>
                                    Увеличить
                                </button>
                            </div>
                        </div>
                        <div class="floor-card__title initial-mt-25">
                            План крыши
                        </div>
                    </a>
                </div>
            </div>
            <div class="section__button">
                <a class="btn-primary btn-primary--red-outlined btn-primary--with-icon" href="/fix-me">
                    <svg class="icon" width="19" height="14" focusable="false">
                        <use xlink:href="#icon-filter" />
                    </svg>
                    Хочу изменить планировку
                </a>
            </div>
        </div>
    </div>
</section>
{{!-- 2 колонки --}}
<section class="section section--grey section--narrow-head">
    <div class="section__head">
        <div class="container">
            <div class="section__row">
                <h2 class="section__title title-type-2">Планировка</h2>
                <div class="show-if-tablet">
                    <div class="btn-group">
                        <a class="btn-primary btn-primary--grey-outlined" href="/fix-me">
                            2 этажа + крыша
                        </a>
                        <a class="btn-primary btn-primary--red-outlined btn-primary--with-icon" href="/fix-me">
                            <svg class="icon" width="19" height="14" focusable="false">
                                <use xlink:href="#icon-filter" />
                            </svg>
                            Хочу изменить планировку
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section__content slider-wrapper">
        <div class="container">
            <div class="row" data-component="slider">
                <div class="col-tablet-6">
                    <a class="floor-card" data-fslightbox="plan2"
                        href="https://images.unsplash.com/photo-1529824249987-7537c3e8606b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1782&q=80">
                        <div class="floor-card__media">
                            <img class="lazyload" data-src="images/floor-plan.png" alt="floor">
                            <div class="floor-card__overlay">
                                <button class="floor-card__button btn" type="button">
                                    <svg class="icon" width="17" height="17" focusable="false">
                                        <use xlink:href="#icon-search" />
                                    </svg>
                                    Увеличить
                                </button>
                            </div>
                        </div>
                        <div class="floor-card__title initial-mt-25">
                            План первого этажа
                        </div>
                    </a>
                </div>
                <div class="col-tablet-6">
                    <a class="floor-card" data-fslightbox="plan2"
                        href="https://images.unsplash.com/photo-1529824249987-7537c3e8606b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1782&q=80">
                        <div class="floor-card__media">
                            <img class="lazyload" data-src="images/floor-plan.png" alt="floor">
                            <div class="floor-card__overlay">
                                <button class="floor-card__button btn" type="button">
                                    <svg class="icon" width="17" height="17" focusable="false">
                                        <use xlink:href="#icon-search" />
                                    </svg>
                                    Увеличить
                                </button>
                            </div>
                        </div>
                        <div class="floor-card__title initial-mt-25">
                            План второго этажа
                        </div>
                    </a>
                </div>
            </div>
            <div class="section__button">
                <a class="btn-primary btn-primary--red-outlined btn-primary--with-icon" href="/fix-me">
                    <svg class="icon" width="19" height="14" focusable="false">
                        <use xlink:href="#icon-filter" />
                    </svg>
                    Хочу изменить планировку
                </a>
            </div>
        </div>
    </div>
</section>
