<footer class="footer">
    <div class="footer__secondary">
        <div class="footer__container container">
            <div class="row row--stacked-mobile-44">
                <div class="col-12 col-tablet-3">
                    <ul class="footer-nav">
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="#">
                                О компании
                            </a>
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="#">
                                Блог
                            </a>
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="#">
                                Наши работы
                            </a>
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="#">
                                Контакты
                            </a>
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="#">
                                Политика конфиденциальности
                            </a>
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="#">
                                Карта сайта
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-tablet-3">
                    <ul class="footer-nav">
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="#">
                                Готовые дома
                            </a>
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="#">
                                Быстровозводимые дома
                            </a>
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="#">
                                Дома из кирпича под ключ
                            </a>
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="#">
                                Каменные дома
                            </a>
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="#">
                                Дома из газобетона под ключ
                            </a>
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="#">
                                Сборные дома
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-tablet-3">
                    <ul class="footer-nav">
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="#">
                                Одноэтажные каркасные дома
                            </a>
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="#">
                                Финские дома
                            </a>
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="#">
                                Канадские дома
                            </a>
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="#">
                                Скандинавские дома
                            </a>
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="#">
                                Дом в стиле шале
                            </a>
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="#">
                                Фахверковые дома
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-tablet-3">
                    <ul class=" footer-nav footer-nav--flex">
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="#">
                                Фахверковые дома
                            </a>
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="#">
                                Дом в стиле хайтек
                            </a>
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="#">
                                Дом в стиле модерн
                            </a>
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="#">
                                Политика конфиденциальности
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__main">
        <div class="footer__container container">
            <a class="footer__phone" href="tel:+7 495 660-83-34">+7 495 660-83-34</a>
            <p class="footer__phone-label">Бесплатный звонок по России</p>
            <p class="footer__address">Москва, Нижний Сусальный пер., д.5 стр.36 (м.
                Курская), БЦ «АРМА»,
                дом «Мечтаево»
            </p>
            <p class="footer__copyright initial-mt-20">
                © ООО «Мечтаево», 2010-2020. Все ресурсы сайта www.mechtaevo.ru , включая (но не ограничиваясь)
                текстовую, графическую, фотографическую и видео информацию, структуру, дизайн и оформление страниц,
                товарные знаки, доменное имя, фирменное наименование являются объектами авторского права и прав на
                интеллектуальную собственность, защищены российским законодательством и международными соглашениями об
                охране авторских прави интеллектуальной собственности.
            </p>
            <div class="footer__divider"></div>
            <div class="footer__bottom">
                <div class="footer__bottom-left">
                    <div class="footer__info">
                        <div class="footer__info-item">
                            <p>
                                ООО «Мечтаево»
                            </p>
                            <p>
                                ИНН 7709871730
                            </p>
                        </div>
                        <div class="footer__info-item">
                            <p>
                                КПП 770901001
                            </p>
                            <p>
                                ОГРН 1117746118302
                            </p>
                        </div>
                    </div>
                    <p class="footer__copyright initial-mt-30">
                        2010-2020 © Мечтаево – Строительство домов под ключ
                    </p>
                </div>
                <div class="footer__social initial-mt-20">
                    {{> social-share }}
                </div>
            </div>
        </div>
    </div>
</footer>
