<section class="section section--grey section--narrow-head">
    <div class="section__head">
        <div class="container">
            <div class="section__row">
                <div class="section__heading">
                    <ul class="breadcrumb">
                        <li class="breadcrumb__item">
                            <a class="breadcrumb__link" href="/fix-me">Главная</a>
                        </li>
                        <li class="breadcrumb__item">
                            <span class="breadcrumb__link">Наши объекты</span>
                        </li>
                    </ul>
                    <h1 class="section__title title-type-2 initial-mt-0 desktop-mt-10">Фотогалерея</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="section__content">
        <div class="container">
            <div class="row row--tiles">
                <div class="col-12 col-tablet-6 col-desktop-4">
                    <a class="card card--with-overlay" data-fslightbox="gallery-card" data-fslightbox="gallery-card"
                        data-fslightbox="gallery-card"
                        href="https://images.unsplash.com/photo-1582268611958-ebfd161ef9cf?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80">
                        <div class="card__media">
                            <img class="lazyload"
                                data-src="https://www.mechtaevo.ru/assets/components/gallery/files/49/2303.jpg" alt="">
                            <div class="card__media-overlay">
                                <div class="card__action">
                                    <svg class="icon" width="17" height="17" focusable="false">
                                        <use xlink:href="#icon-search" />
                                    </svg>
                                    Увеличить
                                </div>
                            </div>
                        </div>
                        <div class="card__content">
                            <h3 class="card__title title-type-3 initial-mb-8">Каркасный дом</h3>
                            <ul class="card__info key-info">
                                <li class="key-info__item">Дом под ключ: <span class="key-info__item-value">8.5х11, 217
                                        м2</span></li>
                                <li class="key-info__item">Общая площадь: <span class="key-info__item-value">322
                                        м2</span>
                                </li>
                            </ul>
                            <div class="hr initial-m-15"></div>
                            <div class="card__address">
                                Московская обл., Пушкинский р-н, р/п Софрино
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-tablet-6 col-desktop-4">
                    <a class="card card--with-overlay" data-fslightbox="gallery-card" data-fslightbox="gallery-card"
                        data-fslightbox="gallery-card"
                        href="https://images.unsplash.com/photo-1580587771525-78b9dba3b914?ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80">
                        <div class="card__media">
                            <img class="lazyload"
                                data-src="https://www.mechtaevo.ru/assets/cache_image/assets/components/gallery/files/49/2255_200x0_398.jpeg.webp"
                                alt="">
                            <div class="card__media-overlay">
                                <div class="card__action">
                                    <svg class="icon" width="17" height="17" focusable="false">
                                        <use xlink:href="#icon-search" />
                                    </svg>
                                    Увеличить
                                </div>
                            </div>
                        </div>
                        <div class="card__content">
                            <h3 class="card__title title-type-3 initial-mb-8">Каркасный дом</h3>
                            <ul class="card__info key-info">
                                <li class="key-info__item">Дом под ключ: <span class="key-info__item-value">12 х 16
                                        м2.</span></li>
                                <li class="key-info__item">Общая площадь: <span class="key-info__item-value">161
                                        м2</span>
                                </li>
                            </ul>
                            <div class="hr initial-m-15"></div>
                            <div class="card__address">
                                Московская обл., Красногорский р-н, д.Нефедьево
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-tablet-6 col-desktop-4">
                    <a class="card card--with-overlay" data-fslightbox="gallery-card" data-fslightbox="gallery-card"
                        data-fslightbox="gallery-card"
                        href="https://images.unsplash.com/photo-1576941089067-2de3c901e126?ixlib=rb-1.2.1&auto=format&fit=crop&w=1443&q=80">
                        <div class="card__media">
                            <img class="lazyload"
                                data-src="https://www.mechtaevo.ru/assets/cache_image/assets/components/gallery/files/49/2380_200x0_398.jpeg.webp"
                                alt="">
                            <div class="card__media-overlay">
                                <div class="card__action">
                                    <svg class="icon" width="17" height="17" focusable="false">
                                        <use xlink:href="#icon-search" />
                                    </svg>
                                    Увеличить
                                </div>
                            </div>
                        </div>
                        <div class="card__content">
                            <h3 class="card__title title-type-3 initial-mb-8">Каркасный дом</h3>
                            <ul class="card__info key-info">
                                <li class="key-info__item">Дом под ключ: <span class="key-info__item-value">8,3 х
                                        8,8
                                        м2.</span></li>
                                <li class="key-info__item">Общая площадь: <span class="key-info__item-value">322
                                        м2</span>
                                </li>
                            </ul>
                            <div class="hr initial-m-15"></div>
                            <div class="card__address">
                                Московская область,район Истринский
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-tablet-6 col-desktop-4">
                    <a class="card card--with-overlay" data-fslightbox="gallery-card" data-fslightbox="gallery-card"
                        data-fslightbox="gallery-card"
                        href="https://images.unsplash.com/photo-1582268611958-ebfd161ef9cf?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80">
                        <div class="card__media">
                            <img class="lazyload"
                                data-src="https://www.mechtaevo.ru/assets/cache_image/assets/components/gallery/files/49/2256_200x0_398.jpeg.webp"
                                alt="">
                            <div class="card__media-overlay">
                                <div class="card__action">
                                    <svg class="icon" width="17" height="17" focusable="false">
                                        <use xlink:href="#icon-search" />
                                    </svg>
                                    Увеличить
                                </div>
                            </div>
                        </div>
                        <div class="card__content">
                            <h3 class="card__title title-type-3 initial-mb-8">Индивидуальный проект</h3>
                            <ul class="card__info key-info">
                                <li class="key-info__item">Дом под ключ: <span class="key-info__item-value">8,3 х
                                        8,8
                                        м2.</span></li>
                                <li class="key-info__item">Общая площадь: <span class="key-info__item-value">322
                                        м2</span>
                                </li>
                            </ul>
                            <div class="hr initial-m-15"></div>
                            <div class="card__address">
                                Московская обл., Красногорский р-н, д.Нефедьево
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-tablet-6 col-desktop-4">
                    <a class="card card--with-overlay" data-fslightbox="gallery-card" data-fslightbox="gallery-card"
                        data-fslightbox="gallery-card"
                        href="https://images.unsplash.com/photo-1580587771525-78b9dba3b914?ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80">
                        <div class="card__media">
                            <img class="lazyload"
                                data-src="https://www.mechtaevo.ru/assets/cache_image/assets/components/gallery/files/49/2263_200x0_398.jpeg.webp"
                                alt="">
                            <div class="card__media-overlay">
                                <div class="card__action">
                                    <svg class="icon" width="17" height="17" focusable="false">
                                        <use xlink:href="#icon-search" />
                                    </svg>
                                    Увеличить
                                </div>
                            </div>
                        </div>
                        <div class="card__content">
                            <h3 class="card__title title-type-3 initial-mb-8">Каркасный дом</h3>
                            <ul class="card__info key-info">
                                <li class="key-info__item">Дом под ключ: <span class="key-info__item-value">8,3 х
                                        8,8
                                        м2.</span></li>
                                <li class="key-info__item">Общая площадь: <span class="key-info__item-value">322
                                        м2</span>
                                </li>
                            </ul>
                            <div class="hr initial-m-15"></div>
                            <div class="card__address">
                                Московская область,район Истринский
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-tablet-6 col-desktop-4">
                    <a class="card card--with-overlay" data-fslightbox="gallery-card" data-fslightbox="gallery-card"
                        data-fslightbox="gallery-card"
                        href="https://images.unsplash.com/photo-1576941089067-2de3c901e126?ixlib=rb-1.2.1&auto=format&fit=crop&w=1443&q=80">
                        <div class="card__media">
                            <img class="lazyload"
                                data-src="https://www.mechtaevo.ru/assets/cache_image/assets/components/gallery/files/49/2244_200x0_398.jpeg.webp"
                                alt="">
                            <div class="card__media-overlay">
                                <div class="card__action">
                                    <svg class="icon" width="17" height="17" focusable="false">
                                        <use xlink:href="#icon-search" />
                                    </svg>
                                    Увеличить
                                </div>
                            </div>
                        </div>
                        <div class="card__content">
                            <h3 class="card__title title-type-3 initial-mb-8">Кирпичный дом</h3>
                            <ul class="card__info key-info">
                                <li class="key-info__item">Дом под ключ: <span class="key-info__item-value">8,3 х
                                        8,8
                                        м2.</span></li>
                                <li class="key-info__item">Общая площадь: <span class="key-info__item-value">322
                                        м2</span>
                                </li>
                            </ul>
                            <div class="hr initial-m-15"></div>
                            <div class="card__address">
                                Московская область,район Истринский
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-tablet-6 col-desktop-4">
                    <a class="card card--with-overlay" data-fslightbox="gallery-card" data-fslightbox="gallery-card"
                        data-fslightbox="gallery-card"
                        href="https://images.unsplash.com/photo-1582268611958-ebfd161ef9cf?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80">
                        <div class="card__media">
                            <img class="lazyload"
                                data-src="https://www.mechtaevo.ru/assets/cache_image/assets/components/gallery/files/49/1824_200x0_398.jpeg.webp"
                                alt="">
                            <div class="card__media-overlay">
                                <div class="card__action">
                                    <svg class="icon" width="17" height="17" focusable="false">
                                        <use xlink:href="#icon-search" />
                                    </svg>
                                    Увеличить
                                </div>
                            </div>
                        </div>
                        <div class="card__content">
                            <h3 class="card__title title-type-3 initial-mb-8">Кирпичный дом</h3>
                            <ul class="card__info key-info">
                                <li class="key-info__item">Дом под ключ: <span class="key-info__item-value">8,3 х
                                        8,8
                                        м2.</span></li>
                                <li class="key-info__item">Общая площадь: <span class="key-info__item-value">322
                                        м2</span>
                                </li>
                            </ul>
                            <div class="hr initial-m-15"></div>
                            <div class="card__address">
                                Московская область,район Истринский
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-tablet-6 col-desktop-4">
                    <a class="card card--with-overlay" data-fslightbox="gallery-card" data-fslightbox="gallery-card"
                        data-fslightbox="gallery-card"
                        href="https://images.unsplash.com/photo-1580587771525-78b9dba3b914?ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80">
                        <div class="card__media">
                            <img class="lazyload"
                                data-src="https://www.mechtaevo.ru/assets/cache_image/assets/components/gallery/files/49/2302_200x0_398.jpeg.webp"
                                alt="">
                            <div class="card__media-overlay">
                                <div class="card__action">
                                    <svg class="icon" width="17" height="17" focusable="false">
                                        <use xlink:href="#icon-search" />
                                    </svg>
                                    Увеличить
                                </div>
                            </div>
                        </div>
                        <div class="card__content">
                            <h3 class="card__title title-type-3 initial-mb-8">Каркасный дом</h3>
                            <ul class="card__info key-info">
                                <li class="key-info__item">Дом под ключ: <span class="key-info__item-value">8,3 х
                                        8,8
                                        м2.</span></li>
                                <li class="key-info__item">Общая площадь: <span class="key-info__item-value">322
                                        м2</span>
                                </li>
                            </ul>
                            <div class="hr initial-m-15"></div>
                            <div class="card__address">
                                Московская область,район Истринский
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-tablet-6 col-desktop-4">
                    <a class="card card--with-overlay" data-fslightbox="gallery-card"
                        href="https://images.unsplash.com/photo-1576941089067-2de3c901e126?ixlib=rb-1.2.1&auto=format&fit=crop&w=1443&q=80">
                        <div class="card__media">
                            <img class="lazyload"
                                data-src="https://www.mechtaevo.ru/assets/cache_image/assets/components/gallery/files/49/2394_200x0_398.jpeg.webp"
                                alt="">
                            <div class="card__media-overlay">
                                <div class="card__action">
                                    <svg class="icon" width="17" height="17" focusable="false">
                                        <use xlink:href="#icon-search" />
                                    </svg>
                                    Увеличить
                                </div>
                            </div>
                        </div>
                        <div class="card__content">
                            <h3 class="card__title title-type-3 initial-mb-8">Каркасный дом</h3>
                            <ul class="card__info key-info">
                                <li class="key-info__item">Дом под ключ: <span class="key-info__item-value">8,3 х
                                        8,8
                                        м2.</span></li>
                                <li class="key-info__item">Общая площадь: <span class="key-info__item-value">322
                                        м2</span>
                                </li>
                            </ul>
                            <div class="hr initial-m-15"></div>
                            <div class="card__address">
                                Московская область,район Истринский
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-tablet-6 col-desktop-4">
                    <a class="card card--with-overlay" data-fslightbox="gallery-card"
                        href="https://images.unsplash.com/photo-1582268611958-ebfd161ef9cf?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80">
                        <div class="card__media">
                            <img class="lazyload"
                                data-src="https://www.mechtaevo.ru/assets/cache_image/assets/components/gallery/files/49/2254_200x0_398.jpeg.webp"
                                alt="">
                            <div class="card__media-overlay">
                                <div class="card__action">
                                    <svg class="icon" width="17" height="17" focusable="false">
                                        <use xlink:href="#icon-search" />
                                    </svg>
                                    Увеличить
                                </div>
                            </div>
                        </div>
                        <div class="card__content">
                            <h3 class="card__title title-type-3 initial-mb-8">Каркасный дом</h3>
                            <ul class="card__info key-info">
                                <li class="key-info__item">Дом под ключ: <span class="key-info__item-value">8,3 х
                                        8,8
                                        м2.</span></li>
                                <li class="key-info__item">Общая площадь: <span class="key-info__item-value">322
                                        м2</span>
                                </li>
                            </ul>
                            <div class="hr initial-m-15"></div>
                            <div class="card__address">
                                Московская область,район Истринский
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-tablet-6 col-desktop-4">
                    <a class="card card--with-overlay" data-fslightbox="gallery-card"
                        href="https://images.unsplash.com/photo-1580587771525-78b9dba3b914?ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80">
                        <div class="card__media">
                            <img class="lazyload"
                                data-src="https://www.mechtaevo.ru/assets/cache_image/assets/components/gallery/files/49/1027_200x0_398.jpeg.webp"
                                alt="">
                            <div class="card__media-overlay">
                                <div class="card__action">
                                    <svg class="icon" width="17" height="17" focusable="false">
                                        <use xlink:href="#icon-search" />
                                    </svg>
                                    Увеличить
                                </div>
                            </div>
                        </div>
                        <div class="card__content">
                            <h3 class="card__title title-type-3 initial-mb-8">Каркасный дом</h3>
                            <ul class="card__info key-info">
                                <li class="key-info__item">Дом под ключ: <span class="key-info__item-value">8,3 х
                                        8,8
                                        м2.</span></li>
                                <li class="key-info__item">Общая площадь: <span class="key-info__item-value">322
                                        м2</span>
                                </li>
                            </ul>
                            <div class="hr initial-m-15"></div>
                            <div class="card__address">
                                Московская область,район Истринский
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-tablet-6 col-desktop-4">
                    <a class="card card--with-overlay" data-fslightbox="gallery-card"
                        href="https://images.unsplash.com/photo-1576941089067-2de3c901e126?ixlib=rb-1.2.1&auto=format&fit=crop&w=1443&q=80">
                        <div class="card__media">
                            <img class="lazyload"
                                data-src="https://www.mechtaevo.ru/assets/cache_image/assets/components/gallery/files/49/2250_200x0_398.jpeg.webp"
                                alt="">
                            <div class="card__media-overlay">
                                <div class="card__action">
                                    <svg class="icon" width="17" height="17" focusable="false">
                                        <use xlink:href="#icon-search" />
                                    </svg>
                                    Увеличить
                                </div>
                            </div>
                        </div>
                        <div class="card__content">
                            <h3 class="card__title title-type-3 initial-mb-8">Каркасный дом</h3>
                            <ul class="card__info key-info">
                                <li class="key-info__item">Дом под ключ: <span class="key-info__item-value">8,3 х
                                        8,8
                                        м2.</span></li>
                                <li class="key-info__item">Общая площадь: <span class="key-info__item-value">322
                                        м2</span>
                                </li>
                            </ul>
                            <div class="hr initial-m-15"></div>
                            <div class="card__address">
                                Московская область,район Истринский
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="pagination pagination--push-to-right initial-mt-25 tablet-mt-40">
                <ul class="pagination__list">
                    <li class="pagination__item">
                        <button class="pagination__link btn" type="button">
                            1
                        </button>
                    </li>
                    <li class="pagination__item">
                        <button class="pagination__link btn" type="button">
                            2
                        </button>
                    </li>
                    <li class="pagination__item">
                        <button class="pagination__link btn is-active" type="button">
                            3
                        </button>
                    </li>
                    <li class="pagination__item">
                        <button class="pagination__link pagination__link--divider btn" type="button">
                            ...
                        </button>
                    </li>
                    <li class="pagination__item">
                        <button class="pagination__link btn" type="button">
                            На последнюю
                        </button>
                    </li>
                </ul>
                <div class="pagination__counts">
                    <strong class="pagination__counts-value">5</strong> из 72
                </div>
            </div>
        </div>
    </div>
</section>
