<header class="header">
    <div class="header__inner">
        <a class="header__logo show-if-desktop" href="/">
            <svg class="icon show-if-desktop-wide" width="180" height="29" viewBox="0 0 180 29" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M45.2421 3.93579H45.142H44.7977L44.6944 4.2617L40.8669 16.3639L37.0644 4.26481L36.9611 3.93579H36.6169H36.5167H35.3369H34.2102H33.0554H32.5859V4.40138V6.7076V7.17319H33.0554H33.7408V21.7213V22.1838H34.2102H36.5167H36.9862V21.7213V14.7995L39.2207 21.9075L39.324 22.2334H39.6683H42.0687H42.4161L42.5194 21.9075L44.7602 14.7809L44.7727 21.7213L44.7758 22.1838H45.2421H47.5486H48.0181V21.7213V4.40138V3.93579H47.5486H45.2421Z"
                    fill="white" />
                <path
                    d="M57.6574 3.93579H56.5025H55.3477H54.196H53.7266V4.40138V6.7076V7.17319H54.196H54.8814V11.8943V14.2005V19.4368V21.7213V22.1838H55.3477H57.6574H65.8069H66.2763V21.7213V19.412V18.9495H65.8069H58.1268V14.6661H64.0261H64.4956V14.2005V11.8943V11.4318H64.0261H58.1268V7.17319H65.8069H66.2763V6.7076V4.40138V3.93579H65.8069H57.6574Z"
                    fill="white" />
                <path
                    d="M81.7894 3.93579H80.644H79.4735H79.004V4.40138V6.7076V7.17319H79.4735H80.1557V11.4566H77.1294H75.2767V8.17265V4.40138V3.93579H74.8072H72.5007H72.0312V4.40138V8.17265V11.9191V14.2284V14.6909H72.5007H77.1263H80.1557V21.7213V22.1838H80.6252H82.9348H83.4043V21.7213V4.40138V3.93579H82.9348H81.7894Z"
                    fill="white" />
                <path
                    d="M90.0544 3.93579H89.585V4.40138V6.7076V7.17319H90.0544H93.6722V21.7213V22.1838H94.1417H96.4513H96.9177V21.7213V7.17319H100.514H100.98V6.7076V4.40138V3.93579H100.514H90.0544Z"
                    fill="white" />
                <path
                    d="M114 4.26488L113.896 3.93896H113.549H111.142H109.587H109.118V4.40455V6.68594V7.15153H109.587H109.803L105.252 21.5848L105.062 22.187H105.7H108.082H108.426L108.529 21.8641L109.352 19.2848H115.311L116.134 21.8641L116.237 22.187H116.582H118.963H119.599L119.411 21.5848L114 4.26488ZM110.376 16.0939L112.347 9.77745L114.297 16.0939H110.376Z"
                    fill="white" />
                <path
                    d="M128.824 3.93579H127.67H126.518H125.363H124.894V4.40138V6.7076V7.17319H125.363H126.048V11.8943V14.2005V19.4368V21.7213V22.1838H126.518H128.824H136.974H137.443V21.7213V19.412V18.9495H136.974H129.294V14.6661H135.193H135.663V14.2005V11.8943V11.4318H135.193H129.294V7.17319H136.974H137.443V6.7076V4.40138V3.93579H136.974H128.824Z"
                    fill="white" />
                <path
                    d="M154.741 12.1456C155.01 11.7824 155.232 11.3882 155.411 10.9692C155.658 10.3763 155.786 9.73693 155.786 9.06648C155.786 8.36189 155.652 7.69144 155.386 7.07376C155.12 6.45918 154.75 5.91289 154.284 5.4504C153.818 4.98792 153.27 4.62166 152.66 4.36093C152.043 4.09709 151.367 3.96362 150.654 3.96362H148.297H147.142H145.988H144.833H144.363V4.42611V6.73543V7.20102H144.833H145.518V8.92059V9.06958V9.19374V13.6851V21.7243V22.1899H145.988H148.294H151.22C152 22.1899 152.738 22.0378 153.424 21.7398C154.1 21.4449 154.7 21.0414 155.214 20.5417C155.73 20.0389 156.14 19.4398 156.44 18.7569C156.741 18.0741 156.891 17.3353 156.891 16.5625C156.891 15.5785 156.656 14.6598 156.193 13.831C155.815 13.1575 155.326 12.5956 154.741 12.1456ZM152.172 18.7631C151.881 18.8873 151.565 18.9494 151.227 18.9494H148.76V14.1445H150.648H151.223C151.558 14.1445 151.877 14.2066 152.169 14.3307C152.463 14.4549 152.719 14.6256 152.938 14.8367C153.151 15.0477 153.326 15.3054 153.452 15.6034C153.577 15.8982 153.639 16.2148 153.639 16.5469C153.639 16.876 153.577 17.1895 153.452 17.475C153.326 17.7668 153.148 18.0275 152.932 18.2479C152.719 18.4683 152.463 18.639 152.172 18.7631ZM148.764 10.9102V9.16581V9.14097V9.06648V9.04165V8.99198V8.94232V7.19792H150.651C150.907 7.19792 151.145 7.24758 151.383 7.3469C151.618 7.44623 151.821 7.5797 151.99 7.74421C152.156 7.90871 152.291 8.11047 152.391 8.34326C152.491 8.57606 152.541 8.81196 152.541 9.06648C152.541 9.58484 152.363 10.0132 151.993 10.3732C151.621 10.7333 151.183 10.9102 150.654 10.9102H148.764Z"
                    fill="white" />
                <path
                    d="M179.258 9.405C178.77 8.28138 178.094 7.28192 177.246 6.43455C176.397 5.58407 175.39 4.91052 174.257 4.4232C173.118 3.93588 171.885 3.69067 170.589 3.69067C169.296 3.69067 168.06 3.93588 166.912 4.4232C165.766 4.90741 164.755 5.58407 163.907 6.43455C163.059 7.28502 162.383 8.28138 161.895 9.405C161.403 10.5317 161.156 11.7547 161.156 13.0366C161.156 14.3185 161.403 15.5446 161.895 16.6806C162.383 17.8135 163.062 18.813 163.91 19.6542C164.758 20.4953 165.769 21.1658 166.912 21.65C168.06 22.1373 169.296 22.3825 170.589 22.3825C171.885 22.3825 173.118 22.1373 174.257 21.65C175.393 21.1658 176.397 20.4953 177.246 19.6542C178.094 18.813 178.773 17.8135 179.261 16.6806C179.752 15.5446 180 14.3185 180 13.0366C180 11.7547 179.749 10.5317 179.258 9.405ZM166.223 17.348C165.666 16.7955 165.215 16.1436 164.89 15.4049C164.568 14.6755 164.402 13.8778 164.402 13.0366C164.402 12.1954 164.564 11.3977 164.89 10.6683C165.215 9.92957 165.666 9.27774 166.223 8.72525C166.783 8.17275 167.444 7.72888 168.188 7.40608C168.93 7.08637 169.738 6.92497 170.589 6.92497C171.44 6.92497 172.248 7.08637 172.989 7.40608C173.737 7.72888 174.398 8.17275 174.955 8.72525C175.512 9.27464 175.956 9.92957 176.275 10.6621C176.592 11.3946 176.751 12.1923 176.751 13.0366C176.751 13.8778 176.592 14.6755 176.275 15.4111C175.959 16.1467 175.515 16.7986 174.955 17.348C174.398 17.9005 173.734 18.3443 172.989 18.664C172.248 18.9837 171.44 19.1451 170.589 19.1451C169.738 19.1451 168.93 18.9837 168.188 18.664C167.444 18.3412 166.78 17.9005 166.223 17.348Z"
                    fill="white" />
                <path class="icon-path"
                    d="M0 29V6.83485L11.9645 0L23.4502 3.96061V22.131C20.2142 22.162 16.2302 22.4849 11.5295 23.5867C6.25611 24.8221 1.29879 27.7864 0 29ZM3.12023 23.4191C5.40172 22.2862 8.10571 21.2153 10.8097 20.5821C14.0113 19.831 17.1503 19.3623 20.3269 19.1574V6.15199L12.2869 3.38018L3.12023 8.61961V23.4191Z"
                    fill="#FEFEFE" />
                <path class="icon-path"
                    d="M0 29V6.83485L11.9645 0L23.4502 3.96061V22.131C20.2142 22.162 16.2302 22.4849 11.5295 23.5867C6.25611 24.8221 1.29879 27.7864 0 29ZM3.12023 23.4191C5.40172 22.2862 8.10571 21.2153 10.8097 20.5821C14.0113 19.831 17.1503 19.3623 20.3269 19.1574V6.15199L12.2869 3.38018L3.12023 8.61961V23.4191Z"
                    fill="#FEFEFE" />
            </svg>
            <svg class="icon hide-if-desktop-wide" width="20" height="29" viewBox="0 0 75 94">
                <path class="icon-path"
                    d="M0 93.43V22.02L38.23 0L74.93 12.76V71.3C64.59 71.4 51.86 72.44 36.84 75.99C19.99 79.97 4.15 89.52 0 93.43ZM9.97 75.45C17.26 71.8 25.9 68.35 34.54 66.31C44.77 63.89 54.8 62.38 64.95 61.72V19.82L39.26 10.89L9.97 27.77V75.45Z" />
            </svg>
        </a>
        <button class="header__btn header__btn--menu btn" type="button" data-component="mobile-menu-trigger">
            <svg class="icon" width="18" height="14" focusable="false">
                <use xlink:href="#icon-menu" />
            </svg>
        </button>
        <nav class="header__nav nav" data-component="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <button class="nav__link" type="button" data-nav-ref="trigger">
                        Дома под ключ
                        <svg class="icon" width="10" height="5" focusable="false">
                            <use xlink:href="#icon-arrow-down" />
                        </svg>
                    </button>
                    <div class="nav__submenu" data-nav-ref="submenu">
                        <ul class="submenu">
                            <li class="submenu__item">
                                <a class="submenu__link submenu__link--grey" href="/fix-me">Дома под ключ</a>
                            </li>
                            <li class="submenu__item">
                                <a class="submenu__link" href="/fix-me">Каркасные дома</a>
                            </li>
                            <li class="submenu__item">
                                <a class="submenu__link" href="/fix-me">Каменные дома</a>
                            </li>
                            <li class="submenu__item">
                                <a class="submenu__link" href="/fix-me">Комбинированные дома</a>
                            </li>
                            <li class="submenu__item">
                                <a class="submenu__link submenu__link--red" href="/fix-me">Хиты продаж</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav__item">
                    <button class="nav__link" type="button" data-nav-ref="trigger">
                        Примеры работ
                        <svg class="icon" width="10" height="5" focusable="false">
                            <use xlink:href="#icon-arrow-down" />
                        </svg>

                    </button>
                    <div class="nav__submenu" data-nav-ref="submenu">
                        <ul class="submenu">
                            <li class="submenu__item">
                                <a class="submenu__link submenu__link--grey" href="/fix-me">Примеры работ</a>
                            </li>
                            <li class="submenu__item">
                                <a class="submenu__link" href="/fix-me">Каркасные дома</a>
                            </li>
                            <li class="submenu__item">
                                <a class="submenu__link" href="/fix-me">Каменные дома</a>
                            </li>
                            <li class="submenu__item">
                                <a class="submenu__link" href="/fix-me">Комбинированные дома</a>
                            </li>
                            <li class="submenu__item">
                                <a class="submenu__link submenu__link--red" href="/fix-me">Хиты продаж</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav__item">
                    <button class="nav__link" type="button" data-nav-ref="trigger">
                        О компании
                        <svg class="icon" width="10" height="5" focusable="false">
                            <use xlink:href="#icon-arrow-down" />
                        </svg>
                    </button>
                    <div class="nav__submenu" data-nav-ref="submenu">
                        <ul class="submenu">
                            <li class="submenu__item">
                                <a class="submenu__link submenu__link--grey" href="/fix-me">О компании</a>
                            </li>
                            <li class="submenu__item">
                                <a class="submenu__link" href="/fix-me">Наша команда</a>
                            </li>
                            <li class="submenu__item">
                                <a class="submenu__link" href="/fix-me">Награды и сертификаты</a>
                            </li>
                            <li class="submenu__item">
                                <a class="submenu__link" href="/fix-me">Вакансии</a>
                            </li>
                            <li class="submenu__item">
                                <a class="submenu__link submenu__link" href="/fix-me">Мечтаево в фактах</a>
                            </li>
                            <li class="submenu__item">
                                <a class="submenu__link submenu__link" href="/fix-me">Активные стройки</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="/blog.html">
                        Блог
                    </a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="/contacts.html">
                        Контакты
                    </a>
                </li>
            </ul>
        </nav>
        <div class="header__info">
            <a class="header__phone" href="tel:+74956608334">+7 495 660-83-34</a>
            <a class="header__email initial-mt-5" href="mailto:Dom@mechtaevo.ru">Dom@mechtaevo.ru</a>
        </div>
        <div class="header__toolbar">
            <button class="header__btn header__btn--phone btn" type="button" data-component="modal-trigger"
                data-options='{"targetSelector": "#order-phone", "bemList": ["order"]}'>
                <svg class="icon" width="19" height="19" focusable="false">
                    <use xlink:href="#icon-phone" />
                </svg>
            </button>
            <button class="header__btn header__btn--search btn" type="button" data-component="modal-trigger"
                data-options='{"targetSelector": "#search-modal", "bemList": ["search"]}'>
                <svg class="icon" width="17" height="17" focusable="false">
                    <use xlink:href="#icon-search" />
                </svg>
            </button>
            <button class="header__btn header__btn--favorites btn" type="button">
                <svg class="icon" width="20" height="16" focusable="false">
                    <use xlink:href="#icon-heart" />
                </svg>
                <span class="header__btn-count">3</span>
            </button>
        </div>
        <div class="header__multi-level-nav multi-level-nav" data-component="multi-level-nav">
            <div class="multi-level-nav__inner">
                <div class="multi-level-nav__panel multi-level-nav__panel--initial" data-multi-level-nav-ref="root">
                    <div class="multi-level-nav__panel-head">
                        <button class="multi-level-nav__panel-btn btn" type="button" data-multi-level-nav-ref="close">
                            <svg class="icon" width="14" height="14" focusable="false">
                                <use xlink:href="#icon-cross" />
                            </svg>
                        </button>
                        <div class="multi-level-nav__panel-title">
                            Меню
                        </div>
                    </div>
                    <div class="multi-level-nav__panel-main">
                        <ul class="submenu">
                            <li class="submenu__item">
                                <button class="submenu__link" data-multi-level-nav-ref="triggers" data-target="id-1-1"
                                    type="button">
                                    Дома под ключ
                                    <svg class="icon" width="14" height="10" focusable="false">
                                        <use xlink:href="#icon-chevron-right" />
                                    </svg>
                                </button>
                            </li>
                            <li class="submenu__item">
                                <button class="submenu__link" data-multi-level-nav-ref="triggers" data-target="id-1-2"
                                    type="button">
                                    Примеры работ
                                    <svg class="icon" width="14" height="10" focusable="false">
                                        <use xlink:href="#icon-chevron-right" />
                                    </svg>
                                </button>
                            </li>
                            <li class="submenu__item">
                                <button class="submenu__link" data-multi-level-nav-ref="triggers" data-target="id-1-3"
                                    type="button">
                                    О компании
                                    <svg class="icon" width="14" height="10" focusable="false">
                                        <use xlink:href="#icon-chevron-right" />
                                    </svg>
                                </button>
                            </li>
                            <li class="submenu__item">
                                <a class="submenu__link" href="/fix-me">
                                    Блог
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a class="submenu__link" href="/fix-me">
                                    Контакты
                                </a>
                            </li>
                        </ul>
                        <div class="multi-level-nav__info">
                            <a class="multi-level-nav__phone" href="tel:+74956608334">+7 495 660-83-34</a>
                            <a class="multi-level-nav__email" href="mailto:Dom@mechtaevo.ru">Dom@mechtaevo.ru</a>
                        </div>
                    </div>
                </div>

                <div class="multi-level-nav__panel" data-multi-level-nav-ref="items" data-id="id-1-1">
                    <div class="multi-level-nav__panel-head">
                        <button class="multi-level-nav__panel-btn btn" type="button" data-multi-level-nav-ref="back">
                            <svg class="icon" width="15" height="14" focusable="false">
                                <use xlink:href="#icon-arrow-left" />
                            </svg>
                        </button>
                        <div class="multi-level-nav__panel-title">
                            Дома под ключ
                        </div>
                    </div>
                    <div class="multi-level-nav__section">
                        <ul class="submenu">
                            <li class="submenu__item">
                                <a class="submenu__link submenu__link--grey" href="/fix-me">Дома под ключ</a>
                            </li>
                            <li class="submenu__item">
                                <a class="submenu__link" href="/fix-me">Каркасные дома</a>
                            </li>
                            <li class="submenu__item">
                                <a class="submenu__link" href="/fix-me">Каменные дома</a>
                            </li>
                            <li class="submenu__item">
                                <a class="submenu__link" href="/fix-me">Комбинированные дома</a>
                            </li>
                            <li class="submenu__item">
                                <a class="submenu__link submenu__link--red" href="/fix-me">Хиты продаж</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="multi-level-nav__panel" data-multi-level-nav-ref="items" data-id="id-1-2">
                    <div class="multi-level-nav__panel-head">
                        <button class="multi-level-nav__panel-btn btn" type="button" data-multi-level-nav-ref="back">
                            <svg class="icon" width="15" height="14" focusable="false">
                                <use xlink:href="#icon-arrow-left" />
                            </svg>
                        </button>
                        <div class="multi-level-nav__panel-title">
                            Примеры работ
                        </div>
                    </div>
                    <div class="multi-level-nav__section">
                        <ul class="submenu">
                            <li class="submenu__item">
                                <a class="submenu__link submenu__link--grey" href="/fix-me">Примеры работ</a>
                            </li>
                            <li class="submenu__item">
                                <a class="submenu__link" href="/fix-me">Каркасные дома</a>
                            </li>
                            <li class="submenu__item">
                                <a class="submenu__link" href="/fix-me">Каменные дома</a>
                            </li>
                            <li class="submenu__item">
                                <a class="submenu__link" href="/fix-me">Комбинированные дома</a>
                            </li>
                            <li class="submenu__item">
                                <a class="submenu__link submenu__link--red" href="/fix-me">Хиты продаж</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="multi-level-nav__panel" data-multi-level-nav-ref="items" data-id="id-1-3">
                    <div class="multi-level-nav__panel-head">
                        <button class="multi-level-nav__panel-btn btn" type="button" data-multi-level-nav-ref="back">
                            <svg class="icon" width="15" height="14" focusable="false">
                                <use xlink:href="#icon-arrow-left" />
                            </svg>
                        </button>
                        <div class="multi-level-nav__panel-title">
                            О компании
                        </div>
                    </div>
                    <div class="multi-level-nav__section">
                        <ul class="submenu">
                            <li class="submenu__item">
                                <a class="submenu__link submenu__link--grey" href="/fix-me">
                                    О компании
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a class="submenu__link" href="/fix-me">
                                    Наша команда
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a class="submenu__link" href="/fix-me">
                                    Награды и сертификаты
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a class="submenu__link" href="/fix-me">
                                    Вакансии
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a class="submenu__link" href="/fix-me">
                                    Мечтаево в фактах
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a class="submenu__link" href="/fix-me">
                                    Активные стройки
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="multi-level-nav__toolbar">
                    <button class="multi-level-nav__toolbar-btn multi-level-nav__toolbar-btn--phone btn" type="button"
                        data-component="modal-trigger"
                        data-options='{"targetSelector": "#order-phone", "bemList": ["order"]}'>
                        <svg class="icon" width="19" height="19" focusable="false">
                            <use xlink:href="#icon-phone" />
                        </svg>
                    </button>
                    <button class="multi-level-nav__toolbar-btn multi-level-nav__toolbar-btn--favorites btn"
                        type="button">
                        <svg class="icon" width="20" height="16" focusable="false">
                            <use xlink:href="#icon-heart" />
                        </svg>
                    </button>
                    <button class="multi-level-nav__toolbar-btn multi-level-nav__toolbar-btn--search btn" type="button"
                        data-component="modal-trigger"
                        data-options='{"targetSelector": "#search-modal", "bemList": ["search"]}'>
                        <svg class="icon" width="17" height="17" focusable="false">
                            <use xlink:href="#icon-search" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="header__inner header__inner--mobile hide-if-desktop">
        <a class="header__logo header__logo--mobile" href="/">
            <svg width="148" height="24" viewBox="0 0 148 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M37.1992 3.25781H37.1168H36.8338L36.7488 3.52753L33.6018 13.5432L30.4753 3.5301L30.3904 3.25781H30.1073H30.025H29.0548H28.1285H27.179H26.793V3.64313V5.55172V5.93704H27.179H27.7425V17.9769V18.3596H28.1285H30.025H30.4109V17.9769V12.2485L32.2482 18.131L32.3332 18.4007H32.6162H34.5899H34.8755L34.9604 18.131L36.8029 12.2331L36.8132 17.9769L36.8158 18.3596H37.1992H39.0956H39.4816V17.9769V3.64313V3.25781H39.0956H37.1992Z"
                    fill="black" />
                <path
                    d="M47.4078 3.25781H46.4582H45.5087H44.5618H44.1758V3.64313V5.55172V5.93704H44.5618H45.1253V9.84413V11.7527V16.0862V17.9769V18.3596H45.5087H47.4078H54.1085H54.4945V17.9769V16.0657V15.6829H54.1085H47.7938V12.138H52.6443H53.0303V11.7527V9.84413V9.46139H52.6443H47.7938V5.93704H54.1085H54.4945V5.55172V3.64313V3.25781H54.1085H47.4078Z"
                    fill="black" />
                <path
                    d="M67.2499 3.25781H66.3081H65.3457H64.9597V3.64313V5.55172V5.93704H65.3457H65.9067V9.48194H63.4184H61.895V6.76418V3.64313V3.25781H61.509H59.6125H59.2266V3.64313V6.76418V9.86468V11.7758V12.1586H59.6125H63.4158H65.9067V17.9769V18.3596H66.2927H68.1917H68.5777V17.9769V3.64313V3.25781H68.1917H67.2499Z"
                    fill="black" />
                <path
                    d="M74.0442 3.25781H73.6582V3.64313V5.55172V5.93704H74.0442H77.0189V17.9769V18.3596H77.4048H79.3039H79.6873V17.9769V5.93704H82.644H83.0274V5.55172V3.64313V3.25781H82.644H74.0442Z"
                    fill="black" />
                <path
                    d="M93.732 3.52949L93.6471 3.25977H93.3614H91.3826H90.1037H89.7177V3.64508V5.53313V5.91844H90.1037H90.2813L86.5398 17.8632L86.3828 18.3616H86.9077H88.866H89.149L89.234 18.0944L89.9107 15.9598H94.8102L95.4869 18.0944L95.5719 18.3616H95.8549H97.8131H98.3355L98.1811 17.8632L93.732 3.52949ZM90.7522 13.3191L92.3733 8.09162L93.9764 13.3191H90.7522Z"
                    fill="black" />
                <path
                    d="M105.921 3.25781H104.972H104.025H103.075H102.689V3.64313V5.55172V5.93704H103.075H103.639V9.84413V11.7527V16.0862V17.9769V18.3596H104.025H105.921H112.622H113.008V17.9769V16.0657V15.6829H112.622H106.307V12.138H111.158H111.544V11.7527V9.84413V9.46139H111.158H106.307V5.93704H112.622H113.008V5.55172V3.64313V3.25781H112.622H105.921Z"
                    fill="black" />
                <path
                    d="M127.232 10.0525C127.453 9.75198 127.636 9.42574 127.783 9.07896C127.986 8.58832 128.092 8.05916 128.092 7.5043C128.092 6.92119 127.981 6.36634 127.762 5.85516C127.543 5.34654 127.24 4.89444 126.856 4.51169C126.473 4.12894 126.023 3.82583 125.521 3.61005C125.014 3.39171 124.458 3.28125 123.871 3.28125H121.934H120.984H120.035H119.085H118.699V3.664V5.57516V5.96047H119.085H119.649V7.38357V7.50687V7.60962V11.3266V17.9797V18.3651H120.035H121.931H124.337C124.978 18.3651 125.585 18.2392 126.149 17.9926C126.705 17.7485 127.199 17.4146 127.621 17.001C128.045 16.5849 128.382 16.0891 128.629 15.524C128.876 14.9589 129 14.3475 129 13.7079C129 12.8936 128.807 12.1332 128.426 11.4474C128.115 10.8899 127.713 10.425 127.232 10.0525ZM125.119 15.5291C124.88 15.6319 124.62 15.6833 124.342 15.6833H122.315V11.7068H123.866H124.34C124.615 11.7068 124.878 11.7582 125.117 11.8609C125.359 11.9637 125.57 12.105 125.75 12.2796C125.925 12.4543 126.069 12.6675 126.172 12.9141C126.275 13.1582 126.326 13.4202 126.326 13.695C126.326 13.9673 126.275 14.2268 126.172 14.4631C126.069 14.7046 125.922 14.9203 125.745 15.1027C125.57 15.2851 125.359 15.4264 125.119 15.5291ZM122.317 9.03015V7.5865V7.56595V7.5043V7.48375V7.44265V7.40155V5.95791H123.869C124.08 5.95791 124.275 5.99901 124.471 6.08121C124.664 6.16341 124.831 6.27386 124.97 6.41001C125.107 6.54615 125.217 6.71312 125.3 6.90578C125.382 7.09844 125.423 7.29366 125.423 7.5043C125.423 7.93329 125.276 8.28778 124.973 8.58575C124.667 8.88373 124.306 9.03015 123.871 9.03015H122.317Z"
                    fill="black" />
                <path
                    d="M147.39 7.78379C146.988 6.8539 146.432 6.02675 145.735 5.32548C145.038 4.62164 144.209 4.06421 143.277 3.66092C142.341 3.25762 141.327 3.05469 140.262 3.05469C139.199 3.05469 138.182 3.25762 137.238 3.66092C136.296 4.06164 135.465 4.62164 134.768 5.32548C134.07 6.02932 133.515 6.8539 133.113 7.78379C132.709 8.71625 132.506 9.72835 132.506 10.7892C132.506 11.8502 132.709 12.8648 133.113 13.805C133.515 14.7426 134.073 15.5697 134.77 16.2659C135.468 16.962 136.299 17.5169 137.238 17.9176C138.182 18.3209 139.199 18.5238 140.262 18.5238C141.327 18.5238 142.341 18.3209 143.277 17.9176C144.212 17.5169 145.038 16.962 145.735 16.2659C146.432 15.5697 146.991 14.7426 147.392 13.805C147.796 12.8648 147.999 11.8502 147.999 10.7892C147.999 9.72835 147.794 8.71625 147.39 7.78379ZM136.672 14.3573C136.214 13.9 135.843 13.3606 135.576 12.7492C135.311 12.1456 135.174 11.4854 135.174 10.7892C135.174 10.0931 135.308 9.43294 135.576 8.82928C135.843 8.21791 136.214 7.67847 136.672 7.22123C137.133 6.76399 137.675 6.39666 138.288 6.1295C138.898 5.86492 139.562 5.73134 140.262 5.73134C140.962 5.73134 141.625 5.86492 142.235 6.1295C142.85 6.39666 143.393 6.76399 143.851 7.22123C144.309 7.6759 144.675 8.21791 144.937 8.82414C145.197 9.43037 145.328 10.0905 145.328 10.7892C145.328 11.4854 145.197 12.1456 144.937 12.7544C144.677 13.3632 144.312 13.9026 143.851 14.3573C143.393 14.8145 142.848 15.1818 142.235 15.4464C141.625 15.711 140.962 15.8446 140.262 15.8446C139.562 15.8446 138.898 15.711 138.288 15.4464C137.675 15.1793 137.13 14.8145 136.672 14.3573Z"
                    fill="black" />
                <path
                    d="M0 24V5.65643L9.8375 0L19.2813 3.27775V18.3153C16.6206 18.341 13.3448 18.6082 9.47982 19.5201C5.14391 20.5424 1.0679 22.9956 0 24ZM2.56552 19.3814C4.44142 18.4438 6.6647 17.5575 8.88798 17.0335C11.5204 16.4119 14.1014 16.024 16.7132 15.8544V5.0913L10.1025 2.79739L2.56552 7.13347V19.3814Z"
                    fill="#004EB7" />
                <path
                    d="M0 24V5.65643L9.8375 0L19.2813 3.27775V18.3153C16.6206 18.341 13.3448 18.6082 9.47982 19.5201C5.14391 20.5424 1.0679 22.9956 0 24ZM2.56552 19.3814C4.44142 18.4438 6.6647 17.5575 8.88798 17.0335C11.5204 16.4119 14.1014 16.024 16.7132 15.8544V5.0913L10.1025 2.79739L2.56552 7.13347V19.3814Z"
                    fill="#004EB7" />
            </svg>
        </a>
        <div class="header__info header__info--mobile">
            <a class="header__phone" href="tel:+74956608334">+7 495 660-83-34</a>
            <a class="header__email initial-mt-5" href="mailto:Dom@mechtaevo.ru">Dom@mechtaevo.ru</a>
        </div>
    </div>
</header>
