<div class="hero" data-component="hero">
    <div class="hero__slides" data-hero-ref="slider">
        <div class="hero__slide">
            <img class="hero__slide-bg lazyload" data-src="images/hero-img.jpg" alt="">
        </div>
        <div class="hero__slide">
            <img class="hero__slide-bg lazyload" data-src="images/slide-bg.jpg" alt="">

            <div class="slide">
                <div class="slide__container">
                    <div class="slide__content">
                        <h1 class="slide__title tiltle-type-1">
                            Строй дом
                            плати потом
                        </h1>
                        <p class="slide__description initial-mt-10">Рассрочка 0% на все дома</p>
                        <a class="btn-primary btn-primary--transparent initial-mt-30 desktop-mt-50"
                            href="/fix-me">Читать подробнее</a>
                    </div>

                    <div class="slide__image initial-mt-30 desktop-mt-0">
                        <img class="lazyload" data-src="images/slide-img.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hero__label">
        Мы — «Добросовестный
        поставщик 2020»
    </div>
</div>
