<section class="section section--grey ">
    <div class="section__head">
        <div class="container">
            <div class="section__row">
                <h2 class="section__title title-type-2">Интересно прочитать</h2>
            </div>
        </div>
    </div>
    <div class="section__content slider-wrapper">
        <div class="container">
            <div class="row row--tiles row--tiles-stacked-70">
                <div class="col-tablet-6">
                    <div class="content-block is-active" data-component="accordion" data-options='{"mobileOnly": true}'>
                        <h2 class="content-block__header title-type-2" data-accordion-ref="trigger">
                            <span class="content-block__title">Сколько стоит построить дом вашей мечты?</span>
                            <svg class="content-block__icon content-block__icon--plus icon" width="23" height="23"
                                focusable="false">
                                <use xlink:href="#icon-plus-outlined" />
                            </svg>
                            <svg class="content-block__icon content-block__icon--minus icon" width="23" height="23"
                                focusable="false">
                                <use xlink:href="#icon-minus-outlined" />
                            </svg>
                        </h2>
                        <div class="content-block__body initial-mt-0 tablet-mt-15" data-accordion-ref="content">
                            <div class="content-block__content">
                                <div class="content-block__divider hr initial-mb-15 hide-if-tablet"></div>
                                <div class="content-block__text">
                                    <div class="richtext">
                                        <p>
                                            Компания «Мечтаево» может легко ответить на этот вопрос, ведь в нашу
                                            стоимость строительства дома уже включены все
                                            нюансы, которые так часто стараются замолчать многие строители.
                                        </p>
                                        <p>
                                            Для того чтобы вы смогли получить подробный расчет, заполните форму на
                                            сайте. Укажитете данные, которые в первую
                                            очередь будут приниматься во внимание при составлении сметы, и наши
                                            специалисты точно определят бюджет предстоящих
                                            работ. Строительство дома у нас – это выгодно, так как вы получаете желаемое
                                            за реальную цену без накруток.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-tablet-6">
                    <div class="content-block is-active" data-component="accordion" data-options='{"mobileOnly": true}'>
                        <h2 class="content-block__header title-type-2" data-accordion-ref="trigger">
                            <span class="content-block__title">Эксклюзивное строительство дома по стоимости
                                стандарта</span>
                            <svg class="content-block__icon content-block__icon--plus icon" width="23" height="23"
                                focusable="false">
                                <use xlink:href="#icon-plus-outlined" />
                            </svg>
                            <svg class="content-block__icon content-block__icon--minus icon" width="23" height="23"
                                focusable="false">
                                <use xlink:href="#icon-minus-outlined" />
                            </svg>
                        </h2>
                        <div class="content-block__body initial-mt-0 tablet-mt-15" data-accordion-ref="content">
                            <div class="content-block__content">
                                <div class="content-block__divider hr initial-mb-15 hide-if-tablet"></div>
                                <div class="content-block__text">
                                    <div class="richtext">
                                        <p>
                                            Вы уже просмотрели наш каталог и выбралитот проект, который точно отражает
                                            ваши представления об идеальном загородном
                                            жилье? Не забудьте отправить менеджерам ссылку на заинтересовавшее проектное
                                            решение.
                                        </p>
                                        <p>
                                            Мечтаете о неповторимом доме или хотите внести изменения в один из готовых
                                            проектов? Напишите об этом нам, прикрепите
                                            фото, картинку или эскиз загородного жилья. Архитекторы компании разработают
                                            индивидуальный проект совершенно бесплатно!
                                            Стоимость строительства дома в этом случае также не будет увеличена!
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-tablet-6">
                    <div class="content-block is-active" data-component="accordion" data-options='{"mobileOnly": true}'>
                        <h2 class="content-block__header title-type-2" data-accordion-ref="trigger">
                            <span class="content-block__title">Цену можно выбрать!</span>
                            <svg class="content-block__icon content-block__icon--plus icon" width="23" height="23"
                                focusable="false">
                                <use xlink:href="#icon-plus-outlined" />
                            </svg>
                            <svg class="content-block__icon content-block__icon--minus icon" width="23" height="23"
                                focusable="false">
                                <use xlink:href="#icon-minus-outlined" />
                            </svg>
                        </h2>
                        <div class="content-block__body initial-mt-0 tablet-mt-15" data-accordion-ref="content">
                            <div class="content-block__content">
                                <div class="content-block__divider hr initial-mb-15 hide-if-tablet"></div>
                                <div class="content-block__text">
                                    <div class="richtext">
                                        <p>
                                            Мы строим каркасные и брусовые дома, каменные и монолитные. Тип
                                            строительства, а также планировка, площадь и
                                            комплектация будущего загородного жилья – вот основные критерии
                                            ценообразования.
                                        </p>
                                        <p>
                                            Строительство – сложный и многоэтапный процесс, включающий в себя широкий
                                            спектр работ, но очевидно одно: построить
                                            загородный дом под ключ с «Мечтаево» – это выгодный вариант. Мы быстро и
                                            качественно возведем новое жилье по готовому
                                            или индивидуальному проекту, произведем внешнюю и внутреннюю отделку, а
                                            также выполним ландшафтный дизайн участка в
                                            соответствии с пожеланиями.
                                        </p>
                                        <p>Стройте свой комфортный загородный мир вместе с нами!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
