<div class="hidden" hidden>
    <form class="order-phone-form" id="order-phone">
        <h4 class="order-phone-form__title initial-mb-45">Заказать звонок</h4>
        <div class="form-input form-input--phone initial-mb-30">
            <label for="phone-order-field">
                <input class="form-input__control" name="email" id="phone-order-field" type="tel"
                    placeholder="Номер телефона">
                <span class="form-input__symbol">+7</span>
            </label>
        </div>
        <button class="btn-primary btn-primary--green btn-primary--with-icon btn-primary--full-width initial-mb-20"
            type="submit">
            <svg class="icon" width="19" height="16" focusable="false">
                <use xlink:href="#icon-speaker" />
            </svg>
            Записаться
        </button>
        <p class="order-phone-form__description initial-mb-90">*Нажимая кнопку оставить заявку, вы соглашаетсь на
            обработку
            персональных данных</p>

        <button class="btn-primary btn-primary--transparent btn-primary--with-icon" type="button" data-modal-close>
            <svg class="icon" width="14" height="14" focusable="false">
                <use xlink:href="#icon-cross" />
            </svg>
            Закрыть
        </button>
    </form>
</div>
