<section class="section section--narrow-head">
    <div class="section__head">
        <div class="container">
            <div class="section__row">
                <h2 class="section__title title-type-2">Параметры и цена</h2>
            </div>
        </div>
    </div>
    <div class="section__content slider-wrapper">
        <div class="container">
            <div class="row row--stacked-mobile-16">
                <div class="col-tablet-4">
                    <ul class="key-info key-info--medium">
                        <li class="key-info__item">Дом под ключ: <span class="key-info__item-value">8,3 х
                                8,8
                                м2.</span></li>
                        <li class="key-info__item">Общая площадь: <span class="key-info__item-value">322
                                м2</span>
                        </li>
                        <li class="key-info__item">Кол-во комнат: <span class="key-info__item-value">5
                                Шт.</span>
                        </li>
                    </ul>
                </div>
                <div class="col-tablet-4">
                    <ul class="key-info key-info--medium">
                        <li class="key-info__item">Количество этажей:
                            <span class="key-info__item-value">
                                2 этажа
                            </span>
                        </li>
                        <li class="key-info__item">Срок строительcтва:
                            <span class="key-info__item-value">
                                от 45 дней
                            </span>
                        </li>
                        <li class="key-info__item">Стиль:
                            <span class="key-info__item-value">
                                Шале, Современный
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="col-tablet-4">
                    <ul class="key-info key-info--medium">
                        <li class="key-info__item">
                            <span class="hide-if-tablet">Технология</span>
                            <a class="key-info__item-value key-info__item-value--green" href="/fix-me">
                                Каркасный дом
                                <svg class="icon" width="19" height="19" focusable="false">
                                    <use xlink:href="#icon-tick-in-square" />
                                </svg>
                            </a>
                        </li>
                        <li class="key-info__item show-if-tablet">
                            <a class="key-info__item-value" href="/fix-me">
                                Каменный дом
                            </a>
                        </li>
                        <li class="key-info__item show-if-tablet">
                            <a class="key-info__item-value" href="/fix-me">
                                Комбинированный дом
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <ul class="social-share social-share--grey initial-mt-15 hide-if-tablet">
                <li class="social-share__item">
                    <a class="social-share__link" href="/fix-me">
                        <svg class="icon" width="15" height="8" focusable="false">
                            <use xlink:href="#icon-vk" />
                        </svg>
                    </a>
                </li>
                <li class="social-share__item">
                    <a class="social-share__link" href="/fix-me">
                        <svg class="icon" width="10" height="15" focusable="false">
                            <use xlink:href="#icon-facebook" />
                        </svg>
                    </a>
                </li>
                <li class="social-share__item">
                    <a class="social-share__link" href="/fix-me">
                        <svg class="icon" width="14" height="14" focusable="false">
                            <use xlink:href="#icon-instagram" />
                        </svg>
                    </a>
                </li>
            </ul>
            <div class="row initial-mt-0 tablet-mt-60">
                <div class="col-tablet-7 col-desktop-5">
                    <div class="price-block">
                        <div class="price-block__head">
                            <span class="price-block__label">Цена от:</span>
                            <a class="price-block__info show-if-tablet" href="/fix-me">Можно построить в кредит</a>
                        </div>
                        <div class="price-block__value initial-mt-5 tablet-mt-0">
                            5 621 000 ₽
                        </div>
                        <a class="price-block__info hide-if-tablet" href="/fix-me">Можно построить в кредит</a>
                        <div class="show-if-tablet">
                            <div class="btn-group initial-mt-12">
                                <a class="price-block__btn btn-primary btn-primary--red btn-primary--with-icon"
                                    href="/fix-me">
                                    <svg class="icon" width="20" height="17" focusable="false">
                                        <use xlink:href="#icon-calc" />
                                    </svg>
                                    Получить расчет
                                </a>
                                <a class="price-block__btn btn-primary btn-primary--red-color btn-primary--with-icon"
                                    href="/fix-me">
                                    <svg class="icon" width="20" height="20" focusable="false">
                                        <use xlink:href="#icon-question" />
                                    </svg>
                                    Купить проект
                                </a>
                            </div>
                        </div>

                        <div class="btn-group initial-mt-15 hide-if-tablet">
                            <a class="price-block__btn btn-primary btn-primary--red btn-primary--with-icon"
                                href="/fix-me">
                                <svg class="icon" width="15" height="14" focusable="false">
                                    <use xlink:href="#icon-arrow-right" />
                                </svg>
                                Получить расчет
                            </a>
                            <button class="price-block__btn price-block__btn--favorites btn" type="button">
                                <svg class="icon" width="20" height="20" focusable="false">
                                    <use xlink:href="#icon-heart" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-tablet-5 col-desktop-4 show-if-tablet">
                    <div class="info-block">
                        <div class="info-block__content">
                            <svg class="info-block__icon icon" width="20" height="20" focusable="false">
                                <use xlink:href="#icon-info" />
                            </svg>
                            <div class="info-block__text">
                                <p class="info-block__message">
                                    Этот дом мы можем построить
                                    в любой комплектации и с любым набором опций по вашему желанию.
                                    <span>Ваш участок должен
                                        находиться до 400 км от МКАД.</span>
                                </p>
                                <ul class="social-share social-share--grey initial-mt-15">
                                    <li class="social-share__item">
                                        <a class="social-share__link" href="/fix-me">
                                            <svg class="icon" width="15" height="8" focusable="false">
                                                <use xlink:href="#icon-vk" />
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="social-share__item">
                                        <a class="social-share__link" href="/fix-me">
                                            <svg class="icon" width="10" height="15" focusable="false">
                                                <use xlink:href="#icon-facebook" />
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="social-share__item">
                                        <a class="social-share__link" href="/fix-me">
                                            <svg class="icon" width="14" height="14" focusable="false">
                                                <use xlink:href="#icon-instagram" />
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
