<section class="section section--grey-head section--narrow-head">
    <div class="section__head">
        <div class="container">
            <div class="section__row">
                <div class="section__heading">
                    <ul class="breadcrumb">
                        <li class="breadcrumb__item">
                            <a class="breadcrumb__link" href="/fix-me">Строительство домов</a>
                        </li>
                        <li class="breadcrumb__item">
                            <a class="breadcrumb__link" href="/fix-me">Проекты домов</a>
                        </li>
                        <li class="breadcrumb__item">
                            <span class="breadcrumb__link">Проект дома Вальдорф</span>
                        </li>
                    </ul>
                    <h1 class="section__title title-type-2 initial-mt-0 desktop-mt-10">Проект дома Вальдорф</h1>
                </div>
                <div class="show-if-tablet">
                    <div class="btn-group">
                        <button class="btn-primary btn-primary--grey-color btn-primary--with-icon" type="button">
                            <svg class="icon" width="20" height="17" focusable="false">
                                <use xlink:href="#icon-heart" />
                            </svg>
                            В избранное
                        </button>
                        <a class="btn-primary btn-primary--grey-outlined" href="/fix-me">
                            2 этажа, 320 м2
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section__content" data-component="project-grid">
        <div class="container">
            <div class="project-grid">
                <div class="project-grid__slides">
                    <div class="project-grid__slides-container" data-project-grid-ref="slider">
                        <div class="project-grid__image project-grid__image--main">
                            <img class="lazyload" data-src="images/home-1.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="project-grid__toolbar">
                    <div class="project-grid__thumbnails" data-project-grid-ref="thumbnails-slider">
                        <div class="project-grid__thumb">
                            <a class="project-grid__image project-grid__image--thumb" data-fslightbox="project-thumb"
                                href="https://images.unsplash.com/photo-1591474200742-8e512e6f98f8?ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80">
                                <img class="lazyload"
                                    data-src="https://images.unsplash.com/photo-1591474200742-8e512e6f98f8?ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80"
                                    alt="">
                            </a>
                        </div>
                        <div class="project-grid__thumb">
                            <a class="project-grid__image project-grid__image--thumb" data-fslightbox="project-thumb"
                                href="https://images.unsplash.com/photo-1584738766473-61c083514bf4?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80">
                                <img class="lazyload"
                                    data-src="https://images.unsplash.com/photo-1584738766473-61c083514bf4?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                                    alt="">
                            </a>
                        </div>
                        <div class="project-grid__thumb">
                            <a class="project-grid__image project-grid__image--thumb" data-fslightbox="project-thumb"
                                href="https://images.unsplash.com/photo-1568314735654-32fb53a5c886?ixlib=rb-1.2.1&auto=format&fit=crop&w=1236&q=80">
                                <img class="lazyload"
                                    data-src="https://images.unsplash.com/photo-1568314735654-32fb53a5c886?ixlib=rb-1.2.1&auto=format&fit=crop&w=1236&q=80"
                                    alt="">
                            </a>
                        </div>
                        <div class="project-grid__thumb">
                            <a class="project-grid__image project-grid__image--thumb" data-fslightbox="project-thumb"
                                href="https://images.unsplash.com/photo-1572120360610-d971b9d7767c?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80">
                                <img class="lazyload"
                                    data-src="https://images.unsplash.com/photo-1572120360610-d971b9d7767c?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                                    alt="">
                            </a>
                        </div>
                        <div class="project-grid__thumb">
                            <a class="project-grid__image project-grid__image--thumb" data-fslightbox="project-thumb"
                                href="https://images.unsplash.com/photo-1516281717304-181e285c6e58?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80">
                                <img class="lazyload"
                                    data-src="https://images.unsplash.com/photo-1516281717304-181e285c6e58?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                                    alt="">
                            </a>
                        </div>
                    </div>
                    <div class="project-grid__controls" data-project-grid-ref="controls">
                        <button class="btn" type="button"></button>
                        <button class="btn" type="button"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
