<section class="section section--grey">
    <div class="section__head">
        <div class="container">
            <div class="section__row">
                <h2 class="section__title title-type-2">Более 1700 построенных домов с 2002 года</h2>
                <div class="show-if-tablet">
                    <a class="btn-primary btn-primary--blue-outlined btn-primary--with-icon" href="/fix-me">
                        <svg class="icon" width="15" height="14" focusable="false">
                            <use xlink:href="#icon-arrow-right" />
                        </svg>
                        Смотреть все
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="section__content slider-wrapper">
        <div class="container">
            <div class="row" data-component="slider" data-options='{"type": "full","controls": true}'>
                <div class="col-12 col-tablet-4">
                    <a class="card" href="/fix-me">
                        <div class="card__media">
                            <img class="lazyload" data-src="images/home-1.jpg" alt="Каркасный дом">
                        </div>
                        <div class="card__content">
                            <h3 class="card__title title-type-3 initial-mb-8">Каркасный дом</h3>
                            <ul class="card__info key-info">
                                <li class="key-info__item">Дом под ключ: <span class="key-info__item-value">8,3 х
                                        8,8
                                        м2.</span></li>
                                <li class="key-info__item">Общая площадь: <span class="key-info__item-value">322
                                        м2</span>
                                </li>
                            </ul>
                            <div class="hr initial-m-15"></div>
                            <div class="card__address">
                                Московская область,район Истринский
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-tablet-4">
                    <a class="card" href="/fix-me">
                        <div class="card__media">
                            <img class="lazyload" data-src="images/home-1.jpg" alt="Каркасный дом">
                        </div>
                        <div class="card__content">
                            <h3 class="card__title title-type-3 initial-mb-8">Каркасный дом</h3>
                            <ul class="card__info key-info">
                                <li class="key-info__item">Дом под ключ: <span class="key-info__item-value">8,3 х
                                        8,8
                                        м2.</span></li>
                                <li class="key-info__item">Общая площадь: <span class="key-info__item-value">322
                                        м2</span>
                                </li>
                            </ul>
                            <div class="hr initial-m-15"></div>
                            <div class="card__address">
                                Московская область,район Истринский
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-tablet-4">
                    <a class="card" href="/fix-me">
                        <div class="card__media">
                            <img class="lazyload"
                                data-src="https:/images.unsplash.com/photo-1540882082344-a56ecd70ba96?ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80"
                                alt="Каркасный дом">
                        </div>
                        <div class="card__content">
                            <h3 class="card__title title-type-3 initial-mb-8">Каркасный дом</h3>
                            <ul class="card__info key-info">
                                <li class="key-info__item">Дом под ключ: <span class="key-info__item-value">8,3 х
                                        8,8
                                        м2.</span></li>
                                <li class="key-info__item">Общая площадь: <span class="key-info__item-value">322
                                        м2</span>
                                </li>
                            </ul>
                            <div class="hr initial-m-15"></div>
                            <div class="card__address">
                                Московская область,район Истринский
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-tablet-4">
                    <a class="card" href="/fix-me">
                        <div class="card__media">
                            <img class="lazyload"
                                data-src="https:/images.unsplash.com/photo-1540882082344-a56ecd70ba96?ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80"
                                alt="Каркасный дом">
                        </div>
                        <div class="card__content">
                            <h3 class="card__title title-type-3 initial-mb-8">Каркасный дом</h3>
                            <ul class="card__info key-info">
                                <li class="key-info__item">Дом под ключ: <span class="key-info__item-value">8,3 х
                                        8,8
                                        м2.</span></li>
                                <li class="key-info__item">Общая площадь: <span class="key-info__item-value">322
                                        м2</span>
                                </li>
                            </ul>
                            <div class="hr initial-m-15"></div>
                            <div class="card__address">
                                Московская область,район Истринский
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="section__button">
                <a class="btn-primary btn-primary--blue-outlined btn-primary--with-icon hide-if-tablet" href="/fix-me">
                    <svg class="icon" width="15" height="14" focusable="false">
                        <use xlink:href="#icon-arrow-right" />
                    </svg>
                    Смотреть все
                </a>
            </div>
        </div>
    </div>
</section>
