<section class="section section--grey section--narrow-head section--reviews">
    <div class="section__head">
        <div class="container">
            <div class="section__row">
                <div class="section__heading">
                    <ul class="breadcrumb">
                        <li class="breadcrumb__item">
                            <a class="breadcrumb__link" href="/fix-me">Строительство домов</a>
                        </li>
                        <li class="breadcrumb__item">
                            <span class="breadcrumb__link">Отзывы</span>
                        </li>
                    </ul>
                    <h1 class="section__title title-type-2 initial-mt-0 desktop-mt-10">Наши заказчики</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="section__content">
        <div class="container" data-component="load-more">
            <div class="row row--tiles">
                <div class="col-12 col-tablet-4" data-load-more-ref="item">
                    <a class="card card--review" data-fslightbox="review-card"
                        href="https://www.youtube.com/watch?v=COHds4cqyUc?fs=1&amp;autoplay=1">
                        <div class="card__media">
                            <img class="lazyload" data-src="images/home-1.jpg" alt="">
                            <div class="card__media-overlay">
                                <div class="card__action">
                                    <svg class="icon" width="20" height="20" focusable="false">
                                        <use xlink:href="#icon-play" />
                                    </svg>
                                    Смотреть отзыв
                                </div>
                            </div>
                        </div>
                        <div class="card__content">
                            <h3 class="card__title title-type-3 initial-mb-8">Каркасный дом</h3>
                            <ul class="card__info key-info">
                                <li class="key-info__item">Дом под ключ: <span class="key-info__item-value">8,3 х
                                        8,8
                                        м2.</span></li>
                                <li class="key-info__item">Общая площадь: <span class="key-info__item-value">322
                                        м2</span>
                                </li>
                            </ul>
                            <div class="hr initial-m-15"></div>
                            <div class="card__address">
                                Московская область,район Истринский
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-tablet-4" data-load-more-ref="item">
                    <a class="card card--review" href="/fix-me">
                        <div class="card__media">
                            <img class="lazyload" data-src="images/home-2.jpg" alt="">
                            <div class="card__media-overlay">
                                <div class="card__action">
                                    <svg class="icon" width="20" height="20" focusable="false">
                                        <use xlink:href="#icon-play" />
                                    </svg>
                                    Смотреть отзыв
                                </div>
                            </div>
                        </div>
                        <div class="card__content">
                            <h3 class="card__title title-type-3 initial-mb-8">Кирпичный дом</h3>
                            <ul class="card__info key-info">
                                <li class="key-info__item">Дом под ключ: <span class="key-info__item-value">8,3 х
                                        8,8
                                        м2.</span></li>
                                <li class="key-info__item">Общая площадь: <span class="key-info__item-value">322
                                        м2</span>
                                </li>
                            </ul>
                            <div class="hr initial-m-15"></div>
                            <div class="card__address">
                                Московская область,район Истринский
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-tablet-4" data-load-more-ref="item">
                    <a class="card card--review" href="/fix-me">
                        <div class="card__media">
                            <img class="lazyload" data-src="images/home-3.jpg" alt="">
                            <div class="card__media-overlay">
                                <div class="card__action">
                                    <svg class="icon" width="20" height="20" focusable="false">
                                        <use xlink:href="#icon-play" />
                                    </svg>
                                    Смотреть отзыв
                                </div>
                            </div>
                        </div>
                        <div class="card__content">
                            <h3 class="card__title title-type-3 initial-mb-8">Комбинированный дом</h3>
                            <ul class="card__info key-info">
                                <li class="key-info__item">Дом под ключ: <span class="key-info__item-value">8,3 х
                                        8,8
                                        м2.</span></li>
                                <li class="key-info__item">Общая площадь: <span class="key-info__item-value">322
                                        м2</span>
                                </li>
                            </ul>
                            <div class="hr initial-m-15"></div>
                            <div class="card__address">
                                Московская область,район Истринский
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-tablet-12" data-load-more-ref="item">
                    <div class="review-card">
                        <div class="review-card__left-column">
                            <h4 class="review-card__title title-type-3">
                                Сафронов Дмитрий
                            </h4>
                            <div class="review-card__order-info initial-mt-12 desktop-mt-15">
                                <svg class="review-card__order-info-icon icon" width="28" height="28" focusable="false">
                                    <use xlink:href="#icon-brick" />
                                </svg>
                                <div class="review-card__order-info-details">
                                    Заказал у нас строительство <span>Каменного дом в Люберцах</span>
                                </div>
                            </div>
                            <div class="review-card__divider hr initial-m-15 desktop-m-20"></div>
                            <ul class="key-info key-info--small">
                                <li class="key-info__item">
                                    Дом под ключ: <span class="key-info__item-value">8,3 х 8,8 м2.</span>
                                </li>
                                <li class="key-info__item">
                                    Общая площадь: <span class="key-info__item-value">322 м2</span>
                                </li>
                            </ul>
                        </div>
                        <div class="review-card__right-column">
                            <div class="review-card__media-wrapper">
                                <a class="review-card__media" data-fslightbox="review-text"
                                    href="https://images.unsplash.com/photo-1580587771525-78b9dba3b914?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80">
                                    <svg class="review-card__media-icon icon" width="32" height="32" focusable="false">
                                        <use xlink:href="#icon-image" />
                                    </svg>
                                    <span class="review-card__media-link">
                                        Посмотреть
                                    </span>
                                </a>
                            </div>
                            <div class="review-card__text-block">
                                <div class="review-card__head">
                                    <h4 class="review-card__title title-type-3 initial-mb-15">Текст отзыва</h4>
                                    <span class="review-card__date">17.10.2020</span>
                                </div>
                                <div class="review-card__message">
                                    <div class="richtext">
                                        <p>
                                            Мне все очень понравилось. Начиная с этапа общения с менеджером по телефону,
                                            при первой встрече и последующих встречах
                                            подготов. этапа.
                                        </p>
                                        <p>
                                            Отдельно спасибо бригаде (Николай, Евгений и команда) работали качественно,
                                            добросовестно. Буду рекомендовать компанию
                                            всем своим друзьям. Спасибо огромное за дом.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-tablet-12" data-load-more-ref="item">
                    <div class="review-card">
                        <div class="review-card__left-column">
                            <h4 class="review-card__title title-type-3">
                                Сафронов Дмитрий
                            </h4>
                            <div class="review-card__order-info initial-mt-12 desktop-mt-15">
                                <svg class="review-card__order-info-icon icon" width="28" height="28" focusable="false">
                                    <use xlink:href="#icon-brick" />
                                </svg>
                                <div class="review-card__order-info-details">
                                    Заказал у нас строительство <span>Каменного дом в Люберцах</span>
                                </div>
                            </div>
                            <div class="review-card__divider hr initial-m-15 desktop-m-20"></div>
                            <ul class="key-info key-info--small">
                                <li class="key-info__item">
                                    Дом под ключ: <span class="key-info__item-value">8,3 х 8,8 м2.</span>
                                </li>
                                <li class="key-info__item">
                                    Общая площадь: <span class="key-info__item-value">322 м2</span>
                                </li>
                            </ul>
                        </div>
                        <div class="review-card__right-column">
                            <div class="review-card__text-block">
                                <div class="review-card__head">
                                    <h4 class="review-card__title title-type-3 initial-mb-15">Текст отзыва</h4>
                                    <span class="review-card__date">17.10.2020</span>
                                </div>
                                <div class="review-card__message">
                                    <div class="richtext">
                                        <p>
                                            Мне все очень понравилось. Начиная с этапа общения с менеджером по телефону,
                                            при первой встрече и последующих встречах
                                            подготов. этапа.
                                        </p>
                                        <p>
                                            Отдельно спасибо бригаде (Николай, Евгений и команда) работали качественно,
                                            добросовестно. Буду рекомендовать компанию
                                            всем своим друзьям. Спасибо огромное за дом.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-tablet-4" data-load-more-ref="item">
                    <a class="card card--review" href="/fix-me">
                        <div class="card__media">
                            <img class="lazyload" data-src="images/home-3.jpg" alt="">
                            <div class="card__media-overlay">
                                <div class="card__action">
                                    <svg class="icon" width="20" height="20" focusable="false">
                                        <use xlink:href="#icon-play" />
                                    </svg>
                                    Смотреть отзыв
                                </div>
                            </div>
                        </div>
                        <div class="card__content">
                            <h3 class="card__title title-type-3 initial-mb-8">Каркасный дом</h3>
                            <ul class="card__info key-info">
                                <li class="key-info__item">Дом под ключ: <span class="key-info__item-value">8,3 х
                                        8,8
                                        м2.</span></li>
                                <li class="key-info__item">Общая площадь: <span class="key-info__item-value">322
                                        м2</span>
                                </li>
                            </ul>
                            <div class="hr initial-m-15"></div>
                            <div class="card__address">
                                Московская область,район Истринский
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-tablet-4" data-load-more-ref="item">
                    <a class="card card--review" href="/fix-me">
                        <div class="card__media">
                            <img class="lazyload" data-src="images/home-2.jpg" alt="">
                            <div class="card__media-overlay">
                                <div class="card__action">
                                    <svg class="icon" width="20" height="20" focusable="false">
                                        <use xlink:href="#icon-play" />
                                    </svg>
                                    Смотреть отзыв
                                </div>
                            </div>
                        </div>
                        <div class="card__content">
                            <h3 class="card__title title-type-3 initial-mb-8">Кирпичный дом</h3>
                            <ul class="card__info key-info">
                                <li class="key-info__item">Дом под ключ: <span class="key-info__item-value">8,3 х
                                        8,8
                                        м2.</span></li>
                                <li class="key-info__item">Общая площадь: <span class="key-info__item-value">322
                                        м2</span>
                                </li>
                            </ul>
                            <div class="hr initial-m-15"></div>
                            <div class="card__address">
                                Московская область,район Истринский
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-tablet-4" data-load-more-ref="item">
                    <a class="card card--review" href="/fix-me">
                        <div class="card__media">
                            <img class="lazyload" data-src="images/home-1.jpg" alt="">
                            <div class="card__media-overlay">
                                <div class="card__action">
                                    <svg class="icon" width="20" height="20" focusable="false">
                                        <use xlink:href="#icon-play" />
                                    </svg>
                                    Смотреть отзыв
                                </div>
                            </div>
                        </div>
                        <div class="card__content">
                            <h3 class="card__title title-type-3 initial-mb-8">Комбинированный дом</h3>
                            <ul class="card__info key-info">
                                <li class="key-info__item">Дом под ключ: <span class="key-info__item-value">8,3 х
                                        8,8
                                        м2.</span></li>
                                <li class="key-info__item">Общая площадь: <span class="key-info__item-value">322
                                        м2</span>
                                </li>
                            </ul>
                            <div class="hr initial-m-15"></div>
                            <div class="card__address">
                                Московская область,район Истринский
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-tablet-4" data-load-more-ref="item">
                    <a class="card card--review" href="/fix-me">
                        <div class="card__media">
                            <img class="lazyload" data-src="images/home-1.jpg" alt="">
                            <div class="card__media-overlay">
                                <div class="card__action">
                                    <svg class="icon" width="20" height="20" focusable="false">
                                        <use xlink:href="#icon-play" />
                                    </svg>
                                    Смотреть отзыв
                                </div>
                            </div>
                        </div>
                        <div class="card__content">
                            <h3 class="card__title title-type-3 initial-mb-8">Каркасный дом</h3>
                            <ul class="card__info key-info">
                                <li class="key-info__item">Дом под ключ: <span class="key-info__item-value">8,3 х
                                        8,8
                                        м2.</span></li>
                                <li class="key-info__item">Общая площадь: <span class="key-info__item-value">322
                                        м2</span>
                                </li>
                            </ul>
                            <div class="hr initial-m-15"></div>
                            <div class="card__address">
                                Московская область,район Истринский
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-tablet-4" data-load-more-ref="item">
                    <a class="card card--review" href="/fix-me">
                        <div class="card__media">
                            <img class="lazyload" data-src="images/home-2.jpg" alt="">
                            <div class="card__media-overlay">
                                <div class="card__action">
                                    <svg class="icon" width="20" height="20" focusable="false">
                                        <use xlink:href="#icon-play" />
                                    </svg>
                                    Смотреть отзыв
                                </div>
                            </div>
                        </div>
                        <div class="card__content">
                            <h3 class="card__title title-type-3 initial-mb-8">Кирпичный дом</h3>
                            <ul class="card__info key-info">
                                <li class="key-info__item">Дом под ключ: <span class="key-info__item-value">8,3 х
                                        8,8
                                        м2.</span></li>
                                <li class="key-info__item">Общая площадь: <span class="key-info__item-value">322
                                        м2</span>
                                </li>
                            </ul>
                            <div class="hr initial-m-15"></div>
                            <div class="card__address">
                                Московская область,район Истринский
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-tablet-4" data-load-more-ref="item">
                    <a class="card card--review" href="/fix-me">
                        <div class="card__media">
                            <img class="lazyload" data-src="images/home-3.jpg" alt="">
                            <div class="card__media-overlay">
                                <div class="card__action">
                                    <svg class="icon" width="20" height="20" focusable="false">
                                        <use xlink:href="#icon-play" />
                                    </svg>
                                    Смотреть отзыв
                                </div>
                            </div>
                        </div>
                        <div class="card__content">
                            <h3 class="card__title title-type-3 initial-mb-8">Комбинированный дом</h3>
                            <ul class="card__info key-info">
                                <li class="key-info__item">Дом под ключ: <span class="key-info__item-value">8,3 х
                                        8,8
                                        м2.</span></li>
                                <li class="key-info__item">Общая площадь: <span class="key-info__item-value">322
                                        м2</span>
                                </li>
                            </ul>
                            <div class="hr initial-m-15"></div>
                            <div class="card__address">
                                Московская область,район Истринский
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-tablet-4" data-load-more-ref="item">
                    <a class="card card--review" href="/fix-me">
                        <div class="card__media">
                            <img class="lazyload" data-src="images/home-2.jpg" alt="">
                            <div class="card__media-overlay">
                                <div class="card__action">
                                    <svg class="icon" width="20" height="20" focusable="false">
                                        <use xlink:href="#icon-play" />
                                    </svg>
                                    Смотреть отзыв
                                </div>
                            </div>
                        </div>
                        <div class="card__content">
                            <h3 class="card__title title-type-3 initial-mb-8">Кирпичный дом</h3>
                            <ul class="card__info key-info">
                                <li class="key-info__item">Дом под ключ: <span class="key-info__item-value">8,3 х
                                        8,8
                                        м2.</span></li>
                                <li class="key-info__item">Общая площадь: <span class="key-info__item-value">322
                                        м2</span>
                                </li>
                            </ul>
                            <div class="hr initial-m-15"></div>
                            <div class="card__address">
                                Московская область,район Истринский
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-tablet-4" data-load-more-ref="item">
                    <a class="card card--review" href="/fix-me">
                        <div class="card__media">
                            <img class="lazyload" data-src="images/home-3.jpg" alt="">
                            <div class="card__media-overlay">
                                <div class="card__action">
                                    <svg class="icon" width="20" height="20" focusable="false">
                                        <use xlink:href="#icon-play" />
                                    </svg>
                                    Смотреть отзыв
                                </div>
                            </div>
                        </div>
                        <div class="card__content">
                            <h3 class="card__title title-type-3 initial-mb-8">Комбинированный дом</h3>
                            <ul class="card__info key-info">
                                <li class="key-info__item">Дом под ключ: <span class="key-info__item-value">8,3 х
                                        8,8
                                        м2.</span></li>
                                <li class="key-info__item">Общая площадь: <span class="key-info__item-value">322
                                        м2</span>
                                </li>
                            </ul>
                            <div class="hr initial-m-15"></div>
                            <div class="card__address">
                                Московская область,район Истринский
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-tablet-4" data-load-more-ref="item">
                    <a class="card card--review" href="/fix-me">
                        <div class="card__media">
                            <img class="lazyload" data-src="images/home-3.jpg" alt="">
                            <div class="card__media-overlay">
                                <div class="card__action">
                                    <svg class="icon" width="20" height="20" focusable="false">
                                        <use xlink:href="#icon-play" />
                                    </svg>
                                    Смотреть отзыв
                                </div>
                            </div>
                        </div>
                        <div class="card__content">
                            <h3 class="card__title title-type-3 initial-mb-8">Комбинированный дом</h3>
                            <ul class="card__info key-info">
                                <li class="key-info__item">Дом под ключ: <span class="key-info__item-value">8,3 х
                                        8,8
                                        м2.</span></li>
                                <li class="key-info__item">Общая площадь: <span class="key-info__item-value">322
                                        м2</span>
                                </li>
                            </ul>
                            <div class="hr initial-m-15"></div>
                            <div class="card__address">
                                Московская область,район Истринский
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-tablet-12" data-load-more-ref="item">
                    <div class="review-card">
                        <div class="review-card__left-column">
                            <h4 class="review-card__title title-type-3">
                                Сафронов Дмитрий
                            </h4>
                            <div class="review-card__order-info initial-mt-12 desktop-mt-15">
                                <svg class="review-card__order-info-icon icon" width="28" height="28" focusable="false">
                                    <use xlink:href="#icon-brick" />
                                </svg>
                                <div class="review-card__order-info-details">
                                    Заказал у нас строительство <span>Каменного дом в Люберцах</span>
                                </div>
                            </div>
                            <div class="review-card__divider hr initial-m-15 desktop-m-20"></div>
                            <ul class="key-info key-info--small">
                                <li class="key-info__item">
                                    Дом под ключ: <span class="key-info__item-value">8,3 х 8,8 м2.</span>
                                </li>
                                <li class="key-info__item">
                                    Общая площадь: <span class="key-info__item-value">322 м2</span>
                                </li>
                            </ul>
                        </div>
                        <div class="review-card__right-column">
                            <div class="review-card__media-wrapper">
                                <a class="review-card__media" data-fslightbox="review-text-2"
                                    href="https://images.unsplash.com/photo-1580587771525-78b9dba3b914?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80">
                                    <svg class="review-card__media-icon icon" width="32" height="32" focusable="false">
                                        <use xlink:href="#icon-image" />
                                    </svg>
                                    <span class="review-card__media-link">
                                        Посмотреть
                                    </span>
                                </a>
                            </div>
                            <div class="review-card__text-block">
                                <div class="review-card__head">
                                    <h4 class="review-card__title title-type-3 initial-mb-15">Текст отзыва</h4>
                                    <span class="review-card__date">17.10.2020</span>
                                </div>
                                <div class="review-card__message">
                                    <div class="richtext">
                                        <p>
                                            Мне все очень понравилось. Начиная с этапа общения с менеджером по телефону,
                                            при первой встрече и последующих встречах
                                            подготов. этапа.
                                        </p>
                                        <p>
                                            Отдельно спасибо бригаде (Николай, Евгений и команда) работали качественно,
                                            добросовестно. Буду рекомендовать компанию
                                            всем своим друзьям. Спасибо огромное за дом.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-tablet-12" data-load-more-ref="item">
                    <div class="review-card">
                        <div class="review-card__left-column">
                            <h4 class="review-card__title title-type-3">
                                Сафронов Дмитрий
                            </h4>
                            <div class="review-card__order-info initial-mt-12 desktop-mt-15">
                                <svg class="review-card__order-info-icon icon" width="28" height="28" focusable="false">
                                    <use xlink:href="#icon-brick" />
                                </svg>
                                <div class="review-card__order-info-details">
                                    Заказал у нас строительство <span>Каменного дом в Люберцах</span>
                                </div>
                            </div>
                            <div class="review-card__divider hr initial-m-15 desktop-m-20"></div>
                            <ul class="key-info key-info--small">
                                <li class="key-info__item">
                                    Дом под ключ: <span class="key-info__item-value">8,3 х 8,8 м2.</span>
                                </li>
                                <li class="key-info__item">
                                    Общая площадь: <span class="key-info__item-value">322 м2</span>
                                </li>
                            </ul>
                        </div>
                        <div class="review-card__right-column">
                            <div class="review-card__text-block">
                                <div class="review-card__head">
                                    <h4 class="review-card__title title-type-3 initial-mb-15">Текст отзыва</h4>
                                    <span class="review-card__date">17.10.2020</span>
                                </div>
                                <div class="review-card__message">
                                    <div class="richtext">
                                        <p>
                                            Мне все очень понравилось. Начиная с этапа общения с менеджером по телефону,
                                            при первой встрече и последующих встречах
                                            подготов. этапа.
                                        </p>
                                        <p>
                                            Отдельно спасибо бригаде (Николай, Евгений и команда) работали качественно,
                                            добросовестно. Буду рекомендовать компанию
                                            всем своим друзьям. Спасибо огромное за дом.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-tablet-4" data-load-more-ref="item">
                    <a class="card card--review" href="/fix-me">
                        <div class="card__media">
                            <img class="lazyload" data-src="images/home-3.jpg" alt="">
                            <div class="card__media-overlay">
                                <div class="card__action">
                                    <svg class="icon" width="20" height="20" focusable="false">
                                        <use xlink:href="#icon-play" />
                                    </svg>
                                    Смотреть отзыв
                                </div>
                            </div>
                        </div>
                        <div class="card__content">
                            <h3 class="card__title title-type-3 initial-mb-8">Каркасный дом</h3>
                            <ul class="card__info key-info">
                                <li class="key-info__item">Дом под ключ: <span class="key-info__item-value">8,3 х
                                        8,8
                                        м2.</span></li>
                                <li class="key-info__item">Общая площадь: <span class="key-info__item-value">322
                                        м2</span>
                                </li>
                            </ul>
                            <div class="hr initial-m-15"></div>
                            <div class="card__address">
                                Московская область,район Истринский
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="section__button" data-load-more-ref="showMoreContainer">
                <button class="btn-primary btn-primary--blue-outlined btn-primary--with-icon" type="button"
                    data-load-more-ref="showMore">
                    <svg class="icon" width="17" height="17" focusable="false">
                        <use xlink:href="#icon-plus" />
                    </svg>
                    Показать еще
                </button>
            </div>
        </div>
    </div>
</section>
