<section class="section section--grey section--narrow-head">
    <div class="section__head">
        <div class="container">
            <div class="section__row row--mb-70">
                <div class="section__heading">
                    <ul class="breadcrumb">
                        <li class="breadcrumb__item">
                            <a class="breadcrumb__link" href="/fix-me">Главная</a>
                        </li>
                        <li class="breadcrumb__item">
                            <span class="breadcrumb__link">Награды и сертификаты</span>
                        </li>
                    </ul>
                    <h1 class="section__title title-type-2 initial-mt-0 desktop-mt-10">Награды и сертификаты</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="section__content">
        <div class="container">
            <div class="row row--mb-70 row--stacked-mobile-16">
                <div class="col-tablet-6">
                    <div class="content-block is-active" data-component="accordion" data-options='{"mobileOnly": true}'>
                        <h2 class="content-block__header title-type-2" data-accordion-ref="trigger">
                            <span class="content-block__title">2020 год - очередное звание Добросовестный
                                поставщик</span>
                            <svg class="content-block__icon content-block__icon--plus icon" width="23" height="23"
                                focusable="false">
                                <use xlink:href="#icon-plus-outlined" />
                            </svg>
                            <svg class="content-block__icon content-block__icon--minus icon" width="23" height="23"
                                focusable="false">
                                <use xlink:href="#icon-minus-outlined" />
                            </svg>
                        </h2>
                        <div class="content-block__body initial-mt-0 tablet-mt-15" data-accordion-ref="content">
                            <div class="content-block__content">
                                <div class="content-block__divider hr initial-mb-15 hide-if-tablet"></div>
                                <div class="content-block__text">
                                    <div class="richtext">
                                        <p>
                                            Второй год подряд компания "Мечтаево" получает звание "Добросовестного
                                            поставщика". Сохраняя высокий уровень
                                            производства и строительства, мы удостоились чести быть внесёнными в Реестр
                                            добросоветных поставщиков на портале
                                            Международного центра инвестиционного консалтинга!
                                        </p>
                                        <p>
                                            Это подтверждает, что "Мечтаево" имеет достойные показатели деловой
                                            репутации, выполняет договора в срок, имеет штат
                                            высококлассных специалистов и оказывает свои услуги на стабильно высоком
                                            уровне качества!
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-tablet-3">
                    <a data-fslightbox="rewards-card" href="images/cert-1.jpg">
                        <img class="lazyload" data-src="images/cert-1.jpg" alt="сертификат">
                    </a>
                </div>
            </div>
            <div class="row row--mb-70 row--stacked-mobile-16">
                <div class="col-tablet-6">
                    <div class="content-block is-active" data-component="accordion" data-options='{"mobileOnly": true}'>
                        <h2 class="content-block__header title-type-2" data-accordion-ref="trigger">
                            <span class="content-block__title">2018 год – Лидер рейтинга Топ-200 строительных компаний
                                загородных домов</span>
                            <svg class="content-block__icon content-block__icon--plus icon" width="23" height="23"
                                focusable="false">
                                <use xlink:href="#icon-plus-outlined" />
                            </svg>
                            <svg class="content-block__icon content-block__icon--minus icon" width="23" height="23"
                                focusable="false">
                                <use xlink:href="#icon-minus-outlined" />
                            </svg>
                        </h2>
                        <div class="content-block__body initial-mt-0 tablet-mt-15" data-accordion-ref="content">
                            <div class="content-block__content">
                                <div class="content-block__divider hr initial-mb-15 hide-if-tablet"></div>
                                <div class="content-block__text">
                                    <div class="richtext">
                                        <p>
                                            В июле 2018 года My Village Life, крупнейший веб-журнал, посвященный
                                            вопросам загородного строительства, составил
                                            собственный рейтинг лидеров в этом сегменте индустрии. В Топ-200 вошли
                                            ведущие компании Москвы и Московской области,
                                            занимающиеся строительством загородных домов. Составители рейтинга проверили
                                            надежность и финансы каждой компании,
                                            пообщались с менеджерами как потенциальные клиенты.
                                        </p>
                                        <p>
                                            Лидером по всем критериям эксперты My Village Life назвали компанию
                                            «Мечтаево». Признание экспертов области – важная
                                            награда для коллектива «Мечтаево»!
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-tablet-3">
                    <a data-fslightbox="rewards-card" href="images/cert-1.jpg">
                        <img class="lazyload" data-src="https://www.mechtaevo.ru/images/scansert2018.jpg"
                            alt="сертификат">
                    </a>
                </div>
                <div class="col-6 col-tablet-3">
                    <a data-fslightbox="rewards-card" href="images/cert-1.jpg">
                        <img class="lazyload" data-src="https://www.mechtaevo.ru/images/rank_cert.jpg" alt="сертификат">
                    </a>
                </div>
            </div>
            <div class="row row--mb-70 row--stacked-mobile-16">
                <div class="col-tablet-6">
                    <div class="content-block is-active" data-component="accordion" data-options='{"mobileOnly": true}'>
                        <h2 class="content-block__header title-type-2" data-accordion-ref="trigger">
                            <span class="content-block__title">2019 год - Звание Добросовестный поставщик</span>
                            <svg class="content-block__icon content-block__icon--plus icon" width="23" height="23"
                                focusable="false">
                                <use xlink:href="#icon-plus-outlined" />
                            </svg>
                            <svg class="content-block__icon content-block__icon--minus icon" width="23" height="23"
                                focusable="false">
                                <use xlink:href="#icon-minus-outlined" />
                            </svg>
                        </h2>
                        <div class="content-block__body initial-mt-0 tablet-mt-15" data-accordion-ref="content">
                            <div class="content-block__content">
                                <div class="content-block__divider hr initial-mb-15 hide-if-tablet"></div>
                                <div class="content-block__text">
                                    <div class="richtext">
                                        <p>
                                            В 2019 году компания «Мечтаево» получила звание «Добросовестный поставщик» в
                                            системе добровольной сертификации и была
                                            включена в Реестр добросовестных поставщиков на портале www.ruscentr.com.
                                        </p>
                                        <p>
                                            Данный факт удостоверяет, что ООО «Мечтаево» оказывает услуги требуемого
                                            качества в установленные контрактами
                                            (договорами) сроки, имеет хорошую деловую репутацию, специалистов и иных
                                            работников необходимого уровня квалификации,
                                            достаточный опыт работы для успешного исполнения контрактов в системе
                                            Госзаказа.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row--mb-70 row--stacked-mobile-16">
                <div class="col-tablet-6">
                    <div class="content-block is-active" data-component="accordion" data-options='{"mobileOnly": true}'>
                        <h2 class="content-block__header title-type-2" data-accordion-ref="trigger">
                            <span class="content-block__title">2015 год - Звание «Лидер России»</span>
                            <svg class="content-block__icon content-block__icon--plus icon" width="23" height="23"
                                focusable="false">
                                <use xlink:href="#icon-plus-outlined" />
                            </svg>
                            <svg class="content-block__icon content-block__icon--minus icon" width="23" height="23"
                                focusable="false">
                                <use xlink:href="#icon-minus-outlined" />
                            </svg>
                        </h2>
                        <div class="content-block__body initial-mt-0 tablet-mt-15" data-accordion-ref="content">
                            <div class="content-block__content">
                                <div class="content-block__divider hr initial-mb-15 hide-if-tablet"></div>
                                <div class="content-block__text">
                                    <div class="richtext">
                                        <p>
                                            По результатам статистического ранжирования Национального бизнес-рейтинга:
                                            ООО «Мечтаево» заняло 1 место среди
                                            предприятий г. Москвы, относящихся к виду экономической деятельности (ОКВЭД)
                                            «Монтаж зданий и сооружений из сборных
                                            конструкций». Лидеры бизнес-рейтинга определяются на основании публичных
                                            данных официальной статистики.
                                        </p>
                                        <p>
                                            Данный факт подтвержден соответствующими знаками почета: Федеральным
                                            сертификатом и настенной медалью «Лидер России
                                            2015».
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-tablet-3">
                    <a data-fslightbox="rewards-card" href="images/cert-1.jpg">
                        <img class="lazyload" data-src="https://www.mechtaevo.ru/images/baget_medal.png"
                            alt="сертификат">
                    </a>
                </div>
                <div class="col-6 col-tablet-3">
                    <a data-fslightbox="rewards-card" href="images/cert-1.jpg">
                        <img class="lazyload" data-src="https://www.mechtaevo.ru/images/mechtaevo_lr2015.jpg"
                            alt="сертификат">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
