<div class="hidden" hidden>
    <ul class="submenu" id="rubricator-modal">
        <li class="submenu__item">
            <a class="submenu__link" href="/fix-me">Внешняя отделка</a>
        </li>
        <li class="submenu__item">
            <a class="submenu__link" href="/fix-me">Внутренняя отделка</a>
        </li>
        <li class="submenu__item">
            <a class="submenu__link" href="/fix-me">Строительство домов</a>
        </li>
        <li class="submenu__item">
            <a class="submenu__link" href="/fix-me">Инжереные коммуникации</a>
        </li>
    </ul>
</div>
