<div class="hidden" hidden>
    <div class="search-form" id="search-modal">
        <div class="form-input form-input--search initial-mb-55" data-component="autocomplete"
            data-options='{"endpointUrl":"/api/search"}'>
            <label for="search-input">
                <input class="form-input__control" name="search" id="autoComplete" autocomplete="off" type="text"
                    placeholder="Поиск" data-autocomplete-ref="input">
                <button class="form-input__icon btn" type="button" data-autocomplete-ref="close">
                    <svg class="icon" width="14" height="14" focusable="false">
                        <use xlink:href="#icon-cross" />
                    </svg>
                </button>
            </label>
        </div>

        <div class="search-form__row initial-mb-90">
            <a class="search-form__item" href="/fix-me">
                <svg class="icon" width="28" height="28" focusable="false">
                    <use xlink:href="#icon-brick" />
                </svg>
                <span class="search-form__item-title">
                    Каменные дома
                </span>
            </a>
            <a class="search-form__item" href="/fix-me">
                <svg class="icon" width="28" height="28" focusable="false">
                    <use xlink:href="#icon-frame" />
                </svg>
                <span class="search-form__item-title">
                    Каркасные дома
                </span>
            </a>
            <a class="search-form__item" href="/fix-me">
                <svg class="icon" width="28" height="28" focusable="false">
                    <use xlink:href="#icon-combo" />
                </svg>
                <span class="search-form__item-title">
                    Комбинированные
                    дома
                </span>
            </a>
        </div>

        <button class="search-form__close-btn btn-primary btn-primary--transparent btn-primary--with-icon" type="button"
            data-modal-close>
            <svg class="icon" width="14" height="14" focusable="false">
                <use xlink:href="#icon-cross" />
            </svg>
            Закрыть
        </button>
        </в>
    </div>
</div>
