<section class="section">
    <div class="section__head">
        <div class="container">
            <div class="section__row">
                <h2 class="section__title title-type-2">Похожие проекты домов</h2>
                <div class="show-if-tablet">
                    <a class="btn-primary btn-primary--blue-outlined btn-primary--with-icon" href="/fix-me">
                        <svg class="icon" width="17" height="18" focusable="false">
                            <use xlink:href="#icon-plus" />
                        </svg>
                        Смотреть все проекты
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="section__content slider-wrapper">
        <div class="container">
            <div class="row" data-component="slider" data-options='{"type": "full","controls": true}'>
                <div class="col-12 col-tablet-4">
                    <div class="card card--popular">
                        <a class="card__media" href="/fix-me">
                            <span class="card__badge">
                                <svg class="icon" width="16" height="16" focusable="false">
                                    <use xlink:href="#icon-tick-in-circle" />
                                </svg>
                                Топ проект
                            </span>
                            <img class="lazyload" data-src="images/home-1.jpg" alt="Импала">
                        </a>
                        <div class="card__content">
                            <h3 class="card__title title-type-3 initial-mb-8">
                                <a class="card__link" href="/fix-me">Импала</a>
                            </h3>
                            <ul class="card__info key-info">
                                <li class="key-info__item">Дом под ключ: <span class="key-info__item-value">8,3 х
                                        8,8
                                        м2.</span></li>
                                <li class="key-info__item">Общая площадь: <span class="key-info__item-value">322
                                        м2</span>
                                </li>
                            </ul>
                            <div class="hr initial-m-15"></div>
                            <div class="card__price">
                                <span class="card__price-label">Стоимость от:</span>
                                <span class="card__price-value">2 000 000 ₽</span>
                                <span class="card__price-label">Возможна индивидуальная планировка</span>
                            </div>
                            <div class="card__btn-group initial-mt-35">
                                <a class="card__btn btn-primary btn-primary--with-icon" href="/fix-me">
                                    <svg class="icon" width="15" height="14" focusable="false">
                                        <use xlink:href="#icon-arrow-right" />
                                    </svg>
                                    Посмотреть проект
                                </a>
                                <button class="card__btn-favorites btn" type="button">
                                    <svg class="icon" width="23" height="19" focusable="false">
                                        <use xlink:href="#icon-heart" />
                                    </svg>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-tablet-4">
                    <div class="card card--popular">
                        <a class="card__media" href="/fix-me">
                            <span class="card__badge">
                                <svg class="icon" width="16" height="16" focusable="false">
                                    <use xlink:href="#icon-tick-in-circle" />
                                </svg>
                                Топ проект
                            </span>
                            <img class="lazyload" data-src="images/home-1.jpg" alt="Импала">
                        </a>
                        <div class="card__content">
                            <h3 class="card__title title-type-3 initial-mb-8">
                                <a class="card__link" href="/fix-me">Воудлер</a>
                            </h3>
                            <ul class="card__info key-info">
                                <li class="key-info__item">Дом под ключ: <span class="key-info__item-value">8,3 х
                                        8,8
                                        м2.</span></li>
                                <li class="key-info__item">Общая площадь: <span class="key-info__item-value">322
                                        м2</span>
                                </li>
                            </ul>
                            <div class="hr initial-m-15"></div>
                            <div class="card__price">
                                <span class="card__price-label">Стоимость от:</span>
                                <span class="card__price-value">2 170 000 ₽</span>
                                <span class="card__price-label">Возможна индивидуальная планировка</span>
                            </div>
                            <div class="card__btn-group initial-mt-35">
                                <a class="card__btn btn-primary btn-primary--with-icon" href="/fix-me">
                                    <svg class="icon" width="15" height="14" focusable="false">
                                        <use xlink:href="#icon-arrow-right" />
                                    </svg>
                                    Посмотреть проект
                                </a>
                                <button class="card__btn-favorites btn" type="button">
                                    <svg class="icon" width="23" height="19" focusable="false">
                                        <use xlink:href="#icon-heart" />
                                    </svg>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-tablet-4">
                    <div class="card card--popular">
                        <a class="card__media" href="/fix-me">
                            <span class="card__badge">
                                <svg class="icon" width="16" height="16" focusable="false">
                                    <use xlink:href="#icon-tick-in-circle" />
                                </svg>
                                Топ проект
                            </span>
                            <img class="lazyload" data-src="images/home-1.jpg" alt="Импала">
                        </a>
                        <div class="card__content">
                            <h3 class="card__title title-type-3 initial-mb-8">
                                <a class="card__link" href="/fix-me">Валенсия</a>
                            </h3>
                            <ul class="card__info key-info">
                                <li class="key-info__item">Дом под ключ: <span class="key-info__item-value">8,3 х
                                        8,8
                                        м2.</span></li>
                                <li class="key-info__item">Общая площадь: <span class="key-info__item-value">322
                                        м2</span>
                                </li>
                            </ul>
                            <div class="hr initial-m-15"></div>
                            <div class="card__price">
                                <span class="card__price-label">Стоимость от:</span>
                                <span class="card__price-value">3 200 000 ₽</span>
                                <span class="card__price-label">Возможна индивидуальная планировка</span>
                            </div>
                            <div class="card__btn-group initial-mt-35">
                                <a class="card__btn btn-primary btn-primary--with-icon" href="/fix-me">
                                    <svg class="icon" width="15" height="14" focusable="false">
                                        <use xlink:href="#icon-arrow-right" />
                                    </svg>
                                    Посмотреть проект
                                </a>
                                <button class="card__btn-favorites btn" type="button">
                                    <svg class="icon" width="23" height="19" focusable="false">
                                        <use xlink:href="#icon-heart" />
                                    </svg>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-tablet-4">
                    <div class="card card--popular">
                        <a class="card__media" href="/fix-me">
                            <span class="card__badge">
                                <svg class="icon" width="16" height="16" focusable="false">
                                    <use xlink:href="#icon-tick-in-circle" />
                                </svg>
                                Топ проект
                            </span>
                            <img class="lazyload" data-src="images/home-1.jpg" alt="Импала">
                        </a>
                        <div class="card__content">
                            <h3 class="card__title title-type-3 initial-mb-8">
                                <a class="card__link" href="/fix-me">Импала</a>
                            </h3>
                            <ul class="card__info key-info">
                                <li class="key-info__item">Дом под ключ: <span class="key-info__item-value">8,3 х
                                        8,8
                                        м2.</span></li>
                                <li class="key-info__item">Общая площадь: <span class="key-info__item-value">322
                                        м2</span>
                                </li>
                            </ul>
                            <div class="hr initial-m-15"></div>
                            <div class="card__price">
                                <span class="card__price-label">Стоимость от:</span>
                                <span class="card__price-value">2 000 000 ₽</span>
                                <span class="card__price-label">Возможна индивидуальная планировка</span>
                            </div>
                            <div class="card__btn-group initial-mt-35">
                                <a class="card__btn btn-primary btn-primary--with-icon" href="/fix-me">
                                    <svg class="icon" width="15" height="14" focusable="false">
                                        <use xlink:href="#icon-arrow-right" />
                                    </svg>
                                    Посмотреть проект
                                </a>
                                <button class="card__btn-favorites btn" type="button">
                                    <svg class="icon" width="23" height="19" focusable="false">
                                        <use xlink:href="#icon-heart" />
                                    </svg>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-tablet-4">
                    <div class="card card--popular">
                        <a class="card__media" href="/fix-me">
                            <span class="card__badge">
                                <svg class="icon" width="16" height="16" focusable="false">
                                    <use xlink:href="#icon-tick-in-circle" />
                                </svg>
                                Топ проект
                            </span>
                            <img class="lazyload" data-src="images/home-1.jpg" alt="Импала">
                        </a>
                        <div class="card__content">
                            <h3 class="card__title title-type-3 initial-mb-8">
                                <a class="card__link" href="/fix-me">Воудлер</a>
                            </h3>
                            <ul class="card__info key-info">
                                <li class="key-info__item">Дом под ключ: <span class="key-info__item-value">8,3 х
                                        8,8
                                        м2.</span></li>
                                <li class="key-info__item">Общая площадь: <span class="key-info__item-value">322
                                        м2</span>
                                </li>
                            </ul>
                            <div class="hr initial-m-15"></div>
                            <div class="card__price">
                                <span class="card__price-label">Стоимость от:</span>
                                <span class="card__price-value">2 170 000 ₽</span>
                                <span class="card__price-label">Возможна индивидуальная планировка</span>
                            </div>
                            <div class="card__btn-group initial-mt-35">
                                <a class="card__btn btn-primary btn-primary--with-icon" href="/fix-me">
                                    <svg class="icon" width="15" height="14" focusable="false">
                                        <use xlink:href="#icon-arrow-right" />
                                    </svg>
                                    Посмотреть проект
                                </a>
                                <button class="card__btn-favorites btn" type="button">
                                    <svg class="icon" width="23" height="19" focusable="false">
                                        <use xlink:href="#icon-heart" />
                                    </svg>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-tablet-4">
                    <div class="card card--popular">
                        <a class="card__media" href="/fix-me">
                            <span class="card__badge">
                                <svg class="icon" width="16" height="16" focusable="false">
                                    <use xlink:href="#icon-tick-in-circle" />
                                </svg>
                                Топ проект
                            </span>
                            <img class="lazyload" data-src="images/home-1.jpg" alt="Импала">
                        </a>
                        <div class="card__content">
                            <h3 class="card__title title-type-3 initial-mb-8">
                                <a class="card__link" href="/fix-me">Валенсия</a>
                            </h3>
                            <ul class="card__info key-info">
                                <li class="key-info__item">Дом под ключ: <span class="key-info__item-value">8,3 х
                                        8,8
                                        м2.</span></li>
                                <li class="key-info__item">Общая площадь: <span class="key-info__item-value">322
                                        м2</span>
                                </li>
                            </ul>
                            <div class="hr initial-m-15"></div>
                            <div class="card__price">
                                <span class="card__price-label">Стоимость от:</span>
                                <span class="card__price-value">3 200 000 ₽</span>
                                <span class="card__price-label">Возможна индивидуальная планировка</span>
                            </div>
                            <div class="card__btn-group initial-mt-35">
                                <a class="card__btn btn-primary btn-primary--with-icon" href="/fix-me">
                                    <svg class="icon" width="15" height="14" focusable="false">
                                        <use xlink:href="#icon-arrow-right" />
                                    </svg>
                                    Посмотреть проект
                                </a>
                                <button class="card__btn-favorites btn" type="button">
                                    <svg class="icon" width="23" height="19" focusable="false">
                                        <use xlink:href="#icon-heart" />
                                    </svg>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="section__button">
                <a class="btn-primary btn-primary--blue-outlined btn-primary--with-icon hide-if-tablet" href="/fix-me">
                    <svg class="icon" width="17" height="17" focusable="false">
                        <use xlink:href="#icon-plus" />
                    </svg>
                    Смотреть все проекты
                </a>
            </div>
        </div>
    </div>
</section>
