<ul class="social-share {{#if mod}}social-share--{{mod}}{{/if}}">
    <li class="social-share__item">
        <a class="social-share__link" href="/fix-me">
            <svg class="icon" width="12" height="7" focusable="false">
                <use xlink:href="#icon-vk" />
            </svg>
        </a>
    </li>
    <li class="social-share__item">
        <a class="social-share__link" href="/fix-me">
            <svg class="icon" width="10" height="16" focusable="false">
                <use xlink:href="#icon-facebook" />
            </svg>
        </a>
    </li>
    <li class="social-share__item">
        <a class="social-share__link" href="/fix-me">
            <svg class="icon" width="12" height="10" focusable="false">
                <use xlink:href="#icon-youtube" />
            </svg>
        </a>
    </li>
    <li class="social-share__item">
        <a class="social-share__link" href="/fix-me">
            <svg class="icon" width="12" height="12" focusable="false">
                <use xlink:href="#icon-whats-up" />
            </svg>
        </a>
    </li>
    <li class="social-share__item">
        <a class="social-share__link" href="/fix-me">
            <svg class="icon" width="12" height="12" focusable="false">
                <use xlink:href="#icon-instagram" />
            </svg>
        </a>
    </li>
    <li class="social-share__item">
        <a class="social-share__link" href="/fix-me">
            <svg class="icon" width="10" height="16" focusable="false">
                <use xlink:href="#icon-zen" />
            </svg>
        </a>
    </li>
</ul>
