<div class="hidden" hidden>
    <ul class="submenu" id="filters-sort-mobile">
        <li class="submenu__item">
            <button class="submenu__link" type="button">Убыванию
                цены</button>
        </li>
        <li class="submenu__item">
            <button class="submenu__link" type="button">Возрастанию цены</button>
        </li>
        <li class="submenu__item">
            <button class="submenu__link" type="button">По
                популярности</button>
        </li>
        <li class="submenu__item">
            <button class="submenu__link" type="button">По
                площади</button>
        </li>
    </ul>
</div>
