<section class="section section--grey section--narrow-head section--stocks">
    <div class="section__head">
        <div class="container">
            <div class="section__row">
                <div class="section__heading">
                    <ul class="breadcrumb">
                        <li class="breadcrumb__item">
                            <a class="breadcrumb__link" href="/fix-me">Главная</a>
                        </li>
                        <li class="breadcrumb__item">
                            <a class="breadcrumb__link" href="/stocks.html">Акции</a>
                        </li>
                        <li class="breadcrumb__item">
                            <span class="breadcrumb__link">Строй дом, плати потом</span>
                        </li>
                    </ul>
                    <h1 class="section__title title-type-2 initial-mt-0 desktop-mt-10">Строй дом плати потом</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="section__content">
        <div class="container">
            <div class="row row--stacked-mobile-16 gutter-16">
                <div class="col-tablet-6">
                    <a class="image-card image-card--type-9" href="/fix-me">
                        <div class="image-card__content">
                            <div class="image-card__body">
                                <h3 class="image-card__title initial-mb-8">
                                    Строй дом
                                    плати потом
                                </h3>
                                <span class="image-card__value">
                                    Рассрочка 0% на все дома
                                </span>
                            </div>
                            <div class="image-card__media">
                                <img class="lazyload" data-src="images/stock-1.png" alt="Строй дом
                                                                                плати потом">
                            </div>
                        </div>
                    </a>
                    <div class="content-block content-block--stock is-active initial-mt-16 hide-if-tablet"
                        data-component="accordion" data-options='{"mobileOnly": true}'>
                        <h2 class="content-block__header title-type-2" data-accordion-ref="trigger">
                            <span class="content-block__title">Без процентов, без залога,без проблем</span>
                            <svg class="content-block__icon content-block__icon--plus icon" width="23" height="23"
                                focusable="false">
                                <use xlink:href="#icon-plus-outlined" />
                            </svg>
                            <svg class="content-block__icon content-block__icon--minus icon" width="23" height="23"
                                focusable="false">
                                <use xlink:href="#icon-minus-outlined" />
                            </svg>
                        </h2>
                        <div class="content-block__body initial-mt-0 tablet-mt-30" data-accordion-ref="content">
                            <div class="content-block__content">
                                <div class="content-block__divider hr initial-mb-15 hide-if-tablet"></div>
                                <div class="content-block__text">
                                    <div class="richtext">
                                        <p>Заключите договор строительства на любой дом, оформите рассрочку 0% и зовите
                                            гостей на новоселье!</p>
                                        <p>Мечтаево дарит 36 месяцев рассрочки без комиссий и переплат при оплате 50% от
                                            стоимости договора.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form class="simple-form initial-mt-16" action="/fix-me">
                        <div class="simple-form__body">
                            <div class="simple-form__title title-type-3">
                                Оставьте заявку
                            </div>
                            <div class="simple-form__fields initial-mt-20">
                                <div class="form-input">
                                    <label>
                                        <input class="form-input__control" type="text"
                                            placeholder="Как к Вам обращаться?" name="name">
                                    </label>
                                </div>
                                <div class="form-input form-input--phone initial-mt-12">
                                    <label for="phone-stock-field">
                                        <input class="form-input__control" name="phone" id="phone-stock-field"
                                            type="tel" placeholder="Номер телефона">
                                        <span class="form-input__symbol">+7</span>
                                    </label>
                                </div>
                                <div class="form-input initial-mt-12">
                                    <label>
                                        <input class="form-input__control" type="email" placeholder="Email адрес"
                                            name="email">
                                    </label>
                                </div>
                                <button
                                    class="simple-form__btn btn-primary btn-primary--red btn-primary--with-icon hide-if-desktop"
                                    type="submit">
                                    <svg class="icon" width="20" height="17" focusable="false">
                                        <use xlink:href="#icon-calc" />
                                    </svg>
                                    Получить расчет
                                </button>
                            </div>
                        </div>
                        <div class="initial-mt-16 show-if-desktop">
                            <button class="btn-primary btn-primary--red btn-primary--with-icon" type="submit">
                                <svg class="icon" width="15" height="14" focusable="false">
                                    <use xlink:href="#icon-arrow-right" />
                                </svg>
                                Отправить заявку
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-tablet-6">
                    <div class="content-block content-block--stock is-active show-if-tablet" data-component="accordion"
                        data-options='{"mobileOnly": true}'>
                        <h2 class="content-block__header title-type-2" data-accordion-ref="trigger">
                            <span class="content-block__title">Без процентов, без залога,без проблем</span>
                            <svg class="content-block__icon content-block__icon--plus icon" width="23" height="23"
                                focusable="false">
                                <use xlink:href="#icon-plus-outlined" />
                            </svg>
                            <svg class="content-block__icon content-block__icon--minus icon" width="23" height="23"
                                focusable="false">
                                <use xlink:href="#icon-minus-outlined" />
                            </svg>
                        </h2>
                        <div class="content-block__body initial-mt-0 tablet-mt-30" data-accordion-ref="content">
                            <div class="content-block__content">
                                <div class="content-block__divider hr initial-mb-15 hide-if-tablet"></div>
                                <div class="content-block__text">
                                    <div class="richtext">
                                        <p>Заключите договор строительства на любой дом, оформите рассрочку 0% и зовите
                                            гостей на новоселье!</p>
                                        <p>Мечтаево дарит 36 месяцев рассрочки без комиссий и переплат при оплате 50% от
                                            стоимости договора.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
