<section class="section section--grey section--narrow-head section--stocks">
    <div class="section__head">
        <div class="container">
            <div class="section__row">
                <div class="section__heading">
                    <ul class="breadcrumb">
                        <li class="breadcrumb__item">
                            <a class="breadcrumb__link" href="/fix-me">Главная</a>
                        </li>
                        <li class="breadcrumb__item">
                            <span class="breadcrumb__link">Акции</span>
                        </li>
                    </ul>
                    <h1 class="section__title title-type-2 initial-mt-0 desktop-mt-10">Акции</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="section__content">
        <div class="container">
            <div class="row row--tiles">
                <div class="col-tablet-6">
                    <a class="image-card image-card--type-9" href="/fix-me">
                        <div class="image-card__content">
                            <div class="image-card__body">
                                <h3 class="image-card__title initial-mb-8">
                                    Строй дом
                                    плати потом
                                </h3>
                                <span class="image-card__value">
                                    Рассрочка 0% на все дома
                                </span>
                                <div class="show-if-desktop">
                                    <span class="image-card__link btn-primary btn-primary--with-icon initial-mt-35 ">
                                        <svg class="icon" width="15" height="14" focusable="false">
                                            <use xlink:href="#icon-arrow-right" />
                                        </svg>
                                        Узнать подробнее
                                    </span>
                                </div>
                            </div>
                            <div class="image-card__media">
                                <img class="lazyload" data-src="images/stock-1.png" alt="Строй дом
                                                            плати потом">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-tablet-6">
                    <a class="image-card image-card--type-10" href="/fix-me">
                        <div class="image-card__content">
                            <div class="image-card__media initial-mb-16">
                                <img class="lazyload" data-src="images/stock-2.png" alt="Энергоэффективные дома
                                Dom technnicol.">
                            </div>
                            <h3 class="image-card__title initial-mb-8">
                                Энергоэффективные дома
                                Dom technnicol.
                            </h3>
                            <div class="show-if-desktop">
                                <span class="image-card__link btn-primary btn-primary--with-icon initial-mt-35 ">
                                    <svg class="icon" width="15" height="14" focusable="false">
                                        <use xlink:href="#icon-arrow-right" />
                                    </svg>
                                    Узнать подробнее
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-tablet-6">
                    <a class="image-card image-card--type-11" href="/fix-me">
                        <div class="image-card__content">
                            <div class="image-card__body">
                                <h3 class="image-card__title initial-mb-8">
                                    Энергоэффективный каркас повышенной прочности по цене классического
                                </h3>
                                <div class="show-if-desktop">
                                    <span class="image-card__link btn-primary btn-primary--with-icon initial-mt-35 ">
                                        <svg class="icon" width="15" height="14" focusable="false">
                                            <use xlink:href="#icon-arrow-right" />
                                        </svg>
                                        Узнать подробнее
                                    </span>
                                </div>
                            </div>
                            <div class="image-card__media">
                                <img class="lazyload" data-src="images/stock-3.png"
                                    alt="Энергоэффективный каркас повышенной прочности по цене классического">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-tablet-6">
                    <a class="image-card image-card--horizontal image-card--type-12" href="/fix-me">
                        <div class="image-card__media">
                            <img class="lazyload" data-src="images/stock-4.jpg" alt="Строители с опытом работы">
                        </div>
                        <div class="image-card__content">
                            <h3 class="image-card__title initial-mb-35 tablet-mb-65">
                                Заготовь цену на зиму. Строй весной!
                            </h3>
                            <div class="show-if-desktop">
                                <span class="image-card__link btn-primary btn-primary--with-icon">
                                    <svg class="icon" width="15" height="14" focusable="false">
                                        <use xlink:href="#icon-arrow-right" />
                                    </svg>
                                    Узнать подробнее
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
</section>
