<section class="section section--narrow-head">
    <div class="section__head">
        <div class="container">
            <div class="section__row">
                <h2 class="section__title title-type-2">Комплектация каркасного дома под ключ</h2>
                <div class="show-if-tablet">
                    <a class="btn-primary btn-primary--red btn-primary--with-icon" href="/fix-me">
                        <svg class="icon" width="24" height="24" focusable="false">
                            <use xlink:href="#icon-tick-in-circle" />
                        </svg>
                        Получить подробную смету
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="section__content">
        <div class="container">
            <div class="tabs" data-component="tabs">
                <div class="tabs__controls" role="tablist">
                    <button class="tabs__tab btn is-active" type="button" data-tabs-ref="trigger" data-target="tab-id-1"
                        role="tab">
                        Фундамент
                    </button>
                    <button class="tabs__tab btn" type="button" data-tabs-ref="trigger" data-target="tab-id-2"
                        role="tab">Коробка дома</button>
                    <button class="tabs__tab btn" type="button" data-tabs-ref="trigger" data-target="tab-id-3"
                        role="tab">Кровля</button>
                    <button class="tabs__tab btn" type="button" data-tabs-ref="trigger" data-target="tab-id-4"
                        role="tab">Окна и двери</button>
                    <button class="tabs__tab btn" type="button" data-tabs-ref="trigger" data-target="tab-id-5"
                        role="tab">Фасад</button>
                    <button class="tabs__tab btn" type="button" data-tabs-ref="trigger" data-target="tab-id-6"
                        role="tab">Допы</button>
                </div>
                <div class="tabs__content">
                    <div class="tabs__panel is-active" data-tabs-ref="content" data-id="tab-id-1">
                        <div class="row row--stacked-mobile-16">
                            <div class="col-tablet-7">
                                <div class="tab-item">
                                    <div class="tab-item__inner">
                                        <div class="tab-item__head">
                                            <h5 class="tab-item__title">Фундамент свайно-винтовой</h5>
                                        </div>
                                        <div class="tab-item__text">
                                            <div class="richtext">
                                                <p>Винтовые сваи Ø108 мм, L=2500 мм, толщина 4 мм, забуренные на глубину
                                                    промерзания грунта (1,5-1,6м)с заполнением
                                                    металлической гильзы(пескобетон м300) и монтажом опорного
                                                    оголовкапутем точечной сварки</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-item">
                                    <div class="tab-item__inner">
                                        <div class="tab-item__head">
                                            <h5 class="tab-item__title">Закладные для канализации и воды
                                                (работа+материал)</h5>
                                        </div>
                                        <div class="tab-item__text">
                                            <div class="richtext">
                                                <p>Ввод воды: гильза с уклоном не менее 10 мм/м выводится за пределы
                                                    ростверка на глубине не менее 1600 мм от поверхности
                                                    грунта на расстоянии не менее 2,5 метра от места привязки (не более
                                                    2,7 м).
                                                    Ввод канализации: выпускная канализационная труба с уклоном не менее
                                                    10 мм/м выводится за пределы ростверка на глубине
                                                    не менее 800 мм от поверхности грунта. На ростверке выполняется
                                                    маркировочная надпись с указанием глубины и расстояния
                                                    от внешнего края. На расстоянии не менее 2,5 метра от места привязки
                                                    (не более 2,7 м).</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-tablet-5">
                                <a data-fslightbox="bur-1"
                                    href="https://images.unsplash.com/photo-1551868561-f2cdee310ecf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
                                    <img class="lazyload" data-src="images/bur.png" alt="image">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="tabs__panel" data-tabs-ref="content" data-id="tab-id-2">
                        <div class="row row--stacked-mobile-16">
                            <div class="col-tablet-12">
                                <div class="tab-item">
                                    <div class="tab-item__inner">
                                        <div class="tab-item__head">
                                            <h5 class="tab-item__title">Фундамент свайно-винтовой</h5>
                                        </div>
                                        <div class="tab-item__text">
                                            <div class="richtext">
                                                <p>Винтовые сваи Ø108 мм, L=2500 мм, толщина 4 мм, забуренные на глубину
                                                    промерзания грунта (1,5-1,6м)с заполнением
                                                    металлической гильзы(пескобетон м300) и монтажом опорного
                                                    оголовкапутем точечной сварки</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-item">
                                    <div class="tab-item__inner">
                                        <div class="tab-item__head">
                                            <h5 class="tab-item__title">Закладные для канализации и воды
                                                (работа+материал)</h5>
                                        </div>
                                        <div class="tab-item__text">
                                            <div class="richtext">
                                                <p>Ввод воды: гильза с уклоном не менее 10 мм/м выводится за пределы
                                                    ростверка на глубине не менее 1600 мм от поверхности
                                                    грунта на расстоянии не менее 2,5 метра от места привязки (не более
                                                    2,7 м).
                                                    Ввод канализации: выпускная канализационная труба с уклоном не менее
                                                    10 мм/м выводится за пределы ростверка на глубине
                                                    не менее 800 мм от поверхности грунта. На ростверке выполняется
                                                    маркировочная надпись с указанием глубины и расстояния
                                                    от внешнего края. На расстоянии не менее 2,5 метра от места привязки
                                                    (не более 2,7 м).</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabs__panel" data-tabs-ref="content" data-id="tab-id-3">
                        <div class="row">
                            <div class="col-tablet-6">
                                <div class="tab-item">
                                    <div class="tab-item__inner">
                                        <div class="tab-item__head">
                                            <h5 class="tab-item__title">Фундамент свайно-винтовой</h5>
                                        </div>
                                        <div class="tab-item__text">
                                            <div class="richtext">
                                                <p>Винтовые сваи Ø108 мм, L=2500 мм, толщина 4 мм, забуренные на глубину
                                                    промерзания грунта (1,5-1,6м)с заполнением
                                                    металлической гильзы(пескобетон м300) и монтажом опорного
                                                    оголовкапутем точечной сварки</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-item">
                                    <div class="tab-item__inner">
                                        <div class="tab-item__head">
                                            <h5 class="tab-item__title">Закладные для канализации и воды
                                                (работа+материал)</h5>
                                        </div>
                                        <div class="tab-item__text">
                                            <div class="richtext">
                                                <p>Ввод воды: гильза с уклоном не менее 10 мм/м выводится за пределы
                                                    ростверка на глубине не менее 1600 мм от поверхности
                                                    грунта на расстоянии не менее 2,5 метра от места привязки (не более
                                                    2,7 м).
                                                    Ввод канализации: выпускная канализационная труба с уклоном не менее
                                                    10 мм/м выводится за пределы ростверка на глубине
                                                    не менее 800 мм от поверхности грунта. На ростверке выполняется
                                                    маркировочная надпись с указанием глубины и расстояния
                                                    от внешнего края. На расстоянии не менее 2,5 метра от места привязки
                                                    (не более 2,7 м).</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-tablet-6">
                                <a data-fslightbox="bur-2"
                                    href="https://images.unsplash.com/photo-1551868561-f2cdee310ecf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
                                    <img class="lazyload" data-src="images/bur.png" alt="image">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="tabs__panel" data-tabs-ref="content" data-id="tab-id-4">
                        <div class="row">
                            <div class="col-tablet-12">
                                <a data-fslightbox="bur-3"
                                    href="https://images.unsplash.com/photo-1551868561-f2cdee310ecf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
                                    <img class="lazyload" data-src="images/bur.png" alt="image">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="tabs__panel" data-tabs-ref="content" data-id="tab-id-5">
                        <div class="row">
                            <div class="col-tablet-7">
                                <div class="tab-item">
                                    <div class="tab-item__inner">
                                        <div class="tab-item__head">
                                            <h5 class="tab-item__title">Фундамент свайно-винтовой</h5>
                                        </div>
                                        <div class="tab-item__text">
                                            <div class="richtext">
                                                <p>Винтовые сваи Ø108 мм, L=2500 мм, толщина 4 мм, забуренные на глубину
                                                    промерзания грунта (1,5-1,6м)с заполнением
                                                    металлической гильзы(пескобетон м300) и монтажом опорного
                                                    оголовкапутем точечной сварки</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-item">
                                    <div class="tab-item__inner">
                                        <div class="tab-item__head">
                                            <h5 class="tab-item__title">Закладные для канализации и воды
                                                (работа+материал)</h5>
                                        </div>
                                        <div class="tab-item__text">
                                            <div class="richtext">
                                                <p>Ввод воды: гильза с уклоном не менее 10 мм/м выводится за пределы
                                                    ростверка на глубине не менее 1600 мм от поверхности
                                                    грунта на расстоянии не менее 2,5 метра от места привязки (не более
                                                    2,7 м).
                                                    Ввод канализации: выпускная канализационная труба с уклоном не менее
                                                    10 мм/м выводится за пределы ростверка на глубине
                                                    не менее 800 мм от поверхности грунта. На ростверке выполняется
                                                    маркировочная надпись с указанием глубины и расстояния
                                                    от внешнего края. На расстоянии не менее 2,5 метра от места привязки
                                                    (не более 2,7 м).</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-tablet-5">
                                <a data-fslightbox="bur-4"
                                    href="https://images.unsplash.com/photo-1551868561-f2cdee310ecf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
                                    <img class="lazyload" data-src="images/bur.png" alt="image">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="tabs__panel" data-tabs-ref="content" data-id="tab-id-6">
                        <div class="row">
                            <div class="col-tablet-7">
                                <div class="tab-item">
                                    <div class="tab-item__inner">
                                        <div class="tab-item__head">
                                            <h5 class="tab-item__title">Фундамент свайно-винтовой</h5>
                                        </div>
                                        <div class="tab-item__text">
                                            <div class="richtext">
                                                <p>Винтовые сваи Ø108 мм, L=2500 мм, толщина 4 мм, забуренные на глубину
                                                    промерзания грунта (1,5-1,6м)с заполнением
                                                    металлической гильзы(пескобетон м300) и монтажом опорного
                                                    оголовкапутем точечной сварки</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-item">
                                    <div class="tab-item__inner">
                                        <div class="tab-item__head">
                                            <h5 class="tab-item__title">Закладные для канализации и воды
                                                (работа+материал)</h5>
                                        </div>
                                        <div class="tab-item__text">
                                            <div class="richtext">
                                                <p>Ввод воды: гильза с уклоном не менее 10 мм/м выводится за пределы
                                                    ростверка на глубине не менее 1600 мм от поверхности
                                                    грунта на расстоянии не менее 2,5 метра от места привязки (не более
                                                    2,7 м).
                                                    Ввод канализации: выпускная канализационная труба с уклоном не менее
                                                    10 мм/м выводится за пределы ростверка на глубине
                                                    не менее 800 мм от поверхности грунта. На ростверке выполняется
                                                    маркировочная надпись с указанием глубины и расстояния
                                                    от внешнего края. На расстоянии не менее 2,5 метра от места привязки
                                                    (не более 2,7 м).</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-tablet-5">
                                <a data-fslightbox="bur-5"
                                    href="https://images.unsplash.com/photo-1551868561-f2cdee310ecf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
                                    <img class="lazyload" data-src="images/bur.png" alt="image">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
