<section class="section section--grey  section--no-head-border">
    <div class="section__head">
        <div class="container">
            <div class="section__row">
                <div class="section__heading">
                    <ul class="breadcrumb">
                        <li class="breadcrumb__item">
                            <a class="breadcrumb__link" href="/fix-me">Главная</a>
                        </li>
                        <li class="breadcrumb__item">
                            <span class="breadcrumb__link">Наша команда</span>
                        </li>
                    </ul>
                    <h1 class="section__title title-type-2 initial-mt-0 desktop-mt-10">Наша команда</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="section__content">
        <div class="container">
            <div class="row row--with-sticky-col" data-component="team">
                <div class="row__sticky-col col-desktop-3 show-if-desktop">
                    <div class="form-control form-control--department is-active">
                        <div class="form-control__body">
                            <div class="form-control__content">
                                <div class="tags tags--rubricator">
                                    <ul class="tags__list">
                                        <li class="tags__item">
                                            <button class="tags__link is-active" data-team-ref="link"
                                                data-target="department-1" type="button">Департамент продаж</button>
                                        </li>
                                        <li class="tags__item">
                                            <button class="tags__link" data-team-ref="link" data-target="department-2"
                                                type="button">Архитектурный отдел</button>
                                        </li>
                                        <li class="tags__item">
                                            <button class="tags__link" data-team-ref="link" data-target="department-3"
                                                type="button">Сметный отдел</button>
                                        </li>
                                        <li class="tags__item">
                                            <button class="tags__link" data-team-ref="link" data-target="department-4"
                                                type="button">Производственный отдел</button>
                                        </li>
                                        <li class="tags__item">
                                            <button class="tags__link" data-team-ref="link" data-target="department-5"
                                                type="button">Административный отдел</button>
                                        </li>
                                        <li class="tags__item">
                                            <button class="tags__link" data-team-ref="link" data-target="department-6"
                                                type="button">Руководство</button>
                                        </li>
                                        <li class="tags__item">
                                            <button class="tags__link" data-team-ref="link" data-target="department-7"
                                                type="button">Бригадиры</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-desktop-9 slider-wrapper">
                    <div class="team">
                        <div class="team__department" data-team-ref="department" id="department-1">
                            <h2 class="title-type-2 initial-mb-25">
                                Департамент продаж
                            </h2>

                            <div class="row row--tiles" data-component="slider" data-options='{"nav": false}'>
                                <div class="col-tablet-6 col-desktop-4">
                                    <div class="employee">
                                        <div class="employee__media">
                                            <img class="lazyload"
                                                data-src="https://www.mechtaevo.ru/images/Team/Zakhovaiyko_V.jpg"
                                                alt="сотрудник">
                                        </div>
                                        <div class="employee__content">
                                            <h3 class="employee__title">Василий Заховайко</h3>
                                            <p class="employee__position initial-mt-7">Руководитель группы каркасного
                                                направления</p>
                                            <blockquote class="employee__quote initial-mt-8">«Мы уже доказали, что
                                                будущее за
                                                каркасными
                                                домами!»</blockquote>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-tablet-6 col-desktop-4">
                                    <div class="employee">
                                        <div class="employee__media">
                                            <img class="lazyload"
                                                data-src="https://www.mechtaevo.ru/images/Team/Strelnikov_D.jpg"
                                                alt="сотрудник">
                                        </div>
                                        <div class="employee__content">
                                            <h3 class="employee__title">Дмитрий Стрельников</h3>
                                            <p class="employee__position initial-mt-7">Менеджер проекта</p>
                                            <blockquote class="employee__quote initial-mt-8">«Мы уже доказали, что
                                                будущее за каркасными домами!»</blockquote>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-tablet-6 col-desktop-4">
                                    <div class="employee">
                                        <div class="employee__media">
                                            <img class="lazyload"
                                                data-src="https://www.mechtaevo.ru/images/Team/Evelyanov_Daniil.jpg"
                                                alt="сотрудник">
                                        </div>
                                        <div class="employee__content">
                                            <h3 class="employee__title">Даниил Емельянов</h3>
                                            <p class="employee__position initial-mt-7">менеджер каркасного направления
                                            </p>
                                            <blockquote class="employee__quote initial-mt-8">«Пришёл, увидел и
                                                построил!»</blockquote>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-tablet-6 col-desktop-4">
                                    <div class="employee">
                                        <div class="employee__media">
                                            <img class="lazyload"
                                                data-src="https://www.mechtaevo.ru/images/Team/Saushkin_A.jpg"
                                                alt="сотрудник">
                                        </div>
                                        <div class="employee__content">
                                            <h3 class="employee__title">Алексей Саушкин</h3>
                                            <p class="employee__position initial-mt-7">Менеджер каркасного направления
                                            </p>
                                            <blockquote class="employee__quote initial-mt-8">«Главное не цена, а
                                                ценность!»</blockquote>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-tablet-6 col-desktop-4">
                                    <div class="employee">
                                        <div class="employee__media">
                                            <img class="lazyload"
                                                data-src="https://www.mechtaevo.ru/images/Team/alina_tunakova.jpg"
                                                alt="сотрудник">
                                        </div>
                                        <div class="employee__content">
                                            <h3 class="employee__title">Алина Тунакова</h3>
                                            <p class="employee__position initial-mt-7">Руководитель группы каменного
                                                направления</p>
                                            <blockquote class="employee__quote initial-mt-8">«Мы должны построить дом
                                                на берегу Тихого Океана!»</blockquote>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-tablet-6 col-desktop-4">
                                    <div class="employee">
                                        <div class="employee__media">
                                            <img class="lazyload"
                                                data-src="https://www.mechtaevo.ru/images/Team/poddubnyi_a.jpg"
                                                alt="сотрудник">
                                        </div>
                                        <div class="employee__content">
                                            <h3 class="employee__title">Александр Поддубный</h3>
                                            <p class="employee__position initial-mt-7">Менеджер проекта «Дом
                                                Технониколь»</p>
                                            <blockquote class="employee__quote initial-mt-8">«Слышать и понимать!»
                                            </blockquote>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-tablet-6 col-desktop-4">
                                    <div class="employee">
                                        <div class="employee__media">
                                            <img class="lazyload"
                                                data-src="https://www.mechtaevo.ru/images/Team/Medzhitov_T2.jpg"
                                                alt="сотрудник">
                                        </div>
                                        <div class="employee__content">
                                            <h3 class="employee__title">Меджитов Тимур</h3>
                                            <p class="employee__position initial-mt-7">менеджер каркасного направления
                                            </p>
                                            <blockquote class="employee__quote initial-mt-8">«Дом можно построить
                                                только совместными усилиями!»</blockquote>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="team__department" data-team-ref="department" id="department-2">
                            <h2 class="title-type-2 initial-mb-25">
                                Архитектурный отдел
                            </h2>

                            <div class="row row--tiles" data-component="slider" data-options='{"nav": false}'>
                                <div class="col-tablet-6 col-desktop-4">
                                    <div class="employee">
                                        <div class="employee__media">
                                            <img class="lazyload"
                                                data-src="https://www.mechtaevo.ru/images/Team/Unku_A.jpg"
                                                alt="сотрудник">
                                        </div>
                                        <div class="employee__content">
                                            <h3 class="employee__title">Андрей Унку</h3>
                                            <p class="employee__position initial-mt-7">Архитектор</p>
                                            <blockquote class="employee__quote initial-mt-8">«Если на фоне семейных
                                                фото будут мои дома, я буду считать, что выложился на все сто!»
                                            </blockquote>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-tablet-6 col-desktop-4">
                                    <div class="employee">
                                        <div class="employee__media">
                                            <img class="lazyload"
                                                data-src="https://www.mechtaevo.ru/images/Team/makarov_sergey.jpg"
                                                alt="сотрудник">
                                        </div>
                                        <div class="employee__content">
                                            <h3 class="employee__title">Макаров Сергей</h3>
                                            <p class="employee__position initial-mt-7">Архитектор</p>
                                            <blockquote class="employee__quote initial-mt-8">«Создавать дома - лучшая
                                                работа в мире»</blockquote>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-tablet-6 col-desktop-4">
                                    <div class="employee">
                                        <div class="employee__media">
                                            <img class="lazyload"
                                                data-src="https://www.mechtaevo.ru/images/Team/yarokhovich_natalia.jpg"
                                                alt="сотрудник">
                                        </div>
                                        <div class="employee__content">
                                            <h3 class="employee__title">Наталья Ярохович</h3>
                                            <p class="employee__position initial-mt-7">Архитектор</p>
                                            <blockquote class="employee__quote initial-mt-8">«Мы позволяем Мечтам
                                                сбываться!»</blockquote>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-tablet-6 col-desktop-4">
                                    <div class="employee employee--medium">
                                        <div class="employee__media">
                                            <img class="lazyload"
                                                data-src="https://www.mechtaevo.ru/images/Team/Ydenko_D.jpg"
                                                alt="сотрудник">
                                        </div>
                                        <div class="employee__content">
                                            <h3 class="employee__title">Дмитрий Юденко</h3>
                                            <p class="employee__position initial-mt-7">главный инженер проекта</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="team__department" data-team-ref="department" id="department-3">
                            <h2 class="title-type-2 initial-mb-25">
                                Сметный отдел
                            </h2>

                            <div class="row row--tiles" data-component="slider" data-options='{"nav": false}'>
                                <div class="col-tablet-6 col-desktop-4">
                                    <div class="employee">
                                        <div class="employee__media">
                                            <img class="lazyload"
                                                data-src="https://www.mechtaevo.ru/images/Team/Nikonova_Y.jpg"
                                                alt="сотрудник">
                                        </div>
                                        <div class="employee__content">
                                            <h3 class="employee__title">Юлия Никонова</h3>
                                            <p class="employee__position initial-mt-7">Инженер-сметчик</p>
                                            <blockquote class="employee__quote initial-mt-8">«Семь раз отмерь - один
                                                раз отрежь»</blockquote>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-tablet-6 col-desktop-4">
                                    <div class="employee">
                                        <div class="employee__media">
                                            <img class="lazyload"
                                                data-src="https://www.mechtaevo.ru/images/Team/Lisin_V.jpg"
                                                alt="сотрудник">
                                        </div>
                                        <div class="employee__content">
                                            <h3 class="employee__title">Владимир Лисин</h3>
                                            <p class="employee__position initial-mt-7">Руководитель сметного отдела</p>
                                            <blockquote class="employee__quote initial-mt-8">«Что нам стоит дом
                                                построить...»</blockquote>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-tablet-6 col-desktop-4">
                                    <div class="employee">
                                        <div class="employee__media">
                                            <img class="lazyload"
                                                data-src="https://www.mechtaevo.ru/images/Team/Kacharmina_E.jpg"
                                                alt="сотрудник">
                                        </div>
                                        <div class="employee__content">
                                            <h3 class="employee__title">Екатерина Качармина</h3>
                                            <p class="employee__position initial-mt-7">Инженер-сметчик</p>
                                            <blockquote class="employee__quote initial-mt-8">«Не бойся, что не
                                                получится. Бойся, что не попробуешь»</blockquote>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="team__department" data-team-ref="department" id="department-4">
                            <h2 class="title-type-2 initial-mb-25">
                                Производственный отдел
                            </h2>

                            <div class="row row--tiles" data-component="slider" data-options='{"nav": false}'>
                                <div class="col-tablet-6 col-desktop-4">
                                    <div class="employee">
                                        <div class="employee__media">
                                            <img class="lazyload"
                                                data-src="https://www.mechtaevo.ru/images/Team/Krokhin_N.jpg"
                                                alt="сотрудник">
                                        </div>
                                        <div class="employee__content">
                                            <h3 class="employee__title">Никита Крохин</h3>
                                            <p class="employee__position initial-mt-7">менеджер по логистике</p>
                                            <blockquote class="employee__quote initial-mt-8">«Мечтаю самореализоваться,
                                                и «Мечтаево»
                                                - то самое место, где я смогу себя проявить.»</blockquote>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-tablet-6 col-desktop-4">
                                    <div class="employee">
                                        <div class="employee__media">
                                            <img class="lazyload"
                                                data-src="https://www.mechtaevo.ru/images/Team/Lisin_V.jpg"
                                                alt="сотрудник">
                                        </div>
                                        <div class="employee__content">
                                            <h3 class="employee__title">Владимир Лисин</h3>
                                            <p class="employee__position initial-mt-7">Руководитель сметного отдела</p>
                                            <blockquote class="employee__quote initial-mt-8">«Что нам стоит дом
                                                построить...»</blockquote>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-tablet-6 col-desktop-4">
                                    <div class="employee">
                                        <div class="employee__media">
                                            <img class="lazyload"
                                                data-src="https://www.mechtaevo.ru/images/Team/Kacharmina_E.jpg"
                                                alt="сотрудник">
                                        </div>
                                        <div class="employee__content">
                                            <h3 class="employee__title">Екатерина Качармина</h3>
                                            <p class="employee__position initial-mt-7">Инженер-сметчик</p>
                                            <blockquote class="employee__quote initial-mt-8">«Не бойся, что не
                                                получится. Бойся, что не попробуешь»</blockquote>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="team__department" data-team-ref="department" id="department-5">
                            <h2 class="title-type-2 initial-mb-25">
                                Административный отдел
                            </h2>

                            <div class="row row--tiles" data-component="slider" data-options='{"nav": false}'>
                                <div class="col-tablet-6 col-desktop-4">
                                    <div class="employee">
                                        <div class="employee__media">
                                            <img class="lazyload"
                                                data-src="https://www.mechtaevo.ru/images/Team/Kudryavceva_Nadezhda.jpg"
                                                alt="сотрудник">
                                        </div>
                                        <div class="employee__content">
                                            <h3 class="employee__title">Надежда Кудрявцева</h3>
                                            <p class="employee__position initial-mt-7">Инженер-сметчик</p>
                                            <blockquote class="employee__quote initial-mt-8">«Командный дух, комфорт и
                                                участие!»
                                            </blockquote>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-tablet-6 col-desktop-4">
                                    <div class="employee">
                                        <div class="employee__media">
                                            <img class="lazyload"
                                                data-src="https://www.mechtaevo.ru/images/Team/Lisin_V.jpg"
                                                alt="сотрудник">
                                        </div>
                                        <div class="employee__content">
                                            <h3 class="employee__title">Владимир Лисин</h3>
                                            <p class="employee__position initial-mt-7">Руководитель сметного отдела</p>
                                            <blockquote class="employee__quote initial-mt-8">«Что нам стоит дом
                                                построить...»</blockquote>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-tablet-6 col-desktop-4">
                                    <div class="employee">
                                        <div class="employee__media">
                                            <img class="lazyload"
                                                data-src="https://www.mechtaevo.ru/images/Team/Kacharmina_E.jpg"
                                                alt="сотрудник">
                                        </div>
                                        <div class="employee__content">
                                            <h3 class="employee__title">Екатерина Качармина</h3>
                                            <p class="employee__position initial-mt-7">Инженер-сметчик</p>
                                            <blockquote class="employee__quote initial-mt-8">«Не бойся, что не
                                                получится. Бойся, что не попробуешь»</blockquote>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="team__department" data-team-ref="department" id="department-6">
                            <h2 class="title-type-2 initial-mb-25">
                                Руководство
                            </h2>

                            <div class="row row--tiles" data-component="slider" data-options='{"nav": false}'>
                                <div class="col-tablet-6 col-desktop-4">
                                    <div class="employee">
                                        <div class="employee__media">
                                            <img class="lazyload"
                                                data-src="https://www.mechtaevo.ru/images/Team/Khisamov_D.jpg"
                                                alt="сотрудник">
                                        </div>
                                        <div class="employee__content">
                                            <h3 class="employee__title">Динар Хисамов</h3>
                                            <p class="employee__position initial-mt-7">Генеральный директор</p>
                                            <blockquote class="employee__quote initial-mt-8">«Мечтаю, чтобы компания
                                                была
                                                олицетворением инноваций, позволяющих построить идеальный дом любому
                                                желающему!»</blockquote>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-tablet-6 col-desktop-4">
                                    <div class="employee">
                                        <div class="employee__media">
                                            <img class="lazyload"
                                                data-src="https://www.mechtaevo.ru/images/Team/Krokhin_A.jpg"
                                                alt="сотрудник">
                                        </div>
                                        <div class="employee__content">
                                            <h3 class="employee__title">Андрей Крохин</h3>
                                            <p class="employee__position initial-mt-7">Управляющий партнер</p>
                                            <blockquote class="employee__quote initial-mt-8">«Мечтаю о новых серьезных и
                                                по-настоящему интересных проектах, от которых захватывает дух!»
                                            </blockquote>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="team__department" data-team-ref="department" id="department-7">
                            <h2 class="title-type-2 initial-mb-25">
                                Бригадиры
                            </h2>

                            <div class="row row--tiles" data-component="slider" data-options='{"nav": false}'>
                                <div class="col-tablet-6 col-desktop-4">
                                    <div class="employee">
                                        <div class="employee__media">
                                            <img class="lazyload"
                                                data-src="https://www.mechtaevo.ru/images/Team/koryakin_a.JPG"
                                                alt="сотрудник">
                                        </div>
                                        <div class="employee__content">
                                            <h3 class="employee__title">Александр Корякин</h3>
                                            <p class="employee__position initial-mt-7">Бригадир</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-tablet-6 col-desktop-4">
                                    <div class="employee">
                                        <div class="employee__media">
                                            <img class="lazyload"
                                                data-src="https://www.mechtaevo.ru/images/Team/barykov_e.jpg"
                                                alt="сотрудник">
                                        </div>
                                        <div class="employee__content">
                                            <h3 class="employee__title">Евгений Барыков</h3>
                                            <p class="employee__position initial-mt-7">Бригадир</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-tablet-6 col-desktop-4">
                                    <div class="employee">
                                        <div class="employee__media">
                                            <img class="lazyload"
                                                data-src="https://www.mechtaevo.ru/images/Team/brysev_v.jpg"
                                                alt="сотрудник">
                                        </div>
                                        <div class="employee__content">
                                            <h3 class="employee__title">Владимир Брысев</h3>
                                            <p class="employee__position initial-mt-7">Бригадир</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
