<section class="section section--grey  section--narrow-head">
    <div class="section__head">
        <div class="container">
            <div class="section__row">
                <div class="section__heading">
                    <ul class="breadcrumb">
                        <li class="breadcrumb__item">
                            <a class="breadcrumb__link" href="/fix-me">Главная</a>
                        </li>
                        <li class="breadcrumb__item">
                            <span class="breadcrumb__link">Вакансии</span>
                        </li>
                    </ul>
                    <h1 class="section__title title-type-2 initial-mt-0 desktop-mt-10">Вакансии</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="section__content show-if-desktop">
        <div class="container">
            <div class="content-block content-block--type-2">
                <h2 class="content-block__header title-type-2">
                    <span class="content-block__title">Вакансии в строительной компании «Мечтаево». Информация для
                        соискателей</span>
                </h2>
                <div class="content-block__body initial-mt-0 tablet-mt-30">
                    <div class="content-block__content">
                        <div class="content-block__divider hr initial-mb-15 hide-if-tablet"></div>
                        <div class="content-block__text">
                            <div class="richtext">
                                <p>Кратко о нас: работаем с <a href="/fix-me">2002 года</a>, построили <span
                                        class="color-blue">1500+</span> домов, <span class="color-blue"> 70%</span> по
                                    индивидуальным проектам, средний возраст коллектива - 28 лет. Будущих коллег по
                                    работе можно увидеть в разделе "наша команда". Откликина вакансии отправляйте на
                                    <a href="mailtto:kn@mechtaevo.ru">kn@mechtaevo.ru</a>, нашему HR-менеджеру, Надежде
                                    Кудрявцевой, либо заполните форму ниже</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vacancy-notification initial-mt-35">
                <svg class="vacancy-notification__icon icon" width="48" height="48" focusable="false">
                    <use xlink:href="#icon-info" />
                </svg>
                <p class="vacancy-notification__message">
                    Просьба откликаться при полном соответствии требованиям. Если частично не соответствуете, упоминайте об этом в первых предложениях
                </p>
            </div>
        </div>
    </div>
    <div class="section__content section__content--with-curve">
        <div class="container container--relative">
            <div class="accordion" data-component="accordion">
                <button class="accordion__header" type="button" data-accordion-ref="trigger">
                    <span class="accordion__title title-type-4">Бригада строителей-каменщиков</span>
                    <svg class="accordion__icon accordion__icon--plus icon" width="23" height="23" focusable="false">
                        <use xlink:href="#icon-plus-outlined" />
                    </svg>
                    <svg class="accordion__icon accordion__icon--minus icon" width="23" height="23" focusable="false">
                        <use xlink:href="#icon-minus-outlined" />
                    </svg>
                </button>
                <div class="accordion__body" data-accordion-ref="content">
                    <div class="accordion__content">
                        <div class="vacancy-info">
                            <div class="vacancy-info__item">
                                <div class="vacancy-info__title">
                                    График работы
                                </div>
                                <div class="vacancy-info__content">
                                    <p>Полная занятость</p>
                                </div>
                            </div>
                            <div class="vacancy-info__item vacancy-info__item--highlighted">
                                <div class="vacancy-info__title">
                                    Телефон для связи
                                </div>
                                <div class="vacancy-info__content">
                                    <a class="vacancy-info__phone" href="tel: +79055095183">
                                        +7 905 509 51 83
                                    </a>
                                    <form class="show-if-desktop" action="/fix-me">
                                        <div class="btn-group">
                                            <div class="form-input form-input--phone form-input--transparent-bg">
                                                <label for="phone-vacancy-field">
                                                    <input class="form-input__control" name="phone"
                                                           id="phone-vacancy-field" type="tel"
                                                           placeholder="Номер телефона">
                                                    <span class="form-input__symbol">+7</span>
                                                </label>
                                            </div>
                                            <button class="btn-primary btn-primary--red" type="submit">
                                                Записаться на собес-ие
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="vacancy-info__item vacancy-info__item--stacked-mobile">
                                <div class="vacancy-info__title">
                                    Обязанности
                                </div>
                                <div class="vacancy-info__content">
                                    <ul class="vacancy-info__list">
                                        <li> Запускать, вести, контролировать и завершать строительно-монтажные работы
                                            домов по каркасной и каменной технологии точно в срок</li>
                                        <li> Ведение и закрытие актов и документации</li>
                                        <li> Подбирать, проводить собеседования, руководить строительными бригадами и
                                            специалистами</li>
                                        <li> Заказ и контроль расходных материалов</li>
                                        <li> Следить за качеством выполняемых работ на каждом этапе</li>
                                        <li> Соблюдать сроки сдачи объектов</li>
                                        <li> Поддерживать общение с клиентами в процессе строительства</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="vacancy-info__item vacancy-info__item--stacked-mobile">
                                <div class="vacancy-info__title">
                                    Требования
                                </div>
                                <div class="vacancy-info__content">
                                    <ul class="vacancy-info__list">
                                        <li>Опыт работы в малоэтажном строительстве желателен</li>
                                        <li>Знание основных производителей оборудования</li>
                                        <li>Владение автокадом на высоком уровне</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="vacancy-info__item vacancy-info__item--stacked-mobile">
                                <div class="vacancy-info__title">
                                    Условия
                                </div>
                                <div class="vacancy-info__content">
                                    <ul class="vacancy-info__list">
                                        <li>Работа разъездная, 1 день в офисе (в 3-х минутах от ст.м. Курская на
                                            территории б/ц Арма)</li>
                                        <li>Место работы на объектах в Москве, Подмосковье и ЦФО</li>
                                        <li>Оплата сдельная + оклад. Оклад составляет 90 000 + премиальная часть. 110
                                            000 - 150 000 р.</li>
                                        <li>Предоставляется служебный автомобиль, оплачивается ГСМ</li>
                                        <li>Предоставляется служебный смартфон</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion" data-component="accordion">
                <button class="accordion__header" type="button" data-accordion-ref="trigger">
                    <span class="accordion__title title-type-4">Бригада строителей-каменщиков</span>
                    <svg class="accordion__icon accordion__icon--plus icon" width="23" height="23" focusable="false">
                        <use xlink:href="#icon-plus-outlined" />
                    </svg>
                    <svg class="accordion__icon accordion__icon--minus icon" width="23" height="23" focusable="false">
                        <use xlink:href="#icon-minus-outlined" />
                    </svg>
                </button>
                <div class="accordion__body" data-accordion-ref="content">
                    <div class="accordion__content">
                        <div class="vacancy-info">
                            <div class="vacancy-info__item">
                                <div class="vacancy-info__title">
                                    График работы
                                </div>
                                <div class="vacancy-info__content">
                                    <p>Полная занятость</p>
                                </div>
                            </div>
                            <div class="vacancy-info__item vacancy-info__item--highlighted">
                                <div class="vacancy-info__title">
                                    Телефон для связи
                                </div>
                                <div class="vacancy-info__content">
                                    <a class="vacancy-info__phone" href="tel: +79055095183">
                                        +7 905 509 51 83
                                    </a>
                                    <form class="show-if-desktop" action="/fix-me">
                                        <div class="btn-group">
                                            <div class="form-input form-input--phone form-input--transparent-bg">
                                                <label for="phone-vacancy-field">
                                                    <input class="form-input__control" name="phone"
                                                           id="phone-vacancy-field" type="tel"
                                                           placeholder="Номер телефона">
                                                    <span class="form-input__symbol">+7</span>
                                                </label>
                                            </div>
                                            <button class="btn-primary btn-primary--red" type="submit">
                                                Записаться на собес-ие
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="vacancy-info__item vacancy-info__item--stacked-mobile">
                                <div class="vacancy-info__title">
                                    Обязанности
                                </div>
                                <div class="vacancy-info__content">
                                    <ul class="vacancy-info__list">
                                        <li> Запускать, вести, контролировать и завершать строительно-монтажные работы
                                            домов по каркасной и каменной технологии точно в срок</li>
                                        <li> Ведение и закрытие актов и документации</li>
                                        <li> Подбирать, проводить собеседования, руководить строительными бригадами и
                                            специалистами</li>
                                        <li> Заказ и контроль расходных материалов</li>
                                        <li> Следить за качеством выполняемых работ на каждом этапе</li>
                                        <li> Соблюдать сроки сдачи объектов</li>
                                        <li> Поддерживать общение с клиентами в процессе строительства</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="vacancy-info__item vacancy-info__item--stacked-mobile">
                                <div class="vacancy-info__title">
                                    Требования
                                </div>
                                <div class="vacancy-info__content">
                                    <ul class="vacancy-info__list">
                                        <li>Опыт работы в малоэтажном строительстве желателен</li>
                                        <li>Знание основных производителей оборудования</li>
                                        <li>Владение автокадом на высоком уровне</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="vacancy-info__item vacancy-info__item--stacked-mobile">
                                <div class="vacancy-info__title">
                                    Условия
                                </div>
                                <div class="vacancy-info__content">
                                    <ul class="vacancy-info__list">
                                        <li>Работа разъездная, 1 день в офисе (в 3-х минутах от ст.м. Курская на
                                            территории б/ц Арма)</li>
                                        <li>Место работы на объектах в Москве, Подмосковье и ЦФО</li>
                                        <li>Оплата сдельная + оклад. Оклад составляет 90 000 + премиальная часть. 110
                                            000 - 150 000 р.</li>
                                        <li>Предоставляется служебный автомобиль, оплачивается ГСМ</li>
                                        <li>Предоставляется служебный смартфон</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion" data-component="accordion">
                <button class="accordion__header" type="button" data-accordion-ref="trigger">
                    <span class="accordion__title title-type-4">Бригада строителей-каменщиков</span>
                    <svg class="accordion__icon accordion__icon--plus icon" width="23" height="23" focusable="false">
                        <use xlink:href="#icon-plus-outlined" />
                    </svg>
                    <svg class="accordion__icon accordion__icon--minus icon" width="23" height="23" focusable="false">
                        <use xlink:href="#icon-minus-outlined" />
                    </svg>
                </button>
                <div class="accordion__body" data-accordion-ref="content">
                    <div class="accordion__content">
                        <div class="vacancy-info">
                            <div class="vacancy-info__item">
                                <div class="vacancy-info__title">
                                    График работы
                                </div>
                                <div class="vacancy-info__content">
                                    <p>Полная занятость</p>
                                </div>
                            </div>
                            <div class="vacancy-info__item vacancy-info__item--highlighted">
                                <div class="vacancy-info__title">
                                    Телефон для связи
                                </div>
                                <div class="vacancy-info__content">
                                    <a class="vacancy-info__phone" href="tel: +79055095183">
                                        +7 905 509 51 83
                                    </a>
                                    <form class="show-if-desktop" action="/fix-me">
                                        <div class="btn-group">
                                            <div class="form-input form-input--phone form-input--transparent-bg">
                                                <label for="phone-vacancy-field">
                                                    <input class="form-input__control" name="phone"
                                                           id="phone-vacancy-field" type="tel"
                                                           placeholder="Номер телефона">
                                                    <span class="form-input__symbol">+7</span>
                                                </label>
                                            </div>
                                            <button class="btn-primary btn-primary--red" type="submit">
                                                Записаться на собес-ие
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="vacancy-info__item vacancy-info__item--stacked-mobile">
                                <div class="vacancy-info__title">
                                    Обязанности
                                </div>
                                <div class="vacancy-info__content">
                                    <ul class="vacancy-info__list">
                                        <li> Запускать, вести, контролировать и завершать строительно-монтажные работы
                                            домов по каркасной и каменной технологии точно в срок</li>
                                        <li> Ведение и закрытие актов и документации</li>
                                        <li> Подбирать, проводить собеседования, руководить строительными бригадами и
                                            специалистами</li>
                                        <li> Заказ и контроль расходных материалов</li>
                                        <li> Следить за качеством выполняемых работ на каждом этапе</li>
                                        <li> Соблюдать сроки сдачи объектов</li>
                                        <li> Поддерживать общение с клиентами в процессе строительства</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="vacancy-info__item vacancy-info__item--stacked-mobile">
                                <div class="vacancy-info__title">
                                    Требования
                                </div>
                                <div class="vacancy-info__content">
                                    <ul class="vacancy-info__list">
                                        <li>Опыт работы в малоэтажном строительстве желателен</li>
                                        <li>Знание основных производителей оборудования</li>
                                        <li>Владение автокадом на высоком уровне</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="vacancy-info__item vacancy-info__item--stacked-mobile">
                                <div class="vacancy-info__title">
                                    Условия
                                </div>
                                <div class="vacancy-info__content">
                                    <ul class="vacancy-info__list">
                                        <li>Работа разъездная, 1 день в офисе (в 3-х минутах от ст.м. Курская на
                                            территории б/ц Арма)</li>
                                        <li>Место работы на объектах в Москве, Подмосковье и ЦФО</li>
                                        <li>Оплата сдельная + оклад. Оклад составляет 90 000 + премиальная часть. 110
                                            000 - 150 000 р.</li>
                                        <li>Предоставляется служебный автомобиль, оплачивается ГСМ</li>
                                        <li>Предоставляется служебный смартфон</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form class="simple-form initial-mt-16 hide-if-desktop" action="/fix-me">
                <div class="simple-form__body">
                    <div class="simple-form__title title-type-3">
                        Откликнуться на вакансию
                    </div>
                    <div class="simple-form__fields initial-mt-20">
                        <div class="form-input">
                            <label>
                                <input class="form-input__control" type="text" placeholder="Как к Вам обращаться?"
                                       name="name">
                            </label>
                        </div>
                        <div class="form-input form-input--phone initial-mt-12">
                            <label for="phone-stock-field">
                                <input class="form-input__control" name="phone" id="phone-stock-field" type="tel"
                                       placeholder="Номер телефона">
                                <span class="form-input__symbol">+7</span>
                            </label>
                        </div>
                        <div class="form-input initial-mt-12">
                            <label>
                                <input class="form-input__control" type="email" placeholder="Email адрес" name="email">
                            </label>
                        </div>
                        <button
                            class="simple-form__btn btn-primary btn-primary--red btn-primary--with-icon hide-if-desktop"
                            type="submit">
                            <svg class="icon" width="15" height="14" focusable="false">
                                <use xlink:href="#icon-arrow-right" />
                            </svg>
                            Отправить заявку
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
