<!doctype html>
<html class="html can-hover" lang="en">
{{> partials/head}}

<body class="body">
    <main class="main">
        {{> components/header-white}}

        {{> components/blogs-top-section}}

        {{> components/blogs-popular-articles}}

        {{> components/benefits}}

        {{> components/faq}}

        {{> components/blogs}}

        {{> components/reviews}}

        {{> components/about-company}}

        {{> components/map}}

        <div class="container initial-m-0 desktop-m-20">
            {{> components/banner}}
        </div>

        {{> components/footer}}

        {{> components/cookie-bar}}

        <div class="filter-trigger hide-if-desktop">
            <button class="filter-trigger__btn btn-primary btn-primary--blue btn-primary--with-icon" type="button"
                data-component="modal-trigger"
                data-options='{"targetSelector": "#rubricator-modal", "bemList": ["filters"], "title": "Рубрикатор"}'>
                <svg class="icon" width="15" height="14" focusable="false">
                    <use xlink:href="#icon-arrow-right" />
                </svg>
                Выбрать рубрику
            </button>
        </div>

        {{!-- Site modals Start--}}

        {{> components/search-modal}}

        {{> components/order-phone-modal}}

        s {{> components/rubricator-modal}}

        {{!-- Site modals End--}}
    </main>

    {{> partials/scripts}}
</body>

</html>
