<!doctype html>
<html class="html can-hover" lang="en">
{{> partials/head}}

<body class="body">
    <main class="main">
        {{> components/header-white}}

        {{> components/construction-top-section}}

        {{> components/construction-parameters}}

        {{> components/construction-map}}

        {{> components/footer}}

        {{> components/cookie-bar}}

        {{!-- Site modals Start--}}

        {{> components/search-modal}}

        {{> components/order-phone-modal}}


        {{!-- Site modals End--}}
    </main>

    {{> partials/scripts}}
</body>

</html>
