<!doctype html>
<html class="html can-hover" lang="en">
{{> partials/head}}

<body class="body">
<main class="main">
{{> components/header-white}}

{{> components/contacts-map}}

{{> components/contacts-slider}}

{{> components/contacts-scheme}}

{{> components/contacts-requisites}}

<div class="container initial-mb-0 initial-mt-0 desktop-m-20">
{{> components/banner}}
</div>

{{> components/footer}}

{{> components/cookie-bar}}


{{!-- Site modals Start--}}

{{> components/search-modal}}

{{> components/order-phone-modal}}

{{!-- Site modals End--}}
</main>

{{> partials/scripts}}
</body>

</html>
