<!doctype html>
<html class="html can-hover" lang="en">
{{> partials/head}}

<body class="body">
    <main class="main">
        {{> components/header-white}}

        {{> components/credit-top-section}}

        <div class="container initial-mb-0 initial-mt-40 desktop-m-20 hide-if-desktop">
            {{> components/banner}}
        </div>

        {{> components/footer}}

        {{> components/cookie-bar}}

        <div class="filter-trigger hide-if-desktop">
            <button class="filter-trigger__btn btn-primary btn-primary--green btn-primary--with-icon" type="button"
                data-component="modal-trigger"
                data-options='{"targetSelector": "#credit-order-modal", "bemList": ["filters"], "title": "Заявка на кредит"}'>
                <svg class="icon" width="15" height="14" focusable="false">
                    <use xlink:href="#icon-arrow-right" />
                </svg>
                Оставить заявку на кредит
            </button>
        </div>

        {{!-- Site modals Start--}}

        {{> components/search-modal}}

        {{> components/credit-order-modal}}

        {{> components/order-phone-modal}}

        {{> components/credit-modal}}

        {{!-- Site modals End--}}
    </main>

    {{> partials/scripts}}
</body>

</html>
