<!doctype html>
<html class="html can-hover" lang="en">
{{> partials/head}}

<body class="body">
    <main class="main">
        {{> components/header-white}}

        {{> components/favorites-top-section}}

        {{> components/benefits}}

        {{> components/faq}}

        {{> components/blogs}}

        {{> components/reviews}}

        {{!-- Start - Более 1700 построенных домов с 2002 года --}}
        {{> components/results}}
        {{!-- End - Более 1700 построенных домов с 2002 года --}}

        {{> components/about-company}}

        {{> components/map}}

        <div class="container initial-m-0 desktop-m-20">
            {{> components/banner}}
        </div>

        {{> components/footer}}

        {{> components/cookie-bar}}

        {{!-- Site modals Start--}}

        {{> components/search-modal}}

        {{> components/order-phone-modal}}

        {{> components/filters-modal}}

        {{> components/sort-modal}}

        {{!-- Site modals End--}}
    </main>

    {{> partials/scripts}}
</body>

</html>
