<!doctype html>
<html class="html can-hover" lang="en">
{{> partials/head}}

<body class="body">
    <main class="main">
        {{> components/header-white}}

        {{> components/project-top-section}}

        {{> components/parameters-and-price}}

        {{> components/floor-plan}}

        {{> components/project-description}}

        {{> components/tabs}}

        {{> components/similar-home-proects}}

        <div class="container initial-mb-0 initial-mt-40 desktop-m-20">
            {{> components/banner}}
        </div>

        {{> components/footer}}

        {{> components/cookie-bar}}

        <div class="filter-trigger hide-if-desktop">
            <button class="filter-trigger__btn btn-primary btn-primary--red btn-primary--with-icon" type="button"
                data-component="modal-trigger"
                data-options='{"targetSelector": "#filters-mobile", "bemList": ["filters"], "title": "Фильтры"}'>
                <svg class="icon" width="19" height="14" focusable="false">
                    <use xlink:href="#icon-filter" />
                </svg>
                Подобрать объект (фильтры)
            </button>
        </div>

        {{!-- Site modals Start--}}

        {{> components/search-modal}}

        {{> components/order-phone-modal}}

        {{> components/filters-modal}}

        {{!-- Site modals End--}}
    </main>

    {{> partials/scripts}}
</body>

</html>
