<!doctype html>
<html class="html can-hover" lang="en">
{{> partials/head}}

<body class="body">
<main class="main">
{{> components/header-white}}

{{> components/stocks-top-section}}

<div class="container initial-m-0 desktop-m-20">
{{> components/banner}}
</div>

{{> components/footer}}

{{> components/cookie-bar}}

{{!-- Site modals Start--}}

{{> components/search-modal}}

{{> components/order-phone-modal}}

{{!-- Site modals End--}}
</main>

{{> partials/scripts}}
</body>

</html>
