<!doctype html>
<html class="html can-hover" lang="en">
{{> partials/head}}

<body class="body">
    <main class="main">
        {{> components/header-white}}

        {{> components/team-top-section}}

        <div class="container initial-m-0 desktop-m-20">
            {{> components/banner}}
        </div>

        <div class="filter-trigger hide-if-desktop">
            <button class="filter-trigger__btn btn-primary btn-primary--blue btn-primary--with-icon" type="button"
                data-component="modal-trigger"
                data-options='{"targetSelector": "#department-modal", "bemList": ["filters"], "title": "Отделы"}'>
                <svg class="icon" width="15" height="14" focusable="false">
                    <use xlink:href="#icon-arrow-right" />
                </svg>
                Выбрать команду
            </button>
        </div>
        {{> components/footer}}

        {{> components/cookie-bar}}

        {{!-- Site modals Start--}}

        {{> components/search-modal}}

        {{> components/department-modal}}

        {{> components/order-phone-modal}}

        {{!-- Site modals End--}}
    </main>

    {{> partials/scripts}}
</body>

</html>
