.btn,
.btn-primary,
.btn-secondary,
.btn-arrow .btn-circle {
    @include reset-button();

    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: $ff-sf-pro-text;

    @include hover {
        &:not(:disabled),
        &:not(.is-disabled) {
            cursor: pointer;
        }
    }

    .icon {
        flex-shrink: 0;
    }

    &:disabled,
    &.is-disabled {
        cursor: not-allowed;
    }
}

.btn-primary {
    @include button-link();

    min-width: 180px;
    min-height: 44px;
    padding: 10px 21px 10px;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: background-color $transition-default, color $transition-default,
        border-color $transition-default;

    &--green {
        background-color: $color-green;
        color: $color-white;

        @include hover-focus {
            background-color: $color-white;
            border: 1px solid $color-green;
            color: $color-green;
        }
    }

    &--blue-outlined {
        border: 1px solid $color-blue;
        color: $color-blue;

        @include hover-focus {
            background-color: $color-blue;
            color: $color-white;
        }
    }

    &--red-outlined {
        border: 1px solid $color-red;
        color: $color-red;

        @include hover-focus {
            background-color: $color-red;
            color: $color-white;
        }
    }

    &--grey-color {
        color: $color-grey;

        @include hover-focus {
            color: $color-red;
        }
    }

    &--grey-outlined {
        border: 1px solid rgba($color-black, 0.24);
    }

    &--red {
        background-color: $color-red;
        color: $color-white;

        @include hover-focus {
            background-color: $color-white;
            border: 1px solid $color-red;
            color: $color-red;
        }
    }

    &--red-color {
        color: $color-red;
    }

    &--blue {
        background-color: $color-blue;
        color: $color-white;

        @include hover-focus {
            background-color: $color-white;
            border: 1px solid $color-blue;
            color: $color-blue;
        }
    }

    &--blue-color {
        color: $color-blue;
    }

    &--transparent {
        min-width: 138px;
        border: 1px solid rgba($color-white, 0.24);
        color: $color-white;

        @include hover-focus {
            background-color: $color-blue;
            border-color: $color-blue;
            color: $color-white;
        }
    }

    &--with-icon {
        & svg,
        & img  {
            margin-right: 8px;
        }
    }

    &--full-width {
        width: 100%;
    }

    &.is-hidden {
        display: none;
    }
}

.btn-secondary {
    @include button-link();

    min-width: 170px;
    padding: 14px 20px 12px 20px;
    border-radius: 30px;
    font-weight: normal;

    &--red {
        color: $color-white;
    }
}

.btn-circle {
    overflow: hidden;
    width: 32px;
    height: 32px;
    background-color: $color-grey;
    border-radius: 50%;
}

.btn-group {
    display: flex;
    align-items: center;

    &--space-between {
        justify-content: space-between;
    }

    &--column {
        flex-direction: column;
        align-items: center;
    }

    > * + * {
        margin-left: 16px;
    }
}
