@font-face {
    font-family: 'Manrope';
    font-display: swap;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/Manrope-Bold.woff2') format('woff2'),
        url('../fonts/Manrope-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Manrope';
    font-display: swap;
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/Manrope-Semibold.woff2') format('woff2'),
        url('../fonts/Manrope-Semibold.woff') format('woff');
}

@font-face {
    font-family: 'Manrope';
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Manrope-Regular.woff2') format('woff2'),
        url('../fonts/Manrope-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Manrope';
    font-display: swap;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Manrope-Light.woff2') format('woff2'),
        url('../fonts/Manrope-Light.woff') format('woff');
}

@font-face {
    font-family: 'Manrope';
    font-display: swap;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Manrope-Medium.woff2') format('woff2'),
        url('../fonts/Manrope-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Manrope';
    font-display: swap;
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/Manrope-ExtraBold.woff2') format('woff2'),
        url('../fonts/Manrope-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Text';
    font-display: swap;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/SFUIText-Medium.woff2') format('woff2'),
        url('../fonts/SFUIText-Medium.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Text';
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/SFUIText-Regular.woff2') format('woff2'),
        url('../fonts/SFUIText-Regular.woff') format('woff');
}
