/* general grid styles */

@mixin col {
    box-sizing: border-box;
    flex-basis: 100%;
    width: 100%;
    max-width: 100%;
    min-height: 1px;

    &.no-gutter {
        padding: 0;
    }

    &.is-hidden {
        display: none;
    }
}

.row {
    $this: &;

    display: flex;
    flex-wrap: wrap;

    @include tablet {
        margin-right: -$grid-gutter / 2;
        margin-left: -$grid-gutter / 2;
    }

    &--center {
        justify-content: center;
    }

    &--vcenter {
        align-items: center;
    }

    &--vstart {
        align-items: flex-start;
    }

    &--reverse-on-mobile {
        @include mobile-only {
            flex-direction: column-reverse;
        }
    }

    &--general {
        > [class*='col-'] {
            + [class*='col-'] {
                margin-top: 30px;

                @include desktop {
                    margin-top: 0;
                }
            }
        }
    }

    &--mb-70 {
        @include mobile-only {
            margin-right: -$grid-gutter / 2;
            margin-left: -$grid-gutter / 2;

            > [class*='col-'] {
                padding-right: $grid-gutter / 2;
                padding-left: $grid-gutter / 2;
            }
        }

        & + & {
            margin-top: 16px;

            @include tablet {
                margin-top: 75px;
            }
        }
    }

    &--tiles:not(.no-gutter) {
        margin-bottom: -$grid-gutter-mobile;

        @include desktop {
            margin-bottom: -$grid-gutter;
        }

        > [class*='col-'] {
            margin-bottom: $grid-gutter-mobile;

            @include tablet {
                display: flex;
                flex-direction: column;
            }

            @include desktop {
                margin-bottom: $grid-gutter;
            }
        }
    }

    &--tiles-stacked-70:not(.no-gutter) {
        margin-bottom: -16px;

        @include desktop {
            margin-bottom: -70px;
        }

        > [class*='col-'] {
            margin-bottom: 16px;

            @include tablet {
                display: flex;
                flex-direction: column;
            }

            @include desktop {
                margin-bottom: 70px;
            }
        }
    }

    &--stacked-mobile-44 {
        > [class*='col-'] {
            + [class*='col-'] {
                margin-top: 44px;

                @include tablet {
                    margin-top: 0;
                }
            }
        }
    }

    &--stacked-mobile-16 {
        > [class*='col-'] {
            + [class*='col-'] {
                margin-top: 16px;

                @include tablet {
                    margin-top: 0;
                }
            }
        }
    }

    &--with-sticky-col {
        @include tablet {
            align-items: flex-start;
        }

        #{$this}__sticky-col {
            @include tablet {
                position: sticky;
                top: 129px;
            }

            @include desktop {
                top: 88px;
            }
        }
    }

    &.no-gutter {
        margin-right: 0;
        margin-left: 0;

        > [class*='col-'] {
            padding-right: 0;
            padding-left: 0;
        }
    }

    &.gutter-16 {
        @include tablet {
            margin-right: -$grid-gutter;
            margin-left: -$grid-gutter;
        }

        > [class*='col-'] {
            @include tablet {
                padding-right: $grid-gutter;
                padding-left: $grid-gutter;
            }
        }
    }

    > [class*='col-'] {
        @include col();

        @include tablet {
            padding-right: $grid-gutter / 2;
            padding-left: $grid-gutter / 2;
        }
    }
}

@mixin grid($containerColumnsCount, $gutter, $breakpoints) {
    $maxColWidth: 100 / $containerColumnsCount;

    @for $i from 1 through $containerColumnsCount {
        .row > .col-#{$i} {
            flex-basis: $maxColWidth * $i + 0%;
            max-width: $maxColWidth * $i + 0%;
        }
    }

    @each $size, $value in $breakpoints {
        @media only screen and (min-width: $value) {
            @for $column from 1 through $containerColumnsCount {
                .row > .col-#{$size}-#{$column} {
                    flex-basis: $maxColWidth * $column + 0%;
                    max-width: $maxColWidth * $column + 0%;
                }
            }
        }
    }
}

@include grid($grid-columns, $grid-gutter, $breakpoints);
