.visually-hidden {
    @include visually-hidden;
}

.hidden {
    display: none;
}

.color-blue {
    color: $color-blue;
}

@each $size, $value in $breakpoints {
    .show-if-#{$size} {
        display: none !important;

        @media (--#{$size}) {
            display: block !important;
        }
    }
}

@each $size, $value in $breakpoints {
    .hide-if-#{$size} {
        @media (--#{$size}) {
            display: none !important;
        }
    }
}
