*,
*::before,
*::after {
    box-sizing: border-box;
}

[data-whatintent='mouse'] *:focus,
[data-whatintent='touch'] *:focus {
    outline: none;
}

.html {
    position: relative;
    overflow-y: scroll;
    height: 100%;
    font-size: 100%;

    &.is-blocked {
        overflow: hidden;
    }

    &.is-blocked-touch {
        position: fixed;
        overflow-y: scroll;
        width: 100%;
        height: auto;
    }
}

.body {
    height: 100%;
    margin: 0;
    color: $color-black;
    font-family: $ff-manrope;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;

    .is-locked &,
    .fslightbox-open & {
        @include desktop-wide {
            padding-right: 17px;
        }
    }
}

.container {
    max-width: $container-max-width;
    margin-right: auto;
    margin-left: auto;

    &--relative {
        position: relative;
    }
}

.container-small {
    max-width: $container-small-max-width;
    margin-right: auto;
    margin-left: auto;
}

.container-medium {
    max-width: $container-medium-max-width;
    margin-right: auto;
    margin-left: auto;
}

.hr {
    &::before {
        content: '';
        display: block;
        border-top: 1px solid rgba($color-black, 0.08);
    }
}


