.responsive-media {
    position: relative;

    & > img,
    & > video {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
    }
}

img,
video {
    max-width: 100%;
}

.ratio {
    &::before {
        content: '';
        position: relative;
        z-index: -1;
        display: block;
    }

    &--4x3 {
        &::before {
            padding-bottom: percentage(3/4);
        }
    }

    &--16x9 {
        &::before {
            padding-bottom: percentage(9/16);
        }
    }

    &--1x1 {
        &::before {
            padding-bottom: percentage(1/1);
        }
    }
}
