// spaces values
$spaces: (
    0,
    4,
    5,
    7,
    8,
    10,
    12,
    15,
    16,
    20,
    25,
    30,
    35,
    40,
    45,
    50,
    55,
    60,
    65,
    80,
    90,
    100,
    120,
    130,
    140,
    280
);

// spaces CSS properties
$space-prefixes: (
    p: padding,
    pt: 'padding-top',
    pb: 'padding-bottom',
    m: margin,
    mt: 'margin-top',
    mb: 'margin-bottom',
);

@mixin make-spaces($spaces, $prefixes, $breakpoint: 'initial') {
    @each $attr-short, $attr-long in $prefixes {
        @each $value in $spaces {
            // on mobile all spaces are 0 by default

            @if ($breakpoint == 'mobile' and $value == 0) {
                // do nothing
            } @else {
                @if ($attr-short == 'p' or $attr-short == 'm') {
                    .#{$breakpoint}-#{$attr-short}-#{$value} {
                        #{$attr-long}-top: #{$value/16 + rem};
                        #{$attr-long}-bottom: #{$value/16 + rem};
                    }
                } @else {
                    .#{$breakpoint}-#{$attr-short}-#{$value} {
                        #{$attr-long}: #{$value/16 + rem};
                    }
                }
            }
        }
    }
}

@include make-spaces($spaces, $space-prefixes);

@each $breakpoint, $value in $breakpoints {
    @media (--#{$breakpoint}) {
        @include make-spaces($spaces, $space-prefixes, $breakpoint);
    }
}
