.parent-19 .map-popup__btn {
    display: none;
}

.map-popup {
    $this: &;

    position: relative;
    z-index: 20;

    &__inner {
        overflow: hidden;
        padding: 16px;
        background: $color-white;
        border-radius: 8px;
        box-shadow: 0 100px 80px rgba(0, 0, 0, 0.00562291),
            0 41.7776px 33.4221px rgba(0, 0, 0, 0.00807786),
            0 22.3363px 17.869px rgba(0, 0, 0, 0.01), 0 12.5216px 10.0172px rgba(0, 0, 0, 0.0119221),
            0 6.6501px 5.32008px rgba(0, 0, 0, 0.0143771), 0 2.76726px 2.21381px rgba(0, 0, 0, 0.02);
    }

    &__media {
        position: relative;

        @include objectFitImageParent() {
            border-radius: 8px;
        }

        &::before {
            content: '';
            display: block;
            padding-bottom: 67.7%;
        }
    }

    &__address {
        color: $color-blue;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.43;
    }

    &__btn {
        display: inline-block;
        margin-top: 16px;
        padding: 7.5px 16px;
        border: 1px solid $color-blue;
        border-radius: 12px;
        color: $color-blue;
        font-family: $ff-sf-pro-text;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: -0.24px;
        text-decoration: none;
    }
}
