.map-banner {
    $this: &;

    background-color: $color-white;
    text-align: center;

    @include desktop {
        overflow: hidden;
        display: flex;
        border-radius: 8px;
        text-align: left;
    }

    &__text {
        position: relative;
        padding: 38px 12px 13px 12px;

        @include desktop {
            flex: 1 0 415px;
            padding: 22px 32px 26px 36px;
            background-color: $color-grey-4;
        }

        @include richtext {
            font-size: 20px;
            font-weight: 700;
            line-height: 1.4;

            p {
                font-size: 20px;
                font-weight: 700;
                line-height: 1.4;
            }

            a {
                color: $color-blue;
                text-decoration: none;
            }
        }
    }

    &__form-wrapper {
        position: relative;
        padding: 13px 12px 16px 12px;

        @include desktop {
            padding: 44px 25px;
        }
    }

    &__angle {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &::after,
        &::before {
            position: absolute;
            left: -16px;
            width: 50%;
            height: calc(50% + 2px);
            background-color: $color-white;
            border-left: 2px solid rgba($color-black, 0.08);

            @include desktop {
                content: '';
            }
        }

        &::after {
            top: auto;
            bottom: -1px;
            transform: skewX(-24.5deg);
        }

        &::before {
            top: -1px;
            transform: skewX(24.5deg);
        }
    }

    &__form {
        position: relative;
        z-index: 1;

        @include desktop {
            display: flex;
        }
    }

    &__phone-input {
        margin-bottom: 20px;

        @include desktop {
            margin-right: 12px;
            margin-bottom: 0;
        }
    }
}
