.map {
    $this: &;

    position: relative;

    &:before {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        font-weight: bold;
        text-align: center;
        height: 2rem;
    }

    &__container {
        position: relative;

        &::before {
            content: '';
            display: block;
            padding-bottom: 113%;

            @include desktop {
                height: 704px;
                padding-bottom: 0;
            }
        }

        > [class*='ymaps'] {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    &__banner {
        width: 100%;

        @include desktop {
            position: absolute;
            bottom: 56px;
            left: 50%;
            z-index: 1;
            transform: translateX(-50%);
            max-width: 864px;
        }
    }

    &__badge {
        position: absolute;
        top: 16px;
        right: 45px;
        left: 45px;
        z-index: 1;
        display: inline-flex;
        align-items: center;
        padding: 6px 12px;
        background-color: $color-white;
        border-radius: 12px;
        font-family: $ff-sf-pro-text;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: -0.24px;
        line-height: 20px;

        @include desktop {
            top: 46px;
            right: 20px;
            left: auto;
        }

        @include desktop-wide {
            right: calc((100% - 1040px) / 2);
        }

        .icon {
            margin-right: 6px;
            color: $color-green;
        }
    }

    [class*='-ground-pane'] {
        -webkit-filter: grayscale(100%);
        filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    }

    .balloon-title {
        color: #246a91;
        text-decoration: underline;
    }

    [class*='-balloon__tail'] {
        display: none;
    }

    [class*='-balloon'] {
        box-shadow: none;
    }
}
