.modal {
    $this: &;

    $mobile-button-width: 60px;
    $color-grey-2: rgba($color-white, 0.25);

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    opacity: 0;
    visibility: hidden;
    z-index: $layer-modal;
    flex-direction: column;
    align-items: center;
    background: rgba($color-black, 0.64);
    transition: opacity $transition-default, visibility $transition-default;
    backdrop-filter: blur(12px);

    &__wrapper {
        position: relative;
        display: flex;
        flex: 1 0 auto;
        width: 100%;
        height: 100%;
        margin: auto;
        padding: 52px 12px 40px 12px;

        @include tablet {
            padding: 40px;
        }
    }

    &__content {
        position: relative;
        width: 100%;
    }

    &__head {
        position: sticky;
        top: 0;
        z-index: 10;
        display: flex;
        align-items: center;
        padding: 14px 20px;
        background-color: $color-white;

        #{$this}__close {
            margin-right: 15px;
        }
    }

    &__title {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.4;
    }

    &__close {
        color: $color-blue;
    }

    &--order {
        #{$this}__content {
            max-width: 351px;
            margin: auto;
        }

        #{$this}__close {
            position: absolute;
            top: 21px;
            left: 17px;
            z-index: 1;
            color: $color-white;

            @include desktop {
                display: none;
            }
        }

        #{$this}__head {
            display: none;
        }

        &.is-opened {
            opacity: 1;
            visibility: visible;
            display: block;
        }

        &.is-closing {
            opacity: 0;
            visibility: hidden;
        }
    }

    &--search {
        #{$this}__content {
            @include tablet {
                max-width: 508px;
                margin: auto;
            }
        }

        #{$this}__head {
            display: none;
        }

        &.is-opened {
            opacity: 1;
            visibility: visible;
            display: block;
        }

        &.is-closing {
            opacity: 0;
            visibility: hidden;
        }
    }

    &--filters {
        position: fixed;
        top: 0;
        left: 0;
        opacity: 1;
        visibility: visible;
        transform: translateX(-100%);
        width: 100%;
        height: 100%;
        background-color: $color-white;
        transition: transform $transition-motion;

        #{$this}__wrapper {
            padding-top: 0;
        }

        &.is-opened {
            transform: translateX(0);
        }

        &.is-closing {
            opacity: 1;
            visibility: visible;
            transform: translateX(-100%);
        }
    }
}
