.submenu {
    $this: &;

    @include reset-list();

    overflow-y: auto;
    padding: 18px 24px 32px 24px;
    background-color: $color-white;
    text-align: left;

    @include desktop {
        min-width: 375px;
        border-radius: 8px;
        box-shadow: 0 100px 87px rgba(0, 0, 0, 0.0177816),
            0 50.0488px 43.5425px rgba(0, 0, 0, 0.0230613),
            0 30.1471px 26.228px rgba(0, 0, 0, 0.0257099),
            0 19.3198px 16.8082px rgba(0, 0, 0, 0.0273485),
            0 12.5216px 10.8938px rgba(0, 0, 0, 0.028439),
            0 7.88218px 6.85749px rgba(0, 0, 0, 0.0291811),
            0 4.5288px 3.94006px rgba(0, 0, 0, 0.0296804), 0 1.99324px 1.73412px rgba(0, 0, 0, 0.03);
    }

    &__item {
        & + & {
            margin-top: 24px;
        }
    }

    &__link {
        @include reset-button();

        display: inline-flex;
        align-items: center;
        color: $color-black;
        font-family: $ff-manrope;
        font-weight: 700;
        line-height: 1.5;
        text-decoration: none;
        cursor: pointer;
        transition: color $transition-default;

        .icon {
            margin-left: 10px;
        }

        @include hover-focus {
            color: $color-blue;
        }

        &--grey {
            color: $color-grey;
        }

        &--red {
            color: $color-red;
        }
    }

    .modal & {
        padding-right: 10px;
        padding-left: 10px;
    }
}
