.simple-form {
    $this: &;

    &__body {
        padding: 16px;
        background-color: $color-white;
        border-radius: 8px;
        box-shadow: 0 100px 80px rgba(0, 0, 0, 0.00562291),
            0 41.7776px 33.4221px rgba(0, 0, 0, 0.00807786),
            0 22.3363px 17.869px rgba(0, 0, 0, 0.01), 0 12.5216px 10.0172px rgba(0, 0, 0, 0.0119221),
            0 6.6501px 5.32008px rgba(0, 0, 0, 0.0143771), 0 2.76726px 2.21381px rgba(0, 0, 0, 0.02);
    }

    &__title {
        font-weight: 700;

        @include desktop {
            padding-left: 20px;
        }
    }

    &__fields {
        display: flex;
        flex-direction: column;

        @include desktop {
            max-width: 320px;
        }
    }

    &__btn {
        align-self: center;
        margin: 28px auto 0 auto;
    }

    &+ & {
        margin-top: 16px;
    }

    &--outside-left {
        @include tablet {
            margin-left: calc(-100% - 16px);
        }
        #{$this}__fields {
            max-width: none;
        }
    }

    &--medium {
        #{$this}__body {
            @include tablet {
                padding: 18px 24px 30px 32px;
            }
        }
        #{$this}__title{
            padding-left: 0;
        }
    }
}
