.banner {
    $this: &;

    background: linear-gradient(90deg, $color-blue-2 0%, $color-purple 100%);

    @include desktop {
        border-radius: 8px;
    }

    &__inner {
        padding: 30px 12px;

        @include tablet {
            display: flex;
            justify-content: space-between;
            padding: 30px 40px;
        }
    }

    &__col {
        @include tablet {
            width: 50%;
        }

        & + & {
            margin-top: 38px;

            @include tablet {
                margin-top: 0;
                margin-left: 65px;
            }
        }
    }

    &__text {
        color: rgba($color-white, 0.52);
        font-size: 20px;
        font-weight: 700;
        line-height: 1.4;

        @include mobile-only {
            text-align: center;
        }

        &--white {
            color: $color-white;
        }
    }

    &__social {
        @include mobile-only {
            text-align: center;
        }
    }

    &__form {
        width: 100%;

        @include desktop {
            display: flex;
            align-items: center;
        }
    }

    &__form-field {
        width: 100%;
    }

    &__form-submit {
        width: 100%;
        margin-top: 12px;

        @include desktop {
            margin-top: 0;
            margin-left: 12px;
        }
    }
}
