.image-card {
    $this: &;

    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;

    &__media {
        @include objectFitImageParent();

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__title {
        color: $color-black;
        font-size: 28px;
        font-weight: 700;
        line-height: 1.286;
        text-decoration: none;
    }

    &__title-link {
        text-decoration: none;
    }

    &__link {
        text-decoration: none;
    }

    &__list {
        @include reset-list();

        text-align: center;
    }

    &__list-li {
        & + & {
            margin-top: 8px;
        }
    }

    &__list-link {
        font-weight: 600;
        line-height: 1.5;
        text-decoration: none;
    }

    &__value {
        display: block;
        color: $color-blue;
        font-size: 88px;
        font-weight: 500;
        line-height: 1.36;
    }

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        height: 100%;
        padding: 24px;
    }

    &__text {
        max-width: 175px;
        margin-right: auto;
        margin-left: auto;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.5;
    }

    .tns-item & {
        height: 100%;
    }

    & + & {
        margin-top: 16px;
    }

    &--type-1 {
        #{$this}__link {
            align-self: flex-start;
        }

        #{$this}__value {
            @include mobile-only {
                font-size: 66px;
                line-height: 1;
            }
        }

        #{$this}__title {
            font-size: 32px;
            line-height: 1.375;

            @include tablet {
                max-width: 280px;
            }
        }
    }

    &--type-2 {
        #{$this}__link,
        #{$this}__title,
        #{$this}__list {
            color: $color-white;
        }
    }

    &--type-3 {
        #{$this}__link {
            color: $color-blue;
        }

        #{$this}__list {
            color: $color-lightblue;
        }
    }

    &--type-4 {
        background: rgba(0, 78, 183, 0.04);

        #{$this}__value {
            line-height: 1;
        }

        #{$this}__link {
            color: $color-blue;
        }
    }

    &--type-5 {
        background: $color-white;

        @include tablet {
            min-height: 50%;
        }

        #{$this}__title {
            display: block;
            color: $color-blue;
            font-size: 20px;
        }

        #{$this}__media {
            img {
                top: auto;
                bottom: 0;
                left: 50%;
                display: block;
                transform: translate(-50%);
                max-width: 194px;
                max-height: 160px;
                object-fit: contain;
                object-position: center bottom;
            }
        }
    }

    &--type-6 {
        #{$this}__link {
            align-self: flex-start;
            color: $color-blue;

            @include tablet {
                margin-top: auto;
            }
        }

        #{$this}__title {
            @include tablet {
                max-width: 280px;
            }
        }
    }

    &--type-7 {
        background-color: $color-blue;

        #{$this}__title {
            max-width: 150px;
            margin-right: auto;
            margin-left: auto;
            color: $color-white;
        }

        #{$this}__media {
            z-index: 1;

            img {
                top: auto;
                bottom: 0;
                left: 50%;
                display: block;
                transform: translate(-50%);
                max-height: 336px;
                object-fit: contain;
                object-position: center bottom;
            }
        }
    }

    &--type-8 {
        #{$this}__link {
            margin-top: auto;
            color: $color-blue;
        }
    }

    &--type-9 {
        min-height: 207px;
        background: linear-gradient(90deg, #2b5876 0%, #4e4376 100%);
        text-align: left;

        @include desktop {
            min-height: 316px;
        }

        #{$this}__content {
            flex-direction: row;
        }

        #{$this}__body {
            display: flex;
            flex-direction: column;
        }

        #{$this}__title {
            color: $color-white;
            font-size: 26px;
            font-weight: 600;
            letter-spacing: -1px;
            line-height: 1.18;

            @include desktop {
                font-size: 44px;
            }
        }

        #{$this}__value {
            flex-grow: 1;
            color: rgba($color-white, 0.52);
            font-size: 22px;
            font-weight: 700;
            line-height: 1.28;

            @include desktop {
                font-size: 28px;
            }
        }

        #{$this}__link {
            align-self: flex-start;
            color: $color-white;
        }

        #{$this}__media {
            position: relative;
            flex-shrink: 0;
            align-self: flex-end;
            width: auto;
            max-width: 122px;
            height: auto;

            @include desktop {
                max-width: none;
            }

            img {
                position: relative;
                align-self: flex-end;
                object-fit: contain;
            }
        }
    }

    &--type-10 {
        min-height: 207px;
        background-color: $color-white;
        text-align: left;

        #{$this}__title {
            flex-grow: 1;
            max-width: 400px;
            font-size: 20px;
            line-height: 1.28;

            @include desktop {
                font-size: 28px;
            }
        }

        #{$this}__link {
            color: $color-red;
        }

        #{$this}__media {
            position: relative;
            width: auto;
            max-height: 79px;

            img {
                position: relative;
                width: auto;
                object-fit: contain;
            }
        }
    }

    &--type-11 {
        min-height: 207px;
        background: linear-gradient(290.85deg, #fdfbfb 0%, #ebedee 100%);
        text-align: left;

        #{$this}__content {
            flex-direction: row;

            @include desktop {
                padding-right: 47px;
            }
        }

        #{$this}__body {
            display: flex;
            flex-direction: column;
        }

        #{$this}__title {
            flex-grow: 1;
            margin-right: 20px;
            font-size: 14px;
            line-height: 1.4;

            @include desktop {
                font-size: 20px;
                line-height: 1.4;
            }
        }

        #{$this}__link {
            color: $color-blue;
        }

        #{$this}__media {
            position: relative;
            align-self: flex-end;
            width: 100%;
            height: auto;

            @include desktop {
                flex-shrink: 0;
                max-height: 219px;
            }

            img {
                position: relative;
                width: auto;
                height: auto;
                object-fit: contain;
            }
        }
    }

    &--type-12 {
        #{$this}__link {
            align-self: flex-start;
            color: $color-blue;

            @include tablet {
                margin-top: auto;
            }
        }

        #{$this}__title {
            font-size: 24px;

            @include tablet {
                max-width: 400px;
                font-size: 28px;
            }
        }
    }

    &--type-13 {
        min-height: 420px;
        #{$this}__link {
            display: inline-flex;
            align-items: center;
            align-self: flex-start;
            max-width: 224px;
            margin-top: 10px;
            color: $color-blue;
            font-size: 14px;
            font-weight: 700;
            line-height: 1.42;
            text-align: left;

            .icon {
                margin-left: 20px;
            }
        }

        #{$this}__title {
            font-size: 48px;
            text-align: left;

            @include tablet {
                font-size: 28px;
                line-height: 1.16;
            }

            @include desktop {
                font-size: 48px;
                line-height: 1.16;
            }
        }
    }

    &--horizontal {
        min-height: 336px;
        text-align: left;

        #{$this}__content {
            padding: 30px;
        }
    }

    &--vertical {
        min-height: 400px;

        @include tablet {
            min-height: 536px;
        }
    }

    &--medium {
        min-height: 400px;

        @include tablet {
            min-height: 472px;
        }
    }

    &--small {
        min-height: 404px;
    }

    &--sticky-top {
        @include desktop {
            position: sticky;
            top: 88px;
        }
    }
}
