.pagination {
    $this: &;

    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet {
        justify-content: space-between;
    }

    &__list {
        @include reset-list();

        display: flex;
        align-items: center;
    }

    &__item {
        & + & {
            margin-left: 8px;
        }
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 7px 11px;
        border: 1px solid rgba(0, 0, 0, 0.08);
        border-radius: 10px;
        font-family: $ff-sf-pro-text;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: -0.154px;
        line-height: 1.28;
        transition: color $transition-default, background-color $transition-default;

        &--divider {
            border: none;
        }

        &.is-active {
            background-color: rgba(0, 78, 183, 0.04);
            border: 1px solid rgba(0, 78, 183, 0.16);
            color: $color-blue;
        }
    }

    &__counts {
        display: none;
        margin-left: 30px;
        color: $color-grey;
        font-weight: 600;
        line-height: 1.5;

        @include tablet {
            display: block;
        }
    }

    &__counts-value {
        color: $color-blue;
        font-weight: 700;
    }

    &--push-to-right {
        @include tablet {
            grid-gap: 20px;
            grid-template-areas: '. list counts';
            grid-template-columns: 1fr 2fr 1fr;
            display: grid;

            #{$this}__list {
                grid-area: list;
                justify-content: center;
            }

            #{$this}__counts {
                grid-area: counts;
                text-align: right;
            }
        }
    }
}
