.multi-level-nav {
    $this: &;

    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    width: 100%;
    height: 100%;
    background-color: $color-white;
    transition: transform $transition-motion;

    &__inner {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;

        @include desktop {
            height: 100%;
        }
    }

    &__panel {
        position: absolute;
        top: 0;
        left: 0;
        overflow-x: hidden;
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        transition: opacity $transition-default, visibility $transition-default 0.3s;
        -webkit-overflow-scrolling: touch;

        &--initial {
            position: relative;
            opacity: 1;
            visibility: visible;
        }
    }

    &__panel-head {
        display: flex;
        align-items: center;
        padding: 14px 24px 30px 20px;
    }

    &__panel-main {
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    &__panel-btn {
        color: $color-blue;
    }

    &__panel-title {
        margin-left: 16px;
        color: $color-black;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.4;
    }

    &__info {
        margin-top: auto;
        padding: 20px 24px 35px 24px;
        color: $color-blue;
    }

    &__phone {
        display: block;
        font-size: 28px;
        font-weight: 700;
        line-height: 1.28;
        text-decoration: none;
    }

    &__email {
        display: block;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.5;
        text-decoration: none;
    }

    &__toolbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 23px 40px;
        background-color: $color-grey-4;
    }

    &__toolbar-btn {
        &--phone {
            color: $color-green;
        }

        &--search {
            color: $color-blue;
        }

        &--favorites {
            color: $color-red;
        }
    }

    &.is-active {
        transform: translateX(0);
    }
}
