.header {
    $this: &;

    position: fixed;
    top: 0;
    z-index: $layer-header;
    width: 100%;
    color: $color-white;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 48px;
        border-bottom: 1px solid rgba($color-white, 0.16);

        @include until-desktop {
            padding-right: 16px;
            padding-left: 12px;
        }

        @include desktop {
            justify-content: flex-start;
            height: 72px;
        }

        &--mobile {
            height: auto;
            padding-right: 12px;
            border-bottom: none;

            html.is-scrolled &,
            #{$this}--white & {
                border-top: 1px solid rgba($color-black, 0.08);
            }
        }
    }

    &__logo {
        display: none;
        padding-left: 24px;

        @include desktop {
            display: block;
        }

        .icon-path {
            html.is-scrolled &,
            #{$this}--white & {
                color: $color-blue;
                fill: $color-blue;
            }
        }

        &--mobile {
            padding-left: 0;

            html.is-scrolled &,
            #{$this}--white & {
                display: inline-block;
            }
        }
    }

    &__nav {
        display: none;
        flex-grow: 1;
        color: $color-white;

        @include desktop {
            display: block;
            margin-left: 40px;
        }

        @include desktop-wide {
            margin-left: 65px;
        }
    }

    &__toolbar {
        flex-shrink: 0;

        @include desktop {
            align-self: flex-end;
        }

        #{$this}__btn {
            @include until-desktop {
                width: 38px;
            }
        }
    }

    &__btn {
        position: relative;
        color: $color-white;

        @include desktop {
            width: 72px;
            height: 72px;
            border-left: 1px solid rgba($color-white, 0.16);
        }

        &--menu {
            @include desktop {
                display: none;
            }
        }
    }

    &__btn-count {
        position: absolute;
        top: -8px;
        right: -2px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 18px;
        height: 18px;
        background-color: $color-red;
        border-radius: 50%;
        color: $color-white;
        font-family: $ff-sf-pro-text;
        font-size: 12px;
        line-height: 1.16;

        @include desktop {
            top: 18px;
            right: 14px;
        }
    }

    &__info {
        display: none;

        @include desktop {
            display: block;
            margin-right: 30px;
            margin-left: 30px;
        }

        @include desktop-wide {
            display: block;
            margin-right: 70px;
            margin-left: 70px;
        }

        &--mobile {
            display: block;
            margin-left: auto;
            padding: 14px 0;
            color: $color-white;
            text-align: right;
            justify-self: flex-end;
        }
    }

    &__phone {
        display: block;
        font-size: 12px;
        font-weight: 700;
        line-height: 1.5;
        text-decoration: none;

        @include desktop-wide {
            font-size: 16px;
        }
    }

    &__email {
        display: block;
        font-size: 12px;
        text-align: center;
        text-decoration: none;
    }

    .is-locked & {
        @include desktop-wide {
            padding-right: 17px;
        }
    }

    html.is-scrolled &,
    &--white {
        background-color: $color-white;
        box-shadow: 0 100px 80px rgba(0, 0, 0, 0.00562291),
            0 41.7776px 33.4221px rgba(0, 0, 0, 0.00807786),
            0 22.3363px 17.869px rgba(0, 0, 0, 0.01), 0 12.5216px 10.0172px rgba(0, 0, 0, 0.0119221),
            0 6.6501px 5.32008px rgba(0, 0, 0, 0.0143771), 0 2.76726px 2.21381px rgba(0, 0, 0, 0.02);
        color: $color-black;

        #{$this}__btn {
            border-color: rgba($color-black, 0.08);

            &--menu {
                color: $color-blue;
            }

            &--phone {
                color: $color-green;
            }

            &--search {
                color: $color-blue;
            }

            &--favorites {
                color: $color-red;
            }
        }

        #{$this}__info {
            color: $color-blue;
        }

        #{$this}__nav {
            color: $color-black;
        }
    }

    &--white {
        position: sticky;
        top: 0;
    }
}
