.vacancy-info {
    $this: &;

    &__item {
        display: flex;
        padding: 20px 0;
        font-weight: 700;
        line-height: 1.5;

        @include until-desktop {
            & + & {
                border-top: 1px solid rgba($color-black, 0.08);
            }
        }

        @include desktop {
            &:not(.vacancy-info__item--highlighted) + &:not(.vacancy-info__item--highlighted) {
                border-top: 1px solid rgba($color-black, 0.08);
            }
        }

        &--highlighted {
            @include desktop {
                align-items: center;
                margin-right: -24px;
                margin-left: -24px;
                padding: 12px 24px;
                background-color: rgba(0, 78, 183, 0.04);
            }

            #{$this}__content {
                @include desktop {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }
        }

        &--stacked-mobile {
            @include until-desktop {
                flex-direction: column;
                #{$this}__title {
                    width: 100%;
                    color: $color-blue;
                }

                #{$this}__content {
                    width: 100%;
                }
            }
        }
    }

    &__title {
        width: 50%;

        @include desktop {
            flex-shrink: 0;
            width: 30%;
        }
    }

    &__list {
        list-style: inside;
        list-style-type: disc;
    }

    &__content {
        width: 50%;

        @include desktop {
            width: 100%;
        }
    }

    &__phone {
        color: $color-blue;

        @include desktop {
            margin-right: 30px;
        }
    }
}
