.form-control {
    $this: &;

    height: 100%;
    background-color: $color-white;
    border-radius: 8px;
    box-shadow: 0 100px 80px rgba(0, 0, 0, 0.00562291),
        0 41.7776px 33.4221px rgba(0, 0, 0, 0.00807786), 0 22.3363px 17.869px rgba(0, 0, 0, 0.01),
        0 12.5216px 10.0172px rgba(0, 0, 0, 0.0119221),
        0 6.6501px 5.32008px rgba(0, 0, 0, 0.0143771), 0 2.76726px 2.21381px rgba(0, 0, 0, 0.02);

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
    }

    &__icon {
        color: $color-blue;
        transition: transform $transition-default;

        #{$this}.is-active & {
            transform: rotate(-180deg);
        }
    }

    &__content {
        padding: 4px 16px 20px 16px;

        @include tablet {
            padding: 4px 16px 12px 16px;
        }
    }

    &__label {
        display: block;
        font-family: $ff-manrope;
        font-weight: 700;
        line-height: 1.5;
    }

    &__description {
        display: block;
        margin-top: 5px;
        font-size: 12px;

        @include tablet {
            font-size: 14px;
        }
    }

    &__errors {
        @include reset-list();

        margin-top: 10px;

        &:not(.filled) {
            display: none;
        }
    }

    &__error-item {
        color: $color-red;
        font-size: 14px;

        & + & {
            margin-top: 3px;
        }
    }

    & + & {
        margin-top: 16px;
    }

    &--two-columns {
        #{$this}__content {
            @include desktop {
                column-gap: 20px;
                column-count: 2;
                transform: translateZ(0);
            }
        }
    }

    &--three-columns {
        #{$this}__content {
            @include tablet {
                column-gap: 40px;
                column-count: 2;
                transform: translateZ(0);
            }

            @include desktop {
                column-gap: 40px;
                column-count: 3;
            }
        }
    }

    &--radio {
        #{$this}__content {
            display: flex;
            flex-wrap: wrap;
            margin: -8px -8px 0;

            .form-radio {
                padding: 8px 4px;
            }
        }
    }

    &--accordion {
        height: auto;

        #{$this}__header {
            cursor: pointer;
        }

        #{$this}__body {
            overflow: hidden;
            max-height: 0;
        }

        &.is-active {
            #{$this}__body {
                overflow: visible;
                max-height: none;
            }
        }
    }

    &--department {
        #{$this}__content {
            padding: 20px 16px;
        }
    }

    &--autoheight {
        height: auto;
    }
}
