.form-select-row {
    $this: &;

    display: flex;
    align-items: center;

    &__item {
        & + & {
            margin-left: 80px;
        }
    }

    &--justify-content-end {
        justify-content: flex-end;
    }
}
