.credit-info {
    $this: &;

    &__item {
        position: relative;
        margin-right: -12px;
        margin-left: -12px;
        padding: 20px 20px 26px;
        background-color: $color-white;
        box-shadow: 0 100px 80px rgba(0, 0, 0, 0.00562291),
            0 41.7776px 33.4221px rgba(0, 0, 0, 0.00807786),
            0 22.3363px 17.869px rgba(0, 0, 0, 0.01), 0 12.5216px 10.0172px rgba(0, 0, 0, 0.0119221),
            0 6.6501px 5.32008px rgba(0, 0, 0, 0.0143771), 0 2.76726px 2.21381px rgba(0, 0, 0, 0.02);

        @include tablet {
            margin-right: -20px;
            margin-left: -20px;
        }

        @include desktop {
            margin-right: 0;
            margin-left: 0;
            padding: 0;
            background-color: transparent;
            box-shadow: none;
        }

        & + & {
            margin-top: 16px;

            @include desktop {
                margin-top: 0;

                &::before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 1px;
                    margin: 28px 0;
                    background-color: rgba($color-black, 0.08);
                }
            }
        }
    }

    &__item-title {
        position: relative;
        color: $color-grey;
        font-weight: 700;

        @include until-desktop {
            padding-bottom: 20px;

            &::after {
                content: '';
                position: absolute;
                right: -8px;
                bottom: 0;
                left: -8px;
                display: block;
                height: 1px;
                background-color: rgba($color-black, 0.08);
            }
        }

        @include desktop {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $color-black;
            font-size: 20px;
        }

        &--black {
            color: $color-black;
            font-size: 20px;
        }
    }
}
