.section {
    $this: &;

    @include mobile-only {
        box-shadow: 0 100px 80px rgba(0, 0, 0, 0.00562291),
            0 41.7776px 33.4221px rgba(0, 0, 0, 0.00807786),
            0 22.3363px 17.869px rgba(0, 0, 0, 0.01), 0 12.5216px 10.0172px rgba(0, 0, 0, 0.0119221),
            0 6.6501px 5.32008px rgba(0, 0, 0, 0.0143771), 0 2.76726px 2.21381px rgba(0, 0, 0, 0.02);

        & + & {
            margin-top: 16px;
        }
    }

    &__head {
        padding: 10px 16px 0 16px;

        @include tablet {
            padding: 20px;
            border-bottom: 1px solid $color-border-grey;
        }

        &--narrow {
            max-width: 1040px;
            margin: 0 auto;

            @include desktop-wide {
                padding-right: 0;
                padding-left: 0;
            }
        }
    }

    &__row {
        @include tablet {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__title {
        color: $color-black;
        text-align: center;

        @include tablet {
            text-align: left;
        }
    }

    &__content {
        position: relative;
        padding: 16px 12px;

        @include tablet {
            padding: 40px 20px;
        }

        &--with-curve {
            position: relative;

            @include desktop {
                padding-top: (160/1440) * 100%;
            }

            &::before {
                content: '';
                position: absolute;
                top: -50%;
                left: 0;
                z-index: 0;
                width: 100%;
                padding-bottom: (430/1440) * 100%;
                background-position: 50% 0;
                background-repeat: no-repeat;
                background-size: cover;
                font-size: 0;
                background-image: svg-load('../img/curve.svg');

                @include desktop {
                    top: -150px;
                }

                @include desktop-wide {
                    top: -200px;
                }
            }
        }

        &--white-bg {
            background-color: $color-white;
        }

        &--no-vertical-padding {
            @include until-desktop {
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }

    &__button {
        margin-top: 35px;
        text-align: center;

        @include tablet {
            display: none;
        }

        &.is-hidden {
            display: none !important;
        }
    }

    &__info {
        color: $color-red;
        font-size: 12px;
        font-weight: 700;
        line-height: 1.33;
        text-align: right;
    }

    &__info-value {
        display: block;
        font-size: 48px;
        font-weight: normal;
        line-height: 1.16;
    }

    &--grey {
        background: $color-grey-4;
    }

    &--overview {
        #{$this}__button {
            @include tablet {
                display: block;
            }
        }
    }

    &--no-head--border {
        #{$this}__head {
            border: none;
        }
    }

    &--filters {
        @include until-desktop {
            display: none;
        }

        #{$this}__button {
            @include tablet {
                display: flex;
                flex-direction: column;

                > * {
                    align-self: center;
                }
            }
        }
    }

    &--narrow-head {
        #{$this}__row {
            @include desktop {
                max-width: 1040px;
                margin: 0 auto;
                padding-bottom: 20px;
                border-bottom: 1px solid $color-border-grey;
            }
        }

        #{$this}__head {
            @include tablet {
                padding-bottom: 0;
                border-bottom: none;
            }
        }
    }

    &--grey-head {
        @include tablet {
            background-color: $color-grey-4;

            #{$this}__content {
                background-color: $color-white;
            }
        }
    }

    &--no-head-on-mobile {
        #{$this}__head {
            @include until-desktop {
                display: none;
            }
        }
    }

    &--filters-and-listing {
        #{$this}__head {
            border: none;
        }

        #{$this}__content {
            @include desktop {
                padding-top: 40px;
                padding-bottom: 200px;
            }
        }
    }

    &--reviews,
    &--blogs {
        #{$this}__button {
            @include tablet {
                display: block;
            }
        }
    }

    &--map {
        #{$this}__head {
            border: none;
        }
    }

    &--requisites {
        #{$this}__content {
            @include desktop {
                padding-top: 0;
                padding-right: 0;
                padding-left: 0;
            }
        }

        #{$this}__button {
            @include tablet {
                display: block;
            }
        }
    }

    &--stocks {
        #{$this}__content {
            @include desktop {
                padding-bottom: 80px;
            }
        }
    }

    &--credit {
        #{$this}__content {
            @include until-desktop {
                padding-top: 16px;
                padding-bottom: 16px;
            }

            @include desktop {
                padding-top: 24px;
            }

            &--no-vertical-padding {
                @include until-desktop {
                    padding-top: 0;
                    padding-bottom: 0;
                }

                @include desktop {
                    padding-top: 40px;
                }
            }
        }
    }
}
