.employee {
    $this: &;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: $color-white;
    border-radius: 8px;

    &__media {
        @include objectFitImageParent();

        position: relative;
        display: block;

        &::before {
            content: '';
            position: relative;
            z-index: -1;
            display: block;
            width: 100%;
            padding-bottom: 140%;
        }
    }

    &__title {
        color: $color-blue;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.4;
        text-decoration: none;
    }

    &__position {
        color: $color-lightblue;
        font-weight: 700;
        line-height: 1.5;
    }

    &__quote {
        flex-grow: 1;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.43;
    }

    &__content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-start;
        padding: 14px 16px 16px;
    }

    &__btn {
        min-width: 133px;
    }

    &--medium {
        min-height: 444px;
    }
}
