.card {
    $this: &;

    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: $color-white;
    border-radius: 8px;
    text-decoration: none;
    transition: box-shadow $transition-default;

    &__media {
        @include objectFitImageParent();

        position: relative;
        display: block;
        flex-grow: 1;

        &::before {
            content: '';
            position: relative;
            z-index: -1;
            display: block;
            width: 100%;
            padding-bottom: 66%;
        }
    }

    &__media-overlay {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: $color-black;
        transition: opacity $transition-default, visibility $transition-default;
    }

    &__title {
        color: $color-black;
        font-weight: 700;
        text-decoration: none;

        &--blue {
            color: $color-blue;
            letter-spacing: -0.408px;
        }
    }

    &__link {
        text-decoration: none;
    }

    &__btn {
        transition: color $transition-motion, background-color $transition-motion;
    }

    &__content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-start;
        padding: 12px 16px 16px;
    }

    &__address {
        color: $color-blue;
        font-weight: 600;
    }

    &__text {
        overflow: hidden;
        display: -webkit-box;
        flex-grow: 1;
        color: $color-black;
        font-weight: 700;
        letter-spacing: -0.408px;
        line-height: 1.5;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3; /* number of lines to show */
        -webkit-box-orient: vertical;
    }

    &__action {
        display: inline-flex;
        align-items: center;
        color: $color-white;
        font-family: $ff-sf-pro-text;
        font-size: 17px;
        font-weight: 500;

        .icon {
            margin-right: 8px;
        }

        &--flex {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 180px;
            text-align: center;

            .icon {
                margin-right: 0;
                margin-bottom: 20px;
            }
        }
    }

    &__badge {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 1;
        padding: 8.5px 15px;
        background-color: $color-white;
        border-radius: 12px;
        font-family: $ff-sf-pro-text;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.33;
        text-decoration: none;
    }

    &__price-label {
        display: block;
        max-width: 200px;
        color: $color-grey;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.33;
    }

    &__price-value {
        display: block;
        font-size: 44px;
        font-weight: 500;
        line-height: 1.09;
    }

    &__btn-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        @include desktop {
            padding: 0 20px 0 0;
        }
    }

    &__btn-favorites {
        margin-left: 8px;
        color: $color-black-24;
        transition: color $transition-motion;
    }

    @include hover-focus {
        box-shadow: 0 100px 80px rgba(0, 0, 0, 0.00562291),
            0 41.7776px 33.4221px rgba(0, 0, 0, 0.00807786),
            0 22.3363px 17.869px rgba(0, 0, 0, 0.01), 0 12.5216px 10.0172px rgba(0, 0, 0, 0.0119221),
            0 6.6501px 5.32008px rgba(0, 0, 0, 0.0143771), 0 2.76726px 2.21381px rgba(0, 0, 0, 0.02);

        #{$this}__media-overlay {
            opacity: 1;
            visibility: visible;
        }
    }

    &--review,
    &--with-overlay {
        #{$this}__media {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #{$this}__media-overlay {
            @include mobile-only {
                opacity: 1;
                visibility: visible;
                background-color: rgba($color-black, 0.6);
            }
        }
    }

    &--popular {
        @include until-desktop {
            #{$this}__btn-favorites {
                color: $color-red;
            }
            #{$this}__btn {
                background-color: $color-blue;
                color: $color-white;
            }
        }
        #{$this}__badge {
            display: inline-flex;
            align-items: center;
            padding: 7px 10px;
            background: linear-gradient(82.59deg, #ec008c 1.09%, #fc6767 58.32%);
            border-radius: 8px;
            color: $color-white;
            font-size: 14px;
            letter-spacing: -0.154px;

            .icon {
                margin-right: 8px;
            }
        }

        @include hover-focus {
            #{$this}__btn-favorites {
                color: $color-red;
            }
            #{$this}__btn {
                background-color: $color-blue;
                color: $color-white;
            }
        }
    }

    &--without-image {
        #{$this}__content {
            @include tablet {
                padding: 26px 24px;
            }
        }
        #{$this}__text {
            -webkit-line-clamp: unset;
        }
    }

    &--with-image-vertical {
        @include tablet {
            flex-direction: row;
        }

        #{$this}__content {
            @include tablet {
                padding: 26px 24px;
            }
        }

        #{$this}__media {
            @include tablet {
                flex-shrink: 0;
                width: 36%;
            }
        }
    }

    &--accordion {
        #{$this}__title {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include mobile-only {
                font-size: 16px;
                line-height: 1.5;
            }
        }

        #{$this}__media {
            @include mobile-only {
                display: none;
            }
        }

        #{$this}__icon {
            &--plus {
                color: $color-blue;

                @include tablet {
                    display: none;
                }
            }

            &--minus {
                display: none;
                color: $color-red;
            }
        }

        &.is-active {
            #{$this}__icon--minus {
                display: inline;
            }
            #{$this}__icon--plus {
                display: none;
            }
        }
    }

    &--video {
        #{$this}__media {
            &::before {
                padding-bottom: 69.23%;

                @include tablet {
                    padding-bottom: 35.16%;
                }
            }
        }
    }

    &--video-2 {
        #{$this}__media {
            &::before {
                padding-bottom: 69.23%;

                @include tablet {
                    padding-bottom: 54.71%;
                }
            }
        }
    }

    &--blog-image {
        #{$this}__media {
            &::before {
                padding-bottom: 69.23%;

                @include tablet {
                    padding-bottom: 61.3%;
                }
            }
        }
    }
}
