.autocomplete {
    $this: &;

    &__list {
        position: absolute;
        top: calc(100% + 16px);
        overflow-y: auto;
        width: 100%;
        max-height: 260px;
        background-color: $color-white;
        border-radius: 8px;
        text-align: left;

        @include desktop {
            box-shadow: 0 100px 87px rgba(0, 0, 0, 0.0177816),
                0 50.0488px 43.5425px rgba(0, 0, 0, 0.0230613),
                0 30.1471px 26.228px rgba(0, 0, 0, 0.0257099),
                0 19.3198px 16.8082px rgba(0, 0, 0, 0.0273485),
                0 12.5216px 10.8938px rgba(0, 0, 0, 0.028439),
                0 7.88218px 6.85749px rgba(0, 0, 0, 0.0291811),
                0 4.5288px 3.94006px rgba(0, 0, 0, 0.0296804),
                0 1.99324px 1.73412px rgba(0, 0, 0, 0.03);
        }
    }

    &__list-item {
        padding: 9px 24px;
        color: $color-black;
        font-weight: 700;
        line-height: 1.5;
        text-decoration: none;

        &:first-child {
            padding-top: 15px;
        }

        &:last-child {
            padding-bottom: 32px;
        }

        &--no-results {
            color: $color-red;

            &:last-child {
                padding-bottom: 15px;
            }
        }

        &--message {
            color: $color-grey;
        }
    }

    &__list-link {
        @include reset-button();

        color: $color-black;
        font-weight: 700;
        line-height: 1.5;
        text-decoration: none;

        span {
            color: $color-blue;
        }
    }
}
