.requisites {
    $this: &;

    @include desktop {
        overflow-x: hidden;
    }

    &__container {
        @include desktop-only {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    &__table {
        @include until-desktop {
            margin-right: -12px;
            margin-left: -12px;
            border: 0;

            thead {
                position: absolute;
                overflow: hidden;
                clip: rect(0 0 0 0);
                width: 1px;
                height: 1px;
                margin: -1px;
                padding: 0;
                border: none;
            }

            tbody {
                tr + tr {
                    margin-top: 16px;
                }
            }

            tr {
                display: block;
                padding: 12px;
                box-shadow: 0 100px 80px rgba(0, 0, 0, 0.00562291),
                    0 41.7776px 33.4221px rgba(0, 0, 0, 0.00807786),
                    0 22.3363px 17.869px rgba(0, 0, 0, 0.01),
                    0 12.5216px 10.0172px rgba(0, 0, 0, 0.0119221),
                    0 6.6501px 5.32008px rgba(0, 0, 0, 0.0143771),
                    0 2.76726px 2.21381px rgba(0, 0, 0, 0.02);
                background-color: $color-white;
            }

            td {
                display: flex;
                justify-content: space-between;
                padding: 10px 8px;
                color: $color-blue;
                font-weight: 700;

                span {
                    flex: 1 0 50%;
                }

                &:first-child {
                    margin-bottom: 12px;
                    padding-bottom: 15px;
                    border-bottom: 1px solid rgba($color-black, 0.08);
                    color: $color-black;
                    font-size: 20px;
                    font-weight: 700;
                }

                &:not(:first-child) {
                    &::before {
                        content: attr(data-label);
                        flex: 1 0 50%;
                        color: $color-grey;
                        font-weight: bold;
                    }
                }
            }
        }

        @include desktop {
            width: 100%;
            margin: 0;
            padding: 0;
            table-layout: fixed;
            border-collapse: collapse;

            th,
            td {
                position: relative;
                padding: 23px 0;
                border-bottom: 1px solid rgba($color-black, 0.08);
                text-align: left;

                &:first-child {
                    &::before {
                        content: '';
                        position: absolute;
                        right: 100%;
                        bottom: -1px;
                        width: 100vw;
                        height: 1px;
                        background-color: rgba($color-black, 0.08);
                    }
                }

                &:last-child {
                    width: 34%;

                    &::after {
                        content: '';
                        position: absolute;
                        bottom: -1px;
                        left: 100%;
                        width: 100vw;
                        height: 1px;
                        background-color: rgba($color-black, 0.08);
                    }
                }
            }

            td {
                vertical-align: top;
                color: $color-blue;
                font-weight: 700;

                &:first-child {
                    color: $color-black;
                }
            }

            th {
                padding: 25px 0;
                color: $color-grey;
                font-weight: 700;
                text-align: left;
            }

            tr {
                &:last-child {
                    td {
                        border: none;

                        &::before,
                        &::after {
                            content: none;
                        }
                    }
                }
            }
        }
    }
}
