.credit-table {
    $this: &;

    width: 100%;

    @include until-desktop {
        border: 0;

        thead {
            position: absolute;
            overflow: hidden;
            clip: rect(0 0 0 0);
            width: 1px;
            height: 1px;
            margin: -1px;
            padding: 0;
            border: none;
        }

        tbody {
            display: flex;
            flex-direction: column;
            margin-right: -12px;
            margin-left: -12px;
            padding: 12px;
            background-color: $color-white;
            box-shadow: 0 100px 80px rgba(0, 0, 0, 0.00562291),
                0 41.7776px 33.4221px rgba(0, 0, 0, 0.00807786),
                0 22.3363px 17.869px rgba(0, 0, 0, 0.01),
                0 12.5216px 10.0172px rgba(0, 0, 0, 0.0119221),
                0 6.6501px 5.32008px rgba(0, 0, 0, 0.0143771),
                0 2.76726px 2.21381px rgba(0, 0, 0, 0.02);
        }

        td {
            display: flex;
            justify-content: space-between;
            padding: 10px 6px;
            color: $color-blue;
            font-weight: 700;

            span {
                flex: 1 0 50%;
                margin-left: 20px;
            }

            &:not(:first-child) {
                &::before {
                    content: attr(data-label);
                    flex: 1 0 50%;
                    color: $color-grey;
                    font-weight: bold;
                }
            }
        }

        tr {
            &:nth-child(2) {
                position: relative;
                display: block;

                &::before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 1px;
                    margin: 15px 0;
                    background-color: rgba($color-black, 0.08);
                }
            }

            &:nth-child(2),
            &:nth-child(3) {
                td:first-child {
                    display: none;
                }
            }
        }
    }

    @include desktop {
        width: 100%;
        margin: 0;
        padding: 0;
        table-layout: fixed;
        border-collapse: collapse;

        tr {
            &:nth-child(1) {
                border-top: 1px solid rgba($color-black, 0.08);
                border-bottom: 1px solid rgba($color-black, 0.08);
            }

            &:first-child {
                td {
                    position: relative;
                    vertical-align: middle;
                    padding: 23px 0;
                    text-align: left;
                }
            }

            &:last-child {
                td {
                    border: none;

                    &::before,
                    &::after {
                        content: none;
                    }
                }
            }
        }

        th,
        td {
            padding: 22px 0 0;
        }

        td {
            vertical-align: top;
            color: $color-blue;
            font-weight: 700;

            &:first-child {
                color: $color-grey;
            }
        }

        th {
            padding: 23px 0;
            color: $color-grey;
            font-weight: 700;
            text-align: left;
        }
    }
}
