.cookie-bar {
    $this: &;

    position: fixed;
    right: 12px;
    bottom: 14px;
    left: 12px;
    z-index: $layer-cookie-bar;
    display: none;
    border-radius: 8px;
    box-shadow: 0 100px 80px rgba(0, 0, 0, 0.00562291),
        0 41.7776px 33.4221px rgba(0, 0, 0, 0.00807786), 0 22.3363px 17.869px rgba(0, 0, 0, 0.01),
        0 12.5216px 10.0172px rgba(0, 0, 0, 0.0119221),
        0 6.6501px 5.32008px rgba(0, 0, 0, 0.0143771), 0 2.76726px 2.21381px rgba(0, 0, 0, 0.02);

    @include tablet {
        right: 32px;
        bottom: 24px;
        left: 32px;
    }

    &__inner {
        padding: 16px;
        background-color: $color-white;
        border-radius: 12px;

        @include tablet {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px;
        }
    }

    &__text {
        max-width: 910px;

        @include richtext {
            font-weight: 600;
            line-height: 1.25;

            p {
                font-weight: 600;
                line-height: 1.25;
            }

            a {
                color: $color-blue;
                text-decoration: none;
            }
        }
    }

    &__btn-group {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include mobile-only {
            margin-top: 30px;
        }
    }

    &__btn {
        & + & {
            margin-left: 30px;
            color: $color-red;
        }
    }
}
