.accordion {
    $this: &;

    background-color: $color-white;
    border-radius: 8px;
    box-shadow: 0 100px 80px rgba(0, 0, 0, 0.00562291),
        0 41.7776px 33.4221px rgba(0, 0, 0, 0.00807786), 0 22.3363px 17.869px rgba(0, 0, 0, 0.01),
        0 12.5216px 10.0172px rgba(0, 0, 0, 0.0119221),
        0 6.6501px 5.32008px rgba(0, 0, 0, 0.0143771), 0 2.76726px 2.21381px rgba(0, 0, 0, 0.02);

    &__body {
        overflow: hidden;
        max-height: 0;
    }

    &__title {
        color: $color-blue;
        text-align: left;
    }

    &__content {
        position: relative;
        padding: 14px 24px 26px 24px;
        font-weight: 700;
        line-height: 1.5;

        @include richtext {
            font-weight: 700;
            line-height: 1.5;

            a,
            strong {
                color: $color-blue;
                font-weight: 700;
            }

            a {
                text-decoration: none;
            }

            p + p {
                margin-top: 24px;
            }
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 24px;
            left: 24px;
            height: 1px;
            background-color: $color-border-grey;
        }
    }

    &__icon {
        position: relative;
        flex-shrink: 0;
        margin-left: 25px;

        &--plus {
            color: $color-blue;

            #{$this}.is-active & {
                display: none;
            }
        }

        &--minus {
            display: none;
            color: $color-red;

            #{$this}.is-active & {
                display: inline;
            }
        }
    }

    &__header {
        @include reset-button();

        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 22px 18px 22px 24px;
        cursor: pointer;

        @include tablet {
            padding: 18px 18px 18px 24px;
        }
    }

    & + & {
        margin-top: 8px;

        @include tablet {
            margin-top: 16px;
        }
    }

    &:not(.is-active) {
        .is-mobile &,
        [data-whatintent='touch'] & {
            #{$this}__icon {
                transform: rotate(90deg);
            }
        }
    }
}
