.review-card {
    $this: &;

    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 8px;

    @include until-desktop {
        background-color: $color-white;
    }

    @include desktop {
        flex-direction: row;
    }

    &__left-column {
        flex-shrink: 0;
        padding: 14px 16px;

        @include desktop {
            width: 33%;
            padding: 26px 24px;
        }
    }

    &__order-info {
        display: flex;
        align-items: center;
    }

    &__order-info-icon {
        display: none;
        margin-right: 16px;
        color: $color-blue;

        @include desktop {
            display: inline-block;
        }
    }

    &__order-info-details {
        color: $color-grey;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.33;

        span {
            display: block;
            color: $color-blue;
        }
    }

    &__divider {
        max-width: 236px;
    }

    &__right-column {
        @include desktop {
            display: flex;
        }
    }

    &__text-block {
        padding: 0 16px 14px;
        background-color: $color-white;

        @include desktop {
            padding: 24px;
        }
    }

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include until-desktop {
            display: none;
        }
    }

    &__message {
        font-size: 14px;
        font-weight: 700;
        line-height: 1.42;

        @include richtext {
            p + p {
                margin-top: 20px;
            }
        }
    }

    &__date {
        color: $color-grey;
        font-weight: 600;
    }

    &__media-wrapper {
        display: none;
        min-width: 216px;
        padding: 24px 32px;
        background: rgba(0, 78, 183, 0.04);

        @include desktop {
            display: block;
        }
    }

    &__media {
        position: relative;
        overflow: hidden;
        display: block;
        height: 100%;
        background: rgba(0, 78, 183, 0.04);
        border: 1px solid rgba(0, 78, 183, 0.08);
        border-radius: 8px;
        background-size: cover;
        background-position: center center;
        @include objectFitImageParent() {
            z-index: 1;
        }
    }

    &__media-icon {
        position: absolute;
        top: 53px;
        left: 50%;
        z-index: 1;
        transform: translateX(-50%);
        color: rgba(0, 78, 183, 0.16);
    }

    &__media-link {
        position: absolute;
        bottom: 20px;
        left: 50%;
        z-index: 2;
        transform: translateX(-50%);
        color: $color-blue;
        font-family: $ff-sf-pro-text;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.33;
    }
}
