.reference {
    $this: &;

    padding: 0 8px;

    &__title {
        color: $color-blue;
        text-decoration: none;
    }

    &__text {
        overflow: hidden;
        display: -webkit-box;
        margin-top: 6px;
        color: $color-black;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: -0.408px;
        line-height: 1.33;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3; /* number of lines to show */
        -webkit-box-orient: vertical;
    }

    & + & {
        margin-top: 35px;
    }
}
