.hero {
    $this: &;

    position: relative;
    width: 100%;
    background-color: $color-blue-5;

    &::before {
        content: '';
        position: absolute;
        z-index: 10;
        width: 100%;
        height: 188px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.32), transparent);
    }

    &__slides {
        position: relative;
        height: 90vh;
    }

    &__slide {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 90vh;
        animation-duration: 1s;
        transition-duration: 1s;

        &.fadeIn {
            opacity: 1;
            visibility: visible;
            z-index: 1;
        }
    }

    &__slide-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__label {
        position: absolute;
        bottom: 28px;
        left: 50%;
        z-index: 10;
        transform: translateX(-50%);
        max-width: 152px;
        color: $color-white;
        font-size: 12px;
        font-weight: 700;
        line-height: 1.33;
        text-align: center;

        @include tablet {
            right: 28px;
            left: auto;
            transform: none;
            text-align: right;
        }
    }

    .tns-outer {
        [data-action] {
            display: none;
        }

        [data-controls='prev'],
        [data-controls='next'] {
            @include reset-button();

            position: absolute;
            top: 50%;
            z-index: 10;
            transform: translateY(-50%);
            width: 60px;
            height: 44px;
            background: rgba($color-white, 0.16);
            background-position: center center;
            background-repeat: no-repeat;
            border-radius: 12px;
            color: $color-white;
            text-indent: -9999em;
            cursor: pointer;
            outline: none;
            transition: background-color $transition-default;

            @include until-desktop {
                display: none;
            }

            .icon {
                width: 8px;
                height: 14px;
            }

            &[disabled] {
                background-color: rgba(255, 255, 255, 0.16);
            }

            @include hover-focus {
                &:not([disabled]) {
                    background-color: $color-black;
                }
            }
        }

        [data-controls='prev'] {
            left: 24px;
            background-image: svg-load(
                '../../../project/general/svg/chevron-left.svg',
                fill=$color-white
            );
        }

        [data-controls='next'] {
            right: 24px;
            background-image: svg-load(
                '../../../project/general/svg/chevron-right.svg',
                fill=$color-white
            );
        }
    }

    .tns-ovh {
        overflow: hidden;
    }

    .tns-slider {
        flex-wrap: nowrap;
    }

    .tns-visually-hidden {
        @include visually-hidden();
    }

    .tns-nav {
        position: absolute;
        bottom: 90px;
        left: 50%;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(-50%);
        margin-top: 30px;

        @include tablet {
            bottom: 38px;
        }

        button {
            @include reset-button();

            flex-shrink: 0;
            width: 7px;
            height: 7px;
            background-color: rgba($color-grey, 0.3);
            border-radius: 50%;

            &.tns-nav-active {
                background-color: $color-white;
            }

            + button {
                margin-left: 10px;
            }
        }
    }
}
