.slide {
    $this: &;

    position: relative;
    width: 100%;

    @include desktop {
        margin-top: 72px;
    }

    &__content {
        padding: 0;

        @include desktop {
            padding: 0 40px 0 0;
        }
    }

    &__title {
        color: $color-white;
        font-size: clamp(32px, 12vw, 44px);

        @include tablet {
            font-size: 88px;
            line-height: 1.09;
        }

        @include desktop {
            font-size: clamp(44px, 6vw, 88px);
        }
    }

    &__description {
        color: rgba($color-white, 0.52);
        font-size: clamp(26px, 6vw, 40px);
        line-height: 1.375;

        @include tablet {
            font-size: 40px;
        }
    }

    &__container {
        padding: 30px;

        @include desktop {
            display: flex;
            justify-content: space-between;
            max-width: 1220px;
            margin: 0 auto;
            padding: 90px;
        }
    }

    &__image {
        position: relative;
        display: block;
        flex-shrink: 0;
        width: 40%;
        max-width: 424px;

        @include objectFitImageParent() {
            object-fit: contain;
        }
    }
}
