.contacts-banner {
    $this: &;

    width: 100%;
    height: 100%;
    background: $color-white;
    box-shadow: 0 100px 80px rgba(0, 0, 0, 0.00562291),
        0 41.7776px 33.4221px rgba(0, 0, 0, 0.00807786), 0 22.3363px 17.869px rgba(0, 0, 0, 0.01),
        0 12.5216px 10.0172px rgba(0, 0, 0, 0.0119221),
        0 6.6501px 5.32008px rgba(0, 0, 0, 0.0143771), 0 2.76726px 2.21381px rgba(0, 0, 0, 0.02);

    @include desktop {
        border-radius: 8px;
    }

    &__inner {
        padding: 24px;
    }

    &__title,
    &__item-title,
    &__item-value {
        font-weight: 700;
        line-height: 1.5;
    }

    &__title {
        margin-bottom: 5px;
    }

    &__item {
        padding: 14px 0 18px;
        border-top: 1px solid rgba($color-black, 0.08);
    }

    &__item-value {
        margin-top: 4px;
        color: $color-blue;

        &--address {
            font-size: 14px;
            line-height: 1.43;
            text-align: justify;
        }
    }
}
