.contacts-map {
    $this: &;

    position: relative;

    &__container {
        position: relative;

        &::before {
            content: '';
            display: block;
            padding-bottom: 115%;

            @include desktop {
                height: 480px;
                padding-bottom: 0;
            }
        }

        > [class*='ymaps'] {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    &__banner {
        width: 100%;

        @include desktop {
            position: absolute;
            top: 24px;
            bottom: 24px;
            left: calc((100% - 1040px) / 2);
            width: 336px;
        }
    }

    [class*='-ground-pane'] {
        -webkit-filter: grayscale(100%);
        filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    }
}
