.filter-trigger {
$this: &;

position: fixed;
right: 12px;
bottom: 14px;
left: 12px;
opacity: 0;
visibility: hidden;
z-index: $layer-filter-trigger;
transform: translateY(100%);
padding: 16px 14px;
background-color: $color-grey-4;
border-radius: 8px;
box-shadow: 0 109px 80px rgba(0, 0, 0, 0.07), 0 39.7868px 29.2013px rgba(0, 0, 0, 0.0482987),
0 19.3158px 14.1767px rgba(0, 0, 0, 0.0389404),
0 9.46894px 6.94968px rgba(0, 0, 0, 0.0310596),
0 3.74403px 2.74791px rgba(0, 0, 0, 0.0217013);
transition: opacity $transition-default, visibility $transition-default,
transform $transition-default;

&__btn {
width: 100%;
}

html.is-scrolled & {
opacity: 1;
visibility: visible;
transform: translateY(0);
}
}
