.construction-grid {
    $this: &;

    &__inner {
        position: relative;
        grid-gap: 16px;
        grid-template-areas:
            'a a'
            'b b'
            'c c';
        grid-template-columns: 1fr 1fr;
        display: grid;

        @include tablet {
            grid-gap: 16px;
            grid-template-areas:
                'a b b'
                'a c c';
            grid-template-columns: 400px 1fr 1fr;
        }

        @include desktop {
            grid-gap: 16px;
            grid-template-areas:
                'a b b'
                'a c c';
            grid-template-columns: 600px 1fr 1fr;
        }
    }

    &__item {
        @include objectFitImageParent();

        position: relative;
        overflow: hidden;
        display: block;
        border-radius: 8px;

        &--first {
            grid-area: a;
            height: 224px;

            @include tablet {
                height: auto;
            }
        }

        &--second {
            grid-area: b;
            height: 232px;

            @include tablet {
                height: auto;
            }
        }

        &--third {
            grid-area: c;
        }
    }

    &__slider {
        display: flex;
        flex-wrap: nowrap;
    }

    &__slider-item {
        @include tablet {
            & + & {
                margin-left: 16px;
            }
        }
    }
}
