.social-share {
$this: &;

display: inline-flex;
flex-wrap: wrap;
align-items: center;
padding: 0;
list-style: none;

&__item {
& + & {
margin-left: 12px;
}
}

&__link {
overflow: hidden;
display: flex;
justify-content: center;
align-items: center;
width: 24px;
height: 24px;
background-color: rgba($color-white, 0.08);
border-radius: 50%;
color: $color-grey-2;
transition: background-color $transition-default;

&--square {
border-radius: 6px;
}
}

&--within-banner {
#{$this}__item + #{$this}__item {
margin-left: 16px;
}
#{$this}__link {
width: 32px;
height: 32px;
background-color: rgba($color-white, 0.32);
color: $color-blue-3;
}
}

&--grey {
#{$this}__item + #{$this}__item {
margin-left: 16px;
}
#{$this}__link {
width: 28px;
height: 28px;
background-color: rgba($color-black, 0.24);
color: $color-white;

            @include hover-focus {
                background-color: $color-blue;
            }
        }
    }
}
