.slider-wrapper {
    $this: &;

    .tns-outer {
        [data-action] {
            display: none;
        }

        [data-controls='prev'],
        [data-controls='next'] {
            @include reset-button();

            position: absolute;
            top: 50%;
            z-index: 10;
            transform: translateY(-50%);
            width: 60px;
            height: 44px;
            background-position: center center;
            background-repeat: no-repeat;
            border-radius: 12px;
            color: $color-white;
            text-indent: -9999em;
            cursor: pointer;
            outline: none;
            transition: background-color $transition-motion;

            @include mobile-only {
                display: none;
            }

            .icon {
                width: 8px;
                height: 14px;
            }

            &[disabled] {
                display: none;
            }
        }

        [data-controls='prev'] {
            left: 24px;
            background-color: transparent;
            background-image: svg-load(
                '../../../project/general/svg/chevron-left.svg',
                fill=$color-blue
            );

            @include hover-focus {
                &:not([disabled]) {
                    background-color: $color-blue;
                    background-image: svg-load(
                        '../../../project/general/svg/chevron-left.svg',
                        fill=$color-white
                    );
                }
            }
        }

        [data-controls='next'] {
            right: 24px;
            background-image: svg-load(
                '../../../project/general/svg/chevron-right.svg',
                fill=$color-blue
            );

            @include hover-focus {
                &:not([disabled]) {
                    background-color: $color-blue;
                    background-image: svg-load(
                        '../../../project/general/svg/chevron-right.svg',
                        fill=$color-white
                    );
                }
            }
        }
    }

    .tns-ovh {
        overflow: hidden;
        margin-right: -12px;
        margin-left: -12px;
        padding-right: 12px;
        padding-left: 12px;

        @include desktop {
            margin-bottom: -45px;
            padding-bottom: 45px;
        }
    }

    .tns-slider {
        flex-wrap: nowrap;
    }

    .tns-visually-hidden {
        @include visually-hidden();
    }

    .tns-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px 0 10px;

        @include tablet {
            display: none;
        }

        button {
            @include reset-button();

            flex-shrink: 0;
            width: 7px;
            height: 7px;
            background-color: rgba($color-grey, 0.3);
            border-radius: 50%;

            &.tns-nav-active {
                background-color: $color-red;
            }

            + button {
                margin-left: 11px;
            }
        }
    }
}
