.video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}
.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card--review .card__media,
.card--with-overlay .card__media {
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 222px;
    height: 222px;
}

@media (min-width: 768px) {
    .tns-item {
        padding-right: 8px !important;
    }
}
@media (max-width: 768px) {
    .slide__title {
        font-size: clamp(1rem, 8vw, 2.75rem);
    }
    .html .filter-trigger {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    .html .filter-trigger.hide {
        opacity: 0;
        visibility: hidden;
    }
    #filters [data-accordion-ref] {
        display: block !important;
        max-height: 10000px !important;
        opacity: 1 !important;
        overflow: visible !important;
    }
}
