.key-info {
    $this: &;

    @include reset-list();

    &__item {
        font-weight: 600;
        line-height: 1.25;

        & + & {
            margin-top: 8px;
        }
    }

    &__item-value {
        display: inline-flex;
        align-items: center;
        color: $color-blue;
        text-decoration: none;

        .icon {
            margin-left: 10px;
        }

        &--green {
            color: $color-green;
        }
    }

    &--medium {
        #{$this}__item {
            @include mobile-only {
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: $color-grey;
            }
        }
        #{$this}__item-value {
            @include mobile-only {
                width: 50%;
                padding-left: 20px;
            }
        }
        #{$this}__item + #{$this}__item {
            margin-top: 16px;
        }
    }

    &--small {
        #{$this}__item {
            font-size: 12px;
            font-weight: 700;
        }
        #{$this}__item + #{$this}__item {
            margin-top: 10px;
        }
    }
}
