.project-grid {
    $this: &;

    position: relative;
    margin-right: -12px;
    margin-left: -12px;

    @include tablet {
        margin-right: -20px;
        margin-left: -20px;
    }

    @include desktop {
        overflow: hidden;
        display: flex;
        margin-right: -20px;
        margin-left: -20px;
        padding-right: 20px;
        padding-left: 20px;
    }

    &__slides {
        width: 100%;

        .tns-outer {
            height: 100%;
        }

        .tns-ovh {
            overflow: hidden;
        }
    }

    &__slides-container {
        display: flex;
        flex-wrap: nowrap;

        @include desktop {
            height: 480px;
        }
    }

    &__thumbnails {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        height: 100%;

        @include desktop {
            flex-direction: column;
        }
    }

    &__image {
        @include objectFitImageParent();

        position: relative;
        overflow: hidden;
        display: block;
        width: 100%;

        @include tablet {
            border-radius: 8px;
        }

        &--main {
            position: relative;

            @include until-desktop {
                &::before {
                    content: '';
                    display: block;
                    padding-bottom: 66%;
                }
            }
        }

        &--thumb {
            position: relative;
            width: 100%;

            @include until-desktop {
                &::before {
                    content: '';
                    display: block;
                    padding-bottom: 92%;
                }
            }

            @include desktop {
                height: 232px;
            }
        }
    }

    &__toolbar {
        position: relative;
        margin-top: 16px;

        @include desktop {
            flex-shrink: 0;
            width: 248px;
            height: 480px;
            margin-top: 0;
            margin-left: 16px;
        }

        .tns-ovh {
            overflow: hidden;
        }

        .tns-outer {
            [data-action] {
                display: none;
            }
        }

        .tns-visually-hidden {
            @include visually-hidden();
        }

        .tns-nav {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 30px 0 20px;

            @include desktop {
                position: absolute;
                top: 50%;
                right: -15px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                transform: translateY(-50%);
                margin: 0;
            }

            @include desktop-wide {
                right: -20px;
            }

            button {
                @include reset-button();

                flex-shrink: 0;
                width: 7px;
                height: 7px;
                background-color: rgba($color-grey, 0.3);
                border-radius: 50%;

                &.tns-nav-active {
                    background-color: $color-red;
                }

                + button {
                    margin-left: 11px;

                    @include desktop {
                        margin-top: 11px;
                        margin-left: 0;
                    }
                }
            }
        }

        [data-controls='prev'],
        [data-controls='next'] {
            @include reset-button();

            position: absolute;
            right: 0;
            left: 0;
            z-index: 10;
            width: 60px;
            height: 44px;
            margin: 0 auto;
            background-position: center center;
            background-repeat: no-repeat;
            border-radius: 12px;
            color: $color-white;
            text-indent: -9999em;
            cursor: pointer;
            outline: none;

            @include until-desktop {
                display: none;
            }

            .icon {
                width: 8px;
                height: 14px;
            }

            &[disabled] {
                display: none;
            }
        }

        [data-controls='prev'] {
            top: 0;
            background-color: transparent;
            background-image: svg-load(
                '../../../project/general/svg/chevron-up.svg',
                fill=$color-blue
            );
        }

        [data-controls='next'] {
            bottom: 0;
            background-image: svg-load(
                '../../../project/general/svg/chevron-down.svg',
                fill=$color-blue
            );
        }
    }
}
