.info-block {
    $this: &;

    padding: 27px 42px 32px 48px;
    background-color: $color-grey-4;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

    &__content {
        display: flex;
    }

    &__icon {
        margin-right: 8px;
        color: $color-grey;
    }

    &__message {
        color: $color-grey;
        font-family: $ff-sf-pro-text;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: -0.408px;
        line-height: 1.66;

        span {
            display: block;
            color: $color-blue;
        }
    }
}
