.floor-card {
$this: &;

display: block;
width: 100%;
text-align: center;
text-decoration: none;

&__media {
position: relative;
overflow: hidden;
display: block;
padding: 20px;
background: rgba(0, 78, 183, 0.08);
border-radius: 8px;

@include objectFitImageParent() {
object-fit: contain;
}

&::before {
content: '';
position: relative;
z-index: -1;
display: block;
padding-bottom: 66%;
}
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: $color-black;
        transition: opacity $transition-default, visibility $transition-default;
    }

    &__title {
        color: $color-black;
        font-weight: 700;
        text-decoration: none;
        transition: color $transition-default;
    }

    &__button {
        display: inline-flex;
        align-items: center;
        color: $color-white;
        font-family: $ff-sf-pro-text;
        font-size: 17px;
        font-weight: 500;

        .icon {
            margin-right: 8px;
        }
    }

    &__button-count {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        margin-left: 8px;
        background-color: $color-white;
        border-radius: 50%;
        color: $color-blue;
        font-family: $ff-sf-pro-text;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: -0.24px;
        line-height: 0.8;
    }

    @include hover-focus {
        #{$this}__title {
            color: $color-blue;
        }

        #{$this}__overlay {
            opacity: 1;
            visibility: visible;
        }
    }
}
