.footer {
    $this: &;

    &__secondary {
        padding: 60px 70px;
        background-color: $color-grey-3;

        @include tablet {
            padding: 43px 20px;
        }
    }

    &__main {
        padding: 30px 12px;
        background-color: $color-grey-2;
        color: rgba($color-white, 0.48);
        text-align: center;

        @include tablet {
            padding: 30px 20px 36px;
            text-align: left;
        }
    }

    &__nav {
        & + & {
            margin-top: 44px;

            @include tablet {
                margin-top: 0;
                margin-left: 30px;
            }
        }

        &--flex {
            display: flex;
            flex-direction: column;
            height: 100%;

            #{$this}__nav-item {
                &:last-child {
                    margin-top: 44px;

                    @include tablet {
                        margin-top: auto;
                    }

                    #{$this}__nav-link {
                        color: $color-white;
                    }
                }
            }
        }
    }

    &__nav-item {
        & + & {
            margin-top: 20px;
        }
    }

    &__nav-link {
        color: rgba($color-white, 0.72);
        font-size: 14px;
        font-weight: 600;
        line-height: 1.14px;
        text-decoration: none;
    }

    &__phone {
        color: $color-white;
        font-size: 32px;
        font-weight: 600;
        line-height: 1.375;
        text-decoration: none;
    }

    &__phone-label {
        margin-top: 10px;
        font-size: 14px;
        font-weight: 600;
    }

    &__address {
        max-width: 245px;
        margin: 35px auto 0 auto;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.7;

        @include tablet {
            margin-left: 0;
        }
    }

    &__copyright {
        max-width: 776px;
        font-size: 10px;
        font-weight: 500;
        letter-spacing: 0.1px;
        line-height: 2;
    }

    &__divider {
        margin: 40px 0;
        border: 1px solid rgba($color-white, 0.08);
    }

    &__bottom {
        @include tablet {
            display: flex;
            justify-content: space-between;
        }
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__info-item {
        flex: 1 0 50%;
        font-size: 10px;
        font-weight: 500;
        letter-spacing: 0.1px;
        line-height: 2;
        text-align: center;

        @include tablet {
            min-width: 160px;
            text-align: left;

            & + & {
                margin-left: 16px;
            }
        }
    }
}
