.footer-nav {
    $this: &;

    &__item {
        & + & {
            margin-top: 20px;
        }
    }

    &__link {
        color: rgba($color-white, 0.72);
        font-size: 14px;
        font-weight: 600;
        line-height: 1.14px;
        text-decoration: none;
    }

    & + & {
        margin-top: 44px;

        @include tablet {
            margin-top: 0;
            margin-left: 30px;
        }
    }

    &--flex {
        display: flex;
        flex-direction: column;
        height: 100%;

        #{$this}__item {
            &:last-child {
                margin-top: 44px;

                @include tablet {
                    margin-top: auto;
                }

                #{$this}__link {
                    color: $color-white;
                }
            }
        }
    }
}
